{% load i18n padword_tags static%}

<form class="form-horizontal alert alert-primary m-0 special-popup" method="post" action="{% url "tpv-set-discount" %}" id="form-disc">
	{% csrf_token %}
    <input type="hidden" name="obj_id" value="{{obj.id}}"/>
    <input type="hidden" name="form_id" value="{{form_id}}"/>
    <input type="hidden" name="mobile" value="{{mobile}}"/>
    <div class="row mb-2">
        <div class="col-8 text-start"> <strong>{% padword_translate obj.item.name %}</strong></div>
        <div class="col-4 text-end" id="div-total-shopping-cart"><strong>{{obj.item.price}} {{obj.item.currency}}{#&euro;#}</strong> </div>
        <div class="col-12 text-start pt-2"><small>{% trans "Va a realizar un descuento del:" %}</small></div>
        <div class="col-12 pt-2"> 
            <select class="form-control" name="discount2" id="discount2"> 
                <option value="">{%trans "-- Seleccione un descuento --"%}</option>
                {% for d in fi.pos.discounts_item.all %}
                    <option value="{{d.percent}}">{{d.percent}} %</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-start pt-2"><small>{% trans "Introducir descuento a aplicar:" %}</small></div>
        <div class="col-11">
            <input type="text" class="form-control" name="discount2i" id="discount2i" value="{{obj.discount2}}" placeholder="Introducir descuento a aplicar"/></div>
        <div class="col-1 pt-2">%</div>
    </div>
    <div class="row mt-3">
        <div class="col-6"> <a class="btn btn-danger w-100" data-bs-dismiss="modal"> {%trans "Cerrar"%}</a> </div>
        <div class="col-6">
            <button class="btn btn-primary saveform w-100" data-form="form-disc" data-bs-dismiss="modal" 
                {%if mobile != ""%}data-target="ticket-summary-mobile"{%else%}data-target="ticket-summary"{%endif%}>
                {%trans "Guardar"%}</button> 
        </div>
    </div>
</form>

<script>
    $("#discount2").change(function(){
        let v = $(this).val();
        if (v != ""){
            $("#discount2i").prop("disabled", true).css('background-color', '#ddd');
            $("#discount2i").val(0);
        } else {
            $("#discount2i").prop("disabled", false).css('background-color', '#fff');
        }
    });
</script>
