{% load i18n padword_tags static%}

<form class="form-horizontal p-4" method="post" action="{% url "tpv-set-discount" %}" id="form-disc">
	{% csrf_token %}
    <input type="hidden" name="obj_id" value="{{obj.id}}"/>
    <input type="hidden" name="form_id" value="{{form_id}}"/>
    <input type="hidden" name="mobile" value="{{mobile}}"/>
    <div class="row mb-2">
        <div class="col-8 text-start"> {% padword_translate obj.item.name %}</div>
        <div class="col-4 text-end" id="div-total-shopping-cart">{{obj.item.price}} {{obj.item.currency}}{#&euro;#} </div>
    </div>
    <div class="row mb-2"> <div class="col-12">{% trans "Descuento" %}:</div> </div>
    <div class="row mb-2">
        <div class="col-12"> 
            <select class="form-control" name="discount2" id="discount2"> 
                <option value="">{%trans "-- Seleccione un descuento --"%}</option>
                {% for d in fi.pos.discounts_item.all %}
                    <option value="{{d.percent}}">{{d.percent}} %</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-11">
            <input type="text" class="form-control" name="discount2i" id="discount2i" value="{{obj.discount2}}"/></div>
        <div class="col-1">%</div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary saveform" data-form="form-disc" data-target="ticket-summary" data-bs-dismiss="modal">
                {%trans "Guardar"%}</button> 
        </div>
        <div class="col-6"> <a class="btn btn-danger" data-bs-dismiss="modal"> {%trans "Cerrar"%}</a> </div>
    </div>
</form>

<script>
    $("#discount2").change(function(){
        let v = $(this).val();
        if (v != ""){
            $("#discount2i").prop("disabled", true).css('background-color', '#ddd');
            $("#discount2i").val(0);
        } else {
            $("#discount2i").prop("disabled", false).css('background-color', '#fff');
        }
    });
</script>
