{% load i18n padword_tags %}

<div id="base-tpv">
    <div class="row left-tpv w-100 text-center m-0">
        <div class="col-lg-2 col-3 text-center">PADCash</div>
        <div class="col-lg-3 offset-lg-3 col-7 text-center">
            <select name="" id="" class="tpv-articles w-100 text-center tpv-search-change" data-search-class="tpv-category">
                <option value="">Todos los artículos</option>
                {% for item in form.get_category.get_active_childrens %}
                    <option value="{{item.pk}}">{% padword_translate item.name %}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-1 offset-lg-3 col-2 text-center">
            <button class="btn btn-header-pwa ark" data-url="{% url "tpv-close" %}" data-target="base" data-project_uuid="{{project_uuid}}"> 
            <i class="fas fa-power-off"></i></button>
        </div>
    </div>
    <div class="right-tpv">
        <div class="row header-right w-100 m-0 mb-2">
            <div class="col-lg-6 text-start">Ticket</div>
            <div class="col-lg-3"><i class="fas fa-user-plus"></i></div>
            <div class="col-lg-3"><img src="/static/img/96x96-icono.png"></div>
        </div>
        <div class="row w-100 m-0">
            {%comment%}
            <div class="col-lg-12 text-start pb-3" style="border-bottom: 1px solid #ccc;">
                <select name="" id="" class="ticket w-100">
                    <option value="Comer dentro">Comer dentro</option>
                    <option value="">Comer fuera</option>
                </select>
            </div>
            {%endcomment%}
            <div class="col-lg-12">
                <div id="ticket-summary">{% include "bookings/tpv/view-ticket.html" %}</div>
            </div>
        </div>
    </div>

    <div id="main" class="main-tpv">
        {% if form and form != None %}
            <button id="btn-children-{{form.pk}}" class="menu-options hide ark" data-url="{% url "tpv-shopping-cart" %}" data-target="main"
                data-fi_id="{{fi.id}}" data-cat_id="{{form.category}}">{% padword_translate_obj form.category %}</button>
            <script>$("#btn-children-{{form.pk}}").click()</script>
        {% endif %}
    </div>
    {% include "common-modal.html" %}
</div>

