{% load i18n bookings_tag common_tag padword_tags tpv_tags static %}
{%block extralinks%} <link rel="stylesheet" href="{% static 'css/tpv.css' %}?v=1234" > {% endblock %}
        
<div id="base">
    {% if point_of_sales|length > 0 %}
        <div class="row left-tpv w-100 text-center m-0" style="height:50px">
            <div class="col-2 offset-10 text-right">
                <button class="btn btn-header-pwa ark" data-url="{% url "tpv-close" %}" data-target="base" 
                    data-project_uuid="{{project_uuid}}"> <i class="fas fa-power-off"></i></button>
            </div>
        </div>

        <div class="row d-flex justify-content-center m-0">
            {% for item in point_of_sales %}
                <div class="col-lg-5 col-12 mt-3 menu-options ark p-0" data-url="{%url "tpv-set-pos"%}" data-target="base" 
                    data-obj_id="{{item.id}}" {%if item.image%}style="background-image:url({{item.image.url}});"{%endif%}>
                    <div class="point-name" style="width: 100%;background: white; opacity: 0.8;">{{item.name}}</div>
                </div>
            {% endfor %}
        </div>
    {% elif tables|length > 0 or cash != None %}
        <div class="row d-flex justify-content-start m-0"> {% include "bookings/tpv/tpv-tables.html" with index="tpv-index"%} </div>
    {% else %}
        {% include "bookings/tpv/index-main.html" %}
    {% endif %}
</div>

