{% load i18n padword_tags %}

{% comment %} -- PRODUCTS LIST -- {% endcomment %}

<div id="base-tpv-mobile">
    <div class="header-mobile sticky-top">
        <div class="row products-tpv-mobile w-100 text-center m-0">
            <div class="col-4 p-0 name">
                <button class="btn ark" data-url="{% url "tpv-change-pos" %}" data-target="base" data-project_uuid="{{project_uuid}}">{{pos.name}}</button>
            </div>
            <div class="col-5 text-center">
                <select name="" id="" class="tpv-articles mobile w-100 text-center tpv-search-change" data-search-class="tpv-category">
                    <option value="">Todos los artículos</option>
                    {% for item in cat_list %}
                    <option value="{{item.pk}}">{% padword_translate item.name %}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3 access-ticket text-center pt-3 pb-3">
                <button class="btn btn-header-pwa " onclick="$('.tpv-toggle').toggle();" data-url="{% url "tpv-close" %}" data-target="base" data-project_uuid="{{project_uuid}}"> 
                    <span class="tpv-toggle"><i class="fas fa-tag"></i> Ticket</span>
                    <span id="title-products-mobile" class="tpv-toggle"><i class="fas fa-shopping-basket"></i> {% trans 'Products' %}</span>
                </button>
            </div>
        </div>
        <div class="header-bottom tpv-toggle"><input type="text" class="form-control tpv-search mobile" data-search-class="tpv-item" placeholder="{% trans "Search..." %}"/> </div>
        <div class="header-bottom tpv-toggle" id="title-div-scan">
            {%comment%}
            <input type="text" id="div-scan" class="form-control ark_change scanband mobile" name="bans-scan" data-url="{% url "tpv-check-band" %}" 
                data-target="ticket-summary" data-obj_id="{{fi.id}}" placeholder="Scan band"/>
            {%endcomment%}
            {% include "bookings/tpv/scan-nfc.html" %}
        </div>
    </div>

    <div id="main" class="main-tpv-mobile">
        <div id="tpv-cart-mobile" class="tpv-toggle">
            {% if form and form != None %} {% include "bookings/tpv/tpv-cart-mobile.html" %} {% endif %}
        </div>

        {% comment %} -- TICKET --  {% endcomment %}
        <div id="ticket-tpv-mobile" class="ticket-tpv-mobile tpv-toggle">
            <div class="row w-100 m-0">
                <div class="col-12">
                    <div id="ticket-summary">{% include "bookings/tpv/view-ticket-mobile.html" %}</div>
                </div>
            </div>
        </div>
        {% comment %} -- TICKET --  {% endcomment %}
    </div>
</div>
{% include "common-modal.html" %}

<script>
    $('#ticket-tpv-mobile').hide();
    $('#title-products-mobile').hide();
    $('#title-div-scan').hide();
</script>
