{% load i18n bookings_tag common_tag padword_tags tpv_tags static %}
{%block extralinks%} <link rel="stylesheet" href="{% static 'css/tpv.css' %}" > {% endblock %}
        
<div id="base">
    {% if point_of_sales|length > 0 %}
        <div class="row d-flex justify-content-center m-0">
            {% for item in point_of_sales %}
                <div class="col-lg-4 col-12">
                    <button class="menu-options ark" data-url="{%url "tpv-set-pos"%}" data-target="base" data-obj_id="{{item.id}}"
                        {%if item.image%}style="background-image:url({{item.image.url}})"{%endif%}>
                        {{item.name}}</button>
                </div>
            {% endfor %}
        </div>
    {% elif tables|length > 0 %}
        <div class="row d-flex justify-content-start m-0">
            <input class="form-control tpv-table-search" data-search-class="table-card" placeholder="{%trans "Seleccionar mesa a buscar..."%}"/>
            {% for item in tables %}
                <div class="col-lg-3 col-12 table-card" data-name="{{item.name}}">
                    <button class="menu-options tables ark" data-url="{%url "tpv-set-table"%}" data-target="base" data-obj_id="{{item.id}}">
                         <div class="row w-100 m-0">
                            <div class="col-9 text-left">{{item.name}}</div>
                            <div class="col-3 text-right"><i class='fas fa-concierge-bell'></i></div>
                         </div>
                             {% get_table_info pos item %}
                       </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="w-100 d-none d-sm-block">
            {% include "bookings/tpv/index-main.html" %}
        </div>
        <div class="w-100 d-block d-sm-none">
            {% include "bookings/tpv/index-mobile.html" %}
        </div>
    {% endif %}
</div>

