{% load i18n padword_tags static %}

<div class="row">
	<div class="col-8 offset-2 info-panel-msg">
		<div class="row">	
			<div class="col-12 text-center mt-3 mb-3 pt-3">
				{% if msg == "01" %}
					<i class="fas fa-check-circle text-success"></i><br/><h4 class="success mt-3">
                        {% trans "Your order has been sent correctly!" %}</h4>
				{% elif msg == "00" %}
					<i class="fas fa-ban text-cancel"></i><br /><h4 class="cancel mt-3" style="color:#333;">
                        {% trans "Your order could not be sended!" %}</h4>
				{% elif msg == "05" %}
					<i class="fas fa-ban text-cancel"></i><br /><h4 class="cancel mt-3" style="color:#333;">
                        {% trans "Your order has been cancelled correctly!" %}</h4>
				{% elif msg == "00" %}
					<i class="fas fa-ban text-cancel"></i><br /><h4 class="cancel mt-3" style="color:#333;">
                        {% trans "Your order could not be sended. Payment Failed!" %}</h4>
				{% elif msg == "07" %}
					<i class="fas fa-ban text-cancel"></i><br /><h4 class="cancel mt-3" style="color:#333;">
                        {% trans "Your order could not be sended. Reservation not found!" %}</h4>
				{% endif %}
			</div>	
		</div>
		<div class="row">	
			<div class="col-12 text-center mt-3 mb-3 pt-3">
                {%comment%}
                <button id="btn-back" class="me-1 btn btn-access ark" data-target="base" data-url="{%url "tpv-print-ticket"%}" 
                    data-obj_id="{{fi.id}}" data-mobile="{{mobile}}"> {%trans "Print Ticket"%}</button>
                {%endcomment%}
				{% if msg == "01" %}
                    <a class="me-1 btn btn-access" href="{% url "tpv-print-ticket" fi.id %}" target="_blank" 
                        onclick="$('#btn-back').click();"> {% trans "Print Ticket" %}</a>
                {% endif %}
                <button id="btn-back" class="me-1 btn btn-access ark" data-target="base" data-project_uuid="{{project_uuid}}"
                    data-url="{%if mobile and mobile != ""%}{%url "tpv-mob-change-table"%}{%else%}{%url "tpv-change-table"%}{%endif%}">
                    {%trans "Back"%}</button>
	        </div>
	    </div>
	</div>
</div>
<script>setTimeout(()=>{$("#btn-back").click();}, 5000)</script>
