{% load i18n %}

<div class="table-box p-2 text-left">
    <small>
    {% if fi_list|length == 0%}
        <span class="order-off"> {%trans "No order"%} </span>
    {% else %}
        {% for fi in fi_list %}
            {% if fi and fi.get_total > 0%}
            --{{fi.id}}<br/>
                <span class="order-on"> {%trans "Order"%}: {{fi.pos.name}} <br/> {{fi.details.client}} <br/> {{fi.get_total|floatformat:2}} € </span>
            {% else %}
                <span class="order-off"> {%trans "No order"%} </span>
            {% endif %}
            <br/>
        {% endfor %}
    {% endif %}
    </small>
</div>
