{% extends "base_guest.html" %}
{% load i18n padword_tags %}

{% block central_content %}
	<div id="div-main" class="welcome-page" style="background-image: url('{{cat.image.url}}')">
	    <div class="row">
            <div class="welcome-inner col-12 justify-content-center menu">
                <h3> {% trans "Welcome" %} </h3>
                {% if cat.name != "" %}<h4> {% padword_translate cat.name %} <h4> {% endif %}
                {% if cat.description != "" %}<h5> {% padword_translate cat.description %} <h5> {% endif %}
                <button class="me-1 btn btn-access ark" data-url="{{next_url}}" data-target="div-main" data-project_uuid="{{project_uuid}}"
                    data-mobile="{{mobile}}" {#onclick="javascript:openFullScreen();"#}> {%trans "Access"%}</button>
	        </div>
	    </div>
	</div>
    <script> 
        $('#sidebar').removeClass('expanded'); 
        {#{% if cat.image %} $('#div-main').css('background-image', 'url("{{cat.image.url}}")');{% endif %}#}
    </script>
{% endblock %}
