{% load i18n tpv_tags %}

{% if cash.close %}
    <div class="row m-0 mt-3"> 
        <div class="alert-closed col-lg-4 offset-lg-4 col-12 text-center"> {% trans "¡TPV Cerrado!" %} </div> </div>

    <div class="row m-0">
        <div class="col-lg-6 offset-lg-3 col-12 mt-3 pos-options p-0" 
            {%if pos.image%}style="background-image:url({{pos.image.url}});"{%endif%}>
            <div class="point-name" style="width: 100%;background: white; opacity: 0.8;">{{pos.name}}</div>
        </div>
    </div>
    
    {% if request.waiter.view_cash %}
        <div class="row m-0 mt-3">
            <div class="col-lg-4 offset-lg-4 col-12 text-center">
                <button class="menu-options tables print ark w-25" data-url="{% url "tpv-print-z" %}" data-target="base" 
                    data-obj_id="{{cash.id}}"> <i class="fas fa-print"></i></button>
            </div>
        </div>
    {% endif %}
    
    <div class="row m-0 mt-3">
        <div class="col-lg-4 offset-lg-4 col-12 text-center">
            <button class="menu-options tables back ark w-100" data-url="{% url "tpv-change-pos" %}" data-target="base" 
                data-project_uuid="{{pos.project_uuid}}"> {% trans "Back" %}</button>
        </div>
    </div>
{% elif created or cash.ini_cash < 0 %}
    <div class="row m-0">
            <div class="col-lg-6 offset-lg-3 col-12 mt-3 pos-options p-0"
                {%if pos.image%}style="background-image:url({{pos.image.url}});"{%endif%}>
            <div class="point-name" style="width: 100%;background: white; opacity: 0.8;">{{pos.name}}</div>
        </div>
    </div>
    <div class="row m-0 mt-3">
        <div class="col-12 text-center pb-3">{% trans "Fondo de caja" %}</div>
    </div>
    <div class="row m-0 mt-3">
        <div class="col-lg-4 offset-lg-4 col-12"><input type="text" class="form-control special text-center" 
            onchange="$('#btn-cash').data('value', $(this).val())" placeholder="Introduce la cantidad de Inicio de Caja" /></div>
    </div>
    <div class="row m-0 mt-3">
        <div class="col-lg-4 offset-lg-4 col-12">
            <button id="btn-cash" class="menu-options tables save ark" data-url="{%url "tpv-set-cash"%}" data-target="base" 
                data-obj_id="{{cash.id}}" data-value="" data-index="tpv-index"><i class="fa fa-save"></i> {% trans "Save" %} </button>
        </div>
    </div>
    <div class="row m-0 mt-3">
        <div class="col-lg-4 offset-lg-4 col-12 text-center">
            <button class="menu-options tables back ark w-100" data-url="{% url "tpv-change-pos" %}" data-target="base" 
                data-project_uuid="{{pos.project_uuid}}"> {% trans "Back" %}</button>
        </div>
    </div>
{% else %}
    <div class="row tablesBar m-0 p-0 mb-2 w-100">
        <div class="col-lg-4 col-5 text-left"><span class="point-name">{{pos.name}}</span></div>
        <div class="col-lg-3 col-7">
            <input class="form-control tpv-table-search" data-search-class="table-card" 
                placeholder="{%trans "Seleccionar mesa a buscar..."%}"/>
        </div>
        <div class="col-lg-2 col-4 btn-1 text-center" onclick="$('#cash-opts').fadeToggle()"> 
            <button href="#" class="btn btn-primary-1 mobile menu-btn w-100 px-0">{%trans "Generar caja" %}</i></button> 
        </div>
        <div class="col-lg-2 col-6 btn-2 text-center"> 
            <button class="btn btn-primary-2 mobile ark w-100 px-0" data-url="{% url "tpv-change-pos" %}" data-target="base" 
                data-project_uuid="{{pos.project_uuid}}"> {%trans "Seleccionar TPV"%}</button>
        </div>
        <div class="col-lg-1 col-2 btn-3 text-center p-0"> 
            <button class="btn btn-primary-3 mobile ark" data-url="{% url "tpv-close" %}" data-target="base" 
                data-project_uuid="{{pos.project_uuid}}"> <i class="fas fa-power-off mobile"></i> </button>
        </div>
    </div>
    <div id="cash-opts" class="hide mt-2">
        <div class="row">
            <div class="col-lg-5 col-6">
                <button class="btn btn-outline-danger btn-sm pointer add-date ark w-100 p-2" id="btn-pos-summary" 
                    data-url="{%url "tpv-cash-z"%}" data-target="base" data-obj_id="{{cash.id}}" data-index="tpv-index">
                    {% trans "Generar" %} <span class="letter-cash">{% trans "Z" %}</button></span>
            </div>
            <div class="col-lg-5 offset-lg-2 col-6"> 
                <button class="btn btn-outline-green btn-sm pointer add-date ark w-100 p-2" id="btn-pos-summary" 
                    data-url="{%url "tpv-cash-x"%}" data-target="base" data-obj_id="{{cash.id}}" 
                    data-back="{%url "tpv-change-table"%}">
                    {% trans "Generar" %} <span class="letter-cash green">{% trans "X" %}</span></button>
            </div>
        </div>
    </div>
    {% for item in tables %}
        <div class="col-lg-3 col-12 table-card mt-2" data-name="{{item.name}}">
            <button class="menu-options tables ark" data-url="{%url "tpv-set-table"%}" data-target="base" data-obj_id="{{item.id}}" 
                data-index="tpv-index">
                <div class="row w-100 m-0">
                    <div class="col-9 text-left">{{item.name}}</div>
                    <div class="col-3 text-right"><i class='fas fa-concierge-bell'></i></div>
                </div>
                {%comment%}
                <div id="div-table-info-{{item.id}}"></div>
                <button id="btn-table-info-{{item.id}}" class="hide ark" data-url="{%url "tpv-table-info"%}" 
                    data-target="div-table-info-{{item.id}}" data-obj_id="{{item.id}}" data-pos="{{pos.id}}"></button>
                <script>$("#btn-table-info-{{item.id}}").click()</script>
                {%endcomment%}
                {#{% get_table_info pos item form %}#}

                {% if item.current_total and item.current_total != "" %}
                    <span class="order-on">
                        {%trans "Order"%}: {{pos.name}} <br/> {{item.current_total}} </span>
                {% else %}
                    <span class="order-off"> <br/> {%trans "No order"%} </span>
                {% endif %}
            </button>
        </div>
    {% endfor %}
{% endif %}
