{% load i18n common_tag padword_tags %}
<div class="cart-item tpv-category tpv-class" data-tags="{{cat.pk}}" id="heading-{{cat.pk}}">
    <div class="col-12 section-title mb-2"> {%padword_translate cat.name%}</div>
    <div id="div-shopping-cart-{{cat.pk}}" class="div-shopping-cart-{{cat.pk}}">
        <div class="row d-flex justify-content-start m-0">
            {% for item in cat.get_items_active %}
                <div class="col-lg-2 col-md-3 col-xs-12 justify-content-start"> 
                    {% include "bookings/tpv/show-item.html" with show_footer=True %} </div>
            {% endfor %}
        </div>
    </div>
</div>
 
