{% load i18n tpv_tags %}

{% with pos=cash.pos %}
<div class="row m-0">
    <div class="col-lg-6 offset-lg-3 col-12 mt-3 pos-options p-0" {%if pos.image%}style="background-image:url({{pos.image.url}});"{%endif%}>
        <div class="point-name" style="width: 100%;background: white; opacity: 0.8;">{{pos.name}}</div>
    </div>
</div>

<div class="row m-0 mt-3"> <div class="col-lg-4 offset-lg-4 col-12 text-center"> {% trans "X was created!" %} </div> </div>

<div class="row m-0 mt-3">
    <div class="col-lg-4 offset-lg-4 col-12 text-center">
        <button class="menu-options tables print ark w-25" data-url="{% url "tpv-print-z" %}" data-target="base" data-obj_id="{{cash.id}}"> 
            <i class="fas fa-print"></i></button>
    </div>
</div>

<div class="row m-0 mt-3">
    <div class="col-lg-4 offset-lg-4 col-12 text-center">
        <button class="menu-options tables back ark w-100" data-url="{{back_url}}" data-target="base" 
            data-project_uuid="{{cash.project_uuid}}"> {% trans "Back" %}</button>
        {%comment%}
        <button class="menu-options tables back ark w-100" data-url="{% url "tpv-change-table" %}" data-target="base" 
            data-project_uuid="{{cash.project_uuid}}"> {% trans "Back" %}</button>
        {%endcomment%}
    </div>
</div>
{% endwith %}

