{% load i18n tpv_tags bookings_tag padword_tags %}


{% include "bookings/tpv/view-payment-types-styles.html" %}

{# ------------------------------------------------ TIPOS DE PAGO ---------------------------------------------------------#}
<div class="row justify-content-center pt-2">
    {% for item in fi.form.get_category.payment_types.all %}
        <div class="col-12 col-lg-4 justify-content-center pt-box pay-method" id="pt-box-{{item.id}}">
            <div class="justify-content-center">
                {% if item.payment_type.code == "03" %}
                    {% include "bookings/tpv/view-payment-types-band.html" %}
                {% elif item.payment_type.code == "08" %}
                    {% include "bookings/tpv/view-payment-types-guest-room.html" %}
                {% else %}
                    <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts" 
                        data-id="{{item.id}}" data-pt="{{item.payment_type.code}}" data-cash="{{item.payment_type.code}}">
                        <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" 
                            class="img-width"><br /> {% padword_translate item.payment_type.name %} 
                    </a>
                {% endif %}
                {%comment%}
                {% if item.payment_type.code != "03" %}
                    <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts" 
                        data-id="{{item.id}}" data-pt="{{item.payment_type.code}}" data-cash="{{item.payment_type.code}}">
                        <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" 
                            class="img-width"><br /> {% padword_translate item.payment_type.name %} 
                    </a>
                {% else %}
                    {% include "bookings/tpv/view-payment-types-band.html" %}
                {% endif %}
                {%endcomment%}
            </div>
        </div>
    {% endfor %}
</div>

{#<input type="text" class="form-control hide mt-2" id="cash-value" placeholder="{%trans "Amount to pay (10, 20, 50...)"%}" />#}

<br/><div id="band-alert" class="text-danger hide"></div>

{# ------------------------------------------------ ACCIONES --------------------------------------------------------------#}
<div class="row footer-buttons m-0 p-0 justify-content-center" id="div-btns">
    {# -------------------------------- ENVIO PARCIAL ---------------------------- #}
    {% if fi.pos.partial %}
        <div class="col-12 text-center p-0"> {% include "bookings/tpv/view-payment-types-send-part.html" %} </div>
    {% endif %}
    {# -------------------------------- CARGO HABITACIÓN ---------------------------- #}
    {% if fi.project.partners.all|length > 0 %}
        <div class="col-12 text-center p-0"> {% include "bookings/tpv/view-payment-types-room.html" %} </div>
    {% endif %}
    {# -------------------------------- CANCELAR ---------------------------- #}
    <div class="col-6 text-center p-0"> {% include "bookings/tpv/view-payment-types-cancel.html" %} </div>
    {# -------------------------------- ENVIAR ---------------------------- #}
    <div class="col-6 text-center p-0"> {% include "bookings/tpv/view-payment-types-send.html" %} </div>
    {# -------------------------------- DEVOLUCIÓN ---------------------------- #}
    <div class="col-6 text-center p-0"> {% include "bookings/tpv/view-payment-types-return.html" %} </div>
    {# -------------------------------- INVITACION ---------------------------- #}
    <div class="col-6 text-center p-0"> {% include "bookings/tpv/view-payment-types-free.html" %} </div>
    {# -------------------------------- DISCOUNT ---------------------------- #}
    {% if fi.pos.discount %}
        <div class="col-6 text-center p-0"> {% include "bookings/tpv/view-payment-types-discount.html" %} </div>
    {% endif %}
</div>

{# ------------------------------------------------ VENTANAS AUX --------------------------------------------------------#}
{% include "bookings/tpv/view-payment-types-aux.html" %}

{# ------------------------------------------------ SCRIPTS --------------------------------------------------------#}
{% include "bookings/tpv/view-payment-types-scripts.html" %}

