<div class="d-none d-lg-block"><input type="text" id="div-scan" class="form-control hide" name="bans-scan"/></div>
<div class="d-none d-sm-block">
    <div id="div-scan" class="hide">
        <div id="div-scan-wait">
            <img alt="Loading Screen Animation - Hourglass" 
                width="100%" 
                height="" 
                data-id="4275501" 
                data-animated-url="https://cdn.dribbble.com/users/416315/screenshots/4275501/media/81a14e385dee6f7ca9e90d578b72d2b8.gif" 
                skip_resize="true" 
                srcset="https://cdn.dribbble.com/users/416315/screenshots/4275501/media/81a14e385dee6f7ca9e90d578b72d2b8.gif 320w, https://cdn.dribbble.com/users/416315/screenshots/4275501/media/81a14e385dee6f7ca9e90d578b72d2b8.gif 400w" 
                sizes="(max-width: 919px) 100vw, max(768px, 98vh)" src="https://cdn.dribbble.com/users/416315/screenshots/4275501/media/81a14e385dee6f7ca9e90d578b72d2b8.gif">
        </div>
        <div id="div-scan-readed" class="hide"> </div>
    </div>
</div>


