{% load i18n tpv_tags bookings_tag padword_tags %}

{% with val=fi|check_band %}
    {# Not band or band locked or item not valid or not credit #}
    {% if val == 0 or val == 1  or val == 3  or val == 4 %}
        <div class="col-4 w-100">
         <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts a-disabled">
            <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" class="img-width"><br />
            {% padword_translate item.payment_type.name %} 
        </a>
        {% if val == 1 %} <small style="color:#777">({%trans "Pulsera bloqueada"%})</small> {% endif %}
        {% if val == 2 %} <small style="color:#777">({%trans "Pulsera sin límite"%})</small> {% endif %}
        {% if val == 3 %} <small style="color:#777">({%trans "Producto no válido"%})</small> {% endif %}
        {% if val == 4 %} <small style="color:#777">({%trans "Pulsera sin saldo"%})</small> {% endif %}
        </div>
    {% else %}
        <div class="col-4 w-100">
            <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts" 
                data-id="{{item.id}}" data-pt="{{item.payment_type.code}}" data-cash="{{item.payment_type.code}}">
                <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" class="img-width"><br />
                {% padword_translate item.payment_type.name %} 
            </a>
        </div>
    {% endif %}
{% endwith %}

