{% load i18n tpv_tags bookings_tag padword_tags %}

<div id="div-return" class="alert alert-warning hide">
    {% trans "Va a realizar una devolución por un importe de: " %} -{{total|floatformat:2}} {{fi.currency}}{#&euro;#}
    {#{% if regime %} -{{fi|get_total_by_regime:regime.code}} &euro; {% else %} -{{total|floatformat:2}} &euro; {% endif %}#}
    <br/> <br/> 
    <div class="row">
        <div class="col-6"> 
            <button class="btn btn-warning w-100" onclick="$('#div-return').hide();$('#div-btns').show()">{%trans "Cancel"%}</button> 
        </div>
        <div class="col-6">
            <button id="btn-return-order-{{fi.id}}" class="btn btn-warning w-100 a-disabled ark" data-bs-dismiss="modal" 
                data-url="{% url "tpv-order-send" %}" data-target="base" data-obj_id="{{fi.id}}" data-payment_type="04" 
                data-subtotal="-{{subtotal}}" data-band="{{band.id}}" data-total="-{{total}}" data-mobile="{{mobile}}"> 
                {%trans "Confirm"%}</i>
                {#data-amount_user="{%if regime%}-{{fi|get_total_by_regime:regime.code}}{%endif%}" data-mobile="{{mobile}}"> {%trans "Confirm"%}</i>#}
            </button>
        </div>
    </div>
</div>

<div id="div-free" class="alert alert-primary hide">
    {% trans "Va a realizar una invitación por un importe de: " %} {{total|floatformat:2}} {{fi.currency}}{#&euro;#}
    {#{% if regime %} {{fi|get_total_by_regime:regime.code}} &euro; {% else %} {{total|floatformat:2}} &euro; {% endif %}#}
    <br/> <br/> 
    <input type="text" class="form-control" name="free_desc" placeholder="{%trans "Nombre de la persona realiza la invitación..."%}"
        onchange="$('#btn-free-order-{{fi.id}}').data('desc', 'Invitado por:'+$(this).val());"/>
    <br/> 
    <select class="form-control"  onchange="$('#btn-free-order-{{fi.id}}').data('desc', 'Invitado por:'+$(this).val());">
        <option value="">{% trans "Seleccione una cuenta" %}</option>
        {% for inv in fi.form.project.invitations %}
            <option value="{{inv.name}}">{{inv.name}}</option>
        {% endfor %}
    </select>
    <br/> 
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary w-100" onclick="$('#div-free').hide();$('#div-btns').show()">{%trans "Cancel"%}</button>
        </div>
        <div class="col-6">
            <button id="btn-free-order-{{fi.id}}" class="btn btn-primary w-100 ark" data-bs-dismiss="modal" 
                data-url="{% url "tpv-order-send" %}" data-target="base" data-obj_id="{{fi.id}}" data-payment_type="05" 
                data-subtotal="0" data-band="{{band.id}}" data-total="0" data-desc="" data-mobile="{{mobile}}">{%trans "Confirm"%}</i>
            </button>
        </div>
    </div>
</div>

<div id="div-discount" class="alert alert-primary hide">
    {% trans "Precio actual del ticket: " %} <strong>{{total|floatformat:2}} {{fi.currency}}</strong> <br/> <br/> 
    {% trans "Va a realizar un descuento del: " %} 
    <input type="text" class="form-control" id="input-disc" name="ticket-discount"/> <br/>
    {% trans "Precio final: " %} <strong><span id="discount-total">{{total|floatformat:2}}</span> {{fi.currency}}</strong> <br/>
    <select class="form-control" id="select-disc">
        <option value="">{% trans "Seleccione una cuenta" %}</option>
        {% for disc in fi.pos.discounts.all %} <option value="{{disc.percent}}">{{disc.percent}}</option> {% endfor %}
    </select>
    <br/> 
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary w-100" onclick="$('#div-discount').hide();$('#div-btns').show()">{%trans "Cancel"%}</button>
        </div>
        <div class="col-6">
            <button id="btn-discount-confirm-{{fi.id}}" class="btn btn-primary w-100 a-disabled ark" data-bs-dismiss="modal">
                {%trans "Confirm"%}</i>
            </button>
        </div>
    </div>
    <script>
        $("#input-disc").keyup(function(){
            let i = $('#input-disc').val();
            $('#discount-total').html(getPercent('{{total}}', i));
        });
        $("#select-disc").change(function(){
            let v = $('#select-disc').val();
            let i = $('#input-disc').val();
            if (v != "") {
                $("#input-disc").prop('disabled', true).css('background-color', '#ddd');
                $('#discount-total').html(getPercent('{{total}}', v));
            } else {
                $("#input-disc").prop('disabled', false).css('background-color', '#fff');
                $('#discount-total').html(getPercent('{{total}}', i));
            }
        });
        $("#btn-discount-confirm-{{fi.id}}").click(function(){
            const id='#btn-send-order-{{fi.id}}';
            let v = $('#select-disc').val();
            let i = $('#input-disc').val();
            if (v != "") 
                $(id).data('discount', v);
            else
                $(id).data('discount', i);
            $(id).click();
        });
    </script>
</div>


{% with partner_list=fi.project.partners.all %}
    {% if partner_list|length > 0 %}
    <div id="div-room" class="alert alert-primary hide">
        {% trans "Va a realizar un cargo en habitación por un importe de: " %} {{total|floatformat:2}} {{fi.currency}}
        <br/> <br/> 
        <select class="form-control" onchange="$('#btn-room-order-{{fi.id}}').data('partner', $(this).val());">
            <option value="">{% trans "Seleccione un hotel" %}</option>
            {% for par in partner_list %}
                <option value="{{par.partner}}">{{par.partner_name}}</option>
            {% endfor %}
        </select>
        <br/> 
        <input type="text" class="form-control" name="room_number" placeholder="{%trans "Número de la habitación..."%}"
            onchange="$('#btn-room-order-{{fi.id}}').data('room', $(this).val());"/>
        <br/> 
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary w-100" onclick="$('#div-room').hide();$('#div-btns').show()">{%trans "Cancel"%}</button>
            </div>
            <div class="col-6">
                <button id="btn-room-order-{{fi.id}}" class="btn btn-primary w-100 ark" data-bs-dismiss="modal" 
                    data-url="{% url "tpv-order-send" %}" data-target="base" data-obj_id="{{fi.id}}" data-payment_type="07" 
                    data-subtotal="{{subtotal}}" data-band="{{band.id}}" data-total="{{total}}" data-desc="" data-mobile="{{mobile}}"
                    data-room="" data-partner="">
                    {%trans "Confirm"%}</i>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

