{% load i18n tpv_tags bookings_tag padword_tags %}

{% if fi.details.client_room != "" %}
    <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts" 
        data-id="{{item.id}}" data-pt="{{item.payment_type.code}}" data-cash="{{item.payment_type.code}}">
        <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" 
        class="img-width"><br /> {% padword_translate item.payment_type.name %} 
    </a>
{% else %}
    <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts a-disabled">
        <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" class="img-width">
        <br /> {% padword_translate item.payment_type.name %} 
    </a>
{% endif %}
