{% load i18n bookings_tag common_tag padword_tags static%}

{%if band_err %}<div class="alert alert-danger">{%trans "This band is not assigned to any guest!"%}</div>{%endif%}
{% with guest=band.guest %}
    {#<div class="card article w-100 mb-3 box-new ark" data-url="{% url 'tpv-add-item' %}" data-target="ticket-summary" data-form_id="{{fi.pk}}" data-item_id="{{item.pk}}">#}
    <div class="row ticket-line justify-content-center m-0 text-center">
        <div class="col-4">{% trans "Band" %}</div>
        <div class="col-4">{% trans "Guest" %}</div>
        <div class="col-4">{% trans "Room" %}</div>
    </div>
    <div class="row ticket-line justify-content-center m-0 text-center">
        <div class="col-4">{{band.name}}</div>
        <div class="col-4">{{guest.name}} {{guest.surname}}</div>
        <div class="col-4">{{guest.room}}</div>
    </div>
    <div class="row ticket-line justify-content-center m-0 text-center">
        <div class="col-6">{% trans "Regime" %}</div>
        <div class="col-6">{% trans "Balance" %}</div>
    </div>
    <div class="row ticket-line justify-content-center m-0 text-center">
        <div class="col-6">{{guest.regime}}</div>
        <div class="col-4 balance-band text-right {%if band.balance < 0%}text-danger{%endif%}">
            <strong>{{band.balance|floatformat:2}} {%if band%}€{%endif%}</strong></div>
    </div>
    {%comment%}
    <div class="row ticket-line justify-content-center m-0">
        <div class="col-3">{{guest.name}}</div>
        <div class="col-3">{{guest.surname}}</div>
        <div class="col-2">{{guest.room}}</div>
        <div class="col-4 balance-band text-right {%if band.balance < 0%}text-danger{%endif%}"><strong>{{band.balance|floatformat:2}} {%if band%}€{%endif%}</strong></div>
    </div>
    {%endcomment%}
{% endwith %}


