{% load i18n padword_tags bookings_tag %}


{% with items=fi.get_items total=fi.get_total %}
    {% if items|length > 0 %} 
    <div class="row mt-1 justify-content-center"><div id="guest-info" class="col-12 text-center mb-3">
        {% include "bookings/tpv/view-guest-info.html" %}</div></div>

        <div class="row total">
            <div class="col-7 btn-dark">
                <h5 class="text-left p-2"><strong>
                    {% padword_translate fi.form.get_category.parent.name %} 
                    {% padword_translate fi.form.get_category.name %}&nbsp;({{items|length}} {% trans 'art.' %})</strong>
                </h5>
            </div>
            <div class="col-5 btn-dark price p-2" id="div-total-shopping-cart">
                <strong>{%trans 'Total price'%}: {{total|floatformat:2}} &euro;</strong></div>
        </div>
        {% if regime %}
            <div class="row">
                <div class="col-5 offset-7 btn-dark price p-2" id="div-total-shopping-cart">
                    <strong class="text-warning">{%trans 'Total price user'%}: {{fi|get_total_by_regime:regime.code}} &euro;</strong></div>
            </div>
        {% endif %}
    
        {% comment %}
        <div class="row"> <span class="small alert">* {% trans 'You can add comments to the article with click on comment buttons' %} 
            <i class="fas fa-comments"></i></span></div>
        {% endcomment %}

        <div class="row ticket-line" style="overflow-y: scroll;height: 450px;">
            {% for item in items %}
            <div class="row p-0 mb-1" style="border-bottom:1px solid #ccc">
                <div class="col-3 p-0">
                    {% if item.item.image %}
                        <div class="image mobile" id="cover">
                            <img src="{{item.item.image.url}}" class="card-img-top spec-img" alt="{% padword_translate item.item.name %}">
                        </div>
                    {% endif %}
                </div>
                <div class="col-9 row align-self-start m-0 p-0">
                    <div class="col-10" tyle="border:1px solid green"> <div class="item-name text-left">{% padword_translate item.item.name %}</div> </div>
                    <div class="col-2" tyle="border:1px solid green">
                        <a class="btn ark" title="{%trans 'Remove article from shopping-cart'%}" 
                        data-url="{%url "tpv-order-item-remove"%}" data-item_id="{{item.pk}}" data-target="ticket-summary">
                        <i class="fa fa-window-close"></i></a>
                    </div>
                    <div class="col-12 text-left"> 
                        <div class="item-regime">Todo incluido</div>
                        {% if regime %} <div class="text-right text-warning">{{ item|get_item_price:regime.code }}€</div> {% endif %}
                    </div>
                    <div class="col-12" tyle="border:1px solid blue"> <div class="text-left">{{ item.item.price }}€</div> </div>
                    <div class="col-12 text-left" tyle="border:1px solid blue">
                        <a class="special ark" title="{%trans 'Add comment at this article'%}" data-url="{%url "tpv-order-item-comment"%}" 
                            data-item_id="{{item.pk}}" data-form_id="{{fi.pk}}" data-target-modal="common-modal">{%trans 'Add comment'%}</a>
                    </div>
                    <div class="col-12 comment mt-1">
                        <div class="small card-title text-left"><small>{{ item.comments }} &nbsp;</small></div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="row mt-3 justify-content-center w-100" style="position:fixed; bottom:0; background: white;">
            <div class="col-12 text-center mb-3">{%include "bookings/tpv/view-payment-types-mobile.html"%}</div></div>

    {% endif %}
{% endwith %}
