{% load i18n bookings_tag common_tag padword_tags static%}

{%if band_err %}<div class="alert alert-danger">{{band_err}}</div>{%endif%}

{% with guest=fi.guest_info %}
    <div class="row ticket-line-mob guest-info justify-content-center text-center">
        <div class="col-8 text-center">{% trans "Guest" %}</div>
        <div class="col-4 text-center">{% trans "Room" %}</div>
    </div>
    <div class="row ticket-line-mob justify-content-center text-center">
        <div class="col-8 blue-info special-shadow">{{guest.name}} {{guest.surname}}</div>
        <div class="col-4 blue-info special-shadow">{{guest.room}}</div>
    </div>
    <div class="row ticket-line-mob guest-info justify-content-center text-center">
        <div class="col-6 text-center">{% trans "Regime" %}</div>
        <div class="col-6 text-center">{% trans "Level" %}</div>
    </div>
    <div class="row ticket-line-mob justify-content-center text-center">
        <div class="col-6 blue-info text-center special-shadow p-0">{{guest.regime.name}}</div>
        <div class="col-6 blue-info text-center special-shadow p-0">{{guest.guest_type_obj.name|default:"Standar"}}</div>
    </div>
{% endwith %}

