{% load i18n tpv_tags bookings_tag padword_tags %}

{% with val=fi|check_band %}
    {# Band locked or item not valid or not credit #}
    {% if val == 1  or val == 3  or val == 4 %}
        <button id="btn-send-order-{{fi.id}}" class="btn btn-success-tpv w-100 a-disabled"> 
            <i class="fa fa-share-square"></i><br /> {%trans "Send Order"%} </button>
    {% else %}
        <button id="btn-send-order-{{fi.id}}" class="btn btn-success-tpv w-100 a-disabled ark" data-url="{% url "tpv-order-send" %}" 
            data-target="base" data-obj_id="{{fi.id}}" data-payment_type="" data-amount="{{total}}" data-band="{{band.id}}"
            data-amount_user="{%if regime%}{{fi|get_total_by_regime:regime.code}}{%endif%}"> 
            <i class="fa fa-share-square"></i><br /> {%trans "Send Order"%} </button>
    {% endif %}
{% endwith %}

