{% load i18n padword_tags %}

<span id="div-notification"></span><br/>

{%comment%}
<div class="row justify-center">
	<div class="col-sm-6 col-md-6 col-12">
		<label class="label">{% trans "Alias" %}:</label>
        <input type="text" class="form-control autosave input mb-4" id="alias" name="alias" value="{{obj.alias}}" title="{{obj.alias}}" 
			data-model-name="web.lock" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
			<span id="alias__msg"></span>
	</div>
</div>
{%endcomment%}

<ul class="nav nav-tabs">
    <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#codes">{% trans "Passcodes" %}</a></li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#cards">{% trans "Cards" %}</a> </li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#ekeys">{% trans "eKeys" %}</a> </li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#records">{% trans "Records" %}</a> </li>
</ul>

<div class="tab-content internal">
    {# -------------------------- CODES ------------------------#}
    <div class="tab-pane container active" id="codes"> 
        <div class="row m-0">
            <div class="col-2 offset-10 pb-2"><a class="btn btn-primary w-100 toggle-btn" 
                data-target="add_code" data-text="{%trans "Add code"%}" data-text-alt="{%trans "Close"%}"> {%trans "Add code"%}</a>
            </div></div>
        <div id="add_code" style="display:none;"> {% include "web/rooms/lock-details-codes-form.html" %} </div>

        <div id="code-details">{% include "web/rooms/lock-details-codes.html" %}</div>
    </div>

    {# -------------------------- CARDS ------------------------#}
    <div class="tab-pane container fade" id="cards"> 
        <div class="row m-0"><div class="col-2 offset-10 text-end pb-2">
            <a class="btn btn-primary w-100 toggle-btn" data-target="add_card" data-text="{%trans "Add card"%}" 
                data-text-alt="{%trans "Close"%}" data-set-focus="card_code"> {%trans "Add card"%}</a>
        </div></div>
        <div id="add_card" style="display:none">
            {% include "web/rooms/lock-details-cards-form.html" %}
            {%comment%}
            <input type="text" class="form-control ark_change" name="code" data-url="{% url "room-lock-add-card" %}" 
                data-target="cards" data-obj_id="{{obj.id}}"/>
            {%endcomment%}
        </div>

        <div id="card-details">{% include "web/rooms/lock-details-cards.html" %} </div>
        <script>
            $(document).ready(function(){$(window).keydown(function(event){if(event.keyCode == 13){event.preventDefault();return false;}});});
        </script>
    </div>

    {# -------------------------- EKEYS ------------------------#}
    <div class="tab-pane container" id="ekeys"> 
        <div class="row m-0"><div class="col-2 offset-10 text-end pb-2">
            <a class="btn btn-primary w-100 toggle-btn" 
                data-target="add_ekey" data-text="{%trans "Add eKey"%}" data-text-alt="{%trans "Close"%}"> {%trans "Add eKey"%}</a>
        </div></div>
        <div id="add_ekey" style="display:none;"> {% include "web/rooms/lock-details-ekey-form.html" %} </div>

        <div id="ekey-details">{% include "web/rooms/lock-details-ekeys.html" %}</div>
    </div>

    {# -------------------------- RECORDS ------------------------#}
    <div class="tab-pane container" id="records"> 
        <div id="ekey-details">{% include "web/rooms/lock-details-records.html" %}</div>
    </div>


</div>

