{% load i18n padword_tags %}

<table class="table table-hover table-striped">
    <thead>
        <tr> 
            <th colspan="3"> <label class="label">{% trans 'Passcode List' %}:</label></th> 
            <th>
                <a class="btn btn-outline-warning w-100" title="{%trans "Add code"%}" onclick="$('#add_code').slideToggle()">{%trans "Add code"%}</a>
            </th>
        </tr>
        <tr> <th>{%trans 'Code'%}</th> <th>{%trans 'Start Date'%}</th> <th>{%trans 'End Date'%}</th> <th>{%trans 'Guest'%}</th> <th></th></tr>
    </thead>
    <tbody>
        {% for item in obj.get_all_passcodes %}
            <tr>
                <td> {{item.keyboardPwd}} </td> 
                <td> {{item.startDate|str_to_date}} </td> 
                <td> {{item.endDate|str_to_date}} </td> 
                <td> {{obj|get_code_guest:item.keyboardPwd}} </td> 
                <td>
                    <a class="btn btn-outline-warning ark w-100" title="{%trans "Remove code"%}" data-url="{% url "room-lock-remove-code" %}"
                        data-obj_id="{{obj.id}}" data-card_id="{{item.keyboardPwdId}}" 
                        data-confirm="{%trans "Are you sure to remove this element?"%}" data-target="cards">{%trans "Remove code"%} </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

