{% load i18n padword_tags %}

{% if msg and msg != "" %} <div class="alert alert-warning">{{msg}}</div>{% endif %}

<table class="table table-hover table-striped">
    <thead>
        <tr> 
            <th>{%trans 'Code'%}</th> 
            <th>{%trans 'Name'%}</th> 
            <th>{%trans 'Start Date'%}</th> 
            <th>{%trans 'End Date'%}</th> 
            <th>{%trans 'Guest'%}</th> 
            <th>{%trans 'Type'%}</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in obj.get_all_cards %}
            <tr>
                <td> {{item.cardNumber}} </td> 
                <td> {{item.cardName}} </td> 
                <td> {{item.startDate|str_to_date}} </td> 
                <td> {{item.endDate|str_to_date}} </td> 
                <td> {{obj|get_card_guest:item.cardNumber}} </td> 
                <td> {{item.keyboardPwdType|get_code_type:item.endDate}} </td> 
                <td class="text-end">
                    <a class="btn btn-outline-warning ark w-100" title="{%trans "Remove card"%}" data-url="{% url "room-lock-remove-card" %}"
                        data-obj_id="{{obj.id}}" data-card_id="{{item.cardId}}" data-confirm="{%trans "Are you sure to remove this element?"%}" 
                        data-target="card-details">{%trans "Remove card"%} </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


