{% load i18n padword_tags rooms_tags %}

<div class="content">
    <div class="toolbar-content">
        <h2 class="b-right">{% trans 'Rooms' %} </h2>
        {% include "common-modal.html" %}
    </div>
    {%comment%}
    {% for row in list_rooms %}
        {% with items=row.1 project=row.0 %}
            <div id="room-list-{{project.uuid}}" class="mb-2">{% include "web/rooms/rooms-list-details.html" with project=project items=items %}</div>
        {% endwith %}
    {%endfor%}
    {%endcomment%}
    {% for project in list_projects %}
        <div id="room-list-{{project.uuid}}" class="mb-2">{% room_group_list project %}</div>
    {%endfor%}
</div>

