{% load i18n rooms_tags %}

<div class="d-flex menu-actions-blue">
    <div class="flex-grow-1 p-2 mt-1"><span class="bg-ico-bar"><i class="fas fa-home hotel"></i></span>&nbsp; Floors in {{project.name}}</div>
    <div class="action p-2">
        <a class="btn btn-xs ark" data-url="{% url "room-import-csv" %}" data-target-modal="common-modal" data-obj_id="{{project.uuid}}"><i class="fas fa-download"></i>
            {%trans "Import rooms"%}</a>
        <a class="btn btn-xs ark" data-url="{% url "room-multiple" %}" data-project="{{project.uuid}}" data-target-modal="common-modal" 
            title="{% trans 'Add multiple rooms' %}"><i class="fas fa-bed"></i> {% trans 'Add multiple rooms' %}</a>  
        <a class="btn btn-xs ark" data-url="{% url "room-form" %}" data-project="{{project.uuid}}" data-target-modal="common-modal" 
            title="{% trans 'Add room' %}"><i class="fas fa-bed"></i> {% trans 'Add room' %}</a>  
    </div>
</div>

{% for group in group_list %}
    <div class="div-rooms-content">
        <div class="locks-head">{{ group.name }} </div>
        <div class="locks-group d-flex flex-wrap pl-2">
            {% room_list project search_name group %} {#[{{search_name}}]#}
        </div>
    </div>
{% endfor %}

<div class="locks-group d-flex flex-wrap p-2">
    {% room_list project search_name %}
</div>

