{% load i18n padword_tags %}


<h2 class="common-modal-head">
    <div class="row">
        <div class="col-11">{% trans 'Edit room' %}</div>
	    <div class="col-1"><button type="button" class="btn ark" data-bs-dismiss="modal" data-url="{% url "room-list" %}" 
            data-target="room-list"><i class="fas fa-times"></i></button></div>
    </div>
</h2>

<span id="div-notification"></span>

<div class="row justify-center">
    <div class="col-1">
        <label class="label">{% trans "Orden" %}:</label>
        <input type="text" class="form-control autosave input" id="order" name="order" value="{{obj.order}}" title="{{obj.order}}" 
            data-model-name="web.room" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
            <span id="order__msg"></span>
    </div>
    <div class="col-3">
        <label class="label">{% trans "Alias" %}:</label>
        <input type="text" class="form-control autosave input" id="alias" name="alias" value="{{obj.alias}}" title="{{obj.alias}}" 
            data-model-name="web.room" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
            <span id="alias__msg"></span>
    </div>
    <div class="col-2">
        <label class="label">{% trans "Number" %}:</label>
        <input type="text" class="form-control autosave input" id="number" name="number" value="{{obj.number}}" title="{{obj.number}}" 
            data-model-name="web.room" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
            <span id="number__msg"></span>
    </div>
    <div class="col-3">
        {% trans "Project" %}: <input type="text" class="form-control input" name="project" value="{{obj.project.name}}" readonly/>
    </div>
    <div class="col-3">
        {% trans "Group" %}:
        <select class="form-control input b-bottom ark_change" id="lock_group_uuid" name="lock_group_uuid" 
            data-url="{% url "room-set-group" %}" data-target="div-notification" data-obj_id="{{obj.id}}"/>
            
            <option value="" {%if obj.lock_group_uuid != ""%}disabled{%endif%}>{% trans "-- Select a group" %}</option>
            {% for group in group_list %}
                <option value="{{group.uuid}}" {%if obj.lock_group_uuid == group.uuid %}selected{%endif%}>{{group.name}}</option>
            {% endfor %}
        </select>

        {%comment%}
        <select class="form-control input autosave b-bottom" id="lock_group_uuid" name="lock_group_uuid" value="{{obj.lock_group_uuid}}" 
            data-model-name="web.room" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
            <option value="">{% trans "-- Select a group" %}</option>
            {% for group in group_list %}
                <option value="{{group.uuid}}" {%if obj.lock_group_uuid == group.uuid %}selected{%endif%}>{{group.name}}</option>
            {% endfor %}
        </select>
        {%endcomment%}
    </div>
</div>

<div class="row justify-center pt-0"> <div id="lock-list">{% include "web/rooms/lock-card.html" %}</div> </div>

