{% load i18n %}

<div class="col-3">
    <div class="card ark" data-url="{%url "room-form"%}" data-target-modal="common-modal" data-obj_id="{{item.id}}" 
        data-project="{{item.project_uuid}}">
        <div class="row lock-box">
            <div class="col-10 alias text-center pt-1 pb-1" tyle="border:1px solid red"><strong>{{item.alias|default:'Normal'}}</strong></div>
            <div class="col-2 alias pt-2 text-center" style="background:#5b7898;">
                <a class="ark" data-url="{% url "room-remove" %}" data-target="room-list" data-obj_id="{{item.id}}" 
                    data-confirm="{%trans "Are you sure to remove this element?"%}" title="{%trans "Delete" %}">
                    <i class="fas fa-trash" style="color:#fff; font-size: 0.8rem;"></i></a>
            </div>
            <!--<div class="col-12 text-center">Room number: <strong>{{item.number|default:'100'}}</strong></div>-->
            <div class="icons-1 d-flex justify-content-center mt-2 mb-2">
                <div class="w-25 text-center"><i class="fas fa-{{item.state|default:'lock'}}"></i></div>
                <div class="w-50 text-center">Status</div>
                <div class="w-25 text-center"><i class="fas fa-wifi"></i> </div>
            </div>
            <div class="icons-2 d-flex justify-content-start mt-3 mb-2 pt-2">
                <div class="w-25 text-center active"><i class="fa fa-bell-slash active"></i></div>
                <div class="w-25 text-center"><i class="fa fa-bed"></i></div>
                <div class="w-25 text-center"><i class="fa fa-broom"></i></div>
                <div class="w-25 text-center active"><i class="fa fa-toilet-paper active"></i></div>
            </div>  
        </div>
    </div>
</div>
