{% load i18n padword_tags %}

<table class="table table-striped table-hover" id="main-table">
    <thead>
        <tr class="small small">
            <th> {% trans 'Name' %} <i class="fas fa-sort"></i> </th>
            <th> {% trans 'Company' %} <i class="fas fa-sort"></i> </th>
            <th> {% trans 'Cerraduras en uso' %} <i class="fas fa-sort"></i> </th>
            <th> {% trans 'Cerraduras totales' %} <i class="fas fa-sort"></i> </th>
            <th> {% trans 'Licencia hasta' %} <i class="fas fa-sort"></i> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="small" id="row_{{item.id}}">
            <td> {% if item.active == 1 %}<i class="text-success fas fa-check-circle"></i>
                {% else %}<i class="text-danger fas fa-times-circle"></i>{% endif%}&nbsp;{{ item.name }}</td>
            <td>{{ item.company.name }}</td>
            <td>{{ item|get_assigned_locks_number }}</td>
            <td>{{ item|get_locks_number }}</td>
            <td>{{ item.expiration}}</td>
            <td class="text-end">
                <a class="btn btn-sm" href="{% url "projects-locks-details" item.id %}" title="{% trans "Details" %}"> 
                    <i class="fas fa-edit"></i></a>  
                {%comment%}
                {% if item.lock_access_token != "" %}
                    <a class="btn btn-xs" href="{% url 'locks-by-project' item.id %}" title="{% trans 'Locks' %}">
                        <i class="fas fa-key"></i></a>
                    <a class="btn btn-xs" href="{% url 'gateways-by-project' item.id %}" title="{% trans 'Gateways' %}">
                        <i class="fas fa-signal"></i></a>
                {% endif %}
                {%endcomment%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $("#main-table").tablesorter();
    $('#items-counter').html('{{items|length}}');
</script>

