{% load i18n padword_tags %}


<div class="row justify-center">
    {# -------------------- new -----------------------#}
    <div class="row m-0 p-0">
        <div class="col-3"><div id="div-image">{% include "web/projects/project-img.html" %}</div> </div>
        <div class="offset-7 col-2 divbutact">
            <div class="text-center">
                <label class="form-check-label label act-pro text-end" for="activeCheck"> {% trans "Active" %}</label>
            </div>
            <div class="form-check form-switch">
                {%if obj.active == 1%}<i class="fas fa-check"></i>{%else%}<i class="fas fa-times"></i>{%endif%}
            </div>
        </div>
    </div>
    
    <div class="row m-0 mt-3 card-info">
	    <div class="col-5">
            <label class="label">{% trans "Name" %}:</label>
            <input type="text" class="form-control input mb-4" id="name" name="name" value="{{obj.name}}" disabled/> 
        </div>
        <div class="col-5">
            <label class="label">{% trans "Company" %}:</label>
            <input type="text" class="form-control input mb-4" id="company" name="company" value="{{obj.company.name}}" disabled/> 
        </div>
        <div class="col-2">
            <label class="label">{% trans "Cerraduras totales" %}:</label>
            <input type="text" class="form-control input mb-4" value="{{obj|get_locks_number}}" disabled />
        </div>
        <div class="col-5">
           <label class="label">{% trans "Time zone" %}:</label>
           <input class="form-control input mb-4" id="time_zone" name="time_zone" value="{{obj.time_zone}}" disabled/>
        </div>
        <div class="col-5">
            <label class="label">{% trans "Time zone name" %}:</label>
            <input type="input" class="form-control input mb-4" id="time_zone_name" name="time_zone_name" 
                value="{{obj.time_zone_name}}" disabled/> 
        </div>
        <div class="col-2">
            <label class="label">{% trans "Languages" %}:</label>
            <input type="input" class="form-control input mb-4" id="used_languates" name="used_languages" 
                value="{{obj.used_languages}}" disabled/> 
        </div>
    </div>
    
    <div class="row m-0 mt-3 card-info">
        <div class="col-5">
            <label class="label">{% trans "Contact Name" %}:</label>
            <input type="text" class="form-control input mb-4" id="contact_name" name="contact_name" 
                value="{{aux.contact_name}}" disabled/> 
        </div>        
        <div class="col-5">
            <label class="label">{% trans "Email" %}:</label>
            <input type="text" class="form-control input mb-4" id="contact_email" name="contact_email" 
                value="{{aux.contact_email}}" disabled/> 
        </div>      
        <div class="col-2">
            <label class="label">{% trans "Phone" %}:</label>
            <input type="text" class="form-control input mb-4" id="contact_phone" name="contact_phone" 
                value="{{aux.contact_phone}}" disabled/> 
        </div>   
    </div>

{# -------------------- end new -----------------------#}
</div>

<div id="project-tabs"> 
    <ul class="nav nav-tabs m-2 pl-2 pr-2 pt-2">
        <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#locks">
            {%trans "Locks"%}</a> </li>
    </ul>
    <div class="tab-content internal m-2 p-2">
        <div class="tab-pane container active" id="locks"><div id="div-locks">
            <div class="row justify-center">
                <div class="col-md-6 col-12">
                    <label class="label">{% trans "TTLock Username" %}:</label>
                    <input type="text" class="form-control input" id="username" name="username" value="{{user_lock.username}}"/> 
                </div>
                <div class="col-md-6 col-12">
                    <label class="label">{% trans "TTLock Password" %}:</label>
                    <input type="text" class="form-control input" id="password" name="password" value="{{user_lock.password}}"/> 
                </div>
            </div>		

            <span id="span-token">
                <div class="row justify-center m-0 p-0">
                    <div class="col-md-6 col-12">
                        <label class="label">{% trans "Token" %} ({% trans "expire:" %} {{user_lock.expire_date}}):</label>
                        <input type="text" class="form-control input mb-4" id="token" name="token" value="{{user_lock.token}}"/> 
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="label">{% trans "Refresh Token" %}:</label>
                        <input type="text" class="form-control input mb-4" id="refresh_token" name="refresh_token" 
                            value="{{user_lock.refresh_token}}"/> 
                    </div>
                </div>		
            </span>

            <div class="row justify-center"> 
                <div class="col-6"> <label class="label">{% trans "Time to execute tasks" %}:</label> </div> 
                <div class="col-6"> <label class="label">{% trans "Report email" %}:</label> </div> 
            </div>		
            <div class="row justify-center">
                <div class="col-3">
                    <input type="time" class="form-control input lock-cron" id="time" name="time" 
                        value="{{user_lock.time_schedule_tasks}}"/>
                </div>
                <div class="col-6 offset-3">
                    <input type="text" class="form-control input lock-cron" id="report_email" name="report_email" 
                        value="{{user_lock.report_email}}"/> 
                </div>
            </div>		
            <div class="row justify-center m-0 p-0">
                <div class="col-12 d-flex justify-content-end">
                    {%comment%}
                    {% for lang in obj.get_languages %}
                        <a class="btn btn-{% is_current_lang lang 'primary' 'secondary'%} ms-2 me-2 pointer" 
                            href="{% url "projects-locks-details" obj.id "locks" %}?lang={{lang}}"> {{lang}}</a>
                    {%endfor%}
                    {%endcomment%}
                </div>

                <div class="col-12">
                    <label class="label">{% trans "Text to share" %}:</label>
                    <textarea class="form-control input mb-4" id="text_to_share" name="text_to_share" rows="10" disabled>{% padword_translate user_lock.text_to_share %}</textarea> 
                </div>
            </div>

        </div></div>
    </div>
</div>
