{% load i18n padword_tags lock_tags %}


<div class="row p-3 m-0 lock-sticky-top">
    <div class="d-flex justify-content-end pb-2">
        <button type="button" class="btn" data-bs-dismiss="modal" title="{% trans "Close" %}"><i class="fas fa-times"></i></button>
    </div>  

    <div class="col-1 small"><strong>{% trans "Code" %}</strong></div>
    <div class="col-2">
        <input type="text" class="form-control sp-search" id="search" placeholder="{% trans "Search for code..." %}" 
            data-search-class="search-code" data-search-prefix="tr-"/>
    </div>
    <div class="col-1 small"><strong>{% trans "Name" %}</strong></div>
    <div class="col-2">
        <input type="text" class="form-control sp-search" id="search" placeholder="{% trans "Search for name..." %}" 
            data-search-class="search-name" data-search-prefix="tr-"/>
    </div>
    <div class="col-1 small"><strong>{% trans "Guest" %}</strong></div>
    <div class="col-2">
        <input type="text" class="form-control sp-search" id="search" placeholder="{% trans "Search for name..." %}" 
            data-search-class="search-guest" data-search-prefix="tr-"/>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-delete ark w-100" data-url="{% url "lock-remove-all-passcodes" %}" data-target-modal="common-modal" 
            data-obj_id="{{obj.id}}">{% trans "Delete all" %}</button>
	</div>
</div>


<div class="row p-0 m-0 lock-sticky-top">
    <div class="d-flex justify-content-end pb-2">
        {%comment%}
	    <button type="button" class="btn ark" data-bs-dismiss="modal" data-url="{% url "lock-search-by-project" %}" data-target="lock-list" 
            data-project_uuid="{{obj.project_uuid}}" title="{% trans "Close" %}"> <i class="fas fa-times"></i></button>
        {%endcomment%}
	    <button type="button" class="btn" data-bs-dismiss="modal" title="{% trans "Close" %}"><i class="fas fa-times"></i></button>
    </div>
    <h2 class="common-modal-head">{% trans 'Passcode list' %}</h2>
</div>  

<table class="table table-hover table-striped">
    <thead>
        <tr> 
            <th>{%trans 'Code'%}</th> 
            <th>{%trans 'Name'%}</th> 
            <th>{%trans 'Start Date'%}</th> 
            <th>{%trans 'End Date'%}</th> 
            <th>{%trans 'Guest'%}</th> 
            <th>{%trans 'Type'%}</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in obj.get_all_passcodes %}
            <tr id="tr-{{item.keyboardPwdId}}">
                <td class="search-code" data-id="{{item.keyboardPwdId}}"> {{item.keyboardPwd}} </td> 
                <td class="search-name" data-id="{{item.keyboardPwdId}}"> {{item.keyboardPwdName}} </td> 
                <td> {{item.startDate|lock_date_to_local:obj}} (Local) <br/>{{item.startDate|str_to_date}} (GMT) </td> 
                <td> {{item.endDate|lock_date_to_local:obj}} (Local) <br/>{{item.endDate|str_to_date}} (GMT) </td> 
                {%comment%}
                <td> {{item.startDate|str_to_date}} (Local) <br/>{{item.startDate|str_to_date}} (GMT) </td> 
                <td> {{item.endDate|str_to_date}} (Local) <br/>{{item.endDate|str_to_date}} (GMT) </td> 
                {%endcomment%}
                <td class="search-guest" data-id="{{item.keyboardPwdId}}"> {{obj|get_code_guest:item.keyboardPwd}} </td> 
                <td> {{item.keyboardPwdType|get_code_type:item.endDate}} </td> 
                <td class="text-end">
                    <a class="btn btn-outline-warning ark w-100" title="{%trans "Remove code"%}" data-url="{% url "lock-remove-code" %}"
                        data-obj_id="{{obj.id}}" data-code_id="{{item.keyboardPwdId}}"  data-code="{{item.keyboardPwd}}"
                        data-confirm="{%trans "Are you sure to remove this element?"%}" data-target="tr-{{item.keyboardPwdId}}">
                        {%trans "Remove code"%} </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

