{% load i18n padword_tags lock_tags static %}


<td><input type="checkbox" name="ch_{{item.id}}" /></td>
<td>{{ item.uuid }}</td>
<td>{% padword_translate item.alias %}</td>
<td>{{ item.project.name }}</td>
<td>{{ item.group.name }}</td>
<td>{{ item.room }}</td>
{#<td>{{ item.state_cache }}</td>#}
<td>{{ item.charge_cache }} %</td>
<td>{% get_gateway_icon item.gateway_cache %}</td>
<td>{% get_wifi_icon item.wifi_cache %} {#{{item.wifi_cache}}#}</td>
{%comment%}
<td>{{ item.state }}</td>
<td>{{ item.charge }} %</td>
<td>{% get_wifi_icon item.gateway %}</td>
<td>{% get_wifi_icon item.wifi %} {{item.wifi}}</td>
{%endcomment%}
<td class="text-end px-0">
    <a class="btn btn-xs ark" title="{%trans "Update parameters"%}" data-url="{% url "lock-update-params-by-project" %}" 
        data-target="row_{{item.id}}" data-obj_id="{{item.id}}"><i class="fas fa-sync"></i></a>  
    <a class="btn btn-xs ark" title="{%trans "Get all passcodes"%}" data-url="{% url "lock-get-all-passcodes-by-project" %}" 
        data-target-modal="common-modal" data-obj_id="{{item.id}}"><img src="{% static "/img/ico-passcodes.png" %}"/>
    </a>  
    <a class="btn btn-xs ark" title="{%trans "Get all cards"%}" data-url="{% url "lock-get-all-cards-by-project" %}" 
        data-target-modal="common-modal" data-obj_id="{{item.id}}"><i class="fas fa-credit-card"></i></a>  
    <a class="btn btn-xs ark" title="{%trans "Get all registers"%}" data-url="{% url "lock-get-all-records-by-project" %}" 
        data-target-modal="common-modal" data-obj_id="{{item.id}}"><i class="fas fa-bars"></i></a>  
</td>

<script> $("#main-table").trigger("update"); </script>
