{% load i18n padword_tags %}


<h2 class="common-modal-head">{% trans 'Accesos' %}</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr> 
            <th>{%trans 'Date'%}</th> 
            <th>{%trans 'Inside'%}</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in band.access.all %}
            <tr id="tr-{{item.card_id}}">
                <td> {{item.date}} </td>
                <td class="{% if item.inside %}text-success{% else %}text-danger{% endif %}"> 
                    {% if item.inside %} {% trans "Entrada" %} {% else %} {% trans "Salida" %} {% endif %} </td> 
                <td>
                    {%comment%}
                    <a class="me-1 btn btn-xs ark" title="{%trans "Remove from guest"%}" data-url="{% url "keycard-number-guest-remove" %}" 
                        data-target="keycard-result" data-value="{{item.value}}" data-card_id="{{item.card_id}}" data-lock="{{item.lock_id}}"
                        data-card="{{item.card_number}}">
                        <i class="fas fa-trash"></i></a>  
                    {%endcomment%}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script> $('#current-card').html("{{band_code}}"); </script>

