{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %} {% endblock second_menu %}

{% block central_content %}

    <div class="toolbar-search p-2">
        <form class="form" method="GET" action="{% url "wristbands-access-search" %}" id="form-search">
            {%csrf_token%}
            <div class="row m-0">
                <div class="col-4 p-1"> 
                    <div class="input-rounded-pill bg-white" style="display:flex; align-items: center;">
                        <div class="mx-2"> <i class="fas fa-search"></i></div>
                        <div><input type="text" class="form-control form-control-dark pill" name="band" id="band" 
                            placeholder="{% trans 'Click here and then place the card on the reader' %}"  
                            value="{{request.session.s_access_band}}"/></div>
                    </div>
                </div>
                <div class="col-1">Inicio</div>
                <div class="col-3"> <div class="w-50"><input type="date" class="form-control form-control-dark" name="ini_date" 
                    id="ini_date" value="{{request.session.s_access_ini_date}}"/></div> </div>
                <div class="col-1">Fin</div>
                <div class="col-3"> <div class="w-50"><input type="date" class="form-control form-control-dark" name="end_date" 
                    id="end_date" value="{{request.session.s_access_end_date}}"/></div> </div>
            </div>
            <div class="row"><div class="col-6 offset-3">
                <button class="btn btn-primary mt-2 saveform w-100" data-form="form-search" data-target="bands-result">
                    <i class="fas fa-plus"></i> {% trans "Search" %}</button> 
            </div></div>
        </form>

        {%comment%}
        <div class="row key-number">
            <div class="col-md-1 pt-1"><i class="fas fa-search"></i></div>
            <div class="row col-5 pt-2 pb-2">
                <div class="col-4 left-cardnumber text-left">{% trans "Band number" %}:</div>
                <div class="col-12">
                    <input type="text" class="form-control input-k w-100 ark_change" name="number" id="number"
                        placeholder="{% trans 'Click here and then place the card on the reader' %}" 
                        data-url="{% url "wristbands-access-search" %}" data-target="bands-result" onchange="setNumbers($(this))"/>
               </div>
            </div>
            <div class="col-12 offset-1 right-k p-2">
                <div class="">{% trans "Current band number" %}:</div>
                <div class="text-end"><strong><span id="current-card"></span></strong></div>
            </div>
        </div>
        {%endcomment%}
    </div>

    <div id="bands-result"> {% include "wristbands/access/wristbands-list.html" %} </div>

    {#<script> function setNumbers(obj){ setTimeout(()=>{obj.val('')}, 200); } </script>#}
{% endblock central_content %}
