{% load i18n padword_tags %}

{% csrf_token %}
<div class="d-flex p-2" id="div-test">
    <table class="table table-striped table-hover m-1" id="main-table">
        <thead>
            <tr class="small">
                <th> {% trans 'Room' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Check in' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Check out' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Name' %} <i class="fas fa-sort"></i> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody id="table-list-guests"> {% include "guest/guest-page.html" %} </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div id="div-see-more">
                        <a class="small d-flex justify-content-center btn ark-append-page" id="btn-see-more" 
                            data-url="{% url "guest-page" %}" data-target="table-list-guests" data-page="0">
                            <small>{% trans "See more" %}</small></a> 
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script> 
    $("#main-table").tablesorter();
    $('#total-items').html('{{total_items}}'); 

    {%comment%}
    var observer = new IntersectionObserver(function(entries) {
        if(entries[0].isIntersecting === true) { $("#btn-see-more").click();/*loadPage("btn-see-more");*/ }
    }, { threshold: [1] });
    observer.observe(document.querySelector("#btn-see-more"));
    {%endcomment%}
</script>
{% include "common-modal.html" %}
