{% load i18n padword_tags %}

{% csrf_token %}
<div class="row d-flex small fw-bold m-1 mt-3">
    <div class="col-1 d-flex justify-content-start lh-4"> {% trans 'Room' %} </div>
    <div class="col-1 d-flex justify-content-start"> {% trans 'PID' %} </div>
    <div class="col-2 d-flex justify-content-start"> {% trans 'Check in' %} </div>
    <div class="col-2 d-flex justify-content-start"> {% trans 'Check out' %} </div>
    <div class="col-3 d-flex justify-content-start"> {% trans 'Name' %} </div>
    <div class="col-3 d-flex justify-content-start"> {% trans 'Language' %} </div>
</div>
<div class="striped-nested table-hover">
    <div>
    {% include "guest/guest-page.html" %}
    </div>
</div>
