{% load i18n padword_tags %}

<div class="d-flex" id="div-test">
    <table class="table table-striped table-hover" id="main-table">
        <thead>
            <tr class="small">
                <th> {% trans 'Room' %} <i class="fas fa-sort"></i> </th>
                <th> Check in <i class="fas fa-sort"></i> </th>
                <th> Check out <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Name' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'External ID' %} <i class="fas fa-sort"></i> </th>
                <th> In house <i class="fas fa-sort"></i> </th>
                <th> {% trans 'T. Pensión' %} <i class="fas fa-sort"></i> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody id="table-list-guests"> {% include "guest/guest-page.html" %} </tbody>
    </table>
</div>
<script> 
    $("#main-table").tablesorter();
    $('#total-items').html('{{total_items}}'); 
</script>
{% include "common-modal.html" %}
