{% load i18n %}


<div class="row justify-center">
	<div class="col-4 mb-4">
        <label class="label">{% trans "Name" %}*:</label>
        <input type="text" class="form-control autosave input mb-1" id="name" name="name" value="{{obj.name}}" 
            title="{% trans "This field is required" %}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification" required/> <span class="msg_error" id="name__msg"></span>
	</div>

	<div class="col-4 mb-4">
	    <label class="label">{% trans "Surname" %}*:</label>
		<input type="text" class="form-control autosave input mb-1" id="surname" name="surname" value="{{obj.surname}}" 
            title="{% trans "This field is required" %}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification" required/> <span class="msg_error" id="surname__msg"></span>
	</div>

	<div class="col-4">
		<label class="label">{% trans "Language" %}*:</label>
        <select class="form-control input autosave b-bottom" id="language" name="language" value="{{obj.language}}" 
            data-model-name="guest.guest" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
            {% for lang in obj.project.get_languages %}
                <option value="{{lang}}" {%if obj.language|upper == lang %}selected{%endif%}>{{lang}}</option>
            {% endfor %}
        </select>

        {%comment%}
		<input type="text" class="form-control autosave input mb-4" id="language" name="language" value="{{obj.language}}" 
            title="{% trans "This field is required" %}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification" required/> <span class="msg_error" id="language__msg"></span>
        {%endcomment%}
	</div>

	<div class="col-6">
		<label class="label">{% trans "Mobile phone" %}*:</label>
		<input type="tel" class="form-control autosave input mb-4" id="mobile" name="mobile" value="{{obj.mobile|default:""}}" 
            title="{% trans "Please enter valid phone number"%}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" 
            data-url="{% url "autosave_field" %}" data-target="div-notification" data-check="email" minlength="9" maxlength="14" required/> 
            <span class="msg_error" id="mobile__msg"></span>
	</div>

	<div class="col-6">
		<label class="label">{% trans "Email" %}*:</label>
		<input type="text" class="form-control autosave input mb-4" id="email" name="email" value="{{obj.email|default:""}}" 
            title="{% trans "Please enter valid email"%}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" 
            data-url="{% url "autosave_field" %}" data-target="div-notification" data-check="mobile" 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/> <span class="msg_error" id="email__msg"></span>
	</div>

	<div class="col-3">
		<label class="label">{% trans "Check-in date" %}*:</label>
		<input type="date" class="form-control input mb-4 ark_change" id="check_in" name="check_in" value="{{obj.check_in|date:"Y-m-d"}}" 
            title="{% trans "This field is required" %}" data-target="" data-obj_id="{{obj.id}}" data-url="{% url "guest-save-date" %}" 
            data-target="div-notification" data-field="check_in" required/> <span class="msg_error" id="check_in__msg"></span>
	</div>

	<div class="col-3">
		<label class="label">{% trans "Check-in time" %}*:</label>
		<input type="time" class="form-control input mb-4 ark_focusout" id="check_in_time" name="check_in" value="{{obj.check_in|date:"H:i"}}" 
            title="{% trans "This field is required" %}" data-target="" data-obj_id="{{obj.id}}" data-url="{% url "guest-save-date" %}" 
            data-target="div-notification" data-field="check_in" required/> <span class="msg_error" id="check_in_time__msg"></span>
	</div>

	<div class="col-3">
		<label class="label">{% trans "Check-out date" %}*:</label>
		<input type="date" class="form-control input mb-4 ark_change" id="check_out" name="check_out" value="{{obj.check_out|date:"Y-m-d"}}" 
            title="{% trans "This field is required" %}" data-target="" data-obj_id="{{obj.id}}" data-url="{% url "guest-save-date" %}" 
            data-target="div-notification" data-field="check_out" required/> <span class="msg_error" id="check_out__msg"></span>
	</div>

	<div class="col-3">
		<label class="label">{% trans "Check-out time" %}*:</label>
		<input type="time" class="form-control input mb-4 ark_focusout" id="check_out_time" name="check_out" value="{{obj.check_out|date:"H:i"}}" 
            title="{% trans "This field is required" %}" data-target="" data-obj_id="{{obj.id}}" data-url="{% url "guest-save-date" %}" 
            data-target="div-notification" data-field="check_out" required/> <span class="msg_error" id="check_out_time__msg"></span>
	</div>

	<div class="col-4">
		<label class="label">{% trans "Room" %}*:</label>
        <input class="form-control input autocomplete" id="s-room" name="s-room" placeholder="Type room number..." value="{{obj.room}}"
            data-url="{% url "guest-room-autocomplete" %}" data-target="guest-room-list" data-obj_id="{{obj.id}}" data-show="guest-room-list"/>
        <div id="guest-room-list"></div>
	</div>
</div>


