{% load i18n %}

<div class="row justify-center p-0" style="border:2px solid blue !important">
	<div class="col-lg-3 col-12">
		<label class="label">{% trans "Born date" %}:</label>
		<input type="date" class="form-control autosave input mb-4" id="birthdate" name="birthdate" value="{{obj.birthdate|date:"Y-m-d"}}" 
            title="{{obj.birthdate}}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span class="msg_error" id="birthdate__msg"></span>
	</div>

	<div class="col-lg-2 col-12">
		<label class="label">{% trans "Married" %}:</label>
        <select class="form-control autosave input mb-4" id="married" name="married" data-model-name="guest.guest" data-obj-id="{{obj.id}}"
            data-url="{% url "autosave_field" %}" data-target="div-notification">
            <option value="0" {%if obj.married == 0%}selected{%endif%}>{% trans "NO" %}</option>
            <option value="1" {%if obj.married == 1%}selected{%endif%}>{% trans "YES" %}</option>
        </select><span class="msg_error" id="married__msg"></span>
	</div>

	<div class="col-lg-2 col-12">
		<label class="label">{% trans "Adults" %}:</label>
		<input type="number" class="form-control autosave input mb-4" id="adults" name="adults" value="{{obj.adults}}" 
            title="{{obj.adults}}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span class="msg_error" id="adults__msg"></span>
	</div>

	<div class="col-lg-2 col-12">
		<label class="label">{% trans "Children" %}:</label>
        <select class="form-control autosave input mb-4" id="with_kids" name="with_kids" data-model-name="guest.guest" data-obj-id="{{obj.id}}"
            data-url="{% url "autosave_field" %}" data-target="div-notification">
            <option value="0" {%if obj.with_kids == 0%}selected{%endif%}>{% trans "NO" %}</option>
            <option value="1" {%if obj.with_kids == 1%}selected{%endif%}>{% trans "YES" %}</option>
        </select><span class="msg_error" id="with_kids__msg"></span>
	</div>

	<div class="col-lg-2 col-12">
		<label class="label">{% trans "Children" %}:</label>
		<input type="number" class="form-control autosave input" id="children" name="children" value="{{obj.children}}" 
            title="{{obj.children}}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span class="msg_error" id="children__msg"></span>
	</div>

	<div class="col-lg-1 col-12">
		<label class="label">{% trans "Babies" %}:</label>
		<input type="number" class="form-control autosave input" id="babies" name="babies" value="{{obj.babies}}" 
            title="{{obj.babies}}" data-model-name="guest.guest" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span class="msg_error" id="babies__msg"></span>
	</div>
</div>


