{% load i18n %}


<div class="row justify-center p-0" tyle="border:2px solid blue !important">
	<div class="col-10">
		<label class="label">{% trans "Car Number" %}:</label>
		<input type="text" class="form-control autosave input mb-4" id="number" name="number" value="" 
            data-model-name="guest.guestcar" data-obj-id="{{car.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span class="msg_error" id="number__msg"></span>
	</div>
	<div class="col-10">
        <button class="btn ark" data-url="{% url "guest-cars" %}" data-target="div-car" data-obj_id="{{car.guest.id}}">
            <i class="fas fa-plus"></i></button>
	</div>
</div>


