{% load i18n padword_tags %}


<td> {{ item.room|default_if_none:'000' }} ({{item.room_obj.alias}}) </td>
<td> <span class="badge rounded-pill bg-success"> {{ item.check_in|date:'Y-m-d'}}</span> </td>
<td> <span class="badge rounded-pill bg-danger">{{ item.check_out|date:'Y-m-d'}}</span> </td>
<td>{{item.name}} {{item.surname}} 
    {%if request.user|in_group:'admins' or request.user.is_staff%}<br><small>{{item.project.name}}</small>{%endif%}</td>
<td>{{ item.ext_id }}</td>
<td class="text-end">
    {{item.language}} &nbsp;
    <a class="btn ark" href="#" data-url="{% url "show-chat" %}" data-target="div-chat" data-guest="{{item.id}}" data-guest_msg="False"
        title="{% trans "Chat" %}"> <i class="fas fa-comments"></i></a>
    {#<a class="btn" href="#" onclick='alert("{{item.uuid}}"); return False'><i class="fas fa-fingerprint"></i></a>#}

    {%comment%}
    {% if project_uuid and project_uuid != "" %}
        <a class="btn btn-xs ark" data-url="{% url "guest-form-by-project" %}" data-target-modal="common-modal" title="{% trans "Edit" %}"
            data-project_uuid="{{project_uuid}}" data-obj_id="{{item.id}}"> <i class="fas fa-edit"></i></a>  
    {% else %}
        <a class="btn btn-xs ark" data-url="{% url "guest-form" %}" data-target-modal="common-modal" data-obj_id="{{item.id}}" 
            title="{% trans "Edit" %}"> <i class="fas fa-edit"></i></a>  
    {%endcomment%}
        {%comment%}
        <a class="btn btn-xs ark" data-url="{% url "guest-form-simple" %}" data-target-modal="common-modal" data-obj_id="{{item.id}}"> 
            <i class="fa fa-key"></i></a>  
        {%endcomment%}
    {#{% endif %}#}

    {%comment%}
    <a class="btn btn-xs ark" data-url="{% url "guest-details" %}" data-target="content-section" data-obj_id="{{item.id}}" 
        title="{% trans "Details" %}"> <i class="fas fa-user"></i></a>  
    {%endcomment%}

    <a class="btn btn-xs" href="{% url "guest-details" item.id %}" title="{% trans "Details" %}"> <i class="fas fa-user"></i></a>  

    {%comment%}
    <a class="btn btn-xs ark" data-url="{% url "guest-bands-balance" %}" data-target-modal="common-modal" data-obj_id="{{item.id}}" 
        title="{% trans "Bands" %}"> <i class="fas fa-circle-notch"></i></a>  
    {%endcomment%}

    <a class="btn btn-sm ark" data-url="{% url "guest-soft-remove" %}" data-target="guest-list" data-obj_id="{{item.id}}" 
        {%if project_uuid%}data-project_uuid="{{project_uuid}}"{%endif%} data-confirm="{% trans "Are you sure to remove this element?" %}"
        title="{% trans "Soft remove" %}"> <i class="fas fa-trash-alt"></i></a>

    <a class="btn btn-sm ark" data-url="{% url "guest-remove" %}" data-target="guest-list" data-obj_id="{{item.id}}" 
        {%if project_uuid%}data-project_uuid="{{project_uuid}}"{%endif%} data-confirm="{% trans "Are you sure to remove this element?" %}"
        title="{% trans "Remove" %}"> <i class="fas fa-trash"></i></a>

    <a class="btn btn-sm ark" title="{%trans "Share code"%}" data-url="{% url "lock-share-code-guest" %}" data-obj_id="{{item.id}}" 
        data-target-modal="share-modal"><i class="fas fa-share-alt"></i></a>
</td>
