{% load i18n padword_tags %}

<td class="row p-1">
    <div class="col-md-3 col-3">
        <span style="font-size:0.6em">#{% idx_page forloop.counter page 20 %}</span> 
        {% padword_translate item.form.get_category.parent.name %} <i class="fas fa-angle-double-right"></i>
        {% padword_translate item.form.get_category.name %}
        {# <br><span style="font-size:0.6em">&nbsp;&nbsp;&nbsp;&nbsp;</span>{{item.form.form_type}}{% if item.form.form_type.code == 'ecom' %} ({{item.get_items|length}} art.) {%endif%} #}
    </div>
    <div class="col-md-3 col-3">{{item.guest.name}} {{item.guest.surname}}<br/>{{item.guest.mobile}}<br/>{{item.guest.email}}</div>
    <div class="col-md-1 col-3">{{ item.guest.room}}</div>
    {#<div class="col-2 d-none d-md-block">{{item.device.uuid}}</div>#}
    <div class="col-md-2 col-3">{{ item.date | date:'d/m/Y H:i:s'}}</div>
    <div class="col-md-1 col-3" id="status-{{item.pk}}">{% padword_translate item.get_status.status.name %} </div>
    <div class="col-12 col-md-2 d-flex pt-3 pt-md-1 justify-content-md-end justify-content-center" >
        {% if request.user|in_group:'admins' %}
            <a class="me-1 btn btn-xs" title="{%trans "Booking ID"%}" onclick="alert('{{item.code}}');"><i class="fas fa-fingerprint"></i></a> 
        {% endif %}
        {%comment%}
        <a class="me-1 btn btn-xs ark" title="{%trans "Change status"%}" data-url="{%url "status-form" %}" data-target-modal="common-modal" 
            data-obj_id="{{item.id}}"><i class="fas fa-cog"></i></a> 
        {%endcomment%}
        <a class="me-1 btn btn-xs ark" title="{%trans "Log"%}" data-url="{%url "booking-log" item.id%}" data-target-modal="common-modal" 
            data-obj_id="{{item.id}}"><i class="fas fa-list"></i></a>                     
        <a class="me-1 btn btn-xs ark" title="{%trans "View"%}" data-url="{% url "booking-view" %}" data-target-modal="common-modal" 
            data-obj_id="{{item.id}}"> <i class="fas fa-eye"></i></a> 
        {% if request.user|in_group:'admins' %}
            <a class="btn btn-sm autoremove" data-model-name="bookings.forminstance" data-obj-id="{{item.id}}" 
                data-url="{% url "autoremove_obj" %}" data-target="row_{{item.id}}" title="{%trans "Remove"%}" 
                data-confirm="{% trans "Are you sure to remove this element?" %}"> <i class="fas fa-trash"></i></a>
        {% endif %}
    </div>
</td>
