{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %}{% endblock second_menu %}

{% block central_content %}
    {% include "bookings/manage/search_box.html" %}

    <div class="content mt-4">
        <div class="toolbar-content">
            <h2 class="b-right">{% trans 'Bookings' %} (<span id="total-items">{{total_items}}</span>)</h2>
        </div>
        <div id="booking-list">
            {% include "bookings/manage/booking-list.html" %}
        </div>
    </div>

    {% if request.project_id %} <script> $('#sidebar').removeClass('expanded').removeClass('d-sm-block'); </script> {% endif %}
{% endblock central_content %}
