{% load i18n padword_tags %}

{% for item in items %}
<div class="row" id="row_{{item.id}}">
    <div class="col-12 ms-3 p-2">
        <span class="p-2">
        {% if not item.price %}
        <a id="btn-show-{{item.pk}}" class="ark" data-url="{% url 'items-by-category' item.uuid %}" data-target="items-list-{{item.pk}}"><i class="text-success fas fa-folder"></i></a>
        <a id="btn-hide-{{item.pk}}" class="d-none" onclick="hideTree({{item.pk}});"><i class="text-danger fas fa-folder-open"></i></a>
        {% endif %}
        </span>
        <span class=""> {% padword_translate item.name %} </span>
    </div>
    <div id="items-list-{{item.pk}}" class="col-12 ps-5"></div>
</div>
{% endfor %}

<script>
    $('#items-counter').html('{{items|length}}');
    function hideTree(id) {
        $('#btn-hide-'+id).addClass('d-none');
        $('#btn-show-'+id).removeClass('d-none');
        $('#items-list-'+id).empty();
    }
</script>

