{% load i18n padword_tags %}

<div class="col-12 btn-tools">
    <a class="btn btn-info" href="#">{% trans 'Add category' %}</a>
    <a class="btn btn-info" href="#">{% trans 'Add item' %}</a>
    <a class="btn btn-info" href="#">{% trans 'Modify this category' %}</a>
    <a class="btn btn-info" href="#">{% trans 'Remove this category' %}</a>
</div>

{% for item in items %}
<div class="row category p-2" id="row_{{item.id}}">
    <div class="col-12 ms-3 p-2 categories-list">
        <span class="p-2">
        {% if not item.price %}
        <a id="btn-show-{{item.pk}}" class="ark" data-url="{% url 'items-by-category' item.uuid %}" data-target="items-list-{{item.pk}}"><i class="text-grey fas fa-folder"></i></a>
        <a id="btn-hide-{{item.pk}}" class="d-none" onclick="hideTree({{item.pk}});"><i class="text-blue fas fa-folder-open"></i></a>
        {% endif %}
        </span>
        <span id="title-cat-{{item.pk}}" class="close"> {% padword_translate item.name %} </span>
    </div>
    <div id="items-list-{{item.pk}}" class="col-12 ps-5 items-list"></div>
</div>
{% endfor %}

