{% load i18n common_tag %}

{% if not obj.image %}
    <label for="id_image_{{obj.id}}" class="btn btn-primary file-field-btn text-white">
        <i class="fas fa-upload"></i> <span class="text">{% trans "Upload File" %}</span> </label>
    <input type="file" class="upload d-none custom-file-upload" name="image" id="id_image_{{obj.id}}" 
        data-url="{% url 'category-add-image' %}" data-target="div-image" data-obj-id="{{obj.id}}" 
        data-field="image" data-csrf-token="{{csrf_token}}" multiple style="display:none;"/><br /><br />
{% else %}
    <div class="col-lg-10 col-xs-10"><span><img src="{{obj.image.url}}" alt="image" width="200px"/></span></div>
    <br/>
    <div class="col-lg-2 col-xs-2 actions file-remove text-right">
        <a class="ark pointer" id="btn-image-{{obj.pk}}" title="Borrar fichero" data-confirm="{% trans "Are you sure to remove this file?" %}" 
            data-url="{% url "category-remove-image" %}" data-target="div-image" data-obj_id="{{obj.id}}" data-field="image">
            <i class="fas fa-trash"></i></a>
    </div>
{% endif %}

