{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %} {% endblock second_menu %}

{% block central_content %}
    <div class="row">
        <div class="col-4" style="height:95vh; overflow:scroll">
            <div class="toolbar-search">
                <input type="hidden" name="project_id" id="project_id" value="{{project.uuid}}" />
                <input type="text" class="autosearch form-control form-control-dark w-100" name="s-name" id="s-name" 
                    placeholder="{% trans 'Name' %}" data-url="{% url "category-search" %}" 
                    data-target="items-list-" data-related="s-name,project_id" />
            </div>

            <div class="content mt-4">
                {% include "common-modal.html" %}
                {% comment %}
                <div class="toolbar-content">
                    <h2 class="b-right">{{project.name}} <span class="sub-h2 d-flex d-none d-md-inline"> {% trans 'Categories' %} {% if project %}{% trans "of the project" %} (<span id="items-counter">{{items|length}}</span>) {% endif %} </span> </h2>
                    {% include "common-modal.html" %}
                </div>
                {% endcomment %}
                <div class="toolbar-content">
                    <h2 class="pathway"> 
                        {% if company %}<a href="{% url "companies" %}">{{company.name}}</a> <i class="fas fa-angle-double-right"></i>{% endif %}
                        {% if project %}<a href="{% url "projects-by-uuid" project.uuid %}">{{project.name}}</a> <i class="fas fa-angle-double-right"></i>{% endif %} 
                        {% trans 'Categories' %} <span id="items-counter" class="badge badge-secondary" style="color:#999">({{items|length}})</span>
                    </h2>
                    <a class="btn btn-primary ark" data-url="{% url "category-form" %}" data-target-modal="common-modal" data-project-id="{{project.uuid}}" href="#" title="{% trans 'Add category' %}"><i class="text-white fas fa-folder-plus"></i>&nbsp; {% trans 'New category' %}</a>

                    {#{% include "common-modal.html" %}#}
                </div>
                <div id="items-list-" class="mt-3">{% include "contents/categories-list.html" %}</div>
            </div>
        </div>
        <div class="col-8"><div id="div-preview"></div></div>
    </div>

    <script>
        $('#items-counter').html('{{items|length}}');
        function hideTree(id) {
            $('#btn-hide-'+id).addClass('d-none');
            $('#btn-show-'+id).removeClass('d-none');
            $('#items-list-'+id).empty();
            $('#title-cat-'+id).removeClass('open').addClass('close');
        }
    </script>
{% endblock central_content %}
