{% load padword_tags i18n %}
{% csrf_token %}
{% include "contents/categories-list.html" with items=cat.get_childrens noheader=True%}
{% for item in cat.get_items %}
<div class="row ark item-row {% if not item.active %}text-muted{%endif%}" title="{% trans 'Edit item' %}" data-target-modal="common-modal" data-url="{% url "item-form" %}" data-target="row-item-{{cat.pk}}" data-obj-id="{{item.uuid}}" data-cat-id="{{cat.uuid}}" id="row-btn-{{item.pk}}">
    <div class="col-9 ms-3 p-2">
        <span class="p-2"><i class="fas fa-box"></i>&nbsp;{% padword_translate item.name %}</span>
    </div>
    <div class="col-2 text-right"> {{ item.price }} &euro;</div>
</div>
{% endfor %}
<script>
    {% if old_parent.pk != cat.parent.pk and move %}
$('row-{{cat.pk}}').remove();
{% if old_parent %}
{% ark 'items-by-category' 'items-list-'|addstr:old_parent.pk category_id=old_parent.uuid  %}   
{% endif %}
{% if cat.parent %}
{% ark 'items-by-category' 'items-list-'|addstr:cat.parent.pk category_id=cat.parent.uuid  %}
{% endif %}
{% ark 'items-by-category' 'items-list-'|addstr:cat.pk category_id=cat.uuid  %}
{% else %}
$('#btn-show-{{cat.pk}}').addClass('d-none');
$('#btn-hide-{{cat.pk}}').removeClass('d-none');
$('#title-cat-{{cat.pk}}').removeClass('close').addClass('open');
$('#title-cat-{{cat.pk}}').html('{% padword_translate cat.name %}');
{% endif %}
</script>
