{% load i18n padword_tags static %}


<div class="d-flex justify-center">
    <div class="col-2"> <h2>{% trans 'Item' %}&nbsp;<span class="small text-info" id="div-notification"></span></h2></div>
    <div class="col"></div>
    <div class="col d-flex justify-content-end">
        {% for lang in cat.project.get_languages %}
        <a class="btn btn-{% is_current_lang lang 'primary' 'secondary'%} ark ms-2 me-2" data-url="{% url "item-form" %}" data-target-modal="common-modal" data-lang="{{lang}}" data-obj-id="{{obj.uuid}}" data-cat-id="{{cat.uuid}}" href="#" title="{% trans 'Modify this item' %}">{{lang}}</a>
        {%endfor%}
    </div>
</div>

<div class="row justify-center">
    <div class="col-3"> {% trans "Image" %}: <div id="div-image">{% include "contents/item-img.html" %}</div> </div>

    <div class="col-9">
        <div class="row justify-center">
            <div class="col-sm-6 col-md-6 col-12">
                {% trans "Name" %} 
                <input type="text" class="form-control autosave b-bottom mb-4" id="name" name="name" value="{% padword_translate obj.name %}" 
                    title="{% padword_translate obj.name %}" data-lang="{% current_lang %}" data-model-name="contents.item" data-obj-id="{{obj.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="name__msg"></span>
            </div>
            <div class="col-sm-3 col-md-3 col-12">
                {% trans "Price" %}:
                <input type="number" step="0.01" class="form-control autosave b-bottom mb-4" id="price" name="price" value="{{obj.price}}" 
                    title="{% trans 'Price' %}" data-model-name="contents.item" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
                    data-target="div-notification"/> <span id="price__msg"></span>	
            </div>
            <div class="col-sm-3 col-md-3 col-12">
                {% trans "Active" %}:
                <select class="form-control autosave b-bottom mb-4" id="is_active" name="is_active" value="{{obj.is_active}}" 
                    title="{{obj.ais_ctive}}" data-model-name="contents.item" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
                    data-target="div-notification"/>
                    <option value="1" {%if obj.is_active == 1%}selected{%endif%}>{% trans "Yes" %}</option>
                    <option value="0" {%if obj.is_active == 0%}selected{%endif%}>{% trans "No" %}</option>
                </select>
                <span id="active__msg"></span>
            </div>
            <div class="col-12">
                {% trans "Description" %} 
                (<a id="show-html" class="small toggle-editor" data-source="description" data-editor="desc-editor-item">html</a>):
                <textarea class="form-control autosavepost b-bottom mb-4" id="description" name="description"  data-lang="{% current_lang %}" 
                    data-model-name="contents.item" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field_post"%}" data-target="div-notification" 
                    style="display:none"></textarea> <span id="description__msg"></span>
                <div id="desc-editor-item" style="height:200px; overflow:scroll;"> {% padword_translate obj.description %}</div>
            </div>
        </div>		

        <a data-bs-toggle="collapse" href="#collapsePrices" role="button" aria-expanded="false" aria-controls="collapsePrices"> 
            {% trans "Prices" %} </a>
        <div class="collapse" id="collapsePrices"> <div id="div-prices-{{obj.id}}">{% show_prices obj %}</div> </div>
        <br/>
        <a data-bs-toggle="collapse" href="#collapseAllergen" role="button" aria-expanded="false" aria-controls="collapseAllergen"> 
            {% trans "Allergens" %} </a>
        <div class="collapse" id="collapseAllergen"> <div id="div-allergens-{{obj.id}}">{% show_allergen obj %}</div> </div>
        <br/>
        <a data-bs-toggle="collapse" href="#collapseExtra" role="button" aria-expanded="false" aria-controls="collapseExtra">{% trans "Extras" %}</a>
        <div class="collapse" id="collapseExtra"> <div id="div-extras-{{obj.id}}">{% show_extras obj %}</div> </div>
        <br/>
        <a data-bs-toggle="collapse" href="#collapsePromo" role="button" aria-expanded="false" aria-controls="collapseExtra">{% trans "Promos" %}</a>
        <div class="collapse" id="collapsePromo"> <div id="div-promos-{{obj.id}}">{% show_promos obj %}</div> </div>
        <br/>
        <a data-bs-toggle="collapse" href="#collapseImages" role="button" aria-expanded="false" aria-controls="collapseImages">{%trans "Images"%}</a>
        <div class="collapse" id="collapseImages"> <div id="div-images-{{obj.id}}">
            <div id="div-gallery">{% include "contents/item-gallery.html" with obj=obj%}</div>
        </div>
    </div>
</div>		

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-sm ark save" data-bs-dismiss="modal" data-url="{% url "items-by-category" cat.uuid %}" 
        data-target="items-list-{{cat.pk}}" >{% trans "Save" %}</button>
    {% if request.user|can_remove_cat %}
        <button type="button" class="btn btn-sm ark cancel" data-bs-dismiss="modal" data-url="{% url "item-remove" %}" data-obj-id="{{obj.uuid}}" 
            data-cat-id= "{{cat.uuid}}" data-target="items-list-{{cat.pk}}" data-confirm="{% trans "Are you sure to remove this element?" %}">
            {% trans "Remove" %}</button>
    {% endif %}
</div>

<script> function refresh_image() {$('#row-btn-{{obj.pk}}').click();}</script>
<script> 
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [ 'link', 'image', 'video', 'formula' ],          // add's image support
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#desc-editor-item', {
        modules: { toolbar: toolbarOptions },
        theme: 'snow'
    });

    //var quill = new Quill('#desc-editor', { theme: 'snow' }); 
    quill.on('text-change', function(delta, oldDelta, source) {
        $("#description").html(quill.root.innerHTML);
        $("#description").change();
    });
</script>

