{% load padword_tags %}
{% if cat.get_childrens|length > 0 %}
{% include "contents/categories-list.html" with items=cat.get_childrens noheader=True%}
{% endif %}
<table class="table">
    {% for item in cat.get_items %}
    <tr>
        <td><i class="fas fa-box"></i>&nbsp;{% padword_translate item.name %}</td>
        <td align="right">{{item.price}}</td>
    </tr>
    {% endfor %}
</table>
<script>
    $('#btn-show-{{cat.pk}}').addClass('d-none');
    $('#btn-hide-{{cat.pk}}').removeClass('d-none');
</script>
