{% load i18n contents_tags %}

<style>
    .alerg-icon { border:1px solid #dfdfdf; border-radius: 5px; display:inline-block; width:auto; }
    .alerg-icon img { width:50px;}
</style>

{% for item in item_list %}
    <div class="alerg-icon">
        {% if obj|have_payment_type:item and item.icon %}
            <img src="{{item.icon.url}}" alt="{{item.name}}" title="{{item.name}}" class="ark" data-url="{% url 'category-save-payment-type' %}" 
                data-target="div-payment-types-{{obj.id}}" data-obj_id="{{obj.id}}" data-payment_type_id="{{item.id}}" data-add="False"/>
        {% elif item.icon_off %}
            <img src="{{item.icon_off.url}}" alt="{{item.name}}" title="{{item.name}}" class="ark" data-url="{% url 'category-save-payment-type' %}" 
                data-target="div-payment-types-{{obj.id}}" data-obj_id="{{obj.id}}" data-payment_type_id="{{item.id}}" data-add="True"/>
        {% endif %}
    </div>
{% endfor %}

