{% load i18n contents_tags %}


{% for item in obj.project.regimes.all %}
    <div class="row">
        <div class="col-4"> {{item.regime.name}} ({{item.regime.code}}) </div>
        <div class="col-8">
            <input type="text" class="form-control b-bottom mb-4 ark_change" id="price" name="price" value="{{obj|get_item_price:item.regime.code}}" 
                data-url="{% url "item-change-price" %}" data-target="div-notification" data-obj_id="{{obj.id}}" 
                data-regime_code="{{item.regime.code}}"/> <span id="price__msg"></span>
        </div>
    </div>
{% endfor %}

