{% load i18n padword_tags rooms_tags %}

<div class="content">
    {% for group_name, rooms in item_list.items %}
        <div class="div-rooms-content">
            <div class="locks-head">{{ group_name }} ({{rooms.1}} {%trans "hab"%})</div>
            <div class="locks-group d-flex flex-wrap pl-2">
                {% for item in rooms.0 %}
                    {#{% include "web/rooms-by-project/room-card.html" %}#}
                    <span id="card-{{item.id}}"></span>
                    <script> ajaxGet("{%url "rooms2-get-card"%}", {"obj_id": "{{item.id}}"}, "card-{{item.id}}", ""); </script>
                {% endfor %}
                <span id="total-cards-{{group_name}}" class="d-flex flex-wrap pl-2"></span>
           </div>
        </div>
        {% if rooms.1 > 6 %}
            <button class="btn btn-border-info ark" data-url="{% url "rooms2-get-all-cards" %}" 
                data-target="total-cards-{{group_name}}" data-project_uuid="{{project.uuid}}" data-group="{{group_name}}" 
                onclick="$(this).hide();"> {% trans "Ver mas" %}</button>
        {% endif %}

    {% endfor %}
</div>


