{% load i18n padword_tags rooms_tags %}

<div class="content">
    {% for group_name, rooms in item_list.items %}
        <div class="div-rooms-content">
            <div class="locks-head">{{ group_name }} </div>
            <div class="locks-group d-flex flex-wrap pl-2">
                {% for item in rooms %}
                    {#{% include "web/rooms-by-project/room-card.html" %}#}
                    <span id="card-{{item.id}}"></span>
                    <script> ajaxGet("{%url "rooms2-get-card"%}", {"obj_id": "{{item.id}}"}, "card-{{item.id}}", ""); </script>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>


