{% load static  chat_tags %}
{% if room %}
<div class="container-fluid" id="chat_room_screen">
    <div class="row" style="">
		<div class="col-8">
			<h4> {% if room.private %} {{ room|private_room_contact:request.user }} {% else %}{{ room.name}} {% endif %}<small class="text-muted">( #{{ room.code }} ) </small> 
			-<small class="d-none d-md-inline"> {{ room.description }} </small></h4>
			{% for usr in room.subscribers.all %}<span class="badge badge-info">{{ usr.username }}</span> {% endfor %} 
		</div>
		<div class="col-4 text-right">
            {% if not room.private and request.user == room.owner %}
			<a class="btn btn-link text-muted ga-ajax-load" href="{% url "room_subscribers_form" room.code %}" data-ga-target="modal" data-ga-modal-id="room_subscribers_modal" title="Añadir o eliminar participantes"
				data-ga-modal-title="Seleccione a los participantes que desea añadir o eliminar" >
				<i class="fas fa-user-plus"></i>
			</a>
			<a class="btn btn-link text-muted ga-ajax-load-confirm" href="{% url 'deactivate_room' room.code %}" data-target="#main-container" data-ga-confirm-message="¿Seguro que desea archivar la sala?" title="Archivar la sala"
				data-ga-modal-title="Seleccione a los participantes que desea añadir o eliminar" >
				<i class="fas fa-archive"></i>
			</a>
            {% endif %}
			
		</div>
		<div class="col-12"><hr/></div>
	</div>
	{% comment %}
    <form class="" action="" method="post" id="page_load_form" >{% csrf_token %}
        <input type="hidden" value="{{ top_message.pk|default:"" }}" name="top_message" id="id_top_message"/>
    </form>
    <div class="row">
        <div class="col-12 text-center " style="display:none" id="loading_box_top">
             <div class="alert alert-info text-center"><i class="fas fa-spin fa-spinner"></i> Cargando mensajes....</div>
        </div>
    </div>
    	{% endcomment %}
    <div class="row" style="">
		<div class="col-12" id="messages_container" 
			data-first_message="{% if messages_first.pk == first_room_message.pk %}-1{% else %}{{ messages_first.pk|default:"-1"}}{% endif %}" 
			data-last_message="{% if messages_last.pk == last_room_message.pk %}-1{% else %}{{ messages_last.pk|default:"-1" }}{% endif %}">
    	</div>
	</div>
	 {% comment %}
	  <div class="row">
        <div class="col-12 text-center " style="display:none" id="loading_box_bottom">
             <div class="alert alert-info text-center"><i class="fas fa-spin fa-spinner"></i> Cargando mensajes....</div>
        </div>
    </div>
	{% endcomment %}
	<div class="row" id="message_form_container" >
		<div class="col-12 bg-light text-center upload-area " id="uploadfile">
		</div>

        <div class="col-12" id="message_editor_container">
			<form class="form form-inline col-xs-12" id="message-send-form" action="{% url "form_save" 'chat' 'MessageRoomForm' %}" method="POST">
				{% csrf_token %}


			   {# Definir un formulario inline                 app|  FormClass name|  fields  Estos campos se utilizan para guardar el formulario automaticamente #}
			   <input type="hidden" name="inline-forms" value="chat|MessageImageForm|image"/>
			   <input type="hidden" name="MessageImageForm-forms-num" id="MessageImageForm-forms-num-id" value="1"/>
			   <input type="hidden" name="MessageImageForm-parent-fk" value="message"/>

			   <input type="hidden" name="next" value="{% url "message_receiver" %}"/>
			   <input type="hidden" name="user" value="{{ request.user.pk }}"/>
			   <input type="hidden" name="room" value="{{ room.pk }}"/>
			   <input type="hidden" name="readed_by" value="{{ request.user.pk }}"/>
			   <input type="hidden" name="response_to" value="" id="id_response_to"/>
			   <div class="d-none"><input type="file" name="MessageImageForm-image-1" class="form-control input-large d-none" id="id_image"/></div>

			   {#<input type="hidden" name="content" id="id_hidden_content" />#}
			  <div id="preview-container-box">
				  	<div id="preview-container"></div>
					<div id="preview-container-close"> <a class="btn btn-link text-muted"i id="preview-close-btn"><i class="fas fa-times"></i></a></div>
			  </div>
			 
			  <div id="input-container">
				  <div id="chat-message-input-container">
			   			<textarea id="chat-message-input" name="content" class=""></textarea>
			   	  </div>
				  <div id="chat-message-submit">
					  <button id="chat-message-submit-btn" type="submit" class="btn btn-primary text-white" value="">
						  <i class="fas fa-paper-plane"></i></button>
				  </div>
			  </div>
			   {% comment %}
			   <div class="col-12" style="margin-left:-1em; padding-top:5px;">
					<a class="" title="Añadir Imagen"><i class="fas fa-image"></i></a>
			   </div>
			   {% endcomment %}
				
			   <div class="col-12">
				   {#<a class="btn btn-light" id="link-button"><i data-feather="link" ></i></a>#}
					<a class="btn btn-light" id="image-button"><i data-feather="image" ></i></a>
					{#<a class="btn btn-light" id="file-button"><i data-feather="file"></i></a>#}
				
				</div>
			</form>
        </div>
        
	  </div>
</div>

<script id="chatroom_logic">
	{# FIXME Esto debe ir en un archivo "APP.js" y aqui simplemente llamar a initialize #}
	{#Settin global variable user #}
    USER.set_room("{{room.code}}");
	{#var user_msg = (content, date, user, room, pk, response_to_template="" )=> `{% include "chat/js_templates/user_message.html" %}`;#}
	var external_msg = (content, date, user, room, pk, response_to_template="" )=>`{% include "chat/js_templates/external_message.html" %}`;
	var user_msg = (content, date, user, room, pk, response_to_template="" )=> `{% include "chat/js_templates/external_message.html" %}`;
	{#var last_readed_marker_template = () =>`{% include "chat/last_readed_message_marker.html" %}`#}
	var image_template = (url) => `{% include "chat/js_templates/image_template.html"%}`;
	var response_template =(username, msg)=>`{% include "chat/js_templates/response_template.html" %}`;

   	 
	var sender = new MessageSender("message-send-form", "chat-message-input", "messages_container",
		function(content_text, msg_id, response_tmp="") { return user_msg(content_text, `<i class='fas fa-clock' id="id_time_${msg_id}"></i>`, "{{ request.user.username }}", "{{ room.code }}", msg_id, response_tmp ) }, image_template);

	sender.response_template = response_template;
	
	var receiver = new MessageReceiver(USER, "messages_container", "{% url "reading_confirmation"  room.code  %}", "{% url "get_page" room.code %}", 
		(message, response_to="")=>{ return user_msg(message.content, message.date, message.user, message.room, message.pk, response_to)}, //user_tamplate
		(message, response_to="")=>{ return external_msg(message.content, message.date, message.user, message.room, message.pk, response_to)}, url=>image_template(url)); //external user template

	receiver.response_template = response_template;

    SUBSCRIBER.message_handler = (self, data)=>	{receiver.insert_messages(data)};
	
	{# FIXME : El callback debe llamar a algun metodo de "sender" que desencadene el submit y no hacer click sobre el boton #}
	var imagedrop = new DragAndDropFile("uploadfile", "id_image", "chat_room_screen", "image-button", "upload", "Arrastre una imagen aquí", (e)=>{ document.getElementById("chat-message-submit-btn").click() });
	window.onfocus = ()=> {receiver.has_focus=true; receiver.remove_marker_timeout();}
	window.onblur = ()=> { receiver.has_focus= false;}
	
	{# FIXME ESTO VA EN UNA CLASE A PARTE #}
	document.getElementById("preview-close-btn").addEventListener("click", (e)=>{
		document.getElementById("id_response_to").value ="";
		document.getElementById("id_image").value="";
		document.getElementById("preview-container-box").style.display="none";
	    document.getElementById("preview-container").innerHTML="";
	});
</script>

<script id="chatroom_initial_data">
	{% if messages %}
		var received_messages = JSON.parse("{{ messages|escapejs }}")
		receiver.last_readed_message = {{ last_readed_message.pk|default:"null" }};
		receiver.insert_messages(received_messages, false);
    {% endif %}
	feather.replace();
    $("#chat-message-input").focus();
	$('#chatroom_initial_data').remove();

</script>

{% else %}
{% with error="El chat indicado no se ha encontrado" %}
    {% include "chat/chat_error_alert.html" %}
{% endwith %}
{% endif %}
