{% load i18n padword_tags %}


<h4 class="p-2">{{project.name}}</h4>

<div class="content mt-3">
    <div class="toolbar-content"> <h2 class="b-right">{% trans 'Tasks' %} (<span id="items-counter">{{tasks|length}}</span>)</h2> </div>
    <div id="lock-task-list">{% include "web/locks-cron/lock-task-list.html" %}</div>
</div>

<hr/>
<div class="row mt-3 m-0">
    <div class="col-lg-3 col-12 ">{% include "web/locks-cron/lock-search.html" %}</div>
    <div class="col-lg-3 col-12 ">{% include "web/locks-cron/lock-add-task.html" %}</div>
    {%comment%}
    <div class="col-lg-3 col-12 ">{% include "web/locks/lock-add-group.html" %}</div>
    <div class="col-lg-3 col-12 ">{% include "web/locks/lock-remove-code.html" %}</div>
    {%endcomment%}
</div>

<div class="content mt-3">
    <div class="toolbar-content">
        <h2 class="b-right">{% trans 'Locks' %} (<span id="items-counter">{{items|length}}</span>)</h2>
        <span class="b-right"><small>{% trans 'Last update:' %} {{items.0.last_update|date:"d-m-Y H:i"}}</small></span>
        {% include "common-modal.html" %}
    </div>
    <div id="lock-list">{% include "web/locks-cron/lock-list.html" %}</div>
</div>

<script> 
    $(".toggle-main").click(function(){
        let id = '#'+$(this).data('toggle');
        $(id).toggle(); 
        $('#action').val($(this).data("action"));
    }); 
</script>

