:root{
	font-size: 11pt;
    --primary-color : #2780E3;
    --light-gray : #c0c0c0;
}

html{
    min-height:100%;
    max-height:100%;
}
body {
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
}


#main-container
{
    display: flex;
    position:relative;
}
/*----------------------------------------*/
/** PROFILE */
/*------------------------------*/

#sidebar-header{
	margin:auto;
	margin-top: 1em;
	padding: .2em 10px;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--gray) !important;
	color: white;
}

.profile-img{
	object-fit:contain;
	width: 40px;
	height:40px;
	padding: 2px;
	margin-right: 1em;
	border: 1px solid var(--light);
}

#user-data{
	display: inline-block;
	font-size: small;
	width: 74%;

}

#user-data p{
	display:inline-block;
	width: 90%;
	margin:0!important;
	padding:0!important;
	margin-top:10px;
	
}


/*------------------------------*/
/* SIDEBAR */
/*------------------------------*/ 

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: absolute;
  top: 48px; /* Height of navbar */
  left:0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar .nav-item{
    position:relative;
    margin-top: 0!important;
    padding-top: 0!important;
    max-height: 3em!important;
}
#sidebar-block-content
{
	padding-bottom: 3em;
}

.sidebar-not-icon{
    position:relative;
    top:2px;
    left:5px;
    display: inline-block;
    color: var(--light);
}

a:hover .sidebar-not-icon
{
    color: white;
}

.sidebar .nav-link {
  font-weight: 500;
  color: silver;
  text-transform:capitalize;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: gray;
}

.sidebar .nav-link.active {
  color: white;
  font-weight: bold;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: white;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}




/*------------------------------*/
/* CHAT SCREEEN */
/*------------------------------*/ 
#chat_room_screen{
	height: 92vh;
    min-height:720px;
    position:relative;
    
}




#message_form_container{
	position:absolute;
    bottom:0;
	left:1%;
	width:100%;
    padding-bottom:1em;
    padding-top: 1em;
    border-top: 1px solid silver;
    background-color: white;
    z-index:1000;

}


#chat-message-input-container{
	display: inline-block;
    width:90%;
    overflow:hidden;
    

}
#chat-message-input{
    display: block;
    width: 100%;
    max-height:4em;
    overflow:auto;
	resize:none;
	height: 5em;
}

#chat-message-submit{
	position:relative;
    display:inline-block;
	max-height: 4em;
	width: 6%;
    vertical-align:top;
}

#chat-message-submit button{
	display: block;
	width:3.7em;;
	height:3.7em;
	line-height: 3em;
}

#preview-container-box
{
	display:none;
	min-height: 3em;
	position:relative;
	padding-top: 1em;
	border: 1px solid var(--light-gray);

	width:90%;
}

#preview-container-close
{
	display: inline;
	position:absolute;
	top:0;
	right:0;
}


#input-container
{
	display: block;
	width: 100%;
}


#uploadfile
{
	margin-bottom: 1em;
	position:absolute;
	bottom:0;
	left:0;
	padding-top: 3em;
	min-height: 300%!important;
	border: 2px dashed silver;
	padding: 5px;
	z-index: 1100;
    display:none;
	
}

.uploadfile_dragover
{
	background-color: #3e3e3e!important;
	color: var(--light)!important;
}
/*
.uploadfile_dragover *
{
	color: var(--light)!important;
}*/

/* MESSAGE ITEMS */ 

.message_container {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
  margin: 10px 0;
  display: flex;
}



.signature
{
    font-weight:bolder;
    
}

.signature-time{
    font-size:9pt;
	font-weight:bold;
    
}

#messages_container{
	min-height: 480px;
	max-height: 67vh;
	max-height: 67vh%;
	max-width:100%;
	overflow-x: none;
    padding-bottom: 6em!important;
    overflow-y:auto;
   
}
.message_img_container
{
	display: inline-block;
	width:5%;
	max-width: 10%;
	overflow:hidden;
	position:relative;
}

.message_img_container img
{
	display: block;
	width: 40px;
	height: 40px;
	vertical-align:top;
	
}


.message_content_container
{
	display: inline-block;
	width: 94%;
	border-left: 1px solid silver;
	padding-left: 10px;
}

.message-content{
	display: inline-block;;
	position:relative;
	right:0;
	top:0;
	width: 92%;
    word-wrap: break-word;	 
}
.shared-image
{
	display:inline-block;
	position:relative;
	max-width:300px!important;
	max-height:200px!important;
	min-height: 200px!important;
	object-fit: contain;
}
.shared-image-link
{
	display: inline-block;
	padding-left: 100px;

}
/*------------------------------
 LOADER 
 ------------------------------*/ 
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

}


.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--primary-color);
  border-color: var(--primary-color) transparent var(--primary-color) transparent;
  animation: lds-hourglass 1.2s infinite;
}


@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


#loading_box{
    position:absolute;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 90vh;
    background-color:#fff;
    align-items: center;
    justify-content: center;
    display:flex;
    z-index:100;
}

#loading_box *{
    max-width: 50%;
    max-height: 20%;
}

.blink{
    animation: blinker 4s linear infinite;

}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}


#lock_screen_container
{

    display: none; 
    position:absolute;
    top:0;
    left:0;
    z-index:10000;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}

#lock_screen_container .lock_content
{
  color:white;
  font-weight: bolder!important;
  width: 50%;
  margin: auto;
  margin-top: 20%;
  min-width: 50%;
  min-height:50%;
    
}


#lock_screen_container .lock_content img
{
    display: inline-block!important;
    max-width: 200px;
    max-height: 150px;
    object-fit: contain;
    
}
@media only screen and (max-height: 768px) {

	#messages_container{
  	   min-height: 420px;
       max-height: 60vh;
   
	}

}

@media only screen and (max-width: 770px)
{
	#chat-main{
		width: 100%!important;
		margin:0 !important;
	}



	#main-container-wrapper{
		width: 100%!important;
		margin:0 !important;
	}

	#main-container{
		width:100%!important;
		padding:0!important;
		margin:0!important;
	}

	#chat_room_screen{
		width:100%!important;
		padding:0!important;
		margin:0!important;
	}

	.navbar-brand.col-2{
		max-width:40%;
	}

	#side-navigation
	{
		position:absolute;
		left:0;
		top:0;
		display:block;
		z-index:1001;
		visibility: visible;
  		opacity: 1;
  		transition: visibility 0s, opacity 0.5s linear;
	}

	.side-navigation-hidden-xs
	{
		visibility: hidden!important;
  		opacity: 0!important;
  		transition: visibility 0s, opacity 0.5s linear;
		display: none!important;
	}
	.shared-image
	{
		display:inline-block;
		position:relative;
		max-width:200x;
		max-height:150px;
		object-fit: contain;
	}
	.message_img_container
	{
		width:10%;
	}
	.message_content_container
	{
		width:89%;
	}
}



/* ------------------------------
 *  Message Reply
 *  ------------------------------*/ 
.reply_btn
{
	color: var(--light-gray)!important;
	transition: color 0.5 ease-out;
}

.reply_btn:hover
{
	color: var(--primary)!important;
}

.response_box
{
	display: inline-block;
	width: 95%;
	margin-left: 1em;
	max-height: 2.5em;
	min-height: 5em;
	overflow: hidden;
	padding:4px;
	padding-top: 10px;
	border-left: 5px solid var(--primary);
	border-top-left-radius:1px;
	border-bottom-left-radius:1px;
	padding-left: 1em;
	background-color: var(--light);
}
.response_box .close_btn
{
	display: inline-block;
	width: 20%;
	text-align: right;
}
.response_box .response_user
{
	display:inline-block;
	width: 78%;
}

/* ------------------------------
 *   DROPDOWN
 *  ------------------------------*/ 

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown_btn
{
	color: var(--light-gray);
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s cubic-bezier(0.25,0.1,0.25,1);
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {

  visibility: visible;
  opacity:1
}

/* .horizontal-container */
/* { */
/* 	display:flex; */
/* 	justify-content:center; */
	
/* } */

/* .horizontal-container .horizontal-item */
/* { */
/* 	margin:auto; */
/* 	align-items:center; */
/* 	align-contents:center; */
/* } */

/* .vertical-container */
/* { */
/* 	display: flex; */
/* 	justify-content:flex-end; */
/* 	flex-direction: column; */
	
/* } */

/* .vertical-container .vertical-item */
/* { */
/* 	align-items: flex-end; */
/* 	align-self:flex-end; */	
/* } */
