{% load i18n bookings_tag common_tag padword_tags tpv_tags static %}
{%block extralinks%} <link rel="stylesheet" href="{% static 'css/tpv.css' %}" > {% endblock %}

<div id="base">
    {% if point_of_sales|length > 0 %}
        {%comment%}
        <div class="row"> <div class="col-12">
            <button class="btn btn-primary mobile ark" data-url="{% url "tpv-mob-close" %}" data-target="base" data-project_uuid="{{project_uuid}}"> 
                <i class="fas fa-power-off mobile"></i> </button>
        </div> </div>
        {%endcomment%}
        <div class="row d-flex justify-content-center m-0">
            {% for item in point_of_sales %}
                <div class="col-lg-5 col-12 mt-3 menu-options ark p-0" data-url="{%url "tpv-mob-set-pos"%}" data-target="base" 
                    data-obj_id="{{item.id}}" {%if item.image%}style="background-image:url({{item.image.url}});"{%endif%}>
                    <div class="point-name" style="width: 100%;background: white; opacity: 0.8;">{{item.name}}</div>
                </div>
            {% endfor %}
        </div>
    {% elif tables|length > 0 or cash != None %}
        <div class="row d-flex justify-content-start m-0"> {%include "bookings/tpv/mobile/tpv-tables.html" %} </div>
        {#<div class="row d-flex justify-content-start m-0"> {%include "bookings/tpv/tpv-tables.html" with index="tpv-mob-index"%} </div>#}
    {% else %}
        {% include "bookings/tpv/mobile/index-mobile.html" %}
    {% endif %}
</div>

