{% load i18n tpv_tags bookings_tag padword_tags %}

    
<button id="btn-return-{{fi.id}}" class="btn btn-warning return w-100" onclick="$('#div-return').show();$('#div-btns').hide();">
    <i class="fa fa-reply"></i> <br />{%trans "Devolución"%} </button>

{%comment%}
{% with val=fi|check_band %}
    {# Not credit or have credit #}
    {% if val == 4 or val == 6 %}
        <button id="btn-return-{{fi.id}}" class="btn btn-warning return w-100" onclick="$('#div-return').show()">
            <i class="fa fa-reply"></i><br /> {%trans "Devolución"%} </button>
    {% else %}
        <button id="btn-return-{{fi.id}}" class="btn btn-warning-tpv w-100 a-disabled"><i class="fa fa-reply"></i><br /> {%trans "Devolución"%}</button>
    {% endif %}
{% endwith %}
{%endcomment%}

