{% load i18n tpv_tags bookings_tag padword_tags %}


{% include "bookings/tpv/view-payment-types-styles.html" %}

{# ------------------------------------------------ TIPOS DE PAGO ---------------------------------------------------------#}
<div class="row justify-content-center">
    {% for item in fi.form.get_category.payment_types.all %}
        <div class="col-4 justify-conten
            t-center mt-1 pt-box pay-method" id="pt-box-mob-{{item.id}}">
            <div class="justify-content-center">
            
                {% if item.payment_type.code != "03" %}
                
                <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts" 
                
                                                            data-id="{{item.id}}" data-pt="{{item.payment_type.id}}" data-cash='{{item.payment_type.code}}'>
                        <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" class="img-width">
                            {% padword_translate item.payment_type.name %} 
                    </a>
                {% else %}
                    {% include "bookings/tpv/view-payment-types-band.html" %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<input type="text" class="form-control hide mt-2" id="cash-value" placeholder="{%trans "Amount to pay (10, 20, 50...)"%}" />

<br/><div id="band-alert" class="text-danger" class="hide"></div>

{# ------------------------------------------------ ACCIONES --------------------------------------------------------------#}
<div class="row footer-buttons mt-0 m-0 p-0 justify-content-center text-center">
    {# -------------------------------- CANCELAR ---------------------------- #}
    <div class="col-3 mb-3 p-0 btn-mobile">

        {%comment%}
        <button id="btn-cancel-order-mob-{{fi.id}}" class="btn btn-success-tpv w-100 ark" data-url="{% url "tpv-order-remove" %}" 
            data-target="base" data-obj_id="{{fi.id}}" data-mobile="True"> <i class="fa fa-ban"></i><br /> {% trans "Cancel" %} </button>
        {%endcomment%}
        {% include "bookings/tpv/view-payment-types-cancel.html" %}
    </div>
    {# -------------------------------- ENVIAR ---------------------------- #}
    <div class="col-3 mb-3 p-0 btn-mobile">
        {%comment%}
        <button id="btn-send-order-mob-{{fi.id}}" class="btn btn-success-tpv w-100 a-disabled ark" data-bs-dismiss="modal" 
            data-url="{% url "tpv-order-send" %}" data-target="base" data-obj_id="{{fi.id}}" data-payment_type="" data-amount="{{total}}" 
            data-band="{{band.id}}" data-amount_user="{%if regime%}{{fi|get_total_by_regime:regime.code}}{%endif%}"> 
            <i class="fa fa-share-square"></i><br /> {%trans "Send"%} </button>
        {%endcomment%}
        {% include "bookings/tpv/view-payment-types-send.html" %}
    </div>
    {# -------------------------------- DEVOLUCIÓN ---------------------------- #}
    <div class="col-3 mb-3 p-0 btn-mobile">
        {%comment%}
        <button id="btn-return-mob-{{fi.id}}" class="btn btn-warning w-100 a-disabled" onclick="$('#div-return').show()">
            <i class="fa fa-reply"></i><br /> {%trans "Devolución"%} </button>
        {%endcomment%}
        {% include "bookings/tpv/view-payment-types-return.html" %}
    </div>
    {# -------------------------------- INVITACION ---------------------------- #}
    <div class="col-3 mb-3 p-0 btn-mobile">
        {%comment%}
        <button id="btn-free-mob-{{fi.id}}" class="btn btn-primary w-100" onclick="$('#div-free').show()">
            <i class="fas fa-hand-holding-heart"></i><br /> {%trans "Invitación"%} </button>
        {%endcomment%}
        {% include "bookings/tpv/view-payment-types-free.html" %}
    </div>
</div>

{# ------------------------------------------------ VENTANAS AUX --------------------------------------------------------#}
{% include "bookings/tpv/view-payment-types-aux.html" %}

{# ------------------------------------------------ SCRIPTS --------------------------------------------------------#}
{% include "bookings/tpv/view-payment-types-scripts.html" %}

{%comment%}
<div id="div-return-mob" class="alert alert-warning hide">
    {% trans "Va a realizar una devolución por un importe de: " %}
    {% if regime %} -{{fi|get_total_by_regime:regime.code}} &euro; {% else %} -{{total|floatformat:2}} &euro; {% endif %}
    <br/> <br/> 
    <div class="row">
        <div class="col-6">
            <button class="btn btn-warning w-100 " onclick="$('#div-return-mob').hide()">{%trans "Cancel"%}</button>
        </div>
        <div class="col-6">
            <button id="btn-return-order-mob-{{fi.id}}" class="btn btn-warning w-100 ark" data-bs-dismiss="modal" data-url="{%url "tpv-order-send"%}" 
                data-target="base" data-obj_id="{{fi.id}}" data-payment_type="" data-amount="-{{total}}" data-band="{{band.id}}"
                data-amount_user="{%if regime%}-{{fi|get_total_by_regime:regime.code}}{%endif%}"> {%trans "Confirm"%}</i>
            </button>
        </div>
    </div>
</div>

<div id="div-free-mob" class="alert alert-primary hide">
    {% trans "Va a realizar una invitación por un importe de: " %}
    {% if regime %} {{fi|get_total_by_regime:regime.code}} &euro; {% else %} {{total|floatformat:2}} &euro; {% endif %}
    <br/> <br/> 
    <input type="text" class="form-control" name="free_desc" placeholder="{%trans "Nombre de la persona realiza la invitación..."%}"
        onchange="$('#btn-free-order-mob-{{fi.id}}').data('desc', 'Invitado por:'+$(this).val());"/>
    <br/> 
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary w-100 " onclick="$('#div-free-mob').hide()">{%trans "Cancel"%}</button>
        </div>
        <div class="col-6">
            <button id="btn-free-order-mob-{{fi.id}}" class="btn btn-primary w-100 ark" data-bs-dismiss="modal" data-url="{% url "tpv-order-send" %}" 
                data-target="base" data-obj_id="{{fi.id}}" data-payment_type="" data-amount="0" data-band="{{band.id}}"
                data-amount_user="" data-desc=""> {%trans "Confirm"%}</i>
            </button>
        </div>
    </div>
</div>


<script>
    $(".btn-select-payment").click(function(){
        $(".pt-box").each(function(){$(this).removeClass("selected")});
        $("#pt-box-mob-"+$(this).data("id")).addClass("selected");

        //$("#btn-cancel-order-{{fi.id}}").prop("disabled", "");
        $("#btn-send-order-{{fi.id}}").prop("disabled", "");
        $("#btn-send-order-{{fi.id}}").data("payment_type", $(this).data("pt"));
        $("#btn-return-order-mob-{{fi.id}}").data("payment_type", $(this).data("pt"));

        if ($(this).data("cash") == "01") { $("#cash-value").show(); }
        else { $("#cash-value").hide(); }

        if ($(this).data("cash") == "03") { $("#btn-return-{{fi.id}}").removeClass("a-disabled", "");}
        else { $("#btn-return-{{fi.id}}").addClass("a-disabled"); }
    });

    $("#cash-value").change(function(){
        $("#btn-send-order-{{fi.id}}").data("amount", $("#cash-value").val());
    });

    {% if not fi|check_band %} $("#pay-type-03").addClass("a-disabled"); $("#band-alert").show(){% endif %}
    {#{% if not fi.band or fi.band.balance <= 0 %} $("#pay-type-mob-03").addClass("a-disabled"); {% endif %}#}
</script>
{%endcomment%}
