{% load i18n tpv_tags bookings_tag padword_tags %}


{% include "bookings/tpv/view-payment-types-styles.html" %}

{# ------------------------------------------------ TIPOS DE PAGO ---------------------------------------------------------#}
<div class="row justify-content-center">
    {% for item in fi.form.get_category.payment_types.all %}
        <div class="col-4 justify-content-center mt-1 pt-box pay-method" id="pt-box-{{item.id}}">
            <div class="justify-content-center">
                {% if item.payment_type.code == "03" %}
                    {% include "bookings/tpv/view-payment-types-band.html" %}
                {% elif item.payment_type.code == "08" %}
                    {% include "bookings/tpv/view-payment-types-guest-room.html" %}
                {% else %}
                    <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts" 
                        data-id="{{item.id}}" data-pt="{{item.payment_type.code}}" data-cash='{{item.payment_type.code}}'>
                        <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" 
                            class="img-width"><br /> {% padword_translate item.payment_type.name %} 
                    </a>
                {% endif %}
                {%comment%}
                {% if item.payment_type.code != "03" %}
                    <a id="pay-type-{{item.payment_type.code}}" class="btn btn-select-payment pay-opts" 
                        data-id="{{item.id}}" data-pt="{{item.payment_type.code}}" data-cash='{{item.payment_type.code}}'>
                        <img src="{{item.payment_type.icon.url}}" alt="{% padword_translate item.payment_type.name %}" 
                            class="img-width"><br /> {% padword_translate item.payment_type.name %} 
                    </a>
                {% else %}
                    {% include "bookings/tpv/view-payment-types-band.html" %}
                {% endif %}
                {%endcomment%}
            </div>
        </div>
    {% endfor %}
</div>

{#<input type="text" class="form-control hide mt-2" id="cash-value" placeholder="{%trans "Amount to pay (10, 20, 50...)"%}" />#}

<div id="band-alert-container" class="row alerta-flotante hide p-1" style="display:none">
    <div class="col-12 text-end">
        <button class="cerrar-btn" onclick="$('#band-alert-container').hide();"><i class="fas fa-times"></i></button></div>
    <div class="col-12"><span id="band-alert"></span></div>
</div>

{# ------------------------------------------------ ACCIONES --------------------------------------------------------------#}
<div class="row footer-buttons mt-2 p-0">
    {# -------------------------------- CANCELAR ---------------------------- #}
    <div class="col-4 p-0 btn-mobile"> {% include "bookings/tpv/mobile/view-payment-types-cancel.html" with mobile="mobile"%} </div>
       {# -------------------------------- DEVOLUCIÓN ---------------------------- #}
    <div class="col-4 p-0 btn-mobile"> {% include "bookings/tpv/mobile/view-payment-types-return.html" %} </div>
    {# -------------------------------- INVITACION ---------------------------- #}
    <div class="col-4 p-0 btn-mobile"> {% include "bookings/tpv/mobile/view-payment-types-free.html" %} </div>

    {# -------------------------------- ENVIAR ---------------------------- #}
    
    <div class="{%if fi.pos.partial%}col-6{%else%}col-12{%endif%} p-0 mt-1 btn-mobile"> 
        {% include "bookings/tpv/view-payment-types-send.html" with mobile="mobile"%} </div>

    {# -------------------------------- ENVIO PARCIAL ---------------------------- #}
    {% if fi.pos.partial %}
        <div class="col-6 p-0 mt-1 btn-mobile"> {% include "bookings/tpv/view-payment-types-send-part.html" with mobile="mobile"%} </div>
    {% endif %}

</div>

{# ------------------------------------------------ VENTANAS AUX --------------------------------------------------------#}
{% include "bookings/tpv/view-payment-types-aux.html" with mobile="mobile"%}

{# ------------------------------------------------ SCRIPTS --------------------------------------------------------#}
{% include "bookings/tpv/view-payment-types-scripts.html" %}


<script>
  document.getElementById('cerrar-alerta').addEventListener('click', function() {
    document.getElementById('alerta').style.display = 'none';
  });
</script>
