{% load i18n %}


<div class="d-flex menu-actions-blue">
    <div class="flex-grow-1 p-2"><span class="bg-ico-bar"><i class="fas fa-lock"></i></span>&nbsp; {% trans "PadAir Devices" %}</div>
    <div class="action p-2"> </div>
</div>

<table class="table table-striped table-hover" id="main-table">
    <thead> <tr class="small small"> 
        <th> {% trans 'Room' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Name' %} <i class="fas fa-sort"></i> </th> 
        {#<th> {% trans 'Code' %} </th> #}
        <th> {% trans 'Temperature' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Humidity' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Feels like' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Rssi' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Motion' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Room occupied' %} <i class="fas fa-sort"></i> </th> 
        {#<th> {% trans 'Switched on' %} </th>#}
        <th> {% trans 'Mode' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Fan level' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Swing' %} <i class="fas fa-sort"></i> </th> 
        <th> {% trans 'Light' %} <i class="fas fa-sort"></i> </th> 
        <th></th>
    </tr> </thead>
    <tbody>
        {% for item in device_list %}
            <tr class="small" id="row_{{item.uid}}"> {% include "web/sensibo/device-list-row.html" %} </tr>
        {% endfor %}
    </tbody>
</table>

<script> $("#main-table").tablesorter(); </script>

{%comment%}
<table class="table table-striped table-hover">
    <thead> <tr class="small small"> 
        <th> {% trans 'Name' %} </th> 
        <th> {% trans 'Code' %} </th> 
    </tr> </thead>
    <tbody>
        {% for key, value in device_list.items %}
            <tr class="small">
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endcomment%}
