{% load i18n padword_tags lock_tags static %}

<td><input type="checkbox" name="ch_{{item.id}}" /></td>
<td>{{ item.uuid }}</td>
<td>{% padword_translate item.alias %}</td>
<td>{{ item.project.name }}</td>
<td>{{ item.group.name }}</td>
<td>{{ item.room }}</td>
<td>{{ item.charge_cache }} %</td>
<td>{% get_gateway_icon item.gateway_cache %}</td>
<td>{% get_wifi_icon item.wifi_cache %} {#{{item.wifi_cache}}#}</td>
<td>{%if item.box%}<i class="fas fa-check"></i>{%else%}<i class="fas fa-times"></i>{%endif%}</td>
<td>{%if item.private%}<i class="fas fa-check"></i>{%else%}<i class="fas fa-times"></i>{%endif%}</td>
<td>{%if item.default%}<i class="fas fa-check"></i>{%else%}<i class="fas fa-times"></i>{%endif%}</td>
<td class="text-end">
    <div class="popup"> <span class="popuptext" id="lock-msg-{{item.id}}"></span> 
        <a class="me-1 btn btn-xs ark" data-url="{% url "locks-open" %}" data-obj_id="{{item.id}}"
            data-target="lock-msg-{{item.id}}" title="{% trans "Open lock" %}" data-show="lock-msg-{{item.id}}">
            <img src="/static/img/door-open.png" width="10%"></a>
    </div>
    <a class="me-1 btn btn-xs ark" title="{%trans "Update parameters"%}" data-url="{% url "projects-subadmin-locks-update-params" %}" 
        data-target="row_{{item.id}}" data-obj_id="{{item.id}}"><i class="fas fa-sync"></i></a>  
    <a class="me-1 btn btn-xs ark" title="{%trans "Get all passcodes"%}" 
        data-url="{%url "projects-subadmin-locks-get-all-passcodes"%}" data-target-modal="common-modal" data-obj_id="{{item.id}}">
        <img src="{% static "/img/ico-passcodes.png" %}"/></a>  
    <a class="me-1 btn btn-xs ark" title="{%trans "Get all cards"%}" data-url="{% url "projects-subadmin-locks-get-all-cards" %}" 
        data-target-modal="common-modal" data-obj_id="{{item.id}}"><i class="fas fa-credit-card"></i></a>  
    <a class="me-1 btn btn-xs ark" title="{%trans "Get all registers"%}" data-url="{%url "projects-subadmin-locks-get-all-records"%}" 
        data-target-modal="common-modal" data-obj_id="{{item.id}}"><i class="fas fa-bars"></i></a>  
    <a class="me-1 btn btn-xs ark" title="{%trans "Edit lock"%}" data-url="{% url "projects-subadmin-lock-form" %}" 
        data-target-modal="common-modal" data-obj_id="{{item.id}}"><i class="fas fa-edit"></i></a>  
</td>

<script> $("#main-table").trigger("update"); </script>
