{% load i18n %}

<h2>{% trans 'Nuevo canal' %}</h2>

<span id="div-notification"></span><br/>

<div class="row justify-center">
	<div class="col-sm-6 col-md-6 col-12">
		{% trans "UUID" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="uuid" name="uuid" value="{{obj.uuid}}" title="{{obj.uuid}}" 
			data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
			<span id="uuid__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "Alias" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="alias" name="alias" value="{{obj.alias}}" title="{{obj.alias}}" 
			data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
			<span id="alias__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "IMEI" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="imei" name="imei" value="{{obj.imei}}" title="{{obj.imei}}" 
			data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
		<span id="imei__msg"></span>
	</div>
	
	<div class="col-sm-6 col-md-2 col-12">
		{% trans "Active" %}:
		<select class="form-control autosave b-bottom mb-4" id="active" name="active" value="{{obj.active}}" title="{{obj.active}}" 
			data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
		    <option value="1" {%if obj.active == "1"%}selected{%endif%}>{% trans "Yes" %}</option>
		    <option value="0" {%if obj.active == "0"%}selected{%endif%}>{% trans "No" %}</option>
		</select>
		<span id="active__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "Created at" %}:
		<input type="date" class="form-control autosave b-bottom mb-4" id="created_at" name="created_at" value="{{obj.created_at}}" 
            title="{{obj.created_at}}" data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/>
			<span id="created_at__msg"></span>	
	</div>
	
	<div class="col-sm-6 col-md-6 col-12">
		{% trans "Net type" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="net_type" name="net_type" value="{{obj.net_type}}" 
            title="{{obj.net_type}}" data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span id="net_type__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "MAC" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="mac" name="mac" value="{{obj.mac}}" title="{{obj.mac}}" 
			data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
			<span id="mac__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "WIFI MAC" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="wifi_mac" name="wifi_mac" value="{{obj.wifi_mac}}" title="{{obj.wifi_mac}}"
			data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
			<span id="wifi_mac__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "Room" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="room" name="room" value="{{obj.room}}" title="{{obj.room}}" 
			data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
			<span id="room__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "Android ID padword" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="android_id_padword" name="android_id_padword" 
            value="{{obj.android_id_padword}}" title="{{obj.android_id_padword}}" data-model-name="web.device" data-obj-id="{{obj.id}}" 
            data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="android_id_padword__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "Serial number" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="serial_number" name="serial_number" value="{{obj.serial_number}}" 
            title="{{obj.serial_number}}" data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span id="serial_number__msg"></span>
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "Channel UUID" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="channel_id" name="channel_id" value="{{obj.channel_id}}" 
            title="{{obj.channel_id}}" data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span id="channel_id__msg"></span>	
	</div>

	<div class="col-sm-6 col-md-6 col-12">
		{% trans "Project UUID" %}:
		<input type="text" class="form-control autosave b-bottom mb-4" id="project_uuid" name="project_uuid" value="{{obj.project_uuid}}" 
            title="{{obj.project_uuid}}" data-model-name="web.device" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification"/> <span id="project_uuid__msg"></span>	
	</div>
</div>		


<div class="d-flex justify-content-end">
	<button type="button" class="btn btn-sm ark save" data-bs-dismiss="modal" data-url="{% url "device-search" %}" data-target="device-list"
         data-channel_id="{{channel_id}}" data-project_id="{{project_id}}" data-company_id="{{company_id}}">{% trans "Save" %}</button>
	<button type="button" class="btn btn-sm ark cancel" data-bs-dismiss="modal"
   		data-url="{% url "device-remove" %}" data-target="device-list" data-obj_id="{{obj.id}}" data-channel_id="{{channel_id}}" 
        data-project_id="{{project_id}}" data-company_id="{{company_id}}" data-confirm="{% trans "Are you sure to remove this element?" %}">
        {% trans "Remove" %}</button>
</div>

