{% load i18n bookings_tag common_tag padword_tags static%}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'css/menu3.css' %}" >

{% if category.parent %}{%include "bookings/back-btn.html" with uuid=category.parent.uuid %}{% endif %}
<div class="row">
    {%if category.images.count > 0%}{% include "bookings/show-category-gallery.html" %}{%endif%}
    {%if category.features.count > 0%}{% include "bookings/show-category-features.html" %}{%endif%}
    {%if form.show_desc%}<div class="card info-panel p-4 col-{{form.desc_width}}">{% padword_translate form.desc %}</div>{%endif%}

    <div class="row p-1 d-flex justify-content-center col-{{"12"|subint:form.desc_width}}">
        {% for item in category.get_active_childrens %}
            <div class="container-test col-lg-4 col-12 box-cat pointer">
                {% if item.url != "" %}
                    <a href="{{item.url}}"> <div class="card"> 
                {% else %}
                    <div class="card ark" data-url="{% url "show-category-menu" %}" data-target="main" data-cat_id="{{item.uuid}}">
                {% endif %}
                    <div class="image" id="cover">
                        <img width="100%" src="{% if item.image %} {{item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" 
                            class="object-fit_cover" alt="{% padword_translate item.name %}"> 
                    </div>
                    <div class="overlay"><strong><span>{% padword_translate item.name %}</span></strong></div>
                </div> {%if item.url != ""%}</a>{%endif%}
            </div>
        {% endfor %}
    </div>
</div>

<div class="row w-100">
    {% for item in category.get_items_active %}
        <div class="col-lg-4 col-12">
            <div class="card mb-3 pb-3">
                <div class="image" id="cover"> 
                    {%if item.images.count > 0%}
                        {% include "bookings/show-item-gallery.html" %}
                    {% elif item.image %} 
                        <img src="{{item.image.url}}" class="object-fit_cover" alt="{% padword_translate item.name %}"> 
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">{% padword_translate item.name %}</h5>
                    <h4 class="card-title text-dark text-center">{{ item.price}} &euro; </h4>
                    {#<p class="card-text text-secondary">{% padword_translate item.description %}</p>#}
                    {% include "bookings/show-item-btn.html" %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script>$("html, body").animate({ scrollTop: 0 }, "slow");</script>


