{% load i18n bookings_tag common_tag padword_tags static%}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'css/menu_lanis.css' %}" >

{%comment%}
<div class="row d-flex justify-content-center mt-1 ">
    {% for item in category.get_items %}
        <div class="col-lg-2 col-md-3 col-xs-12 justify-content-center">
            <div class="card w-100 mb-3">
	            <div class="image" id="cover"> <img src="{% if item.image %}{{item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" 
                    class="object-fit_cover" alt="{% padword_translate item.name %}"> </div>
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">{% padword_translate item.name %}</h5>
                    <h4 class="card-title text-dark text-center">{{ item.price}} &euro; </h4>
                    <p class="card-text text-secondary">{% padword_translate item.description %}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{%csrf_token%}
{%endcomment%}

<div class="row languages">
    <div class="col-lg-1 offset-lg-4 col-2 offset-2">
        <a href="{% url "guest-access-pwa" "b2262194-8d2c-ef35-86b5-1150d12e184e" "de" %}" target="_blank">
            <img class="btn btn-secondary p-2" src="/static/img/de.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="{% url "guest-access-pwa" "b2262194-8d2c-ef35-86b5-1150d12e184e" "es" %}" target="_blank">
            <img class="btn btn-secondary p-2" src="/static/img/es.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="{% url "guest-access-pwa" "b2262194-8d2c-ef35-86b5-1150d12e184e" "fr" %}" target="_blank">
            <img class="btn btn-secondary p-2" src="/static/img/fr.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="{% url "guest-access-pwa" "b2262194-8d2c-ef35-86b5-1150d12e184e" "en" %}" target="_blank">
            <img class="btn btn-secondary p-2" src="/static/img/en.png">
        </a>
    </div>
</div>


<div class="row div-slogan">
    <div class="col-12 text-center"> <div class="slogan"> Lani's <br /><span>Suites de Luxe</span></div> </div>
</div>

<div class="row menu-tabs align-items-end w-100">
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="">
		    <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
			    data-cat_id="1ed087d7-1847-6eca-a04a-f7fb0edafc4d">{% padword_translate_obj '1ed087d7-1847-6eca-a04a-f7fb0edafc4d' %}</button>
        </div>
    </div> 
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="">
		    <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
			    data-cat_id="bdf0b388-ae1d-99d3-48eb-ce549e36c291">{% padword_translate_obj 'bdf0b388-ae1d-99d3-48eb-ce549e36c291' %}</button>
        </div>
    </div>
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="">
		    <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
			    data-cat_id="32090073-b71a-6358-890b-825e372a4c5c">{% padword_translate_obj '32090073-b71a-6358-890b-825e372a4c5c' %}</button>
        </div>
    </div>
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="">
		    <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
			    data-cat_id="0ed26826-d5da-c58a-8257-08ced033f26a">{% padword_translate_obj '0ed26826-d5da-c58a-8257-08ced033f26a' %}</button>
        </div>
    </div>

</div>

<div class="row menu-botton w-100">
    {% comment %}
    <div class="col-lg-2 offset-lg-1 col-3" style="padding:0;order:1px solid red">
        <div><a class="text-white pointer ark" data-url="{%url "show-category-menu"%}" data-target="main" data-cat_id="9146a9e6-09df-5c78-8f14-e337643ec4e4">
                <i class="far fa-comment-dots"></i><span> {% padword_translate_obj '9146a9e6-09df-5c78-8f14-e337643ec4e4' %}</a></span></div>
    </div>
    {% endcomment %}
    <div class="col-lg-3 offset-1 col-3" style="padding:0;order:1px solid red">
        <div><a class="text-white pointer ark" data-url="{%url "show-category-menu"%}" data-target="main" data-cat_id="52ac91d1-debd-526b-1041-ea73cb21b111">
            <i class="far fa-star"></i><span> {% padword_translate_obj '52ac91d1-debd-526b-1041-ea73cb21b111' %}</a></span></div>
    </div>
    <div class="col-lg-3 col-3" style="padding:0;order:1px solid red">
        <div><a class="text-white pointer ark" data-url="{%url "show-category-menu"%}" data-target="main" data-cat_id="9e3f3d0d-f57e-91a1-ef2b-fb2bde770d5d">
         <i class="fas fa-wifi"></i><span> {% padword_translate_obj '9e3f3d0d-f57e-91a1-ef2b-fb2bde770d5d' %}</a></span></div>
    </div>
    <div class="col-lg-3 col-3" style="padding:0;order:1px solid red">
        <div><a class="text-white pointer ark" data-url="{%url "show-category-menu"%}" data-target="main" data-cat_id="b8b6e74d-6291-b638-ad40-bc5b1461a017">
          <i class="far fa-star"></i><span> {% padword_translate_obj 'b8b6e74d-6291-b638-ad40-bc5b1461a017' %}</a></span></div>
    </div>
</div>

        <script id="realtime-script">
            $('#counter-item-{{item_refresh.pk}}').val('{{total_items}}');
            $('#counter-item-mob-{{item_refresh.pk}}').val('{{total_items}}');
            $('#span-total-price').html('{{total|floatformat:2}}');
            $('#span-total-items').html('{{items|length}}');
            if (parseInt($("#span-total-items").html()) > 0)
                $("#count-badge").show();
            else
                $("#count-badge").hide();
            $('#realtime-script').remove();
        </script>
