{% load i18n bookings_tag common_tag padword_tags static %}

{% get_current_language as LANGUAGE_CODE %}

<div class="row div-slogan"><div class="col-12 text-center main-slide">{% get_promos category %}</div></div>
 
<div class="row div-key mt-5">
    <div class="col-12 text-center">
        <a class="menu-options collapsible-header waves-effect btn-large pt-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-lock"></i> Mis Llaves</a>
        <div class="collapse" id="collapseExample">
            <div class="collapse-option mt-3"><a class="collapsible-header waves-effect btn-large-2"><i class="fa fa-lock"></i> Entrada</a></div>
            <div class="collapse-option mt-3"><a class="collapsible-header waves-effect btn-large-2"><i class="fa fa-lock"></i> Habitación</a></div>
            <div class="collapse-option mt-3"><a class="collapsible-header waves-effect btn-large-2"><i class="fa fa-lock"></i> Garaje</a></div>
        </div>
    </div>
</div>

<div class="row mt-5"> <h4 class="color-brown mt-0">Our Hotel Services</h4></div>
<div class="row menu-tabs pt-3"> 
    <div class="tabs-4 col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="ec22b489-bd8d-129d-2384-6b0ea487d09e"><img class="" src="/static/img/jablito.png"> 
        </button><br /><span>{% padword_translate_obj 'ec22b489-bd8d-129d-2384-6b0ea487d09e'%}</span>
    </div>
    <div class="tabs-1 col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="1a790bb6-a67d-b81d-0ba7-0cf9b154b1f2"> <img class="" src="/static/img/endorfina-orange.png">
        </button><br /><span>{% padword_translate_obj '1a790bb6-a67d-b81d-0ba7-0cf9b154b1f2'%}</span>
    </div> 
    <div class="tabs-2 col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="3df7a193-9d6d-9261-2493-21d77ff8cc6f"> <img class="" src="/static/img/real-state-orange.png">
        </button> <br /><span>{% padword_translate_obj '3df7a193-9d6d-9261-2493-21d77ff8cc6f'%}</span> 
    </div>
    <div class="tabs-3 col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="29632b3d-dd5e-fcbc-4ecd-10e44d384f99"><img class="" src="/static/img/platanera-orange.png"> 
        </button><br /><span>{% padword_translate_obj '29632b3d-dd5e-fcbc-4ecd-10e44d384f99'%}</span>
    </div> 
</div>

<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
