{% load i18n bookings_tag common_tag padword_tags static %}

{% get_current_language as LANGUAGE_CODE %}

<div class="row div-slogan"><div class="col-12 text-center main-slide">{% get_promos category %}</div></div>
 
<div class="row div-key mt-4">
    <div class="col-12 text-center">
        <a class="menu-options collapsible-header waves-effect btn-large pt-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-lock"></i> Mis Llaves</a>
        <div class="collapse" id="collapseExample">
            {% for key in guest.keys.all %}
                <div class="form-check form-switch">
                    <input class="form-check-input ark_change" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                         data-url="{% url "open-lock" %}" data-target="" data-obj_id="{{key.lock}}">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Entrance</label>
                </div>
                </div>
            {% endfor %}
            <div class="collapse-option mt-3">
                <button class="collapsible-header waves-effect btn-large-2 ark-disabled">
                    <i class="fa fa-lock"></i> Entrance <span id="open-lock-msg" class="open-lock-msg"></span></button>
            </div>
            <div class="collapse-option mt-3">
                <button class="collapsible-header waves-effect btn-large-2 ark-disabled"
                    data-url="{% url "open-lock" %}" data-target="open-lock-msg">
                    <i class="fa fa-lock"></i> Entrance <span id="open-lock-msg" class="open-lock-msg"></span></button>
            </div>
            <div class="collapse-option mt-3"><a class="collapsible-header waves-effect btn-large-2"><i class="fa fa-lock"></i> Locker Room</a></div>
            <div class="collapse-option mt-3"><a class="collapsible-header waves-effect btn-large-2"><i class="fa fa-lock"></i> Server Room</a></div>
        </div>
    </div>
</div>

<div class="row mt-5" style="margin:0;"> <h4 class="color-brown mt-0">Our Hotel Services</h4></div>
<div class="row menu-tabs pt-3"> 
    <div class="tabs-1 col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="3878a9f5-5a77-3d84-63b6-6bd54361233d"><i class="fas fa-bed"></i> 
        </button><br /><span>{% padword_translate_obj '3878a9f5-5a77-3d84-63b6-6bd54361233d'%}</span>
    </div> 
    <div class="tabs-2 col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="de52ee51-9ac2-4baa-cefa-ff88939ea1c6"><i class="fas fa-concierge-bell"></i>
        </button> <br /><span>{% padword_translate_obj 'de52ee51-9ac2-4baa-cefa-ff88939ea1c6'%}</span> 
    </div>
    <div class="tabs-3 col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "my-bookings" %}" data-target="main"
             data-project_uuid="{{project_uuid}}" data-cat_id="{{form.category}}"><i class="fas fa-credit-card"></i>
        </button><br /><span>Mis pedidos</span>
        {%comment%}
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="d739e503-89f1-a5e1-78e3-d71114d7d0d5"><i class="fas fa-credit-card"></i> 
        </button><br /><span>{% padword_translate_obj 'd739e503-89f1-a5e1-78e3-d71114d7d0d5'%}</span>
        {%endcomment%}
    </div> 
    <div class="tabs-4 col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" id="btn-notifications"  data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="52d2b39d-0842-7d27-a350-972bd5674c95"><i class="fas fa-clipboard-list"></i>
        </button><br /><span>{% padword_translate_obj '52d2b39d-0842-7d27-a350-972bd5674c95'%}</span>
    </div>
</div>

<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
