{% load i18n bookings_tag common_tag padword_tags static %}

{% get_current_language as LANGUAGE_CODE %}

<div class="row div-slogan"><div class="col-12 text-center main-slide">{% get_promos category %}</div></div>

<div class="row menu-tabs pt-1"> 
    {% with cat_uuid=form|get_cat_uuid:"info_hotel" %}
        <div class="tabs col-4 offset-1 align-middle justify-content-center p2">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="{{cat_uuid}}"> <img class="ico-image" src="/static/img/ico-hotel2.png">
                <br />{% padword_translate_obj cat_uuid %}</button> </div>
    {%endwith%}

    {% with cat_uuid=form|get_cat_uuid:"room_serv" %}
        <div class="tabs col-4 offset-2 align-middle justify-content-center p2">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="{{cat_uuid}}"> <img class="ico-image" src="/static/img/ico-room-service2.png">
                <br />{% padword_translate_obj cat_uuid %}</button> </div>
    {%endwith%}

    {% with cat_uuid=form|get_cat_uuid:"restaurante" %}
        <div class="tabs col-4 offset-1 align-middle justify-content-center p2">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="{{cat_uuid}}"> <img class="ico-image" src="/static/img/ico-restaurants2.png">
                <br />{% padword_translate_obj cat_uuid %}</button> </div> 
    {%endwith%}

    {% with cat_uuid=form|get_cat_uuid:"experiencias" %}
        <div class="tabs col-4 offset-2 align-middle justify-content-center p2">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="{{cat_uuid}}"> <img class="ico-image" src="/static/img/ico-experiences.png">
                <br />{% padword_translate_obj cat_uuid %}</button> </div>
    {%endwith%}

    {% with cat_uuid=form|get_cat_uuid:"upgrade" %}
        <div class="tabs col-4 offset-1 align-middle justify-content-center p2">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="{{cat_uuid}}"> <img class="ico-image" src="/static/img/ico-upgrade.png">
                <br />{% padword_translate_obj cat_uuid %}</button> </div>
    {%endwith%}

    {% with cat_uuid=form|get_cat_uuid:"valoranos" %}
        <div class="tabs col-4 offset-2 align-middle justify-content-center p2">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="{{cat_uuid}}"> <img class="ico-image" src="/static/img/ico-evaluate.png">
                <br />{% padword_translate_obj cat_uuid %}</button> </div>
    {%endwith%}

    {% with cat_uuid=form|get_cat_uuid:"agenda" %}
        <div class="tabs col-4 offset-1 align-middle justify-content-center p2">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="{{cat_uuid}}"> <img class="ico-image" src="/static/img/ico-agenda.png">
                <br />{% padword_translate_obj cat_uuid %}</button> </div>
    {%endwith%}

    {% with cat_uuid=form|get_cat_uuid:"beach_clubs" %}
        <div class="tabs col-4 offset-2 align-middle justify-content-center p2">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="{{cat_uuid}}"> <img class="ico-image" src="/static/img/ico-chillout.png">
                <br />{% padword_translate_obj cat_uuid %}</button> </div>
    {%endwith%}
</div>

<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
