{% load i18n bookings_tag common_tag padword_tags static%}

{% if category.parent %}
    <div class="row back-button d-flex justify-content-end mb-2"> <div class="col-12"> {% include "bookings/back-btn.html" %} </div> </div>
{% endif %}

<div class="row d-flex justify-content-center mt-1 ">
    {% for item in category.get_items_active %}
        <div class="col-lg-2 col-md-3 col-xs-12 justify-content-center">
            {% include "bookings/show-item.html" %}
            {%comment%}
            <div class="card w-100 mb-3">
	            <div class="image" id="cover"> 
                    {% if item.image %} <img src="{{item.image.url}}" class="object-fit_cover" alt="{% padword_translate item.name %}" /> {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">{% padword_translate item.name %}</h5>
                    <h4 class="card-title text-dark text-center">{{ item.price}} &euro; </h4>
                    {#<p class="card-text text-secondary">{% padword_translate item.description %}</p>#}
                    {% include "bookings/show-item-btn.html" %}
                </div>
            </div>
            {%endcomment%}
        </div>
    {% endfor %}
</div>

{%csrf_token%}

{% for children in category.get_childrens %}
    <div class="cart-item mb-4">
        <div class="col-12 d-flex align-middle justify-content-center">
	        <a class="btn btn-dark pl-2 w-100 b-item" onclick="$('.div-shopping-cart-{{children.pk}}').toggle();"> 
                <i class="fas fa-arrow-circle-down div-shopping-cart-{{children.pk}}" ></i>
                <i class="fas fa-arrow-circle-up div-shopping-cart-{{children.pk}}" style="display:none" ></i>
                {% padword_translate children.name%} 
            </a>
        </div>
        <div id="div-shopping-cart-{{children.pk}}" class="div-shopping-cart-{{children.pk}}" style="display:none"></div>
    </div>

    <script>
        {% if fi %}
            {#{% ark 'show-category-menu' 'div-shopping-cart-'|addstr:children.pk form_id=fi.pk cat_id=children.uuid %}#}
            {% ark 'show-category-menu' 'div-shopping-cart-'|addstr:children.pk cat_id=children.uuid %}
        {% else %}
            {#{% ark 'show-category-menu' 'div-shopping-cart-'|addstr:children.pk form_id=0 cat_id=children.uuid %}#}
            {% ark 'show-category-menu' 'div-shopping-cart-'|addstr:children.pk cat_id=children.uuid %}
        {% endif %}
    </script>
{% endfor %}

<div class="d-none" id="for-scripts"> </div>
