{% load i18n bookings_tag common_tag padword_tags static %}

{%block extralinks%}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/menu_villa.css' %}" >
{% endblock %}
	
<div class="row languages">
    <div class="col-lg-1 offset-lg-4 col-2 offset-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "34f8144d-bd8f-e180-5cd1-1680513396d3" "de" %}" data-target="main"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/de.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "34f8144d-bd8f-e180-5cd1-1680513396d3" "es" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/es.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "34f8144d-bd8f-e180-5cd1-1680513396d3" "fr" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/fr.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "34f8144d-bd8f-e180-5cd1-1680513396d3" "en" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/en.png">
        </a>
    </div>
</div>

<div class="row div-slogan">
    <div class="col-12 text-center"> <div class="slogan"> Escucha el silencio <br /><span>Detén el tiempo en Villa María</span></div> </div>
</div>

<div class="row div-boxes">
    <div class="col-lg-4 col-6">
        <div class="i-love-btn">
            <a href="https://www.hotelsuitevillamaria.es/promociones/?utm_source=padword&utm_medium=button&utm_campaign=padword" target="_blank" 
                class="btn btn-primary w-100"> <i class="far fa-grin-hearts"></i> 
                {% padword_translate_obj 'af153cdf-334d-0f06-f505-8e3ddb2a7162' %}</a>
        </div>
    </div>
    {%comment%}
    <div class="col-lg-3 col-6">
        <div class="value-btn"><a href="https://www.hotelsuitevillamaria.es/es/contacto/" class="btn btn-primary w-100 " target="_blank">
            <i class="far fa-thumbs-up"></i> {% padword_translate_obj 'e7797a43-31fc-df69-dcdf-eef7631964db' %}</a></div>
    </div>
    {%endcomment%}
    <div class="col-lg-4 col-6">
        <div class="sugest-btn"><a href="https://www.hotelsuitevillamaria.es/es/category/sostenibilidad/" target="_blank" 
            class="btn btn-secondary w-100 "> <i class="fas fa-leaf"></i> {% padword_translate_obj 'e3332f7c-18c5-127a-5bd5-52c9c75d5d7c' %}</a>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="covid19-btn"><a href="https://www.hotelsuitevillamaria.es/es/seguridad/" target="_blank" class="btn btn-outline-danger w-100">
                <i class="fas fa-info-circle"></i> {% padword_translate_obj '860c38f1-f584-38a9-1fb2-c01c73edc032' %}</a>
        </div>
    </div>
</div>

{% comment %} 
<div class="row align-items-end">
    <div id="div-current-category">
       {% for children in category.get_childrens %}
          <div id="menu" class="col-lg-3 col-5 tabs mb-1 align-middle justify-content-center">
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="div-current-category" 
            data-cat_id="{{children.uuid}}">{% padword_translate children.name %}</button>
          </div>
       {% endfor %}
    </div>
</div>
{% endcomment %} 
 
<div class="row menu-tabs align-items-end w-100">
    <div class="col-4 mb-1 align-middle justify-content-center p2">
        <div class="tabs">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="2c76e064-0ba0-feb6-13d9-5bc8047ac94c"> {% padword_translate_obj '2c76e064-0ba0-feb6-13d9-5bc8047ac94c'%}</button>
        </div>
    </div> 
    <div class="col-4 mb-1 align-middle justify-content-center p2">
        <div class="tabs">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="7ecc8b67-5df7-0478-f421-810f01046968"> {% padword_translate_obj '7ecc8b67-5df7-0478-f421-810f01046968'%}</button>
        </div>
    </div>
    <div class="col-4 mb-1 align-middle justify-content-center p2">
        <div class="tabs">
            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                data-cat_id="53a8cca8-8f84-87db-33b7-62b589e78ecd"> {% padword_translate_obj '53a8cca8-8f84-87db-33b7-62b589e78ecd'%}</button>
        </div>
    </div>
</div>

<div class="row menu-botton w-100" style="border:1px solid red !important: width:100%;">
    <div class="col-lg-2 offset-lg-1 col-3" style="padding:0; order:1px solid red">
        <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"                                                data-cat_id="e7797a43-31fc-df69-dcdf-eef7631964db"><i class="fas fa-wifi"></i><br />
             {% padword_translate_obj 'e7797a43-31fc-df69-dcdf-eef7631964db'%}</button>
    </div>
    <div class="col-lg-2 col-3" style="padding:0; order:1px solid red">
        <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
             data-cat_id="d82752f5-b816-ca07-ceb6-c0dbbddc8f28"><i class="far fa-comment-dots"></i><br />
             {% padword_translate_obj 'd82752f5-b816-ca07-ceb6-c0dbbddc8f28'%}</button>
    </div>
    <div class="col-lg-2 col-3" style="padding:0; order:1px solid red">
        <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
             data-cat_id="70317336-ea22-0fe2-6bb0-6598157f70e6"><i class="far fa-star"></i> <br />
             {% padword_translate_obj '70317336-ea22-0fe2-6bb0-6598157f70e6'%}</button>
    </div>
    <div class="col-lg-2 col-3" style="padding:0; order:1px solid red">
        <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
             data-cat_id="3da87086-dc27-a67f-c617-513a805cda3c"><i class="fas fa-concierge-bell"></i> <br />
             {% padword_translate_obj '3da87086-dc27-a67f-c617-513a805cda3c'%}</button>
    </div>
</div>


        <script id="realtime-script">
            $('#counter-item-{{item_refresh.pk}}').val('{{total_items}}');
            $('#counter-item-mob-{{item_refresh.pk}}').val('{{total_items}}');
            $('#span-total-price').html('{{total|floatformat:2}}');
            $('#span-total-items').html('{{items|length}}');
            if (parseInt($("#span-total-items").html()) > 0)
                $("#count-badge").show();
            else
                $("#count-badge").hide();
            $('#realtime-script').remove();
        </script>
