{% load i18n bookings_tag common_tag padword_tags static %}

{% get_current_language as LANGUAGE_CODE %}

<div class="row div-slogan"><div class="col-12 text-center main-slide">{% get_promos category %}</div></div>
 
{%comment%}

<div class="row div-key mt-4">
    <div class="col-12 text-center">
        <a class="menu-options collapsible-header waves-effect btn-large pt-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-lock"></i> Mis Llaves</a>
        <div class="collapse" id="collapseExample"> {% include "bookings/show-guest-keys.html" %} </div>
        <div class="collapse" id="collapseExample">
            {% for key in guest.keys.all %}
                <div class="form-check form-switch">
                    <input class="form-check-input ark_change" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                         data-url="{% url "open-lock" %}" data-target="" data-obj_id="{{key.lock}}">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Entrance</label>
                </div>
                </div>
            {% endfor %}
            <div class="collapse-option mt-3">
                <button class="collapsible-header waves-effect btn-large-2 ark-disabled">
                    <i class="fa fa-lock"></i> Entrance <span id="open-lock-msg" class="open-lock-msg"></span></button>
            </div>
            <div class="collapse-option mt-3">
                <button class="collapsible-header waves-effect btn-large-2 ark-disabled"
                    data-url="{% url "open-lock" %}" data-target="open-lock-msg">
                    <i class="fa fa-lock"></i> Entrance <span id="open-lock-msg" class="open-lock-msg"></span></button>
            </div>
            <div class="collapse-option mt-3"><a class="collapsible-header waves-effect btn-large-2"><i class="fa fa-lock"></i> Locker Room</a></div>
            <div class="collapse-option mt-3"><a class="collapsible-header waves-effect btn-large-2"><i class="fa fa-lock"></i> Server Room</a></div>
        </div>
    </div>
</div>

{%endcomment%}


<div class="row menu-tabs pt-2"> 
    <div class="tabs-1 col-6 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" data-url="{% url "show-key-menu" %}" data-target="main" 
            data-cat_id="f0f2d2d1-6a92-b7ba-f98d-cb61fe57bca9"><img class="" src="/static/img/ico_cerraduras.png"><br /><br />
            <span>Cerraduras</span>
        </button>
    </div> 
    <div class="tabs-1 col-6 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="560ae3a2-8130-b6f9-fd7a-7f0ccf535716"><img class="" src="/static/img/ico_clima.png"><br /><br />
         {%comment%}<span>{% padword_translate_obj 'de52ee51-9ac2-4baa-cefa-ff88939ea1c6'%}</span>  {%endcomment%}
        <span>Clima</span> 
        </button> 
    </div>
    <div class="tabs-1 col-6 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" id="btn-notifications"  data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="d5f73eae-9e36-3bce-da5b-22f69b1972d0"><img class="" src="/static/img/ico_room_status.png"><br /><br />
        {%comment%}<span>{% padword_translate_obj '52d2b39d-0842-7d27-a350-972bd5674c95'%}</span></button>{%endcomment%}
        <span>Room service</span></button>
    </div> 
    <div class="tabs-1 col-6 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" id="btn-notifications" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="b01259b7-409b-34dd-7f75-dc02d2111982"><img class="" src="/static/img/ico_reservas.png"><br /><br />
            {%comment%}<span>{% padword_translate_obj '52d2b39d-0842-7d27-a350-972bd5674c95'%}</span>{%endcomment%}
            <span>Reservar</span>
        </button>
    </div>
    <div class="tabs-5 col-12 mt-1 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" data-url="{% url "my-bookings" %}" data-target="main"
             data-project_uuid="{{form.project.uuid}}" data-cat_id="{{form.category}}"><img class="" src="/static/img/ico_pedidos.png"><br /><br />
             <span>Pedidos</span></button>
    </div>
       <span class="foot-title mb-2">Contáctanos</span>
    <div class="row menu-botton w-100 mt-2 p-2" style="background: #769d02;">
        <div class="col-lg-3 col-2" style="padding:0;">
            <a href="https://wa.me/+34 607 39 29 77"><img class="" src="/static/img/whatsapp.png" width="30px"></a>
        </div>
        <div class="col-lg-3 offset-1 col-6" style="padding:0;">
            <a href="mailto:info@padword.es"><img class="" src="/static/img/email.png" width="30px"></a>
        </div>
        <div class="col-lg-3 offset-1 col-2" style="padding:0;">
            <a href="https://www.padword.com/consultanos"><img class="" src="/static/img/contact.png" width="30px"></a>
        </div>
    </div>

</div>

<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
