{% load i18n bookings_tag common_tag padword_tags static %}

{% get_current_language as LANGUAGE_CODE %}

<div class="row menu-tabs pt-2"> 
    <div class="tabs-1 col-6 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" data-url="{% url "show-key-menu" %}" data-target="main" 
            data-cat_id="8ebe5030-d423-3c7e-cc5a-d425cbdc841f"><img class="" src="/static/img/ico_cerraduras.png"><br/><br/>
            <span>Cerraduras</span>
        </button>
    </div> 
    <div class="tabs-1 col-6 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" data-url="{% url "show-sensibo-menu" %}" data-target="main" 
            data-cat_id="8ebe5030-d423-3c7e-cc5a-d425cbdc841f"><img class="" src="/static/img/ico_clima.png"><br/><br/>
            <span>Clima</span> 
        </button> 
    </div>
    <div class="tabs-1 col-6 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" id="btn-notifications"  data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="d5f73eae-9e36-3bce-da5b-22f69b1972d0"><img class="" src="/static/img/ico_room_status.png"><br /><br />
        <span>Room service</span></button>
    </div> 
    <div class="tabs-1 col-6 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" id="btn-notifications" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="b01259b7-409b-34dd-7f75-dc02d2111982"><img class="" src="/static/img/ico_reservas.png"><br /><br />
            <span>Reservar</span>
        </button>
    </div>
    <div class="tabs-5 col-12 mt-1 mb-1 align-middle justify-content-center p-2">
        <button class="menu-options ark" data-url="{% url "my-bookings" %}" data-target="main"
             data-project_uuid="{{form.project.uuid}}" data-cat_id="{{form.category}}"><img class="" src="/static/img/ico_pedidos.png"><br /><br />
             <span>Pedidos</span></button>
    </div>
    <span class="foot-title mb-2">Contáctanos</span>
    <div class="row menu-botton w-100 mt-2 p-2" style="background: #769d02;">
        <div class="col-lg-3 col-3" style="padding:0">
            <a href="https://wa.me/message/ESIDJRWAEZLXN1"><img class="" src="/static/img/whatsapp-b.png" width="30px"></a>
        </div>
        <div class="col-lg-3 col-3" style="padding:0">
            <a href="https://wa.me/+34 607 39 29 77"><img class="" src="/static/img/whatsapp.png" width="30px"></a>
        </div>
        <div class="col-lg-3 col-3" style="padding:0">
            <a href="mailto:info@padword.es"><img class="" src="/static/img/email.png" width="30px"></a>
        </div>
        <div class="col-lg-3 col-3" style="padding:0">
            <a href="https://www.padword.com/consultanos"><img class="" src="/static/img/contact.png" width="30px"></a>
        </div>
    </div>

</div>

<script id="realtime-script">
    $("#back-btn-bookings").click(function(){ $(this).hide(); $("#back-btn").show(); });
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
