{% load i18n bookings_tag common_tag padword_tags static%}


{%comment%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/menu2.css' %}" >
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{%endcomment%}
<link rel="stylesheet" href="{% static 'css/menu2.css' %}" >

<div class="row d-flex justify-content-center mt-1">
    {% if category.get_items_active|length > 0 %}
		<div class="container"> <div class="row blog"> <div class="col-12">
            <div id="blogCarousel-{{category.id}}" class="carousel slide" data-ride="carousel">
                
                <!-- Carousel controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#blogCarousel-{{category.id}}" data-bs-slide="prev">
                    <span class="prev"><i class="fas fa-chevron-circle-left"></i></span></a> </button>
                <button class="carousel-control-next" type="button" data-bs-target="#blogCarousel-{{category.id}}" data-bs-slide="next">
                    <span class="next"><i class="fas fa-chevron-circle-right"></i></span></a> </button>

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for item in category.get_items_active %}
                        {% if forloop.counter0|divisibleby:4 %}
                            <div class="carousel-item {%if forloop.counter0 == 0%}active{%endif%}"><div class="row slider-row">
                        {% endif %}
                        <div class="col-md-3 justify-content-center zoom">
                            {% include "bookings/show-item.html" %}
                            {%comment%}
                            <div class="card w-100 mb-3">
                                <div class="image" id="cover"> 
                                    {% if item.image %} <img src="{{item.image.url}}" class="object-fit_cover" alt="{% padword_translate item.name %}"> {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-dark text-center">{% padword_translate item.name %}</h5>
                                    <h4 class="card-title text-dark text-center">{{ item.price}} &euro; </h4>
                                    {#<p class="card-text text-secondary">{% padword_translate item.description %}</p>#}
                                    {% include "bookings/show-item-btn.html" %}
                                </div>
                            </div>
                            {%endcomment%}
                        </div>
                        {% if forloop.counter|divisibleby:4 %} </div></div> {% endif %}
                    {% endfor %}
                </div>
            </div>
		</div> </div> </div>
    {% endif %}
</div>

{%csrf_token%}

{% for children in category.get_childrens %}
    <div class="cart-item mb-3 pb-3">
        <div class="col-12 d-flex align-middle justify-content-center cat-title-head">
            <div class="cat-image" id="cover">
                {% if children.show_img %}
				    <img src="{% if children.image %}{{children.image.url}}{%else%}{% static 'img/none.png' %}{%endif%}" 
		        	    class="object-fit" alt="{% padword_translate item.name %}"> 
                {% endif %}
			</div>
		    <a class="btn pl-2 w-100 cat-title text-left" onclick="$('.div-shopping-cart-{{children.pk}}').toggle();"> 
                <i class="fas fa-angle-up div-shopping-cart-{{children.pk}}" style="float:right;"></i>
                <i class="fas fa-angle-down div-shopping-cart-{{children.pk}}" style="float:right;display:none" ></i>
                {% padword_translate children.name%} </a>
        </div>
		<div id="div-shopping-cart-{{children.pk}}" class="div-shopping-cart-{{children.pk}}" style="display:none"></div>
	</div>
    <script>
        {% if fi %}
            {#{% ark 'show-category-menu' 'div-shopping-cart-'|addstr:children.pk form_id=fi.pk cat_id=children.uuid %}#}
            {% ark 'show-category-menu' 'div-shopping-cart-'|addstr:children.pk cat_id=children.uuid %}
        {% else %}
            {#{% ark 'show-category-menu' 'div-shopping-cart-'|addstr:children.pk form_id=0 cat_id=children.uuid %}#}
            {% ark 'show-category-menu' 'div-shopping-cart-'|addstr:children.pk cat_id=children.uuid %}
        {% endif %}
    </script>
{% endfor %}

