{% load i18n bookings_tag common_tag padword_tags static%}


<div id="div-current-category">
    {% for item in category.get_childrens %}
        <div class="col-lg-2 col-md-3 col-xs-12 justify-content-center">
            <div class="card w-100 mb-3 ark" data-url="{% url "show-category-menu" %}" data-target="div-current-category" 
                data-cat_id="{{item.uuid}}">
                <div class="image" id="cover"> <img src="{% if item.image %}{{item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" 
                    class="object-fit_cover" alt="{% padword_translate item.name %}"> </div>
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">{% padword_translate item.name %}</h5>
                    <p class="card-text text-secondary">{% padword_translate item.description %}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for item in category.get_items %}
        <div class="col-lg-2 col-md-3 col-xs-12 justify-content-center">
            <div class="card w-100 mb-3">
                <div class="image" id="cover"> <img src="{% if item.image %}{{item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" 
                    class="object-fit_cover" alt="{% padword_translate item.name %}"> </div>
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">{% padword_translate item.name %}</h5>
                    <h4 class="card-title text-dark text-center">{{ item.price}} &euro; </h4>
                    <p class="card-text text-secondary">{% padword_translate item.description %}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


