{% load i18n bookings_tag common_tag padword_tags static %}

<div class="row menu-botton">
    <div class="col-lg-2 offset-lg-1 col-2 offset-1" style="padding:0;">
        <button class="menu-options ark" id="btn-messages" data-url="{% url "my-messages" %}" 
            data-target="main" data-project_uuid="{{project_uuid}}"> <i class="far fa-comments"></i> <br /><span>Chat</span> 
            <span class="count badge" id="notification-badge" {%if guest.get_not_read_notifications == 0%}style="display:none"{%endif%}>
            <span id="span-notifications">{{ guest.get_not_read_notifications }}</span></span>
         </button>
    </div>
    <div class="col-lg-2 col-2" style="padding:0;">
        <button class="menu-options ark" id="btn-home" data-url="{% url "show-category-menu" %}" data-target="main"
            data-cat_id="0ccb36a8-d778-e0ee-8af6-82eb58ad3eaf"><i class="fas fa-home"></i><br /><span>Home</span></button>
    </div>
    <div class="col-lg-2 col-2" style="padding:0;">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
            data-project_uuid="{{project_uuid}}" data-cat_id="5502ba86-1a67-fd52-5420-97616c222985"><i class="fas fa-sun"></i><br />
            <span>{% padword_translate_obj '5502ba86-1a67-fd52-5420-97616c222985'%}</span></button>
    </div>
     <div class="col-lg-2 col-2" style="padding:0;">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
             data-project_uuid="{{project_uuid}}" data-cat_id="beacf265-856f-4d47-d303-03732a305136"><i class="fas fa-map"></i><br />
            <span>{% padword_translate_obj 'beacf265-856f-4d47-d303-03732a305136'%}</span></button>
    </div>
    <div class="col-lg-2 col-2" style="padding:0;">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
             data-project_uuid="{{project_uuid}}" data-cat_id="a5479af8-c48d-2b60-a2ee-f5b95418b6bd"><i class="fas fa-share-alt"></i><br />
            <span>{% padword_translate_obj 'a5479af8-c48d-2b60-a2ee-f5b95418b6bd'%}</span></button>
    </div>
</div>



