{% load i18n bookings_tag common_tag padword_tags static %}

{% get_current_language as LANGUAGE_CODE %}
{% comment %}
<div class="row languages">
    <div class="col-lg-1 offset-lg-4 col-2 offset-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "d4aa331f-5026-c4d5-c86c-4e1c71dd252e" "de" %}" data-target="main"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/de.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "d4aa331f-5026-c4d5-c86c-4e1c71dd252e" "es" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/es.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "d4aa331f-5026-c4d5-c86c-4e1c71dd252e" "fr" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/ru.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "d4aa331f-5026-c4d5-c86c-4e1c71dd252e" "en" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/en.png">
        </a>
    </div>
</div>
{% endcomment %}

{#<div class="row div-slogan"><div class="col-12 text-center main-slide"><img class="" src="/static/img/bg-lagos.jpg"></div></div>#}
<div class="row div-slogan"><div class="col-12 text-center main-slide">{% get_promos category %}</div></div>
 
<div class="row div-key">
    <div class="col-12 text-center pt-2">
        <a class="menu-options" href="https://open.tullaveonline.com/?k=jWFk2nTF"> <img class="" src="/static/img/key.png"><br />Tu llave</a>
    </div> 
</div>

<div class="row menu-tabs pt-3"> 
    <div class="tabs col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="ccf3f873-395b-2759-ff18-74b141bc922a"> <img class="ico-image" src="/static/img/ico-hotel2.png">
            <br />{% padword_translate_obj 'ccf3f873-395b-2759-ff18-74b141bc922a'%}</button>
    </div> 
    <div class="tabs col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="6ce2635d-610c-85cf-3aab-0bbd196ba273"> <img class="ico-image" src="/static/img/ico-room-service2.png">
            <br />{% padword_translate_obj '6ce2635d-610c-85cf-3aab-0bbd196ba273'%}</button>
    </div>
    <div class="tabs col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="c6440ddd-2fef-53ba-3a9a-98be7faf56b5"> <img class="ico-image" src="/static/img/ico-restaurants2.png">
            <br />{% padword_translate_obj 'c6440ddd-2fef-53ba-3a9a-98be7faf56b5'%}</button>
    </div> 
    <div class="tabs col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="878d9aee-defc-c63b-95bb-0ec46b95310f"> <img class="ico-image" src="/static/img/ico-chillout.png">
            <br />{% padword_translate_obj '878d9aee-defc-c63b-95bb-0ec46b95310f'%}</button>
    </div>

    <div class="tabs col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="726d79a4-1147-f7e2-36e3-8f15c60f34aa"> <img class="ico-image" src="/static/img/ico-upgrade.png">
            <br />{% padword_translate_obj '726d79a4-1147-f7e2-36e3-8f15c60f34aa'%}</button>
    </div>
    <div class="tabs col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="7583e3f4-b03a-c1f3-22ab-95a292cf3da9"> <img class="ico-image" src="/static/img/ico-experiences.png">
            <br />{% padword_translate_obj '7583e3f4-b03a-c1f3-22ab-95a292cf3da9'%}</button>
    </div>
    <div class="tabs col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="0bba66c4-88ee-7719-913f-42536a004f17"> <img class="ico-image" src="/static/img/ico-evaluate.png">
            <br />{% padword_translate_obj '0bba66c4-88ee-7719-913f-42536a004f17'%}</button>
    </div>
    <div class="tabs col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="d020042a-e66c-7be9-facb-41a4171f0ac5"> <img class="ico-image" src="/static/img/ico-massages.png">
            <br />{% padword_translate_obj 'd020042a-e66c-7be9-facb-41a4171f0ac5'%}</button>
    </div>

</div>

<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
