{% load i18n bookings_tag common_tag padword_tags static %}

<div class="row menu-botton">
    <div class="col-lg-3 offset-lg-1 col-4" style="padding:0;">
        <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"                                                data-cat_id="d4aa331f-5026-c4d5-c86c-4e1c71dd252e"><i class="fas fa-home"></i></button>
    </div>
    {% comment %}
    <div class="col-lg-2 col-3" style="padding:0; border:1px solid red">
        <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
             data-cat_id="d82752f5-b816-ca07-ceb6-c0dbbddc8f28"><i class="far fa-comment-dots"></i><br />
             {% padword_translate_obj 'd82752f5-b816-ca07-ceb6-c0dbbddc8f28'%}</button>
    </div>
    {% endcomment %}
    <div class="col-lg-4 col-4" style="padding:0;">
        <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
             data-cat_id="d4aa331f-5026-c4d5-c86c-4e1c71dd252e"><i class="far fa-calendar"></i></button>
    </div>
    <div class="col-lg-3 col-4" style="padding:0;">
        <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
             data-cat_id="b1a25c45-c43b-8263-e46f-031f2593a623"><i class="fas fa-shopping-cart"></i></button>
    </div>
</div>



