{% load i18n bookings_tag common_tag padword_tags static %}
	
<div class="row languages">
    <div class="col-lg-1 offset-lg-4 col-2 offset-3">
        <a href="#" class="text-center ark" data-url="{% url "guest-set-lang" %}" data-target="main-base" data-lang="de"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/de.png"></a></div>
    <div class="col-lg-2 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-set-lang" %}" data-target="main-base" data-lang="es"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/es.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-set-lang" %}" data-target="main-base" data-lang="en"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/en.png"> </a> </div>
</div>

<div class="row div-slogan"><div class="col-12 text-center"><div class="slogan">{% trans "Instant Relaxation" %}</div></div></div>

<div class="row div-boxes">
    <div class="col-lg-4 col-6">
        <div class="i-love-btn">
            {% with cat_uuid=form|get_cat_uuid:"encanto" %}
                <a href="https://www.hotelsuitevillamaria.es/promociones/?utm_source=padword&utm_medium=button&utm_campaign=padword" 
                    target="_blank" class="btn btn-primary"> <i class="far fa-grin-hearts"></i> {% padword_translate_obj cat_uuid %}</a>
            {%endwith%}
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="sugest-btn">
            {% with cat_uuid=form|get_cat_uuid:"sostenibilidad" %}
                <a href="https://www.hotelsuitevillamaria.es/es/category/sostenibilidad/" target="_blank" 
                    class="btn btn-secondary"> <i class="fas fa-leaf"></i> {% padword_translate_obj cat_uuid %}</a>
            {%endwith%}
        </div>
    </div>
</div>

<div class="row menu-tabs align-items-end">
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="tabs">
            {% with cat_uuid=form|get_cat_uuid:"mi_villa" %}
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="{{cat_uuid}}"> {% padword_translate_obj cat_uuid %}</button>
            {%endwith%}
        </div>
    </div> 
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="tabs">
            {% with cat_uuid=form|get_cat_uuid:"hotel" %}
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="{{cat_uuid}}"> {% padword_translate_obj cat_uuid %}</button>
            {%endwith%}
        </div>
    </div>
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="tabs">
            {% with cat_uuid=form|get_cat_uuid:"gastro" %}
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="{{cat_uuid}}"> {% padword_translate_obj cat_uuid %}</button>
            {%endwith%}
        </div>
    </div>
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="tabs">
            {% with cat_uuid=form|get_cat_uuid:"wellness" %}
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="{{cat_uuid}}"> {% padword_translate_obj cat_uuid %}</button>
            {%endwith%}
        </div>
    </div>

</div>

<div class="row menu-botton">
    <div class="col-lg-3 offset-lg-1 col-4" style="padding:0;">
        {% with cat_uuid=form|get_cat_uuid:"conectate" %}
            <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
                data-cat_id="{{cat_uuid}}"><i class="fas fa-wifi"></i><br /> {% padword_translate_obj cat_uuid %}</button>
        {%endwith%}
    </div>
    <div class="col-lg-4 col-4" style="padding:0;">
        {% with cat_uuid=form|get_cat_uuid:"sugerencias" %}
            <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
                data-cat_id="{{cat_uuid}}"><i class="far fa-star"></i> <br /> {% padword_translate_obj cat_uuid %}</button>
        {%endwith%}
    </div>
    <div class="col-lg-3 col-4" style="padding:0;">
        {% with cat_uuid=form|get_cat_uuid:"servicios" %}
            <button style="color:white !important;" class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main"
                data-cat_id="{{cat_uuid}}"><i class="fas fa-concierge-bell"></i> <br /> {% padword_translate_obj cat_uuid %}</button>
        {%endwith%}
    </div>
</div>

<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
