{% load i18n bookings_tag common_tag padword_tags static %}

{% comment %}
<div class="row languages">
    <div class="col-lg-1 offset-lg-4 col-2 offset-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "d4aa331f-5026-c4d5-c86c-4e1c71dd252e" "de" %}" data-target="main"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/de.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "d4aa331f-5026-c4d5-c86c-4e1c71dd252e" "es" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/es.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "d4aa331f-5026-c4d5-c86c-4e1c71dd252e" "fr" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/ru.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-access" "d4aa331f-5026-c4d5-c86c-4e1c71dd252e" "en" %}" data-target="main">
            <img class="btn btn-secondary p-2" src="/static/img/en.png">
        </a>
    </div>
</div>
{% endcomment %}

{#<div class="row div-slogan"><div class="col-12 text-center main-slide"><img class="" src="/static/img/bg-lagos.jpg"></div></div>#}
<div class="row div-slogan"><div class="col-12 text-center main-slide">{% get_promos category %}</div></div>
 
<div class="row div-key">
    <div class="col-12 text-center pt-2">
        <a class="menu-options" href="https://open.tullaveonline.com/?k=jWFk2nTF"> <img class="" src="/static/img/key.png"><br />Tu llave</a>
    </div> 
</div>

<div class="row menu-tabs"> 
    <div class="tabs col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="59d99a9b-0fc1-a88e-0ca2-3cdf1c3551f4"> <img class="ico-image" src="/static/img/ico-hotel2.png">
            <br />{% padword_translate_obj '59d99a9b-0fc1-a88e-0ca2-3cdf1c3551f4'%}</button>
    </div> 
    <div class="tabs col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="415031ef-b5b5-79b5-0815-d55d96047cf6"> <img class="ico-image" src="/static/img/ico-room-service2.png">
            <br />{% padword_translate_obj '415031ef-b5b5-79b5-0815-d55d96047cf6'%}</button>
    </div>
    <div class="tabs col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="6bdad536-bbc9-be66-4c43-5ed09a100046"> <img class="ico-image" src="/static/img/ico-restaurants2.png">
            <br />{% padword_translate_obj '6bdad536-bbc9-be66-4c43-5ed09a100046'%}</button>
    </div> 
    <div class="tabs col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="9335ec74-bd0b-5633-5a57-609ce899e426"> <img class="ico-image" src="/static/img/ico-chillout.png">
            <br />{% padword_translate_obj '9335ec74-bd0b-5633-5a57-609ce899e426'%}</button>
    </div>
    <div class="tabs col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="bd2596e0-1fa7-27e6-49fc-6b0be4df1d04"> <img class="ico-image" src="/static/img/ico-massages.png">
            <br />{% padword_translate_obj 'bd2596e0-1fa7-27e6-49fc-6b0be4df1d04'%}</button>
    </div>

    <div class="tabs col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="83debfba-55dc-a256-c2ab-8acf0716278b"> <img class="ico-image" src="/static/img/ico-experiences.png">
            <br />{% padword_translate_obj '83debfba-55dc-a256-c2ab-8acf0716278b'%}</button>
    </div>
    <div class="tabs col-4 offset-1 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="d223a126-296f-bcd7-1f21-3b80c0431592"> <img class="ico-image" src="/static/img/ico-upgrade.png">
            <br />{% padword_translate_obj 'd223a126-296f-bcd7-1f21-3b80c0431592'%}</button>
    </div>

    <div class="tabs col-4 offset-2 mb-1 align-middle justify-content-center p2">
        <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
            data-cat_id="39a45789-2235-8dd7-c4c9-989caf8fdb82"> <img class="ico-image" src="/static/img/ico-evaluate.png">
            <br />{% padword_translate_obj '39a45789-2235-8dd7-c4c9-989caf8fdb82'%}</button>
    </div>

</div>

<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
