{% load i18n bookings_tag common_tag padword_tags static%}


<div class="row languages">
    <div class="col-lg-1 offset-lg-4 col-2 offset-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-set-lang" %}" data-target="main-base" data-lang="de"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/de.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-set-lang" %}" data-target="main-base" data-lang="es"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/es.png"></a></div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-set-lang" %}" data-target="main-base" data-lang="fr"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/fr.png"> </a> </div>
    <div class="col-lg-1 col-2">
        <a href="#" class="text-center ark" data-url="{% url "guest-set-lang" %}" data-target="main-base" data-lang="en"
            data-cat_id="{{form.category}}"> <img class="btn btn-secondary p-2" src="/static/img/en.png"> </a> </div>
</div>

<div class="row div-slogan"> <div class="col-12 text-center"> <div class="slogan"> Lani's <br /><span>Suites de Luxe</span></div> </div> </div>

<div class="collapse text-center gral-content" id="collapseExample"> {% include "bookings/show-guest-keys.html" %} </div>

<div class="row menu-tabs align-items-end w-100">
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="">
            {% with cat_uuid=form|get_cat_uuid:"gastro" %}
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="{{cat_uuid}}">{% padword_translate_obj cat_uuid %}</button>
            {% endwith %}
        </div>
    </div> 
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="">
            {% with cat_uuid=form|get_cat_uuid:"beauty" %}
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="{{cat_uuid}}">{% padword_translate_obj cat_uuid %}</button>
            {% endwith %}
        </div>
    </div>
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="">
            {% with cat_uuid=form|get_cat_uuid:"serv_hotel" %}
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="{{cat_uuid}}">{% padword_translate_obj cat_uuid %}</button>
            {% endwith %}
        </div>
    </div>
    <div class="col-3 mb-1 align-middle justify-content-center p2">
        <div class="">
            {% with cat_uuid=form|get_cat_uuid:"exper" %}
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="{{cat_uuid}}">{% padword_translate_obj cat_uuid %}</button>
            {% endwith %}
        </div>
    </div>
</div>

<div class="row menu-botton w-100">
    <div class="col-lg-3 offset-1 col-2" style="padding:0;">
        <div>
            {% with cat_uuid=form|get_cat_uuid:"covid" %}
                <a class="text-white pointer ark" data-url="{%url "show-category-menu"%}" data-target="main" data-cat_id="{{cat_uuid}}"> 
                    <i class="far fa-star"></i> <span>{% padword_translate_obj cat_uuid %}</span></a>
            {% endwith %}
        </div>
    </div>
    <div class="col-lg-4 col-3" style="padding:0;">
        <div>
            {% with cat_uuid=form|get_cat_uuid:"internet" %}
                <a class="text-white pointer ark" data-url="{%url "show-category-menu"%}" data-target="main" data-cat_id="{{cat_uuid}}"> 
                    <i class="fas fa-wifi"></i> <span>{% padword_translate_obj cat_uuid %}</span></a>
            {% endwith %}
        </div>
    </div>
    <div class="col-lg-3 col-2" style="padding:0;">
        <div>
            {% with cat_uuid=form|get_cat_uuid:"lanza" %}
                <a class="text-white pointer ark" data-url="{%url "show-category-menu"%}" data-target="main" data-cat_id="{{cat_uuid}}"> 
                    <i class="far fa-star"></i> <span> {% padword_translate_obj cat_uuid %}</span></a>
            {% endwith %}
        </div>
    </div>
    <div class="col-lg-3 col-3" style="padding:0;">
        <div>
            <a class="menu-options collapsible-header waves-effect text-white pointer" data-bs-toggle="collapse" href="#collapseExample" role="button"                              aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-key"></i><span>{% trans "Mis Llaves" %}</span></a>
        </div>
    </div>

</div>

{% if lang and category %} {%csrf_token%} {% endif %}

<script id="realtime-script">
    $("#back-btn").hide();
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
