{% load i18n bookings_tag common_tag padword_tags static %}

{% get_current_language as LANGUAGE_CODE %}

<style> .pdfobject-container { height: 500px; border: 1px solid #ccc; } </style>

<div id="div-main-content" class="tablet-size">
    {% with cat=form.get_category %}
        <div class="row pt-3"> 
            <div class="col-10 offset-1 up-bar text-center mt-3 pt-5 pb-5"><img src="/static/img/logo-disa.jpg" width="250"></div>

            <div class="tabs-1 col-3 offset-3 mb-1 align-middle justify-content-center">
                <div>
                    {#<a class="menu-options" href="{{cat|get_file_url:1}}">Memoria<br ><span>Grupo DISA</span></a>#}
                    <a class="menu-options" onclick="$('#div-pdf').show();$('#div-main-content').hide();">Memoria<br ><span>Grupo DISA</span></a>
                </div>
            </div> 
            <div class="tabs-2 col-3 mb-1 align-middle justify-content-center">
                <div>
                    {#<a class="menu-options" href="{{cat|get_file_url:2}}">Memoria<br ><span>Fundación</span></a>#}
                    <a class="menu-options" onclick="$('#div-pdf2').show();$('#div-main-content').hide();">Memoria<br ><span>Fundación</span></a>
                </div>
            </div> 
        </div>

        <div class="row p-3 text-left mt-5"> 
            <div class="tabs-3 col-3 offset-3 mb-1">
                <a href="{{cat|get_file_url:3}}"><span class="dot"><i class="fa fa-check"></i></span> Cuentas Anuales Grupo</a><br /><br />
                <a href="{{cat|get_file_url:4}}"><span class="dot"><i class="fa fa-check"></i></span> Cuentas Anuales Internacional</a>
            </div> 
            <div class="tabs-4 col-3 mb-1">
                <a href="{{cat|get_file_url:5}}"><span class="dot"><i class="fa fa-check"></i></span> Cuentas Anuales Fundación</a>
            </div> 
            <div class="col-10 offset-1 down-bar text-center mt-5 pt-1"></div>
        </div>
        </div>
    {% endwith %}
</div>
<div id="div-pdf" style="display:none">
    <button class="btn" onclick="$('#div-pdf').hide();$('#div-main-content').show();">Cerrar</button>
    <div id="my-pdf"></div>
</div>
<div id="div-pdf2" style="display:none">
    <button class="btn" onclick="$('#div-pdf2').hide();$('#div-main-content').show();">Cerrar</button>
    <div id="my-pdf2"></div>
</div>

<script>
    PDFObject.embed("https://padword.shidix.es/media/contents/categories/files/1156/20230512121216bMemoria_Fundacion_DISA_2021.pdf", "#my-pdf");
    PDFObject.embed("https://padword.shidix.es/media/contents/categories/files/1156/20230512121232bCuentas_anuales_Grupo_DISA_2021.pdf", "#my-pdf2");
</script>


{%comment%}
<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
{%endcomment%}
