{% load i18n bookings_tag common_tag padword_tags static %}


{%block extralinks%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'css/menu_demo.css' %}" >
{% endblock %}
	
    <div class="row languages">
        <div class="col-lg-1 offset-lg-4 col-2 offset-2">
            <a href="{% url "guest-access-pwa" "34f8144d-bd8f-e180-5cd1-1680513396d3" "de" %}" target="_blank">
                <img class="btn btn-secondary p-2" src="/static/img/de.png"></a></div>
        <div class="col-lg-1 col-2">
            <a href="{% url "guest-access-pwa" "34f8144d-bd8f-e180-5cd1-1680513396d3" "es" %}" target="_blank">
                <img class="btn btn-secondary p-2" src="/static/img/es.png"></a></div>
        <div class="col-lg-1 col-2">
            <a href="{% url "guest-access-pwa" "34f8144d-bd8f-e180-5cd1-1680513396d3" "fr" %}" target="_blank">
                <img class="btn btn-secondary p-2" src="/static/img/fr.png"></a></div>
        <div class="col-lg-1 col-2">
            <a href="{% url "guest-access-pwa" "34f8144d-bd8f-e180-5cd1-1680513396d3" "en" %}" target="_blank">
                <img class="btn btn-secondary p-2" src="/static/img/en.png">
            </a>
        </div>
	</div>

    <div class="row div-slogan">
        <div class="col-12 text-center"> <div class="slogan"> Padword Power <br /><span>Web App demo</span></div> </div>
  	</div>

	<div class="row div-boxes">
        <div class="col-lg-4 col-6">
            <div class="i-love-btn">
                <a class="btn btn-primary w-100 ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="ccd4ff15-a1af-f65f-98bb-3a60cb0343c1"> {% padword_translate_obj 'ccd4ff15-a1af-f65f-98bb-3a60cb0343c1'%}</a>
            </div>
		</div>
        <div class="col-lg-4 col-6">
            <div class="i-love-btn">
                <a class="btn btn-primary w-100 ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="ca024f0a-a6cc-e7ac-c326-0422d8277583"> {% padword_translate_obj 'ca024f0a-a6cc-e7ac-c326-0422d8277583'%}</a>
            </div>
		</div>
        <div class="col-lg-4 col-6">
            <div class="i-love-btn">
                <a class="btn btn-primary w-100 ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="09758d50-898a-9a3b-1c69-2952162f4fa2"> {% padword_translate_obj '09758d50-898a-9a3b-1c69-2952162f4fa2'%}</a>
            </div>
		</div>
	</div>

    {% comment %} 
    <div class="row align-items-end">
		<div id="div-current-category">
		   {% for children in category.get_childrens %}
		      <div id="menu" class="col-lg-3 col-5 tabs mb-1 align-middle justify-content-center">
		            <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="div-current-category" 
			    data-cat_id="{{children.uuid}}">{% padword_translate children.name %}</button>
		      </div>
		   {% endfor %}
		</div>
	</div>
    {% endcomment %} 
	 
    <div class="row menu-tabs align-items-end w-100">
        <div class="col-6 mb-1 align-middle justify-content-center p2">
            <div class="tabs">
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="81700c21-37ab-7449-0eab-f00b8800c207"> {% padword_translate_obj '81700c21-37ab-7449-0eab-f00b8800c207'%}</button>
            </div>
	    </div> 
        <div class="col-6 mb-1 align-middle justify-content-center p2">
            <div class="tabs">
                <button class="menu-options ark" data-url="{% url "show-category-menu" %}" data-target="main" 
                    data-cat_id="e4a7ca20-1781-2749-9538-b961d25ef695"> {% padword_translate_obj 'e4a7ca20-1781-2749-9538-b961d25ef695'%}</button>
            </div>
	    </div>
    </div>

    <div class="row menu-botton pt-2">
        {% comment %}
		<div class="col-lg-2 offset-lg-2 col-3" style="padding:0;">
            <div class=""><a href="#"><i class="fas fa-wifi"></i><span> Conéctate</a></span></div>
		</div>
		<div class="col-lg-2 col-3" style="padding:0;">
			<div class=""><a href="#"><i class="far fa-comment-dots"></i><span> Recepción</a></span></div>
		</div>
		<div class="col-lg-2 col-3" style="padding:0;">
			<div class=""><a href="#"><i class="far fa-star"></i> <span>Sugerencias</a></span></div>
		</div>
    	<div class="col-lg-2 col-3" style="padding:0;">
			<div class=""><a href="#"><i class="fas fa-concierge-bell"></i><span> Más Servicios</a></span></div>
		</div>
        {% endcomment %}
	</div>


