{% load i18n bookings_tag common_tag padword_tags static %}

{% get_current_language as LANGUAGE_CODE %}

<div class="row div-slogan"></div>
<div class="col-12 slogan-laguna text-center text w-100">{{guest.room_obj.alias}} </div>
<div class="row div-key pt-3">
    <div class="col-12 text-center gral-content pt-2"> {% include "bookings/show-guest-keys.html" %} </div>  
    <div class="simple-footer">C. Nava y Grimon, 3, La Laguna (38201 - S/C de Tenerife)<br />686 247 411</div>
</div>

<script id="realtime-script">
    $('#span-total-items').html('{% get_total_items request.user.username category.project_uuid %}');
    if (parseInt($("#span-total-items").html()) > 0)
        $("#count-badge").show();
    else
        $("#count-badge").hide();
    $('#realtime-script').remove();
</script>
