{% load i18n bookings_tag common_tag padword_tags static%}

{%block extralinks%} <link rel="stylesheet" href="{% static 'css/menu_lagos.css' %}" > {% endblock %}

{% include "bookings/menus/menu_top_lagos.html" %}

{% get_current_language as LANGUAGE_CODE %}

<div id="main" class="main-pwa"> {% include form.form_type.template with category=form.get_category %} </div>

{% include "bookings/menus/menu_bottom.html" %}

<script> $("#back-btn-bookings").click(function(){ $(this).hide(); $("#back-btn").show(); }); </script>
