
/*******************************/
	/* Carta 3 style */
/*******************************/

img {
    background-color: transparent;
}
.div-top {
    background: #fff !important;
    border-bottom: 1px solid #333;
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
    justify-content: left !important;
    max-height: 100px !important;
}

.div-top.top-prj-4
{
    background: rgb(255,255,255) !important;
    background: linear-gradient(180deg, rgba(255,255,255,1) 71%, rgba(255,255,255,0) 100%) !important;
}

.div-top img {
    max-height: 100px;
    object-fit: cover;
}
button.btn.btn-header-pwa.ark, a.btn.btn-header-pwa.ark { margin-top: 15px;}
button.btn.btn-header-pwa.ark span, span.subtext  { color: #3c385c !important;}

i.fas.fa-home, i.far.fa-calendar, i.fas.fa-sign-in-alt { 
    color: #3c385c !important; 
    font-size: 1.2rem;
}

.row.bloque.mt-3 {
    margin-top: -5% !important;
    width:100%;
    margin:0;
}

.div-transp-0 {
    border-radius: 15px;
    color: black;
    opacity: 0.9;
}

.div-transp-blue {
    background-color: transparent;
    background-image: none;
}

.card-text, .div-notification {
 /*   display:none;*/
}
.card-body {
     padding: 0px 10px 0px 10px !important;
}

img.object-fit_cover {
    height: 150px;
}
.back-button {
    text-align: right;
}
button.btn.btn-back,
.back-button a {
    color: white;
}
.btn.btn-dark-pad {
    font-size: 1.2em !important;
}

/*
.grid-child-categories {
    display:inline-block;
    width: 33%;
}
*/
div.card-title {
    color: #00448c;
    font-weight: 100 !important;
    font-size: 1.2rem;
}

.card.mb-1.ark {
    border:1px solid white !important;
}

.box-cat {
    padding:2px !important;
}

.btn.btn-secondary, 
button.btn.btn-secondary { 
	background:#fff;
	color:#777;
	border-radius: 15px;
	border:none;
    line-height: 2;
}
button.btn.btn-secondary:hover { 
	background:#a8abad;
    color:white;
}
.btn-info-pwa {
    font-size: 0.8rem !important;
}

.pointer {cursor: pointer;}


div.card-title {
    font-size: 1.2rem !important;
    margin-bottom:0px !important;
}

.info-panel {
    border:1px solid white;
    color: #777;
    opacity: 1;
    border-radius: 0 0 0.25rem 0.25rem;
}


**********************************/


@media (max-width: 320px) {
    .btn-info-pwa {
        font-size: 0.8rem !important;
    }

    .div-top img {
        height: 60px;
        object-fit: cover;
    }
}

@media (min-width: 320px) {
    .sugest-btn {
        margin-top: 2px !important;
        margin-right: 2px !important;
    }

    .btn-info-pwa {
        font-size: 0.8rem !important;
    }

    img.object-fit_cover {
    /*    height: 100px;*/
    }

    .card-body {
        font-size: 0.8rem;
    }
    div.card-title {
        font-size: 0.8rem;
    }

}

.container-test {
    position: relative;
    width: 50%;
/*    height: 200%;*/
    opacity: 0.9;
}

.image {/*
    display: block;
    width: 100%;
    height: auto;*/
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: .5s ease;
    background-color: #3c385c;
    padding-top: 60px;
    color: white;
    font-weight:600;
}

.overlay span {
    border:2px solid #e4d9d1 ;
    padding: 15px;
    border-radius: 5px;
    font-weight:600;
}

.container-test:hover .overlay {
    opacity: 1;
    color: #3c385c;
    background-color: #e4d9d1;
    font-size: 20px !important;
    font-weight:600;
}

.text {
    color: white;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text:hover {
    border:1px solid #e4d9d1 ;
}


@media (max-width: 415px) 
{
    button.btn.btn-header-pwa.ark { margin-top: 10px;}
    button.btn.btn-header-pwa.ark span, span.subtext { color: #3c385c !important;font-size: 0.7rem;}

    i.fas.fa-home, i.far.fa-calendar, i.fas.fa-sign-in-alt { 
        color: #3c385c !important; 
        font-size: 1rem;
    }

.item1 { font-size: 18px !important; line-height: 35px !important; }	
}

