.container {
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
/*    margin-left: 15px;*/
}

#div-notification,
.fixed-head {
	display:none;
}

img {
    background-color: transparent;
}

.div-top {
    background: #fff !important;
    border-bottom: 1px solid #333;
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
    justify-content: left !important;
    max-height: 100px;
}
.div-top img {
    max-height: 100px;
    object-fit: cover;
}

button.btn.btn-header-pwa.ark { margin-top: 25px;}
button.btn.btn-header-pwa.ark span { 
    color: #3c385c !important;
    font-size: 0.8rem;
}

i.fas.fa-home, i.far.fa-calendar, i.fas.fa-sign-in-alt { 
    color: #3c385c !important; 
    font-size: 1.2rem;
}

.btn-info-pwa {
    font-size: 0.8rem !important;
}

.div-transp-blue {
	background-size: cover;
	 background-color: transparent; 
	background-image: none !important; 
	opacity: 0.9;
	color: white;
}

.logo {
      height: 90px;
}

.logo img {
    background-color: transparent !important;
    object-fit: contain;
    height: 90px;
    border: 0 !important;
}

a.btn.btn-primary,
button.btn.btn-primary { 
/*	background:#00448c;*/
	border-radius: 15px;
	border:none;
    line-height: 2;
}

.btn.btn-secondary, 
a.btn.btn-secondary, 
button.btn.btn-secondary { 
	background:#fff !important;
	color:#777;
	border-radius: 15px;
	border:none;
    line-height: 2;
}
a.btn.btn-secondary:hover,
button.btn.btn-secondary:hover { 
	background:#a8abad;
   /* color:white;*/
    color: #333;
}

a.btn-outline-danger,
button.btn-outline-danger { 
	border-radius: 15px;
    color: #dc3545;
    background-color: white;
    line-height: 2;
    border: none;
}

a.btn-outline-danger:hover,
button.btn-outline-danger:hover { 
	background:#dc3545;
    color: white;
}

.slogan {
    font-size: 2.1rem;
    font-weight:600;
    color: white;
}
.slogan span {
    font-size: 0.9rem;
    text-transform: uppercase;
}


#div-current-category {
/*	border:1px solid blue;*/
	bottom: 60px;
	width: 83%;
	width: 100%;
	position: fixed;
	margin: 0 0 0 auto;
}

.align-items-end {
	position:fixed;
	bottom: 60px;
	left:0;
	width: 110%;
	height: 60px;
}

button.menu-options { 
    background: none;
    text-transform: uppercase;
	border:0;
	color:#00448c;
	font-size: 1.2rem;
	height: 60px;
}

.menu-tabs {
    bottom: 60px;
	width: 100%;
	position: fixed;
	margin-left: 0.1%;
}

.tabs {
    background: white;
}

#menu {
	display:inline-block;
	text-align:center !important;
}

.menu-botton {
	background:#00448c;
    text-transform: uppercase;
	position:fixed; 
	bottom:0; 
	left: 1%;
	width: 110%;
	height: 60px;
	line-height: 60px;
    letter-spacing:2;
	font-size: 0.9rem;
	border-top:1px solid #151b42;
    opacity: 1;
}

.menu-botton a {
	color: white !important;
}
.menu-botton a:hover {
	text-decoration: none;
	color:#adb4b9;
}

.languages img {
	width: 30px;
	height: 30px;
	border: 1px solid #fff !important;
	border-radius: 15px;
}

.div-slogan {
    margin-top: 50px !important;
}

.div-boxes {
    margin-top: 50px !important;
}

/*****************************/
/* Error page style*/
/*****************************/

.error-page {
    background-image: url(/static/img/bg-villa.png) !important;
}
.error-content {
    background-color: white;
    height: 400px !important;
    border-radius: 0.25rem;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.p2 {
    padding:2px !important;
}

.i-love-btn, .value-btn, .sugest-btn, .covid19-btn {
    padding:0;
}

/*****************************/
/* devices style*/
/*****************************/

@media (max-width: 420px) 
{
    .container {
        margin-top: -80px;
    }
    .i-love-btn, .slogan, .value-btn, .covid19-btn, .sugest-btn  {
        margin-top: 20px;
    }
    a.btn.btn-primary.w-100, 
    a.btn.btn-secondary.w-100, 
    a.btn.btn-outline-danger.w-100 {
        font-size: 0.7rem !important;
    }


    button.menu-options {
        font-size: 0.9rem;
    }
    .btn-info-pwa {
        font-size: 0.8rem !important;
    }

    .menu-botton {
        text-align: center;
        text-transform: none !important;
        letter-spacing:0;
        font-size: 0.85rem;
	    width: 101%;
        left:3.5%;
        padding-top: 15px;
    }
    .menu-botton a{ 
        font-size: 0.8rem ;
    }

    .menu-botton span {
        width: 100%;
        display: inline-block;
        line-height: 2;
    }

    .div-slogan {
        margin-top: 5px !important;
    }

    .div-boxes {
        margin-top: 5px !important;
    }

    button.btn.btn-header-pwa.ark { 
        margin-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    button.btn.btn-header-pwa.ark span { color: #3c385c !important;font-size: 0.7rem;}

    i.fas.fa-home, i.far.fa-calendar, i.fas.fa-sign-in-alt { 
        color: #3c385c !important; 
        font-size: 1rem;
    }

}

