.welcome-page {
    text-align: inherit !important;
}


#main {
    height: auto !important;
    background:white !important;
/*    padding-bottom: 10vh !important;*/
}

#main-base {
    border-top:1px solid #ffffff !important;
    border-bottom:1px solid #ffffff !important;
    border-right:1px solid #ffffff !important;
}

.main-pwa .row {
    margin-left:0 !important;
    margin-right:0 !important;
}

.main-pwa {
    margin-top: 68px;
    border:1px solid #ffffff !important;
    padding-bottom:9.5vh !important;
}

.container {
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
}

.catbox-m-0 {
    margin:auto !important;
}

#div-notification,
.fixed-head {
	display:none;
}

img {
    background-color: transparent;
}

.card.info-panel p {
/*    border:1px solid red;*/
    padding-left: 0px !important;
    padding-right: 0px !important;
}


a.btn.btn-primary,
button.btn.btn-primary { 
	border-radius: 15px;
	border:none;
    line-height: 2;
}

.btn.btn-secondary, 
a.btn.btn-secondary, 
button.btn.btn-secondary { 
	background:#fff !important;
	color:#777;
	border-radius: 15px;
	border:none;
    line-height: 2;
}
a.btn.btn-secondary:hover,
button.btn.btn-secondary:hover { 
	background:#a8abad;
    color: #333;
}

a.btn-outline-danger,
button.btn-outline-danger { 
	border-radius: 15px;
    color: #dc3545;
    background-color: white;
    line-height: 2;
    border: none;
}

a.btn-outline-danger:hover,
button.btn-outline-danger:hover { 
	background:#dc3545;
    color: white;
}

button.btn.btn-header-pwa.ark { 
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

a.btn.btn-header-pwa.ark { 
    margin-top: 13px;
    color: #3a4355 !important; 
}

.btn-marine {
    color: #000 !important;
    font-size: 1.2em !important;
}

.btn-marine-blue {
    background-color: #a5c3d0 !important;
    font-size: 1.2em !important;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);
    color: #000 !important;
    height: 50px;
    line-height: 40px;
}


#menu {
	display:inline-block;
	text-align:center !important;
}

.align-items-end {
	width: 110%;
    position: fixed;
    bottom: 60px;
    left: 0;
    height: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 71%, rgba(255,255,255,0) 100%);
}

/*****************************/
/* Error page style*/
/*****************************/

.error-page {
	background-image: url(/static/img/bg-lanis.png) !important;
}
.error-content {
    background-color: white;
    height: 400px !important;
    border-radius: 0.25rem;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.p2 {
    padding:2px !important;
}

/******************************************/

.row.blog {
/*    border:1px solid blue;*/
    width:100% !important;
}
.p-none {
/*    border:1px solid red;*/
    padding-left:0px !important;    
    padding-right:0px !important; 
}



.zoom {
    padding:0 !important;
}

.img-carousel {
    background-color: #fff;
    border-radius: 0.25rem 0.25rem 0 0;
}

.img-carousel img.object-fit_cover-gallery {
  /*  width: 1024px !important;*/
    object-fit: cover !important;
    height: 275px !important;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .9;
    transition: opacity .15s ease;
}

.prev {
    margin-left: 30px;
}

.next {
    margin-right: 30px;
}


#cover .img {
 /*   height: 250px;*/
    background: white !important;
}

div#cover.image {
    text-align: center;
    background: white !important;
}

#cover.img-new {
    /*height: 375px;*/
}

img.object-fit_cover.img-new {
    height: 280px !important;
    width: 100%;
    object-fit: cover;
}

/******************************************/

/*****************************/
/* Mis Llaves menu style  */
/*****************************/

#collapseExample {
    background: #f8fcff !important;
    position:absolute; 
    width: 94%;
}

ul.collapsible {
    box-shadow: none !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    margin: 0px !important;
    padding:0px;
}

ul.collapsible li {
    list-style:none;
    width: 94% !important;
}

.panel.panel-default {
    text-align: center;
}

a.collapsible-header {
    color:#fff;
    border-radius: 90px !important;
    height: auto !important;
    font-size: 25px !important;
    text-decoration: none;
}
.collapsible-header {
    display: flex;
    line-height: 1.5;
    padding: 1rem;
    text-align:center !important;
}

button.collapsible-header i,
a.collapsible-header i {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    display: inline-block;
    padding: 10px 12px;
    width: auto !important;
}

button.collapsible-header i,
.collapsible-header i {
    font-size: 1.6rem;
    text-align: center;
    margin-right: 1rem;
}

/*
.waves-effect {
    position: relative;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}
*/
.btn-large {
    background-color: #a6c4d1 !important;
}

.btn-large-2 {
    background-color: #ffffff !important;
    border:1px solid #a6c4d1;
    color: #6c8088 !important;
}

button.collapsible-header.waves-effect.btn-large-2,
a.collapsible-header.waves-effect.btn-large-2 {
    font-size: 20px !important;
    line-height: 40px;
}

i.fa.fa-lock {
    color: #fff;
}


/*****************************/



/*****************************************
 LAGOS DESIGN
*****************************************/
.topbar {
    background: #fff !important;
	position:fixed !important;
    top:0 !important;
    width: 100% !important;
    /*height: 70px !important;*/
    height: 80px !important;
    z-index: 1; 
}
.topbar img {
    height: 50px;
}

.div-slogan {
   /*height: 380px;*/
}

.div-slogan .main-slide {
    padding:0px !important;
    border-bottom: 2px solid #e3e2e0;
}
.div-key {
	color:#868789;
    max-height: 100px;
    font-size: 1.3rem;
}

.div-key a {
    color: #ffffff;
    text-decoration: none !important;
}

.div-key img {
    max-height: 40px;
}

.menu-tabs {
	width: 100%;
	margin-left: 0.1%;
}

.tabs {
    background: white;
    padding-top: 20px !important;
    /*padding-bottom: 65px !important;*/
}

.ico-image {
    /*width: 75%;*/
    width: 60%;
}

button.menu-options { 
    background: none;
   	border:0;
    /*color: #b0aba7 !important;*/
    color: #999 !important;
    font-size: 0.8rem !important;
    font-weight: 600;
    /*height: 60px; No funciona bien en Safari*/
	height: auto;
    line-height:3.5;
    text-transform: uppercase !important;
}

.menu-botton {
    background:#ffffff;
	position:fixed; 
	bottom:0; 
	left: 1%;
	width: 105%;
	height: 60px;
	/*line-height: 60px;*/
	font-size: 0.9rem;
	border-top:1px solid #cccccc;
    opacity: 1;
    padding-top:10px;
}

.menu-botton a {
	color:#868789 !important;
}
.menu-botton span {
    text-transform: none !important;
	line-height: 1.5;
}

button.menu-options.ark i.far.fa-comments, 
button.menu-options.ark i.fas.fa-home, 
button.menu-options.ark i.far.fa-bell, 
button.menu-options.ark i.far.fa-calendar-check, 
button.menu-options.ark i.fas.fa-shopping-cart {
    color:#868789 !important;
    font-size: 1.5rem !important;
}

.end-page {
    margin-top: 60px;
}

/*****************************************
    MENU MOBILE
*****************************************/

i.fas.fa-bars {
    color: #b0aba7;
}

ul#menu-box {
    background-color: #ffffff;
    margin-top: 15px !important;
    border-radius: 0;
    box-shadow: 0 2px 6px rgb(0 0 0 / 18%), inset 0 2px 6px rgb(0 0 0 / 18%);

    width: 100%;
    position: fixed;
    left:0;
}
ul#menu-box li {
    list-style: none;
    font-size: 0.8em !important;
}

.grid-container-lang {
    color: #999;
    font-weight: 600;
    height: auto;
    text-transform: uppercase !important;
    display: grid;
    grid-template-columns: 8% 15% 15% 15%;
}
.grid-item-lang {
    text-align: center;
}
.grid-item-lang  a {
    border: 1px solid #a6c4d1;
    color: #999;
    text-decoration: none;
    padding: 8px;
    border-radius:5px;
}

i.far.fa-flag {
    font-weight: 900;
}
/*
.dropdown-item:hover {
    background: #a5c3d0;
    color: #fff !important;
}
.dropdown-item a {
    color: #878787 !important;
    text-decoration: none;
}

.dropdown-menu.show {
    display: block;
    width: 1000;
}
*/


.btn.btn-dark-pad {
    background: #a5c2d1 !important;
}

/*****************************/
/* List Cart Style  */
/*****************************/

.row.cart-list {
    padding-right: calc(var(--bs-gutter-x) * .0) !important;
    padding-left: calc(var(--bs-gutter-x) * .0) !important;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;

    margin-left:-10px !important;
    margin-right:-10px !important;

    border-bottom: 1px solid #d8e3ed;
}

.article-title {
    font-size: 0.9rem;
    display: flex;
    align-items: left;
    justify-content:left;
}

.article-price {
    font-size: 0.9rem;
}

.box-new {
    height: auto !important;
}
.col-sum {
    border-radius: 15px;
    background-color: #d1e1e7;
    font-size: 0.9rem;
}

.col-sum input {
    padding:0;
}

.minus, .plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fas.fa-minus, .fas.fa-plus {
    color: #777 !important;
    font-size: 0.8rem;
}

/*****************************/
/* END List Cart Style  */
/*****************************/

h5.card-title.text-dark.text-center.title-new {
    font-size: 0.8rem;
    height: 45px !important;
    display: flex;
    align-items: start;
    justify-content: center;
}

.price-new {
    bottom: 105px !important;
}

.info-new {
    bottom: 60px !important;

}

.footer-new {
}

/*****************************/
/* devices style*/
/*****************************/

@media (max-width: 1200px) 
{
    .img-carousel img.object-fit_cover-gallery {
/*      width: 500px !important;*/
        object-fit: cover !important;
        height: 250px !important;
    }

}
@media (max-width: 980px) 
{
    .img-carousel img.object-fit_cover-gallery {
        object-fit: cover !important;
        height: 180px !important;
    }
}

@media (max-width: 420px) 
{
    .img-carousel img.object-fit_cover-gallery {
      width: 100% !important;
        /*height: 180px !important;*/
/*        height: 200px !important;*/
        height: 230px !important;
        object-fit: cover !important;
    }

}


/*****************************************
    STYLE CATEGORIES
*****************************************/

.overlay {
    background-color: #a19b96 !important;
    opacity: 0.65 !important;
    text-align: center;
}
.overlay:hover {
    background-color: #a5c3d0 !important;
}
.overlay span {
    /*background-color: #656565 !important;*/
    /*background-color: #3d3d3d !important;*/
    background-color: #000 !important;
    border: 2px solid #fff !important;
    color: #fff !important;
}
.card-title.text-dark.text-center {
    color: #878787 !important;
}
.btn-dark, .btn-dark a {
    color: #fff !important;
    background-color: #878787 !important;
    border-color: #878787 !important;
}

i.fas.fa-chevron-left,
h1.ql-align-center {
    color: #878787 !important;
}
.booking-head {
    background-color: #a5c3d0 !important;
    border-color: #a5c3d0 !important;
}

.collapsible-header.waves-effect.btn-large-2.ark-disabled {
    background-color: #ffffff !important;
    border: 1px solid #7f6c5a;
    color: #7f6c5a !important;
    border-radius: 90px !important;
    height: auto !important;
    width: 100% !important;
}

/******** Deslizador manual ***************/

label.form-check-label {
    color:#7f6c5a;
    position:absolute;
    left:22%;
    top:35%;
}
.form-switch .form-check-input {
    width: 17.5em;
    height: 79px;
    margin-left: -2.4em;
    background-image: url(/static/img/lock-close.png) !important;
    background-position: left center;
    background-size: 65px;
    border-radius: 2em;
    border: 1px solid #7f6c5a;
    transition: background-position .15s ease-in-out;
}
.form-check-input {
    padding-left: 20px !important;
}
.form-check-input:checked {
    background-color: #bbee9a !important;
}
.form-check-input:checked[type=checkbox] {
    background-image: url(/static/img/lock-open.png) !important;
    color: #fff !important;
}

/***********************************************/

.item-right {
    background-color: #fff;
    padding: 0px !important;
}
.item-right select {
    font-size: 0.8rem !important;
    color: #666 !important;
}
.item-left {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    color: #666 !important;
}

@media only screen and (max-width: 750px) {
    /*button.menu-options {font-size:0.6em !important}*/
}
