
/*******************************/
	/* Carta 2 style */
/*******************************/

.container {
    max-width: 100%;
}

img.object-fit_cover {
    height: 150px !important;
}

.cat-title-head {
	border-bottom: 1px solid #d8e3ed !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.cat-title {
	background: #ffffff !important;
	border: 0 !important;
	color: #6a6a6a !important;
	/*font-size: 1.4rem !important;*/
	font-size: 1rem !important;
	line-height: 40px !important;
	text-align: left !important;
}
.cat-title a {
    color: red !important;
}

.cat-title i.fas.fa-angle-down-shopping-cart {
    color: red;
}

.cat-image {
	background: #ffffff !important;
	height: 50px;
	padding: 0;
	width: 50px;
    text-align: left;
}
/*
.cat-image img {
	height:50px;
	object-fit: contain;
	width: 150px;
}
*/

.cat-image img {
	height:50px;
/*	object-fit: contain;*/
    border-radius: 50%;
	width: 50px;
}

.card.slider-cart {
    margin-left:1.5% !important;
    width: 97% !important;
}
.card.slider-cart_ {
    width: 100%;
}

.slider-row {
	margin: 0 !important;
	padding: 0 !important;
}

div#cover.image.mobile img.card-img-top {
    height: 150px !important;
}

img.card-img-top.spec-img {
    height: 150px !important; 
    width: 100% !important;; 
    object-fit: cover !important;;
}

/* Carousel controls*/
.carousel-control-next, .carousel-control-prev {
	position: absolute;
	top: 0;
	bottom: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 0%;
	font-size: 2.5rem;
	color: #333 !important;
	text-align: center;
}    

.carousel-control-next-icon, .carousel-control-prev-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

i.fas.fa-minus, i.fas.fa-plus {
    color: #000;
}

/**********************************/
	/* devices style*/
/**********************************/


@media (max-width: 668px) {
	.cat-image i.fas.fa-cocktail {
		font-size: 1rem !important;
		line-height: 2 !important;
	}

}

@media (max-width: 415px) {
    .card.slider-cart {
        margin-left:0;
        width: 100%;
    }

}


