body {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


#main { padding: 0px; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { padding: 0px !important; }

#main-content {
	align-items: stretch;
	background-color: rgba(99, 110, 114, 0.1); 
	display: flex;
	flex-direction: row;
	height: 100vh;
	max-height: 100vh;
	max-width: 100%;
	min-width: 100%;
/*	overflow-x: hidden;*/
}
h4.success {
	color: #666;
	font-size: 30px;
}
i.fas.fa-check-circle.text-success,
i.fas.fa-ban.text-cancel {
	font-size: 50px;
}
.text-success {
	color: #7fba27 !important;
}

.text-cancel {
	color: #e8282a !important;
}

.text-grey {
	color: #999;
}

/*****************************/
/* FORM IMG-BACKGROUND STYLES */
/*****************************/

.div-transp {
	background-size: cover;
	background-color:black;
	opacity:0.8;
	color: white;
	height: 100%;
}

.div-transp .btn.btn-outline-primary.btn-lg.ark.w-100,
.div-transp .btn.btn-outline-danger.btn-lg.w-100 {
	background-color: white;

}
.div-transp-0 {  /* NO IMAGE */
	/*background-size: cover;*/
	background-color: white;
	background-image: none;
	color: black;
}

.main-content-booking input, .main-content-booking select {
	background: #ccc;
	border: none;
	border-radius: 8px;
	opacity: 0.9;
	color: #000 !important;
}

.fixed-head {
	border-bottom:1px solid #ccc; 
	position:fixed;
       	top:0;
	left:0; 
	background: white; z-index:10000;
}
 
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 10px;
}

.grid-container > div { font-size: 30px;color: #000; }

.item1 { grid-column: 1 / 5; }
.item2 { font-size: 18px !important; line-height: 1.8; text-align: right; }

.item3 { font-size: 30px !important; text-align: left; color: white; }
.item4 { font-size: 18px !important; line-height: 2; text-align: right; color: white; }

.item1-v { grid-column: 1 / 6; }

.div-info {
	color: white;
}
.div-info-tb {
	border-top: 1px solid #ccc;
}

#mask
{
	position: fixed;
    top:0;
    height:2000px;
    width:100%;
    z-index: -1000;
    opacity:0.3;
}

.btn.btn-block {
	background: #36abfc !important;
	color: white;
}

a.btn-light {
	border:1px solid #ccc;
}
.c-white {
	color: white;
}

.b-white {
	border: 1px solid #666;
	text-align: left;
	text-transform: uppercase;    
	letter-spacing: 2px;
}
/*****************************/
/* FORM GENERAL STYLES */
/*****************************/

.bookingHeader { color: #666; }
.bookingHeader h1 { border-bottom:1px solid #fff; }
 

/*****************************/
/* table style*/
/*****************************/

.sh-td {
	color: white;
	padding: 0px !important;
}

tbody, td, tfoot, th, thead, tr {
	border: 0px !important;
	padding: 0px !important;
}

/*****************************/
/* Shopping-cart style*/
/*****************************/

.cart-item {
	background: #f8f8f8;
	border-radius: 0.25rem;
	border:1px solid #4d5053;
	text-align:center;
}
.b-item {
	border-bottom: 1px solid #666 !important;
	border-radius: 3px 0px 0px 0px;
	letter-spacing: 2px;
	text-align: left;
	text-transform: uppercase;    
}
/*
.object-fit_cover { object-fit: cover }
*/

img { 
	background-color: #444;
/*	border-bottom: 1px solid #ccc !important;*/
	height: 150px; 
}
/*
img[class] { width: 100%; }
*/

h5.card-title { font-size: 1.1rem; font-weight: 600; }

h4.card-title { font-size: 1rem; }

a.btn.btn-outline-primary {
}
a.btn.btn-outline-primary:hover {
	background: #fff;
	color: #095bd4;
}
a.btn.btn-outline-danger {
}
a.btn.btn-outline-danger:hover {
	background: #fff;
	color: #aa1a28;
}

/*********  Booking List Style ***************/

tr.small {
/*	border:1px solid !important;
	margin-top: 10px !important;*/
}

td.booking-line {
	height: 40px;
	vertical-align: middle;
}

.title-col {
	color: #111;
	font-size: small;
}

.info-col {
	font-size: small;
}

.booking-line {
	align-items: center;
	background: #fff !important;
	border-radius: 5px;
	color: #666;
}

.booking-line-item {
	align-items: top;
	background: #fff !important;
	border:1px solid #e6e6e6;
	border-radius: 5px;
	box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);
	color: #666;
}

img.img-cart-line {
	background-color: #fff;
	background-size: cover;
	border-radius: 10px 10px 10px 10px; 
	box-shadow: 0px; 
	height: 80px;
	width: 80px;
}

.grid-guest {
	background-color: #e6e6e6;
	background-color: #f5f5f5;
	border-radius: 10px 10px 10px 10px; 
	display: grid;
	grid-template-columns: 45% 30% 25%;
	text-align: center;
}

.grid-guest, .grid-guest a {
	color: #212529;
	text-decoration: none;
}

.item {
	font-weight: 600;
	color: #212529;
}
.item-left {
	text-align: left;
	color: #212529;
	font-weight: 600;
}

.login-box {
	border:1px solid #ccc;
	border-radius: 15px;
	background-color: #fff;
	opacity: 0.9;	
	position:absolute;
	top:10%;
	left:30%;
	width: 500px;
	margin-left:-50px;
	margin-top:50px;

}

.login-box .toolbar-heading {
	font-size: 2rem;
}

/*****************************/
/* Welcome page style*/
/*****************************/

.welcome-page {
	background-image: url(/static/img/bg-welcome.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.welcome-page h3 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 8px !important;
}
.welcome-page h4 {
	color: #fff;
	font-weight: normal;
	font-style: italic;
	margin-top: 40px !important;
}

.welcome-page .btn.btn-access {
	background: #ffffff;
	color: #022948;
	padding: 10px 30px 10px 30px;
}

.welcome-inner {
	position:absolute;
	top:40%;
	left:22%;
	margin-left:-50px;
	margin-top:50px;

}

/*****************************/
/* Error page style*/
/*****************************/

.error-page {
	background-image: url(/static/img/bg-welcome.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.error-box {
	border:1px solid #ccc;
	border-radius: 15px;
	background-color: #fff;
	opacity: 0.9;	
	position:absolute;
	top:5%;
	left:30%;
	width: 500px;
	margin-left:-50px;
	margin-top:100px;
}

.error-box h1 {
	font-size: 2rem;



/*****************************/
/* devices style*/
/*****************************/

@media (max-width: 768px) 
{
	body {
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		padding: 0px !important;
	}

}

img.img-cart {border-radius: 10px 10px 10px 10px; box-shadow: 10px 0px 10px 0px rgb(0 0 0 / 50%); }

@media (max-width: 480px) 
{
	body {
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		padding: 0px !important;
	}

 	.item1 { font-size: 20px !important;}

}

@media (max-width: 370px) 
{
	.item1 { font-size: 18px !important;}
	.item2 { font-size: 14px !important; }

}
