html {
	background-color: #f9fafb; 
	letter-spacing: .0892857143em;
}

body {
	font-family: Roboto,sans-serif !important;
	background-color: #f9fafb; 
}

.navbar-brand {
	text-align: center;
}

.navbar-brand img {
	background-position: center center;
	background-size: contain;
	height: 65px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	user-select: none; 
	-webkit-user-select: none;
	-moz-user-select: none;
}

.navbar {
	height: 64px;
}

.navbar-nav .nav-link {
	color:#ffffff !important;
	font-size: x-small;
	font-weight: bold;
	text-transform: uppercase;
}
.nav-link:hover {
	color:#35a6de;
}
.nav-link.active {
	background:#5b5b5b !important;
	color: #ffffff;
}
.second-menu .nav-link.active {
	background:#e5e5e5 !important;
	color: #212529;
}

.second-menu .nav-link:hover {
	background:#f6f6f6;
}

.table-striped th {
*	border-bottom:1px solid #dee2e6 !important;
	color: rgba(0,0,0,.6);
	font-size: 0.9rem;
	padding: 1rem !important;
	margin-left:0;
	margin-right:0;
}
/*
.table-striped>tbody>tr {
	--bs-table-accent-bg: white !important;
}
*/
.table-striped td {
	font-size: 0.8rem;
}

.table-striped td.row {
	margin:0 !important;
}
.table>:not(caption)>*>*
{
	padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.table-striped>tbody>tr:hover {
	--bs-table-accent-bg: #eee !important;
}
.table-striped>tbody>tr {
    }

/************************/
/*		UTILITIES		*/
/************************/


.content {
	background: white;
	border:1px solid #e0e0e0;
}
.btn-submit, .btn-submit:hover {
	background-color: #424242 !important;
	color: #fff;
	font-size: 0.9rem !important;
    text-transform: Capitalize;
}

button.btn.btn-primary.btn-sm.ark  {
	background-color: #36abfc !important;
	border-color: #36abfc !important;
}

button.btn.btn-danger.btn-sm.ark  {
    background-color: #f44336;
    border-color: #f44336;
}

a.btn.btn-primary.ark,
a.btn.btn-secondary.ark {
    font-size:0.8rem !important;
}

.panel-login {
	background-color: #fff;
	border-radius: 0.25rem;
	border: 1px solid #e2e2e2;
	text-align: left;
	width: 100%;
}

.toolbar-heading {
	background-color: #f9f9f9;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	border-bottom: 1px solid #e2e2e2;
    padding: 16px 14px;
	text-align: left;
	width: 100%;
}

.toolbar-search {
	background-color: #fff;
	/*box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;*/
	border: 1px solid rgba(0, 0, 0, 0.0625);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 6px 14px;
	width: 100%;
}
.toolbar-search input {
    height:2em;
    margin:4px;
}
.toolbar-search a {
    height:2.5em;
    margin:6px;
}

.toolbar-search.projects {
    display:grid;grid-template-columns: 0% 2% 98%;
}

.toolbar-search.projects i.fas.fa-search {
    font-size: 1rem;
    color: #777;
    margin-top: 12px;
}


input#s-name.autosearch.form-control.form-control-dark.w-100
{
    border: 0;
}

.row.btn-dark i.fas.fa-exchange-alt, 
.row.btn-dark a {
    text-decoration: none;
	color: #fff !important;
}

span.status-info {
    background: #e4d9d1;
    color:#404a5d; 
    padding: 10px 10px 11px 10px; 
    font-weight:600; 
    text-transform:uppercase;
}

.status-btn {
    border:1px solid #dfdfdf;
}
.status-btn:hover, 
.status-active:hover {
    border:1px solid #000; 
}

.status-active {
    border:1px solid #ff4500; 
    background-color: #f6e5c6;
    font-weight: 600;
}


.toolbar-content {
	border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
	padding: 15px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
}
.toolbar-content h2 {
	color: #5b7898;
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom:0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
span.sub-h2 { 
	font-style: italic;
	font-size: 0.9rem;
	color:#666;
}

h2.pathway a {
	text-decoration: none;
	color: #36abfc !important;
}
h2,  
h2.pathway.b-right  {
    font-size: 0.875rem !important;
}

.b-right {
	border-right:1px solid #e0e0e0;
	padding-right: 15px;
    font-size: 0.875rem !important;
}
.b-bottom {
	border-color: solid #949494;
	border-width: 0px 0px 1px 0px !important;
	border-radius:0px;
}
.text-right { 
	text-align: right!important; 
}
.text-left { 
	text-align: left!important; 
}
.text-center { 
	text-align: center!important; 
}



.form-control {
	padding: 0rem 0.5em 0.1rem 0.5em;
	font-size: 0.9em;
	color: #333;
	border-color: #ced4da;
	border-width: 0px 0px 1px 0px !important;
}

input.form-control.login {
	display: block;
	width: 100%;
	height: calc(1.6em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.6;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da !important;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/************* Modal popup styles ***********/

.modal-content {
    border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
}

#common-modal-body {
	color: 666666;
    padding: 0;
}

#common-modal-body .d-flex.justify-center {
    padding: 1rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

#common-modal-body .row.justify-center {
    padding: 1rem;
}

h2.common-modal-head {
    font-size: 1.1rem !important;
    padding: 1rem;
    font-size: 0.875rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}


label.label {
    font-size: 0.9rem;
    color: #777;
}
input.input,
select.input {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc !important;
    border-radius: 0.25rem;
}

/************* btn styles ***********/

.save, .cancel {
	text-transform: uppercase;
}
.save {
	color: #36abfc;
}
.cancel {
	color: #666;
}

button.btn.btn-success {
    color: #ffffff;
    background-color: #4caf50;
    border-color: #4caf50;
}
.bg-success {
    background: #79b51c !important;
}

.text-success {
    color: #79b51c !important;
}

.fa, .fas, .far {
	color: rgba(0,0,0,.54);
	font-size: 13px;
}

.multiselect_btn {
	border: 1px solid #ced4da;
	border-radius: 5px;
	padding: 5px;
}
.multiselect_btn_act {
	border: 1px solid #36abfc !important;
	border-radius: 3px;
	color: #36abfc !important;
	padding: 5px;
}
.multiselect_btn, .multiselect_btn_act {
	font-size: 0.9rem !important;
	float:left;
	width:auto;
	margin:5px;
	cursor: pointer;
}

.row.category {
	background: #f2f6fa;
	margin: 2px 0px 0px 0px;
}

.row.category:hover {
	background: #ebf1f6;
}

.cat-row, .item-row { cursor:pointer; }

.categories-list, .items-list {
	color: #666;
	font-size: 14px;	
	font-style: italic;
	font-weight: normal;
}
.categories-list, .items-list {
}

.categories-list .open { color: #36abfc }
.categories-list .close { color: #666}

i.text-blue, span.text-blue, a#btn-show {
	color: #36abfc !important;
}
i.text-grey, i.fas.fa-box {
	color: #999999 !important;
}

.text-muted {text-decoration:line-through;}

.inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }

#navbarSupportedContent {
	background: #212529;
}


img.img-cart {border-radius: 10px 10px 10px 10px; box-shadow: 10px 0px 10px 0px rgb(0 0 0 / 50%); }

.flex-row { /*flex-direction: column!important;*/ }

div.striped>div:nth-of-type(odd) { background: #e0e0e0; }
div.striped>div:nth-of-type(even) { background: #FFFFFF; }

div.striped-nested>div>div:nth-of-type(odd) { background: #e0e0e0; }
div.striped-nested>div>div:nth-of-type(even) { background: #FFFFFF; }

/*   MOBILE DEVICES   */

@media (max-width: 960px) {

	.text-right { 
		text-align: right!important; 
	}
	#navbarSupportedContent { 
		width:100%; margin:-12px; padding-left:30px; position:fixed; top:75px;
	}
        .sticky-top {
		width:100%!important
	}
}


@media (min-width: 768px) { 

	.bd-placeholder-img-lg { 
		font-size: 3.5rem;
	} 
	.navbar-toggler {
		margin-right: 3rem;
	}
}

@media (max-width: 480px) { 

	.navbar-toggler {
		margin-right: 1rem;
	}
    
    .header {
        grid-template-columns: 10% 55% 10% 10% 10% !important; 
    }
    .toolbar-search input {
        margin-left: 15px;
    }

    a.btn .fa, .fas, .far {
        padding-left: 0 !important;
    }
    
    .fa, .fas, .far {
    	font-size: 12px;
}


}
 
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 10px;
}

.grid-container > div { font-size: 30px;color: #000; }

.item1 { grid-column: 1 / 5; }
.item2 { font-size: 18px !important; line-height: 1.8; text-align: right; }

.item1-v { grid-column: 1 / 6; }

.div-info {
	color: white;
}
/*
.booking-line {
	align-items: center;
	background: #fff !important;
	border-radius: 5px;
	color: #666;
}

.booking-line-item {
	align-items: top;
	background: #fff !important;
	border:1px solid #e6e6e6;
	border-radius: 5px;
	box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);
	color: #666;
}

*/

	
.booking-line-item-vertical {	border:1px solid #e6e6e6;
	border-radius: 5px;
	box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);

}

img.img-cart-line {
	background-color: #fff;
	background-size: cover;
	border-radius: 10px 10px 10px 10px; 
	box-shadow: 0px; 
	height: 80px;
/*	width: 80px;*/
}


.grid-guest {
	background-color: #e6e6e6;
	background-color: #f5f5f5;
	border-radius: 10px 10px 10px 10px; 
	display: grid;
	grid-template-columns: 45% 30% 25%;
	text-align: center;
}

.grid-guest, .grid-guest a {
	color: #212529;
	text-decoration: none;
}

.item {
	font-weight: 600;
	color: #212529;
}
.item-left {
	text-align: left;
	color: #212529;
	font-weight: 600;
}


/************************************************/
		/* NEW STYLE*/
/************************************************/


.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
	height:55px;
	line-height: 1.5;
	display: grid;
	grid-template-columns: 5% 85% 3% 3% 3%; 
	grid-template-rows: auto;
}

.header i {
	font-size: 17px;
	font-weight: light !important;
	color: #5b7898 !important;
}

i.fas.fa-user-circle, i.fas.fa-sign-out-alt.text-white, a.dropdown-toggle {
	color: #5b7898 !important;
}

a.dropdown-toggle {
	font-size: 1.6rem !important;
 }

.divbars-menu {
    width: 50px;
}

.general {
	width: 100%;
}

ul.left-menu  {
	margin:0;
	padding:0;
    width:100%;
}

.left-menu li {
	list-style:none;
	line-height: 30px;
}
.left-menu li a {
	color: #72777a;
	font-size: 15px;
	font-weight: 500;
	white-space: nowrap;
}
.left-menu li:hover {
    background-color: #fff;
}
.left-menu li a:hover {
	color: #5b7898;
}


.nav-link {
    padding: .5rem 3rem .5rem 1.1rem ;
}
/* con color 
i.fas.fa-home { color: #2196f3 !important; padding-right: 10px; }
i.far.fa-folder-open { color: #e91e63 !important; padding-right: 10px; }
i.fas.fa-users { color: #673ab7 !important; padding-right: 10px; }
i.fas.fa-bed { color: #ff5722 !important; padding-right: 10px; }
i.fas.fa-tablet-alt { padding-right: 10px; }
i.fas.fa-book { color: #ff9800 !important; padding-right: 10px; }
i.fas.fa-envelope { padding-right: 10px; }
i.fas.fa-lock { padding-right: 10px; }
*/

i.fas.fa-home, i.far.fa-folder-open, i.fas.fa-users, i.fas.fa-bed, i.fas.fa-tablet-alt, i.fas.fa-book, i.fas.fa-envelope, i.fas.fa-lock  { padding-right: 10px; }

i.fas.fa-home:hover, i.far.fa-folder-open:hover, i.fas.fa-users:hover, i.fas.fa-bed:hover, i.fas.fa-tablet-alt:hover, i.fas.fa-book:hover, i.fas.fa-envelope:hover, i.fas.fa-lock:hover {color: #5b7898; }


#content-section {
	height: 95vh;
	margin-left: 1%;
    	margin-right:1%;
}

.drawerHeader {
	display: none;
}


.w-2r, .sz-2r {
	width: 2rem;
}

.bdrs-50p {
	border-radius: 50% !important;
}

.c-grey-900, .cH-grey-900:hover {
	color: #313435 !important;
}

/************* Horizontal collapsable menu   ***************/
.sidebar a {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidebar a:hover {
	color: #f1f1f1;
}

#main {
	transition: margin-left .5s;
}

/************* User dropdown options   ***************/

.user-dropdown {
	width: 250px;
	position:absolute; 
	right:0;
	box-shadow: -1px 2px 19px -11px rgb(0 0 0 / 64%);
}
.user-dropdown ul { 
	padding: 0;
	margin: 0;
}
.user-dropdown li { 
	list-style: none;
	text-align:left;
	display: block;
	width: 100%;
	padding: 0.25rem;
	clear: both;
	color: #212529;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.user-dropdown li a {
	text-decoration:none;
	color: #72777a;
	font-size: 14px;
	font-weight: normal;
	white-space: nowrap;
}

.dropdown-divider {
	height: 0;
	margin: 0.5rem 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}

/************ Icons style   ***************/

.header-icon {
	width: 35px;
	height:35px;
	background:#f3f7fb;
	border-radius: 50% !important;
}

.header-icon:hover {
	background:#dee7f0;
}


#main-content {
    display: flex;
    flex-direction: row;
    /* max-height: calc(100% - var(--footer-height)); */
    /* height: calc(100% - var(--footer-height)); */
    height: 100vh;
    max-height: 100vh;
    align-items: stretch;
    overflow-y: hidden;
}


#sidebar {
    width: 50px;
    border-right:  1px solid rgba(0, 0, 0, 0.0625);
    background-color: #e4e4e4 !important;
    padding: 0px 0px 10px 0px;
    min-height: 100%;
    overflow: hidden;
    z-index: 400;
    -webkit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    transition: width 1000ms linear;
}


#sidebar.expanded {
    width: var(--sidebar-expanded);

}
#sidebar.closed {
        width: 50px;

   }
#content-section {
    flex-basis: 99.5%;
    height: 99vh;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 15px;
    overflow-y: scroll;
    padding-bottom: 3.5rem;
}
div#cover.image.special {
    text-align: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.5550595238095238) 37%, rgba(190,194,201,0.8575805322128851) 100%);
}
.special img {
    width: 100%;
    object-fit: contain !important;
}

.b-marine {
    border-bottom:1px solid #404a5d
}

/*
div#cover.image.special img {
    object-fit: contain !important;
}
*/
    
.btn-marine {
    color: #3c385c !important;
    background-color: #eae6e4 !important;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);
    height: 50px;
    line-height: 40px;
}
.btn-marine:hover {
    background-color: #e4d9d1 !important;
}


.change-status-box {
    border:1px solid #ccc; 
    width:84%;
    margin:auto;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

input.input.invalid,
select.input.invalid,
.invalid {
    border: 1px solid red !important;
}

.msg_error{
    margin-top:-10px !important;
    padding:0px;
    color: red;
    font-size:0.8em;
}

#desc-editor {
    min-height: 500px;

}

.row.justify-center.notification-popup {
    margin-left:0px !important;
    margin-right:0px !important;
}
.notif-guest-list, .w-97 {
    margin:auto;
}
.row.guest {
    border:1px solid #eee !important;
    font-size: 0.8rem;
    border-radius:5px;
    margin-bottom:5px;
    margin-left: 10px;
    margin-right: 10px;
}
.row.guest:hover {
    background: #eee !important;
}
.suggest-guest {
    border-left:1px solid #c2daff;
    border-right:1px solid #c2daff;
    border-bottom:1px solid #c2daff;
    border-radius: 5px;
    margin-top: -10px;
	box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);
}
.suggest-guest a {
    text-decoration: none;
}

/*********************************
*********** CHAT BOX ************
*********************************/

.back-grey {
    background: #e9ecef !important;
}

.bg-general {
    background: #999 !important;
}

.card.chat-box {
    position: absolute !important;
    bottom:0 !important;
    right:0 !important;
    max-width: 20rem !important;
}

#message-box.card-body {
    background: #f1f3f4 !important;
    height: 250px !important;
    overflow-y: scroll !important;
    flex-direction: column-reverse !important;
}

.response {
    border: 0px !important;
    border-radius: 10px !important;
    background: #fff !important;
    padding: 10px !important;
}

.msg-date {
    font-size:0.7em !important; 
    color: #666 !important;
}

/*********** end CHAT BOX ************/

.key-box {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}


/*****************************************
*********** PORTAL CERRADURAS ************
*****************************************/

hr { margin: 0;}

#lock-list {
/*    padding: 15px;*/
}

.menu-actions-blue {
    background:#5b7898;
    color:white;
}
span.bg-ico-bar {
    border-radius:5px;
    background-color:white;
    text-align: center;
    padding: 5px;
}
span.bg-ico-bar i.fas.fa-lock { 
    padding-right: 0px !important; 
    color:#5b7898;
}

.menu-actions-blue .action i, .menu-actions-blue .action a {
    color:#5b7898;
    text-decoration:none;
    font-size: 0.85rem;
    letter-spacing: 0px;
} 
.menu-actions-blue .action a:hover, .menu-actions-blue .action i:hover {
    color: #ffffff;
}

.menu-actions-blue .action a {
    background: #aebbcc;
    border:1px solid #ffffff;
    padding: 5px 5px 7px 5px;
}

.menu-actions-blue .action select {
    border:1px solid #ffffff;
    padding: 5px;
    background: #5b7898;
    color: #ffffff;
    font-size: 0.8rem;
}

.comp-name-bar {
    font-size: 0.8rem;
    font-weight: 600;
    color: #888888;
    padding: 15px 0 0 0px;
}
.comp-name-bar i {
    font-size: 0.8rem;
    font-weight: 600;
    color: #888888;
    padding: 4px 0 0 12px;
}


.div-locks-content {
    border:1px solid #ccc;
    border-radius:5px;
    padding: 15px;
    width: 98%;
    margin:auto;
}

.locks-head {
    color: #888888;
    font-weight: 600;
    font-size: 0.85em;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.locks-group {
    background: #e5eaee;
    border:1px solid #aaaaaa;
}

.card.card-container {
    width:100px; 
    height: 130px; 
}
.card-body.lock-box {
    padding: 5px !important;
}

.card-body.lock-box .alias { height: 20px;  }
.card-body.lock-box .room { height: 20px;  }
.card-body.lock-box .icons-1 {  }
.card-body.lock-box .icons-2 {  }

.lock-box {
    background: #ffffff;
    border:1px solid #aaaaaa;
    color: #666666;
    font-size: 0.7rem;
}
.lock-box:hover {
    border:1px solid #5b7898;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    cursor: pointer;
}

.lock-box .alias, .lock-box .alias i {
    color: #5b7898;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0px;
}


i.fas.fa-wifi.lock-on { color: #07b00b; font-size: 1.7rem; }
i.fas.fa-wifi.lock-off { color: red; font-size: 177rem; }

i.fa.fa-battery-half.fa-rotate-270.perc-0 { color: #949494; font-size: 0.8rem; }
i.fa.fa-battery-half.fa-rotate-270.perc-25 { color: #fc0000; font-size: 1.2rem; }
i.fa.fa-battery-half.fa-rotate-270.perc-50 { color: #ff8006; font-size: 1.2rem; }
i.fa.fa-battery-half.fa-rotate-270.perc-75 { color: #ffdc02; font-size: 1.2rem; }
i.fa.fa-battery-half.fa-rotate-270.perc-100 { color: #03b700; font-size: 1.2rem; }

i.perc-0 { color: #949494; font-size: 0.8rem; }
i.perc-25 { color: #fc0000; font-size: 1.2rem; }
i.perc-50 { color: #ff8006; font-size: 1.2rem; }
i.perc-75 { color: #ffdc02; font-size: 1.2rem; }
i.perc-100 { color: #03b700; font-size: 1.2rem; }

.bat-percentage {
    letter-spacing:0px;
    font-size:0.6rem;
}
