/* Pantalla puntos de venta */

#div-main
{
/*	background-image: url(/static/img/bg-tpv.jpg) !important;*/
	background-repeat: no-repeat;
}
#base 
{
	background-color: #fff;
	height: 100%;
}
#base .menu-options 
{
    margin: 1%;
}

.alert-closed {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-open {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


#base .menu-options, .pos-options 
{
	background-color: #ffffff;
    background-size: cover;
	border:1px solid #a1c517;
	border-radius: 5px;
	color: #a1c517;
	font-size: 1.875em;
	font-weight: 600;
    height: 300px;
}

#base .menu-options .point-name  ̣{
    width: 100%;    
    background: white !important; 
    opacity: 0.8;
}

.tablesBar {
    align-items: center;
    background-color: #dbe9f5;
    font-size: 1rem;
}

span.point-name {
    font-size: 1.3rem;
    font-weight:600;
    color: #0d6efd;
}

span.letter-cash {
    background: #dc3545; 
    background: #b71423; 
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
    font-weight:600;
    padding: 5 12;
}
span.letter-cash.green {
    background-color: #809d11;
    color: white;
}

.btn-outline-green {
    color: #000;
    border-color: #a1c517;
}

.btn-outline-green:hover {
    background-color: #a1c517;
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-green {
    color: #a1c517;
    border-color: #a1c517;
}


/*
.btn-1 { background: #0d6efd; }
.btn-2 { background: #225299; }
.btn-3 { background: #05152b; }
*/

i.fas.fa-power-off.mobile {
    font-size: 1.5rem !important;
}

.table-box {
    height: 100px;
}

#base button.menu-options.tables {
	font-size: 1.5em !important;
	padding: 0 !important;
	border:1px solid #35a8e0;
    width: 100%;
    height: auto !important;
} 
#base button.menu-options.tables .row {
	background-color: #35a8e0;
    border-bottom: 1px solid #ccc;
    color: white;
    align-items: center;
}
#base button.menu-options.tables.save {
    background: #a1c517;
    color: #fff;
	border:1px solid #a1c517;
} 
#base button.menu-options.tables.back {
    background: #6c757d;
    color: #fff;
	border:1px solid #6c757d;
} 
#base button.menu-options.tables.save,
#base button.menu-options.tables.back {
	font-size: 1.2em !important;
	padding: 0 !important;
    margin-top: 0px;
    width: 100%;
    height: auto !important;
    line-height: 1.8;
}

#base button.menu-options.tables.print {
    background: #fff;
    color: #a1c517;
	font-size: 1.2em !important;
    margin-top: 0px;
    padding:15px !important;
	border:1px solid #a1c517;
} 

input.special::placeholder {
    font-size: 0.8em !important;
}

.order-on {
    color: red; font-weight: normal;font-size: 0.8em;
}
.order-off {
    color: grey; font-weight: normal;font-size: 0.8em;
}


#base-tpv 
{
	background-color: #e0e0e0;
	height: 99vh !important;
	display:grid; 
	grid-template-columns: 75% 25%;
}

a.special.ark {
    color: #0d6efd !important;
    text-decoration: none;
}

/*****************************/
/* HEADER */

.left-tpv
{
	align-items: center;
	background-color: #a1c517;
	box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	color: #ffffff !important;
	-webkit-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	height: 80px;
}

.left-tpv .name button
{
    background-color: #35a8e0;
	color: #ffffff !important;
    font-weight: 600;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0px 6px 11px -5px rgba(0,0,0,0.41);
    line-height: 2;
} 
.left-tpv .name button:hover
{
    background-color: #ff7805;
}

select.tpv-articles
{
	background-color: #fff;
	border: none;
    border-radius: 0.25em !important;
	color: #a1c517;
    height: 50px;
    font-weight: 600;
}

/*****************************/
/* TICKET column */

.right-tpv
{
	background-color: #ffffff;
	border:1px solid #ccc;
}

.header-right
{
	height: 80px;
	align-items: center;
	box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	-webkit-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
}

.table-selector {
    background: #fff !important;
    color: #000 !important;
    border:1px solid #333; 
    border-radius: 0.25rem;
}

.logo img 
{
	width: 100%;
	max-width: 40px;
	height: auto;
}

.blue-info {
    color: #0d6efd;
    text-transform: uppercase !important;
}

.alert-danger {
    background-color: red !important;
    color: white !important;
    font-weight: 600;
}

.special-shadow {
    border-radius: 0.3em;
    box-shadow: 0px 6px 11px -5px rgba(0,0,0,0.41);
}

.btn-dark {
    padding-left: 0px !important;
}
#ticket-summary .btn-dark,
#ticket-summary .btn-dark h5 {
	background: #dbdee4 !important;
	color: #333 !important;
	font-size: 1em;
}
.small.alert
{
	border-top: 1px solid #ccc;
	font-size: 0.7em;
	padding: 1em;
	text-align: left;
}

.card-img-top.spec-img {
	height: fit-content !important;
}

.line-article {
    border-bottom:1px solid #ccc;
    margin-top:0;
    align-items: center;
}

.item-regime {
    color: #a1c517;
    font-weight: 600;
    text-transform: uppercase !important;
}

/***********************/

a.btn.btn-select-payment-web.pay-opts,
a.btn.btn-select-payment.pay-opts {
	border:1px solid #ccc;
	font-size: 0.8em;
    width: 100%;
}

.footer-buttons-mobile {
/*    overflow-y: scroll !important;*/
/*    padding-bottom: 250px !important;*/
}

p.grey-title {
	font-size: 0.9em;
    color: #666666;
}

button.btn.btn-danger-tpv {
	background-color: #f8d7da;  
	border:1px solid #f8d7da;
    border-radius: 0 !important;
    color: #8e2730;
}
.btn-mobile > button.btn.btn-danger-tpv {
	background-color: #f8d7da;  
	border:1px solid #f8d7da;
    border-radius: 0 !important;
    font-weight: 600;
	font-size: 1em;
    color: #8e2730;
    padding: 30px 0 30px 0;
    text-transform: uppercase !important;
}

button.btn.btn-info-tpv {
	background-color: #0dcaf0;  
	border:1px solid #0dcaf0;
    border-radius: 0 !important;
    color: #ffffff;
}
.btn-mobile > button.btn.btn-info-tpv {
	background-color: #0dcaf0;  
	border:1px solid #0dcaf0;
    border-radius: 0 !important;
    font-weight: 600;
	font-size: 1em;
    color: #ffffff;
    padding: 30px 0 30px 0;
    text-transform: uppercase !important;
}

button.btn.btn-success-tpv {
	background-color: #a1c517;  
	border:1px solid #a1c517;
    border-radius: 0 !important;
    color: #ffffff;
}
.btn-mobile > button.btn.btn-success-tpv {
	background-color: #a1c517;  
	border:1px solid #a1c517;
    border-radius: 0 !important;
    font-weight: 600;
	font-size: 1em;
    color: #ffffff;
    padding: 30px 0 30px 0;
    text-transform: uppercase !important;
}
button.btn.btn-warning.return.w-100,
button.btn.btn-warning-tpv {
	background-color: #ffc107;  
	border:1px solid #ffc107;
    border-radius: 0 !important;
    color: #ffffff;
}

.btn-mobile > button.btn.btn-warning.return.w-100,
.btn-mobile > button.btn.btn-warning-tpv {
	background-color: #ffc107;  
	border:1px solid #ffc107;
    border-radius: 0 !important;
    font-weight: 600;
	font-size: 1em;
    color: #ffffff;
    padding: 30px 0 30px 0;
    text-transform: uppercase !important;
}
button.btn.btn-primary-tpv {
	background-color: #0d6efd;  
	border:1px solid #0d6efd;
    border-radius: 0 !important;
    color: #ffffff;
	font-size: 1em;
}
button.btn.btn-primary-1 {
	background-color: #0d6efd;  
	border:1px solid #0d6efd;
    border-radius: 0 !important;
    color: #ffffff;
	font-size: 1em;
}

button.btn.btn-primary-2 {
	background-color: #225299;  
	border:1px solid #225299;
    border-radius: 0 !important;
    color: #ffffff;
	font-size: 1em;
}
button.btn.btn-primary-3 {
	background-color: #05152b;  
	border:1px solid #05152b;
    border-radius: 0 !important;
    color: #ffffff;
	font-size: 1em;
}

.btn-mobile > button.btn.btn-primary-tpv {
	background-color: #0d6efd;  
	border:1px solid #0d6efd;
    border-radius: 0 !important;
    font-weight: 600;
	font-size: 1em;
    color: #ffffff;
    padding: 30px 0 30px 0;
    text-transform: uppercase !important;
}

/***********************/
.space-art {
    max-height: calc(var(--substract, 0) - 2px);
    overflow-y:scroll;
}
.ptypes {
    position:fixed;
    bottom:0px; 
    width: 24.5%;
}
.fixed-layout {
    height: 99vh !important;
    display: grid;
    grid-template-columns: 75% 25%;
    position: fixed;
    bottom: 0px;
    top:0px;
}

/*
button.btn.btn-danger-tpv, button.btn.btn-send-tpv,button.btn.btn-warning-tpv, button.btn.btn-invite-tpv
{
    border-radius: 0px !important;
    border:1px solid #fff !important;
    height: 100%;
    line-height: 2;
}
button.btn.btn-danger-tpv i, button.btn.btn-send-tpv i, button.btn.btn-warning-tpv i, button.btn.btn-invite-tpv i
{

    font-size: 1.2em;
}

button.btn.btn-danger-tpv 
{
    background-color: #dc3545;
    border-color: #dc3545;
}
button.btn.btn-send-tpv 
{
    background-color: #a1c517;
    border-color: #a1c517;
}
button.btn.btn-warning-tpv 
{
    background-color: #ffc107;
    border-color: #ffc107;
}
button.btn.btn-invite-tpv 
{
    background-color: #35a8e0;
    border-color: #35a8e0;

}
*/


/*****************************/

i.fas.fa-home, i.far.fa-calendar, i.fas.fa-shopping-cart, i.fas.fa-power-off
{
	color: #ffffff !important;
	font-size: 1.2rem;
}

i.fa.fa-window-close 
{
    color: #999;
    font-weight: normal;
}

i.far.fa-arrow-alt-circle-left 
{
    color: #ffffff;
	font-size: 1.2rem;
}

button.btn.btn-header-pwa.ark, a.btn.btn-header-pwa.ark 
{
	margin:0;
}

/*****************************/
/* MAIN TPV */

.main-tpv 
{
	background-color: #e0e0e0;
	top: 90px;
	position: fixed;
	width: 74.5%;
	height: 90%;
	overflow-y: scroll;
}

.main-tpv .card.slider-cart
{
	background: transparent !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	width: 99%;
	margin:auto;
	align-items: left !important;
}
.form-control.tpv-table-search, .form-control.tpv-search 
{
	border-radius: 0 !important;
	margin-bottom: 15px;
    box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	-webkit-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
}

input.form-control.tpv-table-search {
    border-color: #35a8e0;
    border-radius: 5px !important;
    font-size: 0.8rem;
    margin: 1% 1.5% 2% 0% !important;
}

input.form-control.tpv-search {
    border-color: #a0c516;
    border-radius: 5px !important;
    width: 100% !important;
    margin-bottom: 15px;
}

/*****************************/
/* SECTION ITEMS */

.section-guest, .section-ticket
{
    background-color: #fff;
    border:1px solid #ccc; 
    border-radius: 0.25rem;
    box-shadow: 0px 6px 11px -5px rgba(0,0,0,0.41);
}

.cart-item 
{
	border:1px solid #fff;
}
.section-title
{
	background: #e0e0e0 !important;
	border: none;
	color: #143e53 !important;
	padding: 0.5em;
	text-align: left !important;;
}

.card.article
{
	border-radius: 0.25rem 0.25rem 0 0 ;
}
.box-new 
{
    background-color: #a1c517;
	height: 140px !important;
}
div#cover.image
{
	background: transparent !important;
}

img.img-fill 
{
	max-width: -webkit-fill-available;
    object-fit: cover;
    height: 110px !important;
    width: 100% !important;
}
.row-01 h5.card-title 
{
	background: #a1c517;
	font-size: 0.8rem;
    display: grid !important;
    align-items: center !important;
    height: 45px;
    line-height: 1.5em !important;
}
h5.card-title 
{
	color: #fff !important;
	position: absolute;
	bottom: -8px;
    padding-top: 0px !important;
    line-height: 2 !important;
	width: 100%;
}
.row-02, .row-03.allerg-new, .row-04.info-new
{
	display: none;
}
.row.card-footer.ooter-new
{
	margin:auto;
	padding: 10px 0 10px 0;
	width: 98%;
}


/*****************************/
/*****************************/

/* MOBILE VERSION*/

/*****************************/
/*****************************/

.m-none {
    margin:0;
}

#main.main-tpv-mobile {
    /*padding-bottom:150px;*/
}

#base-tpv-mobile
{
	background-color: #ffffff;
	/*height: 99vh !important;*/
    margin-top: 120px;
    padding-bottom: 200px;
}
/*
.main-tpv-mobile {
	top: 110px;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
    padding-bottom: 150px !important;
}
*/

/*****************************/
/* HEADER */

.header-mobile.sticky-top 
{
    /*
    box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46) !important;
	-webkit-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46) !important;
	-moz-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46) !important;
    */
    background-color: #fff;
    position: fixed !important;
    top: 0;
    z-index: 1020;
    width: 100%;
/*	height: 100px !important;*/
    align-items: center;
}
.products-tpv-mobile .name button
{
    background-color: #35a8e0;
	color: #ffffff !important;
    font-size: 11px;
    font-weight: 600 !important;
    border-radius: 0px !important;
    border: 1px solid #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
    line-height: 20px;
    height: 50px;
} 

select.tpv-articles.mobile
{
	border: none;
	color: #a1c517;
    height: 50px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0px !important;
}

button.btn.ark-w-100.table-name {
    background: #fff !important;
    color: #000 !important;
    border-radius: 0.25rem;
}

/*****  mobile icons ******/

i.fas.fa-cash-register,
i.fas.fa-coffee,
i.fas.fa-tag, 
i.fas.fa-shopping-basket, 
i.fas.fa-power-off 
{
	font-size: 1.2rem;
    font-weight: 600;
}

i.fas.fa-power-off .mobile {
	color: #ffffff !important;
}


/*****  mobile icons ******/


.access-ticket 
{
	background-color: #a1c517;
    border:1px solid #fff;
    height: 50px;
}

.access-ticket .btn.btn-header-pwa
{
    color: #ffffff !important;
    font-size: 0.68rem !important;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 0px;
}

/**** Red cirle with number of articles in ticket ****/

.btn .badge {
    /*position: relative;
    top: -1px;*/
    position: absolute;
    top: 5px;
    font-size: 0.9em;
    font-weight: 600;
    color: #fff !important;
    background: #e41e3f;
    border-radius: 50px;
}

.power-off {
    height: 50px;
    line-height: 20px;
    border:1px solid #fff;
}

.header-bottom
{
	background-color: #fff;
}

input.form-control.tpv-search.mobile /*, input#div-scan.form-control.ark_change.scanband*/
{
    border-color: #a0c516;
    border-radius: 5px !important;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 46%) !important;
    z-index: 1020;
    width: 96% !important;
    align-items: center;
    font-size: 0.8rem !important;
}
input.form-control.tpv-search.mobile {
    border-color: #a0c516;
}
input#div-scan.form-control.ark_change {
    border-color: #59acd6;
    color: #666;
    font-size: 0.8rem;
}
input#div-scan.form-control.ark_change.scanband {
    border-color: #59acd6;
    text-align: left !important;
}

input#div-scan.form-control.ark_change.scanband::placeholder {
    color: #666 !important;
}

/*.header-bottom .scan-NFC {*/
.header-bottom .scan-btn {
    height: 50px !important;
    line-height: 20px !important;
    color: #1d94cf;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #59acd6;
    border-radius: 0 !important;
    background: #e5f2f8;
}

.balance-band {
    background: #a1c517; 
 /*   border-radius: 0.3em;*/
    color: #fff;
    font-size: 1rem;
    line-height: 2;
    margin-bottom: -5px;
}

.price {
    padding-top: 0px !important;
}

.btn-dark-grey {
    background-color: #555e6e;
}

.summary-price-tpv {
    align-items: center; 
    line-height: 1.2;
    font-size: 0.95rem;
}

.infinite-ticket {
    background: #f6ffe5; 
    border-top: 2px solid #a1c517; 
    position: fixed; 
    height: 100%; 
    overflow-y: scroll; 
    width: 96%;
    padding-bottom: 150px;
    margin-top: 5px;
	
    /*border:1px solid red;*/
}

.section-tpv {
    position: fixed; 
    height: 80%; 
    overflow-y: scroll; 
    width: 96%;
    padding-bottom: 200px;
    margin-top: 5px;
	
/*    border:1px solid blue;*/

}

.ticket-line {
    align-items: center;
    color: #444;
    font-size: 0.8em;
    overflow-y:scroll;
    /*padding-bottom: 150px;*/
    padding-bottom: 5px;
}
.ticket-line-mob {
    align-items: center;
    color: #444;
    font-size: 0.8em;
    overflow-y:scroll;
    padding-bottom: 5px;
}


/*****************************/
/* PRODUCTS TPV */

.products-tpv-mobile {
	align-items: center;
	color: #ffffff !important;
	background-color: #fff;
}

.products-tpv-mobile .name {
    color: #35a8e0;
}

.products-tpv-mobile i.fas.fa-power-off {
	color: #000 !important;
	font-size: 1.2rem;
}

.section-title {
    background: #fff !important;
    color: #007bbf !important;
    font-size: 1rem;
}

.box-new.mobile {
    background-color: #a1c517;
    height: 140px !important;
}

.row-01 h5.card-title-mobile {
	background: #a1c517;
    font-size: 0.70em;
	color: #fff !important;
    display: grid !important;
    align-items: center !important;
    height: 65px;
}

h5.card-title {
	color: #fff !important;
	position: absolute;
	bottom: -8px;
    padding-top: 0px !important;
    line-height: 2 !important;
	width: 100%;
}

.col-2.mobile {   
    padding: 5px !important;
    width: 20% !important;
}

.ti_special {
    border: 3px solid #35a8e0; 
    border-radius: 5px; 
    position: absolute; 
    width:100%;
}

.item_selected {
    border: 2px solid #35a8e0;
}

.accordion-body {
    padding: 0.1rem 1.25rem !important;
}

img.img-fill.mobile {
	max-width: -webkit-fill-available;
	max-height: 70px;
}

/*****************************/
/* TICKET mobile */

.header-ticket {
	height: 80px;
	align-items: center;
    box-shadow: none !important;
    -webkit-box-shadow: 0px rgb(f f f / 0% ;
}


.a-disabled {
    background: #ccc;
}
