.welcome-page 
{
    background-color: #d6d6d6;
}

.access-wrist {
    background-image: url(/static/img/bg-wrist-access.png);    
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: top center;
    height: 800px;
    width: 100%;
}
.access-wrist img {
  height: 800px;
  width: 100%;
  object-fit: fill;
}

.access-panel {
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin-top: 200px;
    opacity: 0.5;
}
.access-panel h1 {
    color: white;
    font-weight: 600;
}
.access-panel input {
    background: white;
    color: #666;
    padding:20px;
    border-radius:15px;
    font-size:1.5rem;
    font-style: italic;
}

.header-wrist-pay
{
	align-items: center;
	background-color: #116710;
	box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	color: #ffffff !important;
	-webkit-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.46);
	height: 80px;
}

.header-wrist-pay .name button
{
    background-color: #35a8e0;
	color: #ffffff !important;
    font-weight: 600;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0px 6px 11px -5px rgba(0,0,0,0.41);
    line-height: 2;
} 
.header-wrist-pay .name button:hover
{
    background-color: #ff7805;
}
i.fas.fa-power-off
{
	color: #ffffff !important;
	font-size: 1.2rem;
}

.pay-access img {
    height: 70px;
}
.btn-success {
    color: #fff;
    background-color: #a1c517;
    border-color: #a1c517;
}
.btn-success:hover {
    color: #fff;
    background-color: #97b522;
    border-color: #97b522;
}

#div-result {
/*    border:1px solid red;*/
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
}

#div-result-content {
    background-color: white !important; 
    border:1px solid #ccc !important;
    height: 100vh !important;
}
#div-result-content.msg.text-center.alert-danger,
#div-result-content.msg.text-center.alert-success {
    line-height: 2;
    text-transform: uppercase;
    font-weight:600;
    font-size: 1.175rem;
}
#div-result-content.msg.text-center.alert-danger {
    color: #ffffff !important;
    background-color: #e00034 !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url(/static/img/no-access.png);    
    border-color: #e00034 !important;
}
#div-result-content.msg.text-center.alert-success {
    color: #ffffff !important;
    background-color: #00b21c !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url(/static/img/access.png);    
    border-color: #00b21c !important;
}

.wb-pay-center {
    font-size: 1.2rem;
    text-align: center;

}
.alert-success {
    font-size: 1.5rem;
    border-radius: 15px 15px 0 0 !important; 
    border-color:white !important;
}
.print-info {
    border-top: 1px solid #ccc;
    line-height: 1.5;
}

@media (max-width: 480px) 
{ 
    .access-panel input {
        font-size:0.9rem;
    }
    .access-wrist img {
        height: 800px;
        width: 50%;
    }
    #div-result-content.msg.text-center.alert-danger,
    #div-result-content.msg.text-center.alert-success {
        /*
        width: 90% !important;
        height: 100px !important;
        margin:auto !important;
        margin-left: 0 !important;
        margin-top: -150px !important; 
        line-height: 2;
        */
    }

}
