{% extends 'base.html' %}
{% load i18n %}

{% block second_menu %}{% include 'web/second_menu.html' %} {% endblock second_menu %}

{% block central_content %}
    <div class="toolbar-search">
        <input type="text" class="autosearch form-control form-control-dark w-100" name="s-name" id="s-name" 
            placeholder="Nombre o Canal" data-url="{% url "form-search" %}" 
            data-target="form-list" data-related="s-name" />
    </div>

    <div class="content mt-4">
        <div class="toolbar-content">
            <h2 class="b-right">{% trans 'Bookings' %} (<span id="items-counter">{{items|length}}</span>) {% trans "of" %} {{form.name}}</h2>
            <a class="btn btn-primary" href="{% url "booking-new" form.id %}" target="_blank">{% trans "New booking" %}</a>  
        </div>
        <div id="booking-list">{% include "bookings/booking-list.html" %}</div>
    </div>
{% endblock central_content %}
