{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %} {% endblock second_menu %}

{% block central_content %}
    <div class="content mt-4">
        <div class="toolbar-content"> <h2 class="b-right">{% trans 'Bookings' %}</h2> </div>
        <div id="booking-list">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="small small">
                        <th> {% trans 'Form' %} </th>
                        <th> {% trans 'Name' %} </th>
                        <th> {% trans 'Surname' %} </th>
                        <th> {% trans 'Phone' %} </th>
                        <th> {% trans 'Email' %} </th>
                        <th> {% trans 'Device' %} </th>
                        <th> {% trans 'Date' %} </th>
                        <th> {% trans 'Status' %} </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr class="small" id="row_{{item.id}}">
                            <td>{% padword_translate item.form.name %}</td>
                            <td>{{item.guest.name}}</td>
                            <td>{{item.guest.surname}}</td>
                            <td>{{item.guest.mobile}}</td>
                            <td>{{item.guest.email}}</td>
                            <td>{{item.device.uuid}}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.status.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock central_content %}
