{% load i18n static padword_tags bookings_tag common_tag %}

{% if ai.field.answer_type.field_type == "file" %}

    <a href='{{ai.document.url}}' target='_blank'>{{file_name}}</a>

{% elif ai.field.answer_type.field_type == "items_shop" %}

	<div class="col-12 d-flex justify-content-center">
		<div class="card">
			<div class="image" id="cover">
				<img src="{% if item.image %}{{item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" class="object-fit_cover" 
				alt="{% padword_translate item.name %}">
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-8"> <h5 class="card-title text-dark">{% padword_translate item.name %}</h5> </div>
					<div class="col-4"> <h4 class="card-title text-dark text-right">{{ item.price}} &euro; </h4> </div>
					<div class="col-12">
						<p class="card-text text-secondary"><small>{% padword_translate item.description %}</small></p> 
					</div>
				</div>
			</div>
		</div>
	</div>

{% else %}

    {{ai.text}}

{% endif %}

