{% extends "base_guest.html" %}
{% load i18n bookings_tag common_tag padword_tags %}

{% block central_content %}
<div id="mask"> &nbsp; </div>

<div class="main-content-booking container-fluid">
	<div class="{% if fi.form.image %} div-transp {% else %}div-transp-0 {% endif %}  p-4">
	{% comment %}
	<div class="bookingHeader"><a id="full-screen" class="" onclick="javascript:toggleFullScreen();">
            <i class="far fa-window-maximize"></i></a></div>

	{% endcomment %}
        <div class="col-12 fixed-head p-2">
            <div class="grid-container"> 
                <div class="item1">{% padword_translate fi.form.name %}</div> 

                {% if fi.form.form_type.code == "ecom" %}
                    <div class="item2 text-right">(<span id="info-shopping">{{items.count}} art.&nbsp;&nbsp;&nbsp; 
                        {{fi.get_total|stringformat:".2f"}} &euro; </span>)</div>
                    <a class="btn btn-light small ark mb-1" data-url="{% url 'view-shopping-cart' %}" data-target-modal="common-modal" 
                        data-form_id="{{fi.pk}}"> <i class="fas fa-shopping-cart"></i> {% trans '' %}</a>
                {% endif %}
            </div> 
        </div>
        <hr>

        <div class="row"> <div class="col-md-9 offset-md-1" id="div-notification"></div> </div>

        <div class="row bloque mt-3">
            <div id="main" class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-xs-12">
                {% if fi.form.form_type.code == "ecom" %}
                    <div class="text-white" id="div-shopping-cart">
                        {% include "bookings/shopping_cart.html" with category=fi.form.get_category fi=fi%}
                    </div>
                {% else %}
                    {% for b in fi.get_public_blocks %}
                        <div class="" id="div-block">{%include "bookings/block_form.html"%}</div> 
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row mt-4 mb-4 d-flex justify-content-center ">
            {% if not ro %}
                <div class="col-lg-3 col-md-3 col-xs-4 offset-xs-1 actions text-center">
                    {% if fi.form.form_type.code == "ecom" %}
                        <a class="btn btn-outline-primary btn-lg ark w-100" data-url="{% url 'view-shopping-cart' %}" 
                            data-target-modal="common-modal" data-form_id="{{fi.pk}}"><i class="fas fa-shopping-cart"></i> {% trans 'Continue' %}</a>
                    {% else %}
                        <a href="{% url "booking-send" fi.id %}" class="btn btn-outline-primary btn-lg w-100">
                            <i class="fas fa-paper-plane"></i> {% trans "Send" %}</a>
                    {% endif %}
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 col-xs-4 offset-xs-1 actions text-center">
                    <a href="{% url "booking-remove" fi.id %}" class="btn btn-outline-danger btn-lg w-100" onlick="window.close()" target="_blank">
                        <i class="fas fa-ban"></i> {% trans "Cancel" %}</a>
                </div>
            {% else %}
                <div class="col-2 actions text-center">
                    <a href="#" class="btn btn-info btn-lg ark text-white" onclick="window.close()">{% trans "Close" %}</a>
                </div>
            {% endif %}

            {% if status_list %} <div id="div-status">{% include "bookings/manage/status-links.html" %}</div> {% endif %}
        </div>
    </div>
</div>
{% include "common-modal.html" %}
{% if fi.form.image %} <script>$('body').css('background-image', 'url("{{fi.form.image.url}}")');</script> {% endif %}
{% endblock %}


