{% load i18n static padword_tags bookings_tag common_tag %}

<div class="row">
{% for item in item_list %}
    <div class="col-lg-4 col-md-6 col-xs-5 mb-1 d-flex justify-content-center">
        <div class="card w-100">
            <div class="image" id="cover">
                <img src="{% if item.image %}{{item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" class="object-fit_cover" 
                    alt="{% padword_translate item.name %}">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9"> <h5 class="card-title text-dark">{% padword_translate item.name %}</h5> </div>
                    <div class="col-3"> <h4 class="card-title text-dark text-right">{{ item.price}} &euro; </h4> </div>
                    <div class="col-12"> <p class="card-text text-secondary"><small>{% padword_translate item.description %}</small></p> </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    {% if item.uuid != value %}
                        <a class="btn btn-info text-white ark" data-url="{% url "select-item" %}" data-target="div-items-shop-{{answer_name}}" 
                            data-fi="{{fi_id}}" data-question="{{q_id}}" data-field="{{f.id}}" data-index="{{index}}" data-value="{{item.uuid}}"> 
                            {% trans "Select" %}</a>
                    {% else %}
                        <a class="btn btn-success text-white ark" data-url="{% url "select-item" %}" data-target="div-items-shop-{{answer_name}}" 
                            data-fi="{{fi_id}}" data-question="{{q_id}}" data-field="{{f.id}}" data-index="{{index}}" data-value=""> 
                            {% trans "Unselect" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>


