{% load i18n padword_tags %}

<div class="toolbar-search row">
	<div class="row w-100">
		<div class="col-md-12">
			<input type="text" class="autosearch form-control form-control-dark w-30" name="s-project" id="s-project" 
	        	placeholder="{% trans "Project name" %}" value="{{project_uuid}}" data-url="{% url "bookings-search" %}" 
	    	    data-target="booking-list" data-related="s-project,s-channel,s-form,s-ini_date,s-end_date,s-name,s-status" 
    	    	{%if request.project_id %}disabled{%endif%}/>
		</div>
	</div>
	<div class="row w-100 mt-1">
		<div class="col-md-6 col-xs-6">
		    <input type="text" class="autosearch form-control form-control-dark w-30" name="s-channel" id="s-channel" 
    		    placeholder="{% trans "Channel name" %}" data-url="{% url "bookings-search" %}" 
        		data-target="booking-list" data-related="s-project,s-channel,s-form,s-ini_date,s-end_date,s-name,s-status" />
		</div>
		<div class="col-md-6 col-xs-6">
		    <input type="text" class="autosearch form-control form-control-dark w-30" name="s-form" id="s-form" 
    		    placeholder="{% trans "Form name" %}" value="{{form_name}}" data-url="{% url "bookings-search" %}" 
        		data-target="booking-list" data-related="s-project,s-channel,s-form,s-ini_date,s-end_date,s-name,s-status" />
		</div>
	</div>

    {% comment %} 
    <input type="text" class="autosearch form-control form-control-dark w-30" name="s-project" id="s-project" 
        placeholder="{% trans "Project uuid" %}" value="{{project_uuid}}" data-url="{% url "bookings-search" %}" 
        data-target="booking-list" data-related="s-project,s-channel,s-form,s-ini_date,s-end_date,s-name" 
        {%if request.project_id %}disabled{%endif%}/>
    {% endcomment %}
    {% comment %} 
    {% trans 'Project' %} {{project_uuid|get_obj:'Project'}}
    <input type="hidden"  name="s-project" id="s-project" value="{{project_uuid}}" />
    {% endcomment %}

	<div class="row w-100 mt-1">
		<div class="col-md-6 col-xs-6">
		    <input type="date" class="autosearch_change form-control form-control-dark w-30" name="s-ini_date" id="s-ini_date" 
    		    placeholder="{% trans "Initial date" %}" value="{{ini_date|date:'Y-m-d'}}" data-url="{% url "bookings-search" %}" 
        		data-target="booking-list" data-related="s-project,s-channel,s-form,s-ini_date,s-end_date,s-name,s-status" />
		</div>
		<div class="col-md-6 col-xs-6">
		    <input type="date" class="autosearch_change form-control form-control-dark w-30" name="s-end_date" id="s-end_date" 
				placeholder="{% trans "End date" %}" value="{{end_date|date:'Y-m-d'}}" data-url="{% url "bookings-search" %}" 
				data-target="booking-list" data-related="s-project,s-channel,s-form,s-ini_date,s-end_date,s-name,s-status" />
		</div>
	</div>
	<div class="row w-100 mt-1">
		<div class="col-md-6 col-xs-6">
			<input type="text" class="autosearch form-control form-control-dark w-30" name="s-name" id="s-name" 
	        	placeholder="Nombre" data-url="{% url "bookings-search" %}" 
	    	    data-target="booking-list" data-related="s-project,s-channel,s-form,s-ini_date,s-end_date,s-name,s-status" />
		</div>
		<div class="col-md-6 col-xs-6">
            <select class="autosearch_change form-control form-control-dark w-30" name="s-status" id="s-status" 
                data-url="{% url "bookings-search" %}" data-target="booking-list"  
                data-related="s-project,s-channel,s-form,s-ini_date,s-end_date,s-name,s-status">
                <option value="">-- Seleccione un estado --</option>
                <option value="02">{% trans "Sended" %}</option>
                <option value="03">{% trans "Canceled" %}</option>
                <option value="04">{% trans "Received" %}</option>
                <option value="05">{% trans "Readed" %}</option>
                <option value="06">{% trans "Confirmed" %}</option>
                <option value="07">{% trans "Rejected" %}</option>
                <option value="08">{% trans "Waiting" %}</option>
            </select>
		</div>

	</div>
</div>
 
