{% load i18n padword_tags static%}
<div class="d-flex justify-center row">
    <div class="col-12 justify-content-center">
        <div class="card w-100 p-3" >
            <img src="{% if obj.item.image %}{{obj.item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" class="card-img-top" alt="{% padword_translate obj.item.name %}" style="height:150px;">
            <div class="card-body">
                <h4 class="small card-title text-dark text-center">{{ obj.item.price}} &euro; </h4>
                <h5 class="small card-title text-dark text-center">{% padword_translate obj.item.name %}</h5>
                <span class="small text-info" id="div-notification"></span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="w-100" >
            <div class="card-body">
                <h4 class="small card-title text-dark text-center">{% trans 'Comments'%} </h4>
                <textarea class="form-control autosave" id="comments" name="comments" rows="7" value="{{obj.comments}}" data-url="{% url "autosave_field" %}" data-model-name="contents.shoppingcart" data-obj-id="{{obj.pk}}" data-target="div-notification">{{obj.comments}}</textarea> <span id="comments__msg"></span>
            </div>
        </div>
    </div>
</div>		

<div class="d-flex justify-content-end m-2">
    <a class="btn btn-sm btn-primary ark"  data-url="{% url 'view-shopping-cart' %}" data-target-modal="common-modal" data-form_id="{{form_id}}" >{% trans "SAVE" %}</a>
</div>

