{% load i18n padword_tags static%}
<div class="d-flex justify-center">
    <div class="col-2 justify-content-center">
        <div class="card w-100" >
            <img src="{% if obj.item.image %}{{obj.item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" class="card-img-top" alt="{% padword_translate obj.item.name %}" style="height:150px;">
            <div class="card-body">
                <h4 class="small card-title text-dark text-center">{{ obj.item.price}} &euro; </h4>
                <h5 class="small card-title text-dark text-center">{% padword_translate obj.item.name %}</h5>
                <span class="small text-info" id="div-notification"></span>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="w-100" >
            <div class="card-body">
                <h4 class="small card-title text-dark text-center">{% trans 'Comments'%} </h4>
                <textarea class="form-control autosave" id="comments" name="comments" rows="7" value="{{obj.value}}" data-url="{% url "autosave_field" %}" data-model-name="contents.shoppingcart" data-obj-id="{{obj.pk}}" data-target="div-notification">{{obj.value}}</textarea> <span id="comments__msg"></span>
            </div>
        </div>
    </div>
</div>		

<div class="d-flex justify-content-end m-2">
    <button type="button" class="btn btn-sm btn-primary save" data-bs-dismiss="modal">{% trans "SAVE" %}</button>
</div>

{% comment %}
<div class="d-flex justify-content-end">
    {% if new_item %}
    <a class="btn btn-sm" href="{% url "categories-by-project" obj.project_uuid %}" >{% trans "Save" %}</a>
    {% else %}
    <button type="button" class="btn btn-sm ark save" data-bs-dismiss="modal" data-url="{% url "items-by-category" obj.uuid %}" data-target="items-list-{{obj.pk}}" >{% trans "Save" %}</button>
    {% endif %}
    <button type="button" class="btn btn-sm ark cancel" data-bs-dismiss="modal" data-url="{% url "category-remove" obj.uuid %}" data-target="items-list-{{obj.parent.pk}}" data-confirm="{% trans "Are you sure to remove this element?" %}">{% trans "Remove" %}</button>
</div>

{% endcomment %}
