{% load i18n bookings_tag common_tag padword_tags static%}

<!--
<link rel="stylesheet" href="{% static 'css/menu2.css' %}" >
-->

<div class="row d-flex justify-content-center img-carousel mt-1 ml-0">
<div class="container"> <div class="row blog"> <div class="col-12" style="padding:0;margin:0;">
        <div id="promoCarousel" class="carousel slide" data-ride="carousel">
                
            {% if total_images > 1 %}
                <!-- Carousel controls -->
                <button class="carousel-control-prev mt-5" type="button" data-bs-target="#promoCarousel" data-bs-slide="prev">
                    <span class="prev"><i class="fas fa-chevron-circle-left"></i></span></a> </button>
                <button class="carousel-control-next mt-5" type="button" data-bs-target="#promoCarousel" data-bs-slide="next">
                    <span class="next"><i class="fas fa-chevron-circle-right"></i></span></a> </button>
            {% endif %}

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for item in category.images.all %}
                    <div class="carousel-item {%if forloop.counter0 == 0%}active{%endif%}">
                        <div class="row slider-row">
                            <div class="col-lg-12 col-12 justify-content-center">
                                <div class="image" id="cover" style="margin-left: -15px; margin-right:-15px;"> 
                                    {% if item.image %} 
                                        <img src="{{item.image.url}}" class="object-fit_cover-gallery" alt="{% trans "Image gallery" %}" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for promo in promo_list %}
                    <div class="carousel-item">
                        <div class="row slider-row">
                            <div class="col-lg-12 col-12 justify-content-center">
                                <div class="image" id="cover"> 
                                    {% if promo.banner %} 
                                        {%comment%}
                                        <div class="card ark" data-url="{%url "show-category-menu"%}" data-target="main" 
                                            data-cat_id="{{promo.item.category.uuid}}"> <img src="{{promo.banner.url}}" 
                                            class="object-fit_cover-gallery" alt="{%padword_translate promo.item.name%}"> </div>
                                        {%endcomment%}
                                        <div class="card ark" data-url="{%url "show-item"%}" data-target-modal="common-modal" 
                                            data-item_id="{{promo.item.id}}" data-guest_id=""> 
                                            <img src="{{promo.banner.url}}" class="object-fit_cover-gallery" 
                                                alt="{%padword_translate promo.item.name%}"> 
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
	</div> </div> </div>
</div>

<script language="JavaScript" type="text/javascript">$(document).ready(function(){$('.carousel').carousel({ interval: 3000 })});</script>
