{% load i18n bookings_tag common_tag padword_tags static%}
{% get_css_project form.project.pk %}
        
<div id="main-base"> 
    {% if form.form_type.template_base != "" %}
        {% include form.form_type.template_base with category=form.get_category prefix=form.project.prefix %} 
    {% else %}
        <div id="main"> {% include form.form_type.template with category=form.get_category %} </div>
    {% endif %}
</div>
{% include "common-modal.html" %}

<script>
    document.addEventListener('DOMContentLoaded', function() 
    {
        navigator.serviceWorker.register('/static/js/sw.js');
        Notification.requestPermission(function(result) {
            if (result === 'granted') {
                navigator.serviceWorker.ready.then(function(registration) {
                    //registration.showNotification('Notification with ServiceWorker');
                });
            }
        });
    }); 
</script>
<script id="realtime-script"> $('#realtime-script').remove(); </script>
{% if request.user.is_authenticated %}<script> checkGuestNotify("{{form.pk}}"); </script>{% endif %}
