{% load i18n bookings_tag common_tag padword_tags static%}
{% get_css_project form.project.pk %}
        

{#{% include "bookings/show-category-content.html" %} #}
<div id="main-base"> 
    {% if form.form_type.template_base != "" %}
        {% include form.form_type.template_base with category=form.get_category %} 
    {% else %}
        <div id="main"> {% include form.form_type.template with category=form.get_category %} </div>
    {% endif %}
</div>

{%comment%}
<button id="btn-promo" class="ark" data-url="{% url 'pwa-get-promos' %}" data-target-modal="common-modal" 
    data-project_uuid="{{project_uuid}}" style="display:none"> </button>
{%endcomment%}

{% include "common-modal.html" %}

<script>
    //$("#btn-promo").click();

    document.addEventListener('DOMContentLoaded', function() 
    {
        navigator.serviceWorker.register('/static/js/sw.js');
        Notification.requestPermission(function(result) {
            if (result === 'granted') {
                navigator.serviceWorker.ready.then(function(registration) {
                    //registration.showNotification('Notification with ServiceWorker');
                });
            }
        });
    }); 
</script>
<script id="realtime-script">
    //$('#btn-home').click();
    $('#realtime-script').remove();
</script>
{% if request.user.is_authenticated %}<script> checkGuestNotify("{{form.pk}}"); </script>{% endif %}
