{% load i18n bookings_tag common_tag padword_tags static%}

<div class="card w-100 mb-3 box-new">
    {% if item.image %}
        <div class="image" id="cover"> 
            <img src="{{item.image.url}}" class="object-fit_cover img-new" alt="{% padword_translate item.name %}"> 
        </div>
        {#<div class="card-new-nophoto"></div> #}
    {% endif %}

    <div class="box-new">
        <div class="row-01"><h5 class="card-title text-dark text-center title-new">{% padword_translate item.name %}</h5></div>
        <div class="row-02"><h4 class="card-title text-dark text-center price-new">{{item.price}} {%if item.price != ""%}&euro;{%endif%} </h4></div>
        <div class="row-03 allerg-new">
            {% for ia in item.allergen_list.all %}
                <img src="{{ia.allergen.icon.url}}" alt="{{ia.allergen.name}}" title="{{ia.allergen.name}}" style="width: 2.8em !important;" />
            {% endfor %}
        </div>
        <div class="row-04 info-new">
            {% if not item.description|is_empty:request.LANGUAGE_CODE %}{% include "bookings/show-item-btn.html" %}{% endif %}
        </div>

        {% if show_footer and fi.form|check_timetable %}
            <div class="row card-footer footer-new">
                <div class="col-3 d-flex justify-content-start">
                    <a class="p-2 btn btn-sm ark" data-url="{% url 'remove-generic-item-shopping-cart' %}" 
                        data-target="for-scripts" data-form_id="{{fi.pk}}" data-item_id="{{item.pk}}"> <i class="fas fa-minus"></i></a>
                </div>              
                <div class="col-6 d-flex justify-content-center">
                    <input type="text" class="ark_change form-control text-center readonly"
                        {% if mobile %}id="counter-item-{{item.pk}}"{% else %}id="counter-item-mob-{{item.pk}}"{% endif %}
                        data-url="{% url 'get-price-shopping-cart' %}" data-form_id="{{fi.pk}}" data-target="info-shopping" 
                        value="{{fi|items_in_bookings:item.pk}}"></input>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <a class="p-2 btn tn-light btn-sm ark" data-url="{% url 'item-to-shopping-cart' %}" data-target="for-scripts" 
                        data-form_id="{{fi.pk}}" data-item_id="{{item.pk}}"> <i class="fas fa-plus"></i></a>
                </div>
            </div>
        {% endif %}
    </div>
</div>


