{% load i18n padword_tags %}


<div class="row">
	<div class="col-10 offset-1 mt-3 mb-3">
	<div class="content mt-4">
		<div class="toolbar-content mb-3"> <h4 class="success mt-3">{% trans 'Bookings' %}</h4> </div>
		<div id="booking-list">
			<div class="p-4" style="background:#f3f5f9;border-radius:5px;">
				<div class="row">
					<div class="col title-col"> {% trans 'Service' %} </div>
					<div class="col title-col"> {% trans 'Name' %} </div>
					<div class="col title-col"> {% trans 'Surname' %} </div>
                    {%comment%}
					<div class="col title-col"> {% trans 'Phone' %} </div>
					<div class="col-3 title-col"> {% trans 'Email' %} </div>
					<div class="col title-col"> {% trans 'Device' %} </div>
                    {%endcomment%}
					<div class="col-2 title-col"> {% trans 'Creation Date' %} </div>
					<div class="col title-col"> {% trans 'Status' %} </div>
					<div class="col title-col"> </div>
				</div>
				{% for item in items %}
				<div class="row booking-line mb-2" id="row_{{item.id}}">
					<div class="col info-col booking-line">{% padword_translate item.form.name %}</div>
					<div class="col info-col booking-line">{{item.guest.name}}</div>
					<div class="col info-col booking-line">{{item.guest.surname}}</div>
                    {%comment%}
					<div class="col info-col booking-line">{{item.guest.mobile}}</div>
					<div class="col-3 info-col booking-line">{{item.guest.email}}</div>
					<div class="col info-col booking-line">{{item.device.uuid}}</div>
                    {%endcomment%}
					<div class="col-2 info-col booking-line">{{ item.date }}</div>
					<div class="col info-col booking-line">{% padword_translate item.status.name %}</div>
					<div class="col info-col booking-line">
                        {%comment%}
                        <a class="me-1 btn btn-xs" href="{% url "booking-guest-view" item.id %}" target="_blank" title="{%trans "View"%}">
                            <i class="fas fa-eye"></i></a>  
                        {%endcomment%}
                        <button class="me-1 btn btn-xs ark" data-url="{% url "booking-guest-view" %}" data-target="div-main" 
                            data-obj_id="{{item.id}}" title="{%trans "View"%}"> <i class="fas fa-eye"></i></button>  
                    </div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	</div>
</div>
<div class="row">
	<div class="col-8 offset-2 text-grey text-center mt-3 mb-3">
        <button class="btn btn-info text-white mt-3 ark" data-url="{% url 'close-spa' %}" data-target-modal="common-modal"
            onclick="closeWin('#div-close')"> {% trans 'Close' %}</button>
		{#<button class="btn btn-warning text-white mt-3" onclick="window.history.back();">{% trans "Close" %}</button>#}
	</div>
</div>
{% include "common-modal.html" %}
