{% extends 'base_guest.html' %}
{% load i18n padword_tags %}

{#{% block second_menu %}{% get_second_menu request.user %} {% endblock second_menu %}#}

{% block central_content %}

<div class="row">
	<div class="col-10 offset-1 mt-3 mb-3">
	<div class="content mt-4">
		<div class="toolbar-content mb-3"> <h4 class="success mt-3">{% trans 'Bookings' %}</h4> </div>
		<div id="booking-list">
			<div class="p-4" style="background:#f3f5f9;border-radius:5px;">
				<div class="row">
					<div class="col title-col"> {% trans 'Service' %} </div>
					<div class="col title-col"> {% trans 'Name' %} </div>
					<div class="col title-col"> {% trans 'Surname' %} </div>
                    {%comment%}
					<div class="col title-col"> {% trans 'Phone' %} </div>
					<div class="col-3 title-col"> {% trans 'Email' %} </div>
					<div class="col title-col"> {% trans 'Device' %} </div>
                    {%endcomment%}
					<div class="col-2 title-col"> {% trans 'Creation Date' %} </div>
					<div class="col title-col"> {% trans 'Status' %} </div>
					<div class="col title-col"> </div>
				</div>
				{% for item in items %}
				<div class="row booking-line mb-2" id="row_{{item.id}}">
					<div class="col info-col booking-line">{% padword_translate item.form.name %}</div>
					<div class="col info-col booking-line">{{item.guest.name}}</div>
					<div class="col info-col booking-line">{{item.guest.surname}}</div>
                    {%comment%}
					<div class="col info-col booking-line">{{item.guest.mobile}}</div>
					<div class="col-3 info-col booking-line">{{item.guest.email}}</div>
					<div class="col info-col booking-line">{{item.device.uuid}}</div>
                    {%endcomment%}
					<div class="col-2 info-col booking-line">{{ item.date }}</div>
					<div class="col info-col booking-line">{{ item.status.name }}</div>
					<div class="col info-col booking-line">
                        {%comment%}
                        <a class="me-1 btn btn-xs" href="{% url "booking-guest-view" item.id %}" target="_blank" title="{%trans "View"%}">
                            <i class="fas fa-eye"></i></a>  
                        {%endcomment%}
                        <a class="me-1 btn btn-xs ark" data-url="{% url "booking-guest-view" %}" data-target="div-main" 
                            data-obj_id="{{item.id}}" title="{%trans "View"%}"> <i class="fas fa-eye"></i></a>  
                    </div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	</div>
</div>
<div class="row">
	<div class="col-8 offset-2 text-grey text-center mt-3 mb-3">
		<a href="#" class="btn btn-warning text-white mt-3" onclick="window.history.back();">{% trans "Back" %}</a>
	</div>
</div>

{% comment %}
<div class="row">
<div class="col-10 offset-1 mt-3 mb-3">

    <div class="content mt-4">
        <div class="toolbar-content mb-3"> <h4 class="success mt-3">{% trans 'Bookings' %}</h4> </div>
        <div id="booking-list">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="hibrid">
                        <th> {% trans 'Form' %} </th>
                        <th> {% trans 'Name' %} </th>
                        <th> {% trans 'Surname' %} </th>
                        <th> {% trans 'Phone' %} </th>
                        <th> {% trans 'Email' %} </th>
                        <th> {% trans 'Device' %} </th>
                        <th> {% trans 'Date' %} </th>
                        <th> {% trans 'Status' %} </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr class="small" id="row_{{item.id}}">
                            <td>{% padword_translate item.form.name %}</td>
                            <td>{{item.guest.name}}</td>
                            <td>{{item.guest.surname}}</td>
                            <td>{{item.guest.mobile}}</td>
                            <td>{{item.guest.email}}</td>
                            <td>{{item.device.uuid}}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.status.name }}</td>
                            <td>
                                <a class="me-1 btn btn-xs" href="{% url "booking-view" item.id %}" target="_blank"><i class="fas fa-eye"></i></a>  
                            </td>
                            <td class="booking-line">{% padword_translate item.form.name %}</td>
                            <td class="booking-line">{{item.guest.name}}</td>
                            <td class="booking-line">{{item.guest.surname}}</td>
                            <td class="booking-line">{{item.guest.mobile}}</td>
                            <td class="booking-line">{{item.guest.email}}</td>
                            <td class="booking-line">{{item.device.uuid}}</td>
                            <td class="booking-line">{{ item.date }}</td>
                            <td class="booking-line">{{ item.status.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

</div>
</div>

{% endcomment %}


{% endblock central_content %}
