{% load i18n padword_tags %}

{% include "bookings/back-btn.html" with uuid=cat_uuid %}

<div class="col-10 card info-panel p-2" style="width: 96%; margin-left:2%;">
    <div class="content">
        <div class="toolbar-content"> <h1 class="ql-align-center">{% trans 'My notifications' %}</h1> </div>
        <div id="booking-list" class="mb-4">
            <div class="">
                <div class="row booking-head p-2">
                    <div class="col-10 pl-1">{% trans 'Message' %}</div>
                    <div class="col-2"></div>
                </div>
                {% for item in guest.get_public_notifications %}
                    <div class="row booking-line pointer pt-3 pb-3 ark" id="row_{{item.id}}"
                        data-url="{% url "notification-view" %}" data-target-modal="common-modal" data-obj_id="{{item.id}}">
                        <div class="col-10 pl-20"><strong>{% padword_translate item.notification.subject %}</strong></div>
                        <div class="col-2 text-right chevron pr-20"><i class="fas fa-chevron-right fa-lg"></i> </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
