{% load i18n %}
<div class="row">
	<div class="popup-messages col-8 offset-2">
		<div class="close-right m-3">	
				<button class="btn btn-outline-danger save ark" data-url="{% url 'close-spa' %}" data-target-modal="common-modal" data-bs-dismiss="modal" onclick="closeWin('#div-close')"> <i class="fas fa-times"></i> </button>
		</div>
		<div class="row">	
			<div class="col-12 text-center mt-3 mb-3 pt-3">
				{% if msg == "01" %}
					<i class="fas fa-check-circle text-success"></i><br/><h4 class="success mt-3">{% trans "Your reservation has been sent correctly!" %}</h4>
				{% elif msg == "05" %}
					<i class="fas fa-ban text-cancel"></i><br /><h4 class="cancel mt-3" style="color:#333;">{% trans "Your reservation has been cancelled correctly!" %}</h4>
				{% endif %}

			</div>	
		</div>
		<div class="row">
			<div class="col-12 text-grey text-center mt-3 mb-3">
				{% trans "If you want to check your bookings, click on" %}: <br />
				<button class="btn btn-primary-pad mt-3 ark" data-url="{% url "my-bookings" %}"
					data-target="div-main" data-project_uuid="{{project_uuid}}">{% trans "My bookings" %}</button>
				{#<button class="ning text-white mt-3" onclick="window.history.back();">{% trans "Back" %}</button>#}
			</div>
		</div>
	</div>
</div>

{% include "common-modal.html" %}

