{% extends "base_guest.html" %}
{% load i18n bookings_tag common_tag padword_tags %}

{% block central_content %}
<div id="mask"> &nbsp; </div>

<div class="main-content-booking container-fluid">
	<div class="{% if fi.form.image %} div-transp {% else %}div-transp-0 {% endif %}  p-4">

        <div class="bookingHeader"><a id="full-screen" class="" onclick="javascript:toggleFullScreen();">
            <i class="far fa-window-maximize"></i></a></div>

        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-xs-6">
            <h1 class="grid-container"> <div class="item1">{% padword_translate fi.form.name %}</div> </h1> </div>
        <hr>

        <div class="row bloque mt-3">
            <div id="main" class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-xs-12">
                {% for b in fi.get_public_blocks %}
                    <div class="" id="div-block">
                        {% for q in b.get_first_level_questions %}
                            {# Preguntas generales #}
                            {% if q.question_type.code == "general" %}
                                <div class="div-info">
                                    {% for f in q.field_set.all %}
                                        <div class="item mb-1">
                                            <div class="item-left">
                                                <strong> {% if q.field_set.all|length > 0 %} <br/> {{f}} <br/> {% endif %} </strong>
                                            </div>
                                            <div class="item-right td_{{q.id}}_{{index}}"> {% field_value fi q f index %} </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            {# Preguntas con formato de tabla #}
                            {% elif q.question_type.code == "table" %}
                                <div class="div-info-tb">
                                    <table class="table mt-4" id="table_{{q.id}}" width="100%">
                                        <thead> <tr>
                                            {% for f in q.field_set.all %} <td class="sh-td item-left">{{f.text}}</td> {% endfor %} 
                                        </tr> </thead>
                                        <tbody> 
                                            {% for index in q|get_indexes:fi%} 
                                                <tr id="tr-{{q.id}}-{{index}}">
                                                    {% for f in q.field_set.all %}
                                                        <td class="td_{{q.id}}_{{index}}"> {% field_value fi q f index %} </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div> 
                {% endfor %}
            </div>
        </div>

        <div class="row mt-4 mb-4 d-flex justify-content-center ">
            <div class="col-2 actions text-center">
                {#<a href="#" class="btn btn-info btn-lg ark text-white" onclick="window.close()">{% trans "Close" %}</a>#}
                <a href="#" class="btn btn-info btn-lg ark text-white" data-url="{% url "my-bookings" %}" 
                    data-target="div-main" data-obj_id="{{project_uuid}}">{% trans "Close" %}</a>
            </div>
        </div>
    </div>
</div>
{% if fi.form.image %} <script>$('body').css('background-image', 'url("{{fi.form.image.url}}")');</script> {% endif %}
{% endblock %}

