{% load i18n padword_tags %}


<div class="row">
    <div class="col-1">{% trans "Code" %}</div>
    <div class="col-2">
        <input type="text" class="form-control sp-search" id="search" placeholder="{% trans "Search for code..." %}" 
            data-search-class="search-code" data-search-prefix="tr-"/>
    </div>
    <div class="col-1">{% trans "Name" %}</div>
    <div class="col-2">
        <input type="text" class="form-control sp-search" id="search" placeholder="{% trans "Search for name..." %}" 
            data-search-class="search-name" data-search-prefix="tr-"/>
    </div>
    <div class="col-1">{% trans "Guest" %}</div>
    <div class="col-2">
        <input type="text" class="form-control sp-search" id="search" placeholder="{% trans "Search for name..." %}" 
            data-search-class="search-guest" data-search-prefix="tr-"/>
    </div>
</div>

<h2 class="common-modal-head">{% trans 'Passcode list' %}</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr> 
            <th>{%trans 'Code'%}</th> 
            <th>{%trans 'Name'%}</th> 
            <th>{%trans 'Start Date'%}</th> 
            <th>{%trans 'End Date'%}</th> 
            <th>{%trans 'Guest'%}</th> 
            <th>{%trans 'Type'%}</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in obj.get_all_passcodes %}
            <tr id="tr-{{item.keyboardPwdId}}">
                <td class="search-code" data-id="{{item.keyboardPwdId}}"> {{item.keyboardPwd}} </td> 
                <td class="search-name" data-id="{{item.keyboardPwdId}}"> {{item.keyboardPwdName}} </td> 
                <td> {{item.startDate|str_to_local_date:obj.project}} (Local) <br/>{{item.startDate|str_to_date}} (GMT) </td> 
                <td> {{item.endDate|str_to_local_date:obj.project}} (Local) <br/>{{item.endDate|str_to_date}} (GMT) </td> 
                <td class="search-guest" data-id="{{item.keyboardPwdId}}"> {{obj|get_code_guest:item.keyboardPwd}} </td> 
                {#<td> {{item.keyboardPwdType}} </td> #}
                <td> {{item.keyboardPwdType|get_code_type:item.endDate}} </td> 
                <td class="text-end">
                    <a class="btn btn-outline-warning ark w-100" title="{%trans "Remove code"%}" data-url="{% url "lock-remove-code" %}"
                        data-obj_id="{{obj.id}}" data-code_id="{{item.keyboardPwdId}}" 
                        data-confirm="{%trans "Are you sure to remove this element?"%}" data-target="tr-{{item.id}}">{%trans "Remove code"%} </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-end p-2">
	<button type="button" class="btn btn-primary ark m-2" data-bs-dismiss="modal"
	    data-url="{% url "lock-search" %}" data-target="lock-list" data-project_uuid="{{obj.project_uuid}}">{% trans "Close" %}</button>
</div>

