{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %} {% endblock second_menu %}

{% block central_content %}

    <h4>{{project.name}}</h4>
    <div class="toolbar-search">
        <input type="text" class="autosearch form-control form-control-dark w-100" name="lock_search_alias" id="lock_search_alias"
            placeholder="{% trans 'Alias' %}" data-url="{% url "lock-search" %}" data-target="lock-list" 
            data-related="lock_search_alias,project_uuid" value="{{request.session.lock_search_alias}}"/>
        <input type="hidden" id="project_uuid" name="project_uuid" value="{{project.uuid}}"/>
        {%comment%}
        <input type="text" class="autosearch form-control form-control-dark w-100" name="lock_search_project" id="lock_search_project"
            placeholder="{% trans 'Project name' %}" data-url="{% url "lock-search" %}" data-target="lock-list" 
            data-related="lock_search_alias,lock_search_project" value="{{request.session.lock_search_project}}"/>
        {%endcomment%}
    </div>

    <div class="content">
        <div class="toolbar-content">
            <h2 class="b-right">{% trans 'Locks' %} (<span id="items-counter">{{items|length}}</span>)</h2>
            {#<a class="btn btn-primary ark" data-url="{% url "company-form" %}" data-target-modal="common-modal">{% trans "New company" %}</a>  #}
            {% include "common-modal.html" %}
        </div>
        <div id="lock-list">{% include "web/locks/lock-list.html" %}</div>
    </div>

{% endblock central_content %}
