{% load i18n static %}


{% for wifi in wifi_list %}
    {% if wifi.online == 0 %}
        <i class="fas fa-times"></i> {% trans "Offline" %}
    {% else %}
        {% if wifi.level == 3 %}
            <img src="{% static "img/w-100.jpg" %}"/>
        {% elif wifi.level == 2 %}
            <img src="{% static "img/w-75.jpg" %}"/>
        {% elif wifi.level == 1 %}
            <img src="{% static "img/w-50.jpg" %}"/>
        {% else %}
            <img src="{% static "img/w-0.jpg" %}"/>
        {% endif %}
        {{wifi.name}}<br/>
    {% endif %}
{% endfor %}

