{% load i18n %}

<div class="row justify-center m-0 p-0">
    <div class="col-6">
        <label class="label">{% trans "Token" %}:</label>
        <input type="text" class="form-control autosave input mb-4" id="token" name="token" value="{{user_lock.token}}" 
            title="{{user_lock.token}}" data-model-name="web.projectlockuser" data-obj-id="{{user_lock.id}}" data-url="{% url "autosave_field" %}" 
            data-target="div-notification" readonly/> <span id="lock_token__msg"></span>
    </div>

    <div class="col-6">
        <label class="label">{% trans "Refresh Token" %}:</label>
        <input type="text" class="form-control autosave input mb-4" id="refresh_token" name="refresh_token" value="{{user_lock.refresh_token}}" 
            title="{{user_lock.refresh_token}}" data-model-name="web.projectlockuser" data-obj-id="{{user_lock.id}}" 
            data-url="{%url "autosave_field"%}" data-target="div-notification" readonly/> <span id="lock_refresh_token__msg"></span>
    </div>
</div>		
