{% load i18n padword_tags %}


<div class="card mt-2">
    <div class="card-header toggle-btn" data-target="body-octorate" data-id-change="icon-extra"
        data-text='<i class="fas fa-plus"></i>' data-text-alt='<i class="fas fa-minus"></i>'>
        <div class="row w-100">
            <div class="col-6 text-right" id="icon-extra"><i class="fas fa-plus"></i></div>
            <div class="col-6 text-left"><strong>{% trans "Octorate" %}</strong></div>
        </div>
    </div>
    <div class="card-body hide" id="body-octorate"> 
        <div class="row">
            <div class="col-3 offset-9">
                <div class="form-check form-switch">
                    <input class="form-check-input toggleCron" type="checkbox" id="activeCronOctorate" 
                        data-class-name="octorate-cron" data-fields="octorate-hour" {%if user_octorate.hour > 0%}checked{%endif%}>
                    <label class="form-check-label" for="activeCronOctorate">Activar planificador</label>
                </div>
            </div>
        </div>
 
        <div class="row justify-center">
            <div class="col-6">
                <label class="label">{% trans "Client ID" %}:</label>
                <input type="text" class="form-control autosave input" id="client_id" name="client_id" 
                    value="{{user_octorate.client_id}}" title="{{user_octorate.client_id}}" 
                    data-model-name="connector.projectoctorateuser" data-obj-id="{{user_octorate.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="client_id__msg"></span>	
            </div>
            <div class="col-6">
                <label class="label">{% trans "Client Secret" %}:</label>
                <input type="text" class="form-control autosave input" id="secret" name="secret" 
                    value="{{user_octorate.secret}}" data-model-name="connector.projectoctorateuser" 
                    data-obj-id="{{user_octorate.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="secret__msg"></span>	
            </div>
            <div class="col-3">
                <label class="label">{% trans "Token" %}:</label>
                <input type="text" class="form-control autosave input" id="token" name="token" 
                    value="{{user_octorate.token}}" title="{{user_octorate.token}}"
                    data-model-name="connector.projectoctorateuser" data-obj-id="{{user_octorate.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="token__msg"></span>	
            </div>
            <div class="col-3">
                <label class="label">{% trans "Refresh Token" %}:</label>
                <input type="text" class="form-control autosave input" id="refresh" name="refresh" 
                    value="{{user_octorate.refresh}}" title="{{user_octorate.refresh}}"
                    data-model-name="connector.projectoctorateuser" data-obj-id="{{user_octorate.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="refresh__msg"></span>	
            </div>
            <div class="col-3">
                <label class="label">{% trans "Property ID" %}:</label>
                <input type="text" class="form-control autosave input" id="property_id" name="property_id" 
                    value="{{user_octorate.property_id}}" title="{{user_octorate.property_id}}"
                    data-model-name="connector.projectoctorateuser" data-obj-id="{{user_octorate.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="property_id__msg"></span>	
            </div>
            <div class="col-3">
                <label class="label">{% trans "Meta ID" %}:</label>
                <input type="text" class="form-control autosave input" id="meta_id" name="meta_id" 
                    value="{{user_octorate.meta_id}}" title="{{user_octorate.meta_id}}"
                    data-model-name="connector.projectoctorateuser" data-obj-id="{{user_octorate.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification" disabled/> 
                <span id="meta_id__msg"></span>	
            </div>
        </div>		
        <div class="row">
            <div class="col-4">
                <label class="label">{% trans "Días para crear las reservas" %}
                    <br/>{% trans "(se crean aquellas que empiezan entre hoy y el número de días indicado)" %}:</label>
                <input type="text" class="form-control autosave input wh-cron" id="days" name="days" 
                    value="{{user_octorate.days}}" title="{{user_octorate.days}}" data-model-name="connector.projectoctorateuser" 
                    data-obj-id="{{user_octorate.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="days__msg"></span>	
            </div>
            <div class="col-4">
                <label class="label">{% trans "Cada cuantas hora se realiza la importación" %}
                    <br/>{% trans "(P.E.: si el valor es '1' se importaría cada hora)" %}:</label>
                <input type="text" class="form-control input ark_change octorate-cron octorate-hour" id="hour" name="hour" 
                    value="{{user_octorate.hour}}" title="{{user_octorate.hour}}" data-url="{%url "project-set-octorate-schedule"%}"
                    data-target="octorate-notif" data-obj_id="{{user_octorate.id}}" data-field="hour"/> <span id="hour__msg"></span>
            </div>
            <div class="col-4">
                <label class="label"> {% trans "Si está activo el código asignado a las cerraduras serán los últimos 4 dígitos del teléfono indicado en la reserva" %}: </label>
                <input type="checkbox" class="form-control- autosave input octorate-cron" id="code_mobile" name="code_mobile" 
                    value="{{user_octorate.code_mobile}}" title="{{user_octorate.code_mobile}}" 
                    data-model-name="connector.projectoctorateuser" data-obj-id="{{user_octorate.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification" data-bool="True"
                    {%if user_octorate.code_mobile%}checked{%endif%}/> <span id="code_mobile__msg"></span>	
            </div>

        </div>
 
    </div>		
</div>		

