{% extends 'base.html' %}
{% load i18n %}

{% block second_menu %}{% include 'web/second_menu.html' %} {% endblock second_menu %}

{% block central_content %}
    <div class="toolbar-search">
        <input type="hidden" name="company_id" id="company_id" value="{{company.id}}" />
        <input type="text" class="autosearch form-control form-control-dark w-100" name="s-name" id="s-name" 
            placeholder="{% trans 'Name or company' %}" data-url="{% url "project-search" %}" 
            data-target="project-list" data-related="s-name,s-comp" />
    </div>

    <div class="content mt-4">
        <div class="toolbar-content">
            <h2 class="b-right">{% trans 'Projects' %} (<span id="items-counter">{{items|length}}</span>)
                {% if company %}{% trans "of the company" %} {{company.name}}{% endif %}</h2>
            <a class="btn btn-primary ark" data-url="{% url "project-form" %}" data-target-modal="common-modal"
                data-company_id="{{company.id}}">{% trans "New project"%}</a>  
            {% include "common-modal.html" %}
        </div>
        <div id="project-list">{% include "web/projects/project-list.html" %}</div>
    </div>
{% endblock central_content %}
