{% load i18n padword_tags %}


<div class="card mt-2">
    <div class="card-header toggle-btn" data-target="body-roomraccoon" data-id-change="icon-extra"
        data-text='<i class="fas fa-plus"></i>' data-text-alt='<i class="fas fa-minus"></i>'>
        <div class="row w-100">
            <div class="col-6 text-right" id="icon-extra"><i class="fas fa-plus"></i></div>
            <div class="col-6 text-left"><strong>{% trans "Roomraccoon" %}</strong></div>
        </div>
    </div>
    <div class="card-body hide" id="body-roomraccoon"> 
        <div class="row justify-center">
            <div class="col-4">
                <label class="label">{% trans "Username" %}:</label>
                <input type="text" class="form-control autosave input" id="username" name="username" 
                    value="{{user_roomraccoon.username}}" title="{{user_roomraccoon.username}}" 
                    data-model-name="connector.projectroomraccoonuser" data-obj-id="{{user_roomraccoon.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="username__msg"></span>	
            </div>
            <div class="col-4">
                <label class="label">{% trans "Password" %}:</label>
                <input type="text" class="form-control autosave input" id="password" name="password" 
                    value="{{user_roomraccoon.password}}" data-model-name="connector.projectroomraccoonuser" 
                    data-obj-id="{{user_roomraccoon.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="password__msg"></span>	
            </div>
            <div class="col-4">
                <label class="label">{% trans "Token" %}:</label>
                <input type="text" class="form-control autosave input" id="token" name="token" 
                    value="{{user_roomraccoon.token}}" title="{{user_roomraccoon.token}}"
                    data-model-name="connector.projectroomraccoonuser" data-obj-id="{{user_roomraccoon.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="accessKey__msg"></span>	
            </div>
            {%comment%}
            <div class="col-3">
                <a class="btn btn-primary ark" data-url="{% url "roomraccoon-get-token" obj.uuid %}" data-target-modal="common-modal"> 
                    {%trans "Get Token"%}</a>  
            </div>
            {%endcomment%}
        </div>		
        <div class="row justify-center">
            <div class="col-6">
                <label class="label">{% trans "PMS" %}:</label>
                <input type="text" class="form-control autosave input" id="pms" name="pms" value="{{user_roomraccoon.pms}}" 
                    title="{{user_roomraccoon.pms}}" data-model-name="connector.projectroomraccoonuser" 
                    data-obj-id="{{user_roomraccoon.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="pms__msg"></span>	
            </div>
            <div class="col-6">
                <label class="label">{% trans "Hotel" %}:</label>
                <input type="text" class="form-control autosave input" id="hotel" name="hotel" 
                    value="{{user_roomraccoon.hotel}}" data-model-name="connector.projectroomraccoonuser" 
                    data-obj-id="{{user_roomraccoon.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="hotel__msg"></span>	
            </div>
        </div>		
    </div>		
</div>		

