{% load i18n padword_tags %}


<h2 class="common-modal-head">{% trans 'Air conditioner' %}</h2>
<div class="row justify-center">
	<div class="col-12">
		<label class="label">{% trans "PadAir Api Key" %}:</label>
		<input type="text" class="form-control autosave input" id="api_key" name="api_key" value="{{user_sensibo.api_key}}" 
            title="{{user_sensibo.api_key}}" data-model-name="web.projectsensibouser" data-obj-id="{{user_sensibo.id}}" 
            data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="api_key__msg"></span>	
	</div>
</div>		

