{% load i18n padword_tags %}


{% for zone in access_zones %}
    <div class="row justify-center p-0">
        <div class="col-12 p-1">
            <div class="p-sale p-3 pt-1">
                <div class="row">
                    <div class="col-6"> <small>UUID: {{zone.uuid}}</small></div>
                    <div class="col-6 text-end mt-1">
                        <button class="btn btn-sm ark" data-url="{%url "project-access-zone-close"%}" data-target="div-access-zones" 
                            data-obj_id="{{zone.id}}" data-close="True"> {% trans "Close zone" %}</button>
                        <button class="btn btn-sm ark" data-url="{%url "project-access-zone-close"%}" data-target="div-access-zones" 
                            data-obj_id="{{zone.id}}" data-close="False"> {% trans "Open zone" %}</button>
                        <button class="btn btn-sm ark" id="btn-inv-remove" data-url="{%url "project-access-zone-remove"%}" 
                            data-target="div-access-zones" data-obj_id="{{zone.id}}"
                            data-confirm="Si borra la zona se borrarán los puntos de acceso, quiere continuar?"> 
                            <i class="fas fa-trash"></i></button>
                    </div>
                    <div class="col-3">
                        <label class="label">{% trans "Name" %}</label>
                        <input type="text" class="form-control autosave input" id="name" name="name" value="{{zone.name}}" 
                            title="{{zone.name}}" data-model-name="guest.wristbandaccesszone" data-obj-id="{{zone.id}}" 
                            data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="name__msg"></span>	
                    </div>
                    <div class="col-3">
                        <label class="label">{% trans "Code" %}</label>
                        <input type="text" class="form-control autosave input" id="code" name="code" value="{{zone.code}}" 
                            title="{{zone.code}}" data-model-name="guest.wristbandaccesszone" data-obj-id="{{zone.id}}" 
                            data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="code__msg"></span>	
                    </div>
                    <div class="col-1">
                        <label class="label">{% trans "Default" %}</label>
                        <input type="checkbox" class="form-check-input- autosave input" id="default" name="default"  
                            title="{{zone.code}}" data-model-name="guest.wristbandaccesszone" data-obj-id="{{zone.id}}" 
                            data-url="{% url "autosave_field" %}" data-target="div-notification" data-bool="True" 
                            {% if zone.default %}checked{% endif %}/> <span id="default__msg"></span>	
                    </div>
                    <div class="col-2"> <label class="label">{% trans "Time to execute tasks" %}:</label> </div>
                    <div class="col-2">
                        <input type="time" class="form-control input" id="reset_time" name="reset_time" value="{{zone.reset_time}}" 
                            onchange="$('#btn-access-time').data('time', $(this).val());console.log($('#btn-time').data('time'));"/>
                    </div>
                    <div class="col-1">
                        <a id="btn-access-time" class="btn btn-sm ark" data-url="{%url "wristbands-access-schedule"%}"
                            data-target="" data-time="" data-obj_id="{{zone.id}}"> 
                        <i class="fas fa-chevron-right"></i></a>
                    </div>
                    {%comment%}
                    <div class="col-3">
                        <label class="label">{% trans "Hora apertura" %}:</label>
                        <input type="time" class="form-control autosave input wh-cron" id="ini_time" name="ini_time" 
                            value="{{zone.ini_time|date:"H:i"}}" title="{{zone.ini_time}}" data-model-name="guest.wristbandaccesszone" 
                            data-obj-id="{{zone.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                        <span id="ini_time__msg"></span>	
                    </div>
                    <div class="col-3">
                        <label class="label">{% trans "Hora cierre" %}:</label>
                        <input type="time" class="form-control autosave input wh-cron" id="end_time" name="end_time" 
                            value="{{zone.end_time|date:"H:i"}}" title="{{zone.end_time}}" data-model-name="guest.wristbandaccesszone" 
                            data-obj-id="{{zone.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                        <span id="end_time__msg"></span>	
                    </div>
                    {%endcomment%}
                </div>
                <br/>
                {% include "web/projects/project-form-access-zone-times.html" with access_times=zone.timetable.all %} 
                {% include "web/projects/project-form-access-points.html" with access_list=zone.accesspoints.all %} 
            </div>
        </div>
    </div>
{% endfor %}
