{% load i18n %}

<span id="div-notification"></span><br/>

{% trans "UUID" %}:
<input type="text" class="form-control autosave" id="uuid" name="uuid" value="{{obj.uuid}}" title="{{obj.uuid}}" 
	data-model-name="web.project" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
	<span id="uuid__msg"></span>

{% trans "Name" %}:
<input type="text" class="form-control autosave" id="name" name="name" value="{{obj.name}}" title="{{obj.name}}" 
	data-model-name="web.project" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
	<span id="name__msg"></span>

{% trans "Active" %}:
<select class="form-control autosave" id="active" name="active" value="{{obj.active}}" title="{{obj.active}}" 
	data-model-name="web.project" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
    <option value="1" {%if obj.active == "1"%}selected{%endif%}>{% trans "Yes" %}</option>
    <option value="0" {%if obj.active == "0"%}selected{%endif%}>{% trans "No" %}</option>
</select>
<span id="active__msg"></span>

{% trans "Created at" %}:
<input type="date" class="form-control autosave" id="created_at" name="created_at" value="{{obj.created_at}}" title="{{obj.created_at}}" 
	data-model-name="web.project" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
	<span id="created_at__msg"></span>

{% trans "Company" %}:
<select class="form-control autosave" id="company" name="company" value="{{obj.company.id}}" title="{{obj.company.name}}" 
	data-model-name="web.project" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/>
    <option value="">{% trans "-- Selecciona una compañía" %}</option>
    {% for comp in companies %}
        <option value="{{comp.id}}" {%if obj.company == comp%}selected{%endif%}>{{comp.name}}</option>
    {% endfor %}
</select>
<span id="active__msg"></span>


<button type="button" class="btn btn-success btn-sm ark" data-bs-dismiss="modal"
    data-url="{% url "company-search" %}" data-target="company-list">{% trans "Save" %}</button>
<button type="button" class="btn btn-danger btn-sm ark" data-bs-dismiss="modal"
    data-url="{% url "company-remove" %}" data-target="company-list" data-obj_id="{{obj.id}}" 
    data-confirm="{% trans "Are you sure to remove this element?" %}">{% trans "Remove" %}</button>
