{% load i18n padword_tags %}


<div class="row justify-center p-0">
    {% for item in regime_list %}
        <div class="col-md-3 col-6 p-1">
            <button 
                class="btn regime {%if item in project_regime_list%}btn-primary-active{%else%}btn-outline-primary{%endif%} w-100 ark" 
                data-url="{% url "project-regime-toggle" %}" data-target="" data-obj_id="{{item.id}}" data-project_id="{{obj.id}}"
                onclick="$(this).toggleClass('btn-outline-primary btn-primary-active')">{{item.name}}</button>
        </div>
    {% endfor %}
</div>

<div class="w-100 text-end">
    <button class="btn btn-primary ark mb-2" data-url="{% url "project-regime-add" %}" data-target="div-regime-list" 
        data-obj_id="{{obj.id}}"> {% trans "Add" %}</button>
</div>		
<div id="div-regime-list">{% include "web/projects/project-form-regime-list.html" %}</div>


{%comment%}
<div class="card">
    {#<div class="card-header">#}
    <div class="card-header toggle-btn" data-target="body-regime" data-id-change="icon-extra"
        data-text='<i class="fas fa-plus"></i>' data-text-alt='<i class="fas fa-minus"></i>'>
        <div class="row w-100">
            <div class="col-6 text-right" id="icon-extra"><i class="fas fa-plus"></i></div>
            <div class="col-6 text-left"><strong>{% trans "Regimes" %}</strong></div>
        </div>
    </div>
    <div class="card-body hide" id="body-regime"> 
        <div class="row justify-center p-0">
            {% for item in regime_list %}
                <div class="col-md-3 col-6 p-1">
                    <button class="btn regime {%if item in project_regime_list%}btn-primary-active{%else%}btn-outline-primary{%endif%} w-100 ark" 
                        data-url="{% url "project-regime-toggle" %}" data-target="" data-obj_id="{{item.id}}" data-project_id="{{obj.id}}"
                        onclick="$(this).toggleClass('btn-outline-primary btn-primary-active')">{{item.name}}</button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endcomment%}

