{% load i18n padword_tags %}

<div class="row justify-center m-0 p-0">
    <div class="col-5">
        <label class="label">{% trans "Token" %} ({% trans "expire:" %} {{user_lock.expire_date}}):</label>
        <input type="text" class="form-control autosave input mb-4" id="token" name="token" value="{{user_lock.token}}" 
            title="{{user_lock.token}}" data-model-name="web.projectlockuser" data-obj-id="{{user_lock.id}}" 
            data-url="{% url "autosave_field" %}" data-target="div-notification" 
            {%if not request.user|in_group:"admins"%}readonly{%endif%}/> <span id="lock_token__msg"></span>
    </div>

    <div class="col-5">
        <label class="label">{% trans "Refresh Token" %}:</label>
        <input type="text" class="form-control autosave input mb-4" id="refresh_token" name="refresh_token" 
            value="{{user_lock.refresh_token}}" title="{{user_lock.refresh_token}}" data-model-name="web.projectlockuser" 
            data-obj-id="{{user_lock.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" 
            {%if not request.user|in_group:"admins"%}readonly{%endif%}/> <span id="lock_refresh_token__msg"></span>
    </div>
    <div class="col-2">
        <label class="label">{% trans "Last Refresh" %}: <strong>{{user_lock.last_refresh|date:"d-m-Y"}}</strong></label>
    </div>
</div>		
