{% load i18n padword_tags %}


<ul class="nav nav-tabs m-2 pl-2 pr-2 pt-2">
    <li class="nav-item"> <a class="nav-link {%if not current_tab or current_tab == ""%}active{%endif%}" data-bs-toggle="tab" href="#regime">
        {% trans "Regime" %}</a> </li>
    <li class="nav-item"> <a class="nav-link {%if current_tab == "locks"%}active{%endif%}" data-bs-toggle="tab" href="#locks">
        {%trans "Locks"%}</a> </li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#sensibo">{% trans "Air conditioner" %}</a></li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#integrations">{% trans "Integrations" %}</a></li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#pos">{% trans "Point of sales" %}</a></li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#inv">{% trans "Invitations Accounts" %}</a></li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#gtype">{% trans "Guest Types" %}</a></li>
    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#access">{% trans "Access Zones" %}</a></li>
    {#<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#thirdpart">{% trans "Thirdpart" %}</a></li>#}
</ul>
<div class="tab-content internal m-2 p-2">
    {# -------------------------- REGIME ------------------------#}
    <div class="tab-pane container {%if not current_tab or current_tab == ""%}active{%endif%}" id="regime"><div id="div-regime">
        {% include "web/projects/project-form-regime.html" %}</div></div>

    {# -------------------------- LOCKS ------------------------#}
    <div class="tab-pane container {%if current_tab == "locks"%}active{%endif%}" id="locks"><div id="div-locks">
        {% include "web/projects/project-form-locks.html" %}</div></div>

    {# -------------------------- SENSIBO ------------------------#}
    <div class="tab-pane container {%if current_tab == "sensibo"%}active{%endif%}" id="sensibo"> <div id="div-sensibo">
        {% include "web/projects/project-form-sensibo.html" %}</div> </div> 

    {# -------------------------- INTEGRATIONS ------------------------#}
    <div class="tab-pane container {%if current_tab == "integrations"%}active{%endif%}" id="integrations"> <div id="div-integrations">
        {% include "web/projects/project-form-avantio.html" %}
        {% include "web/projects/project-form-avaibook.html" %}
        {% include "web/projects/project-form-winhotel.html" %}
        {% include "web/projects/project-form-stripe.html" %}
        {% include "web/projects/project-form-mews.html" %}
        {% include "web/projects/project-form-cloudbeds.html" %}
        {% include "web/projects/project-form-cars.html" %}
    </div> </div> 

    {# -------------------------- POINT OF SALES ------------------------#}
    <div class="tab-pane container {%if current_tab == "pos"%}active{%endif%}" id="pos"> <div id="div-pos">
        {% include "web/projects/project-form-point-of-sales.html" %}</div> </div> 

    {# -------------------------- INVITATIONS ACCOUNTS ------------------------#}
    <div class="tab-pane container {%if current_tab == "inv"%}active{%endif%}" id="inv"> <div id="div-inv">
        {% include "web/projects/project-form-invitation.html" %}</div> </div> 

    {# -------------------------- GUEST TYPES ------------------------#}
    <div class="tab-pane container {%if current_tab == "gtype"%}active{%endif%}" id="gtype"> <div id="div-gtype">
        {% include "web/projects/project-form-guest-types.html" %}</div> </div> 

    {# -------------------------- ACCESS ZONES ------------------------#}
    <div class="tab-pane container {%if current_tab == "access"%}active{%endif%}" id="access"> <div id="div-access">
        {% include "web/projects/project-form-access-zones.html" %}</div> </div> 

    {%comment%}
    {# -------------------------- THIRDPART ------------------------#}
    <div class="tab-pane container {%if current_tab == "inv"%}active{%endif%}" id="thirdpart"> <div id="div-thirdpart">
        {% include "web/projects/project-form-thirdpart.html" %}</div> </div> 
    {%endcomment%}

</div>

