{% load i18n padword_tags %}


<div class="card mt-2">
    <div class="card-header toggle-btn" data-target="body-winhotel" data-id-change="icon-extra-w"
        data-text='<i class="fas fa-plus"></i>' data-text-alt='<i class="fas fa-minus"></i>'>
        <div class="row w-100">
            <div class="col-6 text-right" id="icon-extra-w"><i class="fas fa-plus"></i></div>
            <div class="col-6 text-left"><strong>{% trans "Winhotel" %}</strong></div>
        </div>
    </div>
    <div class="card-body hide" id="body-winhotel"> 
        <div class="row justify-center">
            <div class="col-md-5 col-12">
                <label class="label">{% trans "Hotel Source Code" %}:</label>
                <input type="text" class="form-control autosave input" id="source_code" name="source_code" value="{{user_winhotel.source_code}}" 
                    title="{{user_winhotel.source_code}}" data-model-name="connector.projectwinhoteluser" data-obj-id="{{user_winhotel.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="source_code__msg"></span>	
            </div>
            <div class="col-md-5 col-12">
                <label class="label">{% trans "Hotel Target Code" %}:</label>
                <input type="text" class="form-control autosave input" id="target_code" name="target_code" value="{{user_winhotel.target_code}}" 
                    title="{{user_winhotel.target_code}}" data-model-name="connector.projectwinhoteluser" data-obj-id="{{user_winhotel.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="target_code__msg"></span>	
            </div>
            <div class="col-md-2 col-12">
                <label class="label">{% trans "Import all prices" %}:</label>
                <input type="checkbox" class="autosave input" id="update_all_prices" name="update_all_prices" data-bool="True"
                    data-model-name="connector.projectwinhoteluser" data-obj-id="{{user_winhotel.id}}" data-url="{% url "autosave_field" %}" 
                    data-target="div-notification" {%if user_winhotel.update_all_prices%}checked{%endif%}/> <span id="update_all_prices__msg"></span>
            </div>
        </div>
        <div class="row justify-center">
            <div class="col-md-6 col-12">
                <label class="label">{% trans "FTP" %}:</label>
                <input type="text" class="form-control autosave input" id="ftp" name="ftp" value="{{user_winhotel.ftp}}" 
                    title="{{user_winhotel.ftp}}" data-model-name="connector.projectwinhoteluser" data-obj-id="{{user_winhotel.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="ftp__msg"></span>	
            </div>
            <div class="col-md-6 col-12">
                <label class="label">{% trans "FTP Filename" %}:</label>
                <input type="text" class="form-control autosave input" id="ftp_filename" name="ftp_filename" value="{{user_winhotel.ftp_filename}}" 
                    title="{{user_winhotel.ftp_filename}}" data-model-name="connector.projectwinhoteluser" data-obj-id="{{user_winhotel.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="ftp_filename__msg"></span>	
            </div>
        </div>

        <div class="row justify-center">
            <div class="col-md-2 col-6">
                <label class="label">{% trans "Days to import" %}:</label>
                <input type="text" class="form-control autosave input text-center" id="days" name="days" value="{{user_winhotel.days}}" 
                    title="{{user_winhotel.days}}" data-model-name="connector.projectwinhoteluser" data-obj-id="{{user_winhotel.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="days__msg"></span>	
            </div>
            <div class="col-md-2 col-6">
                <label class="label">{% trans "Hours to import" %}:</label>
                <input type="text" class="form-control input ark_change text-center" id="hour" name="hour" value="{{user_winhotel.hour}}" 
                    title="{{user_winhotel.hour}}" data-url="{% url "project-set-winhotel-schedule" %}" data-target="div-notification" 
                    data-obj_id="{{user_winhotel.id}}" data-field="hour"/> <span id="hour__msg"></span>	
            </div>
            <div class="col-md-2 col-6">
                <label class="label">{% trans "Minutes to check" %}:</label>
                <input type="text" class="form-control input ark_change text-center" id="minute" name="minute" value="{{user_winhotel.minute}}" 
                    title="{{user_winhotel.minute}}" data-url="{% url "project-set-winhotel-schedule" %}" data-target="div-notification" 
                    data-obj_id="{{user_winhotel.id}}" data-field="minute"/> <span id="minute__msg"></span>	
            </div>
            <div class="col-md-2 col-6">
                <label class="label">{% trans "Hours to import prices" %}:</label>
                <input type="text" class="form-control input ark_change text-center" id="hour_price" name="hour_price" 
                    value="{{user_winhotel.hour_price}}" title="{{user_winhotel.hour_price}}" data-url="{% url "project-set-winhotel-schedule" %}" 
                    data-target="div-notification" data-obj_id="{{user_winhotel.id}}" data-field="hour_price"/> <span id="hour_price__msg"></span>	
            </div>
            <div class="col-md-2 col-6">
                <label class="label">{% trans "Hours to cancel" %}:</label>
                <input type="text" class="form-control input ark_change text-center" id="hour_cancel" name="hour_cancel" 
                    value="{{user_winhotel.hour_cancel}}" title="{{user_winhotel.hour_cancel}}" data-url="{% url "project-set-winhotel-schedule" %}" 
                    data-target="div-notification" data-obj_id="{{user_winhotel.id}}" data-field="hour_cancel"/> <span id="hour_cancel__msg"></span>
            </div>
            <div class="col-md-2 col-6">
                <label class="label">{% trans "Operator" %}:</label>
                <input type="text" class="form-control autosave input text-center" id="import_operator" name="import_operator" 
                    value="{{user_winhotel.import_operator}}" title="{{user_winhotel.import_operator}}" 
                    data-model-name="connector.projectwinhoteluser" data-obj-id="{{user_winhotel.id}}" data-url="{% url "autosave_field" %}" 
                    data-target="div-notification"/> <span id="import_operator__msg"></span>	
            </div>
        </div>		

        <hr/>
        <form method="POST" action="{% url "winhotel-get-day-booking-list" %}" id="form-get" />
            {%csrf_token%}
            <input type="hidden" name="obj_id" value="{{user_winhotel.id}}"/>
            <div class="row mt-3" style="--bs-gutter-x: 0rem;">
                <div class="col-3">
                    <label class="label">{% trans "Hotel Source Code" %}:</label>
                    <input type="text" class="form-control input" id="source" name="source" />
                </div>
                <div class="col-3">
                    <label class="label">{% trans "Hotel Target Code" %}:</label>
                    <input type="text" class="form-control input" id="target" name="target" />
                </div>
                <div class="col-3">
                    <label class="label">{% trans "Date" %}:</label>
                    <input type="date" class="form-control text-center input" id="date" name="date" value=""/>
                </div>
                <div class="col-3 text-end text-middle">
                    <a class="btn saveform" data-form="form-get" data-target="get-details"> {% trans "Get Bookings" %}</a>
                </div>
            </div>
        </form>
        <button class="btn" onclick="$('#get-details').toggle()"> Ver/Ocultar resultados</button> 
        <div id="get-details"></div>
    </div>		
</div>		

