{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %} {% endblock second_menu %}

{% block central_content %}
    <div class="row m-0">
        <div class="col-lg-5 col-12 left-div-cat">
            <div class="content mt-4">
                <div class="toolbar-content">
                    <div class="col-8"><h2 class="pathway"> 
                        {% if company %}
                            <a href="{% url "companies" %}">{{company.name}}</a> <i class="fas fa-angle-double-right"></i>
                        {% endif %}
                        {% if project %}
                            <a href="{% url "projects-by-uuid" project.uuid %}">{{project.name}}</a> 
                            <i class="fas fa-angle-double-right"></i>
                        {% endif %} 
                        {% trans 'Categories' %} 
                        <span id="items-counter" class="badge badge-secondary" style="color:#999">({{items|length}})</span>
                     </h2></div>
                </div>

                <div class="row category" id="row-{{item.id}}"> 
                    <div class="col-12 categories-list">
                        <div class="d-flex cat-row">
                            <div id="title-cat-{{item.pk}}" class="p-1 flex-grow-1 close {% if not item.active %}text-muted{%endif%}">
                                {% padword_translate item.name %}</div>
                            <a class="btn btn-sm save" title="{%trans 'PWA'%}" href="{% url "guest-access" item.uuid %}" 
                                target="_blank"> <i class="fas fa-desktop"></i> {%trans "PWA"%}</a>  
                        </div>
                    </div>
                </div>

                <div class="row category" id="row-{{item.id}}"> 
                    <div class="col-12">
                        {% trans "Imágen de fondo" %}: 
                        <div id="div-image">{% include "contents/category-img.html" with obj=item %}</div>
                    </div>
                    <div class="col-12">
                        {% trans "Logo" %}: 
                        <div id="div-logo">{% include "forms/form-logo.html" %}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock central_content %}
