{% load i18n padword_tags %}

<div class="row w-100 common-modal-head m-0 p-0">
    <div class="col-11"> <h2>{% trans 'New proyect' %}</h2></div>
    <div class="col-1 text-center"> <button type="button" class="btn btn-sm" data-bs-dismiss="modal"><i class="fas fa-times"></i></button> </div>
</div>

<span id="div-notification"></span>

<div class="row m-0"> <div class="col-12">{% include "web/projects-manager/project-form-main.html" %}</div> </div>

<div class="d-flex justify-content-end p-2">
    <button type="button" class="btn btn-primary ark m-2" data-bs-dismiss="modal" data-url="{% url "project-manager-search" %}" 
        data-target="project-list" data-company_id="{{company_id}}">{% trans "Save" %}</button>
</div>

