{% load i18n padword_tags %}


<div class="row justify-center">
    <div class="col-2 offset-4 text-center">
        <a class="btn btn-primary pointer ark" data-url="{% url "projects-manager-user-token" %}" data-target="span-token" 
            data-obj_id="{{user_lock.id}}"> {% trans "Get token" %}</a>
    </div>
    <div class="col-2 text-center">
        <a class="btn btn-primary pointer ark" data-url="{% url "projects-manager-user-refresh-token" %}" data-target="span-token" 
            data-obj_id="{{obj.id}}"> {% trans "Refresh token" %}</a>
    </div>
    <div class="col-3 offset-1">
        <div class="form-check form-switch">
            <input class="form-check-input toggleCronLock" type="checkbox" id="activeCron" data-class-name="lock-cron" 
                data-field="btn-time" data-field-time="time" {% if user_lock.time_schedule_tasks != -1 %} checked {% endif %}>
            <label class="form-check-label" for="activeCron">Activar planificador</label>
        </div>
    </div>
</div>
<br/><br/>
<span id="span-token">{% include "web/projects-manager/project-token.html" %}</span>
<div class="row justify-center">
    <div class="col-3"> <label class="label">{% trans "TTLock Username" %}:</label> </div>
    <div class="col-3"> <label class="label">{% trans "TTLock Password" %}:</label> </div>
    <div class="col-3"> <label class="label">{% trans "Time to execute tasks" %}:</label> </div>
    <div class="col-3"> <label class="label">{% trans "Report email" %}:</label> </div>
</div>
<div class="row justify-center">
    <div class="col-3">
        <input type="text" class="form-control autosave input" id="username" name="username" value="{{user_lock.username}}" 
            title="{{user_lock.username}}" data-model-name="web.projectlockuser" data-obj-id="{{user_lock.id}}" 
            data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="lock_username__msg"></span>	
    </div>
    <div class="col-3">
        <input type="text" class="form-control autosave input" id="password" name="password" value="{{user_lock.password}}" 
            title="{{user_lock.password}}" data-model-name="web.projectlockuser" data-obj-id="{{user_lock.id}}" 
            data-url="{% url "autosave_field" %}" data-target="div-notification"/> <span id="lock_password__msg"></span>	
    </div>
    <div class="col-2">
        <input type="time" class="form-control input lock-cron" id="time" name="time" value="{{user_lock.time_schedule_tasks}}" 
            onchange="$('#btn-time').data('time', $(this).val())"/>
    </div>
    <div class="col-1">
        <a id="btn-time" class="btn btn-sm ark" data-url="{%url "project-set-lock-schedule"%}" data-target="" data-time="" 
            data-obj_id="{{user_lock.id}}" data-project_uuid="{{obj.uuid}}"> <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="col-3">
        <input type="text" class="form-control autosave input lock-cron" id="report_email" name="report_email" 
            value="{{user_lock.report_email}}" title="{{user_lock.report_email}}" data-model-name="web.projectlockuser" 
            data-obj-id="{{user_lock.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
        <span id="report_email__msg"></span>	
    </div>
</div>



