{% load i18n %}


<h2 class="common-modal-head">
    <div class="row">
        <div class="col-11"><h2>{% trans 'Edit room' %}</h2></div>
        <div class="col-1"><button type="button" class="btn btn-sm" data-bs-dismiss="modal"><i class="fas fa-times"></i></button></div>
    </div>
</h2>

<span id="div-notification"></span>

<input type="hidden" id="uuid" name="uuid" value="{{uuid}}"/>
<input type="hidden" id="project_uuid" name="project_uuid" value="{{project.uuid}}"/>
<div class="row m-0 mt-2">
    <div class="col-2 p-0">
        <div class="info-box green adm m-1 p-2">
            <span class="title">{% trans "Orden" %}</span><span class="icon"><i class="fa fa-sort"></i></span><br /><br />
            <span class="text-right">
                <input type="text" class="form-control input autosave" id="order" name="order" value="{{obj.order}}" 
                    title="{{obj.order}}" data-model-name="web.room" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
                    data-target="div-notification"/> </span> <span id="order__msg"></span>
        </div>
    </div>
    <div class="col-3 p-0">
        <div class="info-box green adm m-1 p-2">
            <span class="title">{% trans "Alias" %}</span><span class="icon"><i class="fas fa-user"></i></span><br /><br />
            <span class="text-right">
                <input type="text" class="form-control autosave input" id="alias" name="alias" value="{{obj.alias}}" 
                    title="{{obj.alias}}" data-model-name="web.room" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
                    data-target="div-notification"/> </span> <span id="alias__msg"></span>
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="info-box green adm m-1 p-2">
            <span class="title">{% trans "Number" %}</span><span class="icon"><i class="fas fa-bed"></i></span><br /><br />
            <span class="text-right">
                <input type="text" class="form-control autosave input" id="number" name="number" value="{{obj.number}}" 
                    title="{{obj.number}}" data-model-name="web.room" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
                    data-target="div-notification"/> </span> <span id="number__msg"></span>
        </div>
    </div>
    <div class="col-3 p-0">
        <div class="info-box green adm m-1 p-2">
            <span class="title">{% trans "Group" %}</span><span class="icon"><i class="fas fa-key"></i></span><br /><br />
            <span class="text-right">
                <select class="form-control input b-bottom ark_change" id="lock_group_uuid" name="lock_group_uuid" 
                    data-url="{% url "room-set-group" %}" data-target="div-notification" data-obj_id="{{obj.id}}"/>
                    <option value="">{% trans "-- Select a group" %}</option>
                    {% for group in group_list %}
                        <option value="{{group.uuid}}" {%if obj.lock_group_uuid == group.uuid %}selected{%endif%}>
                            {{group.name}}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="info-box green adm m-1 p-2">
            <span class="title">{% trans "Timezone" %}</span><span class="icon"><i class="fas fa-globe"></i></span><br /><br />
            <span class="text-right">
                <input type="text" class="form-control autosave input" id="time_zone_name" name="time_zone_name" 
                    value="{{obj.time_zone_name}}" title="{{obj.time_zone_name}}" data-model-name="web.room" data-obj-id="{{obj.id}}" 
                    data-url="{% url "autosave_field" %}" data-target="div-notification"/>
            </span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end p-2">
    <button type="button" class="btn btn-primary m-2" data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
    {% if obj %}
        <button type="button" class="btn btn-primary ark m-2" data-bs-dismiss="modal" 
            data-url="{%url "projects-manager-rooms-search"%}" data-target="room-list">
            {% trans "Save" %}</button>
    {% else %}
        <button type="button" class="btn btn-primary ark_new_obj m-2" data-bs-dismiss="modal" 
            data-url="{% url "projects-manager-rooms-search" %}" data-target="room-list" 
            data-url-save="{%url "autosave_fields"%}" data-model-name="web.room"
            data-args-save="uuid,project_uuid,order,alias,number,lock_group_uuid,time_zone_name"> {% trans "Guardar" %}</button>
    {% endif %}
</div>

<div class="row justify-center pt-0 mt-3"> <div id="lock-list">{% include "web/rooms/lock-card.html" %}</div> </div>

