{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %} {% endblock second_menu %}

{% block central_content %}
    <div id="locks-content">
        <div class="content mt-3">
            <div class="row"><div class="col-12 text-end">
                <a class="btn btm-sm ark" data-url="{% url "locks-task-add" %}" data-target="task-type" data-obj_id="">{%trans "Add Task"%}</a>
            </div></div>
        </div>
        <div class="content mt-3"> 
            <div id="task-type" class="task-add"></div> <br/>
            <div id="task-params" class="task-add"></div> <br/>
            <div id="task-locks" class="task-add"></div> <br/>
            <div id="task-end" class="task-add"></div> <br/>
        </div>
        <div class="content mt-3"> {% include "web/locks-cron-by-project/task-list.html" %} </div>
    </div>
    <script> $("#main-task-table").tablesorter(); </script>
{% endblock central_content %}
