{% load i18n padword_tags lock_tags %}

<div class="row step3 m-0 p-2">
    <div class="col-2 step3-img">{% trans "PASO 3"  %} </div>
    <div class="col-10 step3-text">{% trans "Seleccione la cerradura donde quiere realizar la tarea" %}</div>
</div>

<form method="POST" action="{% url "locks-task-locks" %}" id="form-task-locks">
    {%csrf_token%}
    <input type="hidden" name="obj_id" value="{{task.id}}"/>
 
    <table class="table table-striped table-hover mt-3" id="main-table">
        <thead>
            <tr class="small small">
                <th><input type="checkbox" name="ch_0" id="check-all"/></th>
                <th> {% trans 'UUID' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Lock Alias' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Project' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Group' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Room' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Status' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Charge' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Gateway' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Wifi' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Deposit box' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Private' %} <i class="fas fa-sort"></i> </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr class="small load-row" id="row_{{item.id}}" data-obj_id="{{item.id}}">
                    <td><input type="checkbox" name="ch_{{item.id}}" /></td>
                    <td>{{ item.uuid }}</td>
                    <td>{% padword_translate item.alias %}</td>
                    <td>{{ item.project.name }}</td>
                    <td>{{ item.group.name }}</td>
                    <td>{{ item.room }}</td>
                    <td>{{ item.state_cache }}</td>
                    <td>{{ item.charge_cache }} %</td>
                    <td>{% get_wifi_icon item.gateway_cache %}</td>
                    <td>{% get_wifi_icon item.wifi_cache %} {{item.wifi_cache}}</td>
                    <td>{%if item.box%}<i class="fas fa-check"></i>{%else%}<i class="fas fa-times"></i>{%endif%}</td>
                    <td>{%if item.private%}<i class="fas fa-check"></i>{%else%}<i class="fas fa-times"></i>{%endif%}</td>
                    <td class="text-end"> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12 text-center pb-3">
        <a class="pointer btn btn-primary saveform" data-form="form-task-locks" data-target="task-end"> {% trans "Siguiente paso" %}</a></div>
</form>
<script> 
    $("#main-table").trigger("update"); 
    $('#check-all').click(function(){ $('input:checkbox').not(this).prop('checked', this.checked); });
</script>
