{% load i18n %}

<div class="row step4 m-0 p-2">
    <div class="col-2 offset-3 step4-img">{% trans "PASO 4"  %} </div>
    <div class="col-7 step4-text">{% trans "Fin del proceso" %}</div>
</div>

<div class="row m-0"> 
    <div class="col-lg-4 offset-lg-4 col-12 alert alert-success text-center pb-3"> {% trans "La tarea se ha creado con éxito" %} </div> 
    <div class="col-12 text-center pb-3"><a class="pointer btn btn-primary" href="{% url "locks-tasks-by-project" %}"> {% trans "Finalizar" %}</a></div>
</div>
