{% load i18n guest_tags %}

<div class="">
    <div class="card-header mb-1"> {% trans "Wristbands assigned" %} </div>
    <div class="card-body p-0">
        <div id="div-notification" {%if msg and msg != ""%}class="alert-danger"{%endif%}>{{msg}}</div>
        <div class="text-right">
            <button class="btn btn-primary btn-sm ark" data-url="{% url "guest-band-add" %}" data-target="div-locks" data-obj_id="{{obj.id}}">
                <i class="fas fa-plus"></i> {% trans "Add" %}</button>
        </div>
        {% for item in obj.bands.all %} 
            <div class="row m-2 p-2 w-100 band-div">
                <div class="col-7">
                    <input type="text" class="form-control ark_change highly" id="code" name="code" data-url="{%url "guest-band-save"%}" 
                        data-target="div-locks" data-obj_id="{{item.id}}" value="{{item.code}}" placeholder="{%trans "Band code"%}"
                        data-band_lock="true"/>
                </div>
                <div class="col-3 highly">
                    <input type="checkbox" checked 
                        onclick="$('#code').data('band_lock',$(this).is(':checked'));$('#btn-band-remove').data('band_lock',$(this).is(':checked'))"/>
                    <label class="label">{%trans "Add/Remove to locks"%} </label>
                </div>
                <div class="col-2 text-end p-0">
                    <button class="btn btn-sm ark" id="btn-band-remove" data-url="{% url "guest-band-remove" %}" data-target="div-locks" 
                        data-obj_id="{{item.id}}" data-band_lock="true"> <i class="fas fa-trash"></i></button>
                </div>

                <div class="card mt-2 pt-2 pb-2">
                    <div class="card-header toggle-btn" data-target="band-{{item.id}}" data-id-change="icon-extra" 
                        data-text='<i class="fas fa-plus"></i>' data-text-alt='<i class="fas fa-minus"></i>'>
                        <div class="row w-100">
                            <div class="col-6 text-right" id="icon-extra"><i class="fas fa-plus"></i></div>
                            <div class="col-6 text-left"><strong>{% trans "Balance" %}</strong></div>
                        </div>
                    </div>
                    <div class="card-body hide" id="band-{{item.id}}"> {% include "guest/bands/balance.html" with band=item %} </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>


