{% load i18n %}

<div class="row" id="row_{{item.id}}">
    <div class="col-4">{% trans "Name" %}: <strong>{{item.lock.alias}}</strong></div>
    <div class="col-4">{% trans "Manual code" %}: <strong>{{item.code}}</strong></div>
    <div class="col-4">{% trans "Card number" %}: <strong>{{item.card_id}}</strong></div>
</div>
<div class="row" id="row_{{item.id}}">
    <div class="col-12 text-end">
        <a class="btn btn-sm" title="{% trans "Add card" %}" onclick="$('#card__{{item.id}}').slideToggle()"> 
            <i class="fas fa-credit-card"></i></a>
        <a class="btn btn-sm" title="{% trans "Change lock code" %}" onclick="$('#edit__{{item.id}}').slideToggle()"> 
            <i class="fas fa-edit"></i></a>
        <a class="btn btn-sm ark" data-url="{% url "guest-key-open" %}" data-obj_id="{{item.lock.uuid}}" 
            data-target="notification__{{item.id}}" title="{% trans "Open lock" %}"> <i class="fas fa-key"></i></a>
        <a class="btn btn-sm ark" data-url="{% url "guest-key-remove" %}" data-obj_id="{{item.id}}" 
            data-confirm="{%trans "Are you sure to remove this element?"%}" data-target="key-details-{{item.id}}" title="{% trans "Remove key" %}"> 
            <i class="fas fa-trash"></i></a>
        {% comment %}
        <a class="btn btn-sm autoremove" data-model-name="guest.key" data-obj-id="{{item.id}}" data-url="{% url "autoremove_obj" %}" 
            data-target="row_{{item.id}}" data-confirm="{%trans "Are you sure to remove this element?"%}"><i class="fas fa-trash"></i></a>
        {% endcomment %}
    </div>
</div>
<div id="edit__{{item.id}}" style="display:none">
    <form class="" method="post" action="{% url "guest-key-change-code" %}" id="form-key-{{item.id}}">
        {% csrf_token %}
        <input type="hidden" class="form-control" name="key" value="{{item.id}}" />
        <input type="text" class="form-control" name="code" id="key-code-{{item.id}}" value="{{item.code}}" />
        <button class="saveform" data-form="form-key-{{item.id}}" data-target="key-details-{{item.id}}">{% trans "Change" %}</button>
    </form>
</div>
<div id="card__{{item.id}}" style="display:none">
    <form class="" method="post" action="{% url "guest-key-add-card" %}" id="form-card-{{item.id}}">
        {% csrf_token %}
        <input type="hidden" class="form-control" name="key" value="{{item.id}}" />
        <input type="text" class="form-control" name="code" id="card-{{item.id}}" value="{{item.card_id}}" />
        <button class="saveform" data-form="form-card-{{item.id}}" data-target="key-details-{{item.id}}">{% trans "Add" %}</button>
    </form>
</div>

<div id="notification__{{item.id}}"></div>

