{% load i18n %}

{% if code and code == "True" %}
    <div class="row keycard-wizard m-0 my-3">
        <div class="col-3"><button class="btn {%if step >= 1%}btn-actstep{%else%}btn-step{%endif%} w-100">
            {% trans "STEP 1" %} <br />{% trans "Number of codes and dates" %}</button></div>
        <div class="col-1 text-center"><i class="fa fa-angle-double-right"></i></div>
        <div class="col-3"><button class="btn {%if step >= 2%}btn-actstep{%else%}btn-step{%endif%} w-100">
            {% trans "STEP 2" %}<br />{% trans "Locks selection" %}</button></div>
        <div class="col-1 text-center"><i class="fa fa-angle-double-right"></i></div>
        <div class="col-4"><button class="btn {%if step >= 3%}btn-actstep{%else%}btn-step{%endif%} w-100">
            {% trans "STEP 3" %} <br />{% trans "Enter codes" %} </button></div>
    </div>
{% else %}
    <div class="row keycard-wizard m-0 my-3">
        <div class="col-3"><button class="btn {%if step >= 1%}btn-actstep{%else%}btn-step{%endif%} w-100">
            {% trans "STEP 1" %} <br />{% trans "Number of cards and dates" %}</button></div>
        <div class="col-1 text-center"><i class="fa fa-angle-double-right"></i></div>
        <div class="col-3"><button class="btn {%if step >= 2%}btn-actstep{%else%}btn-step{%endif%} w-100">
            {% trans "STEP 2" %}<br />{% trans "Locks selection" %}</button></div>
        <div class="col-1 text-center"><i class="fa fa-angle-double-right"></i></div>
        <div class="col-4"><button class="btn {%if step >= 3%}btn-actstep{%else%}btn-step{%endif%} w-100">
            {% trans "STEP 3" %} <br />{% trans "Scan cards" %} </button></div>
    </div>
{% endif %}
     
