{% load i18n padword_tags %}

{% include "web/keycards/keycards-add-path.html" with step=3 %}
<div class="card"><div class="card-body border-secondary"> 
    <div class="row">
        <div class="col-3">{% trans "Número de tarjetas" %}: {{number}} </div>
        <div class="col-3">{% trans "Fecha de inicio" %}: {{ini_date}} </div>
        <div class="col-3">{% trans "Fecha de fin" %}: {{end_date}} </div>
        <div class="col-3">{% trans "Cerraduras" %}: 
            {%for l in items%}{% padword_translate l.alias %}{%if not forloop.last%}, {%endif%}{%endfor%} </div>
    </div>
</div></div>
<div class="row mt-4">
    <div class="col-6 offset-6">
        <div class="card"><div class="card-body border-primary">
        <h2>{% trans "Añadir tarjetas" %}</h2>
        <br/>

        {% for card in range %}
            <div id="div-lock-{{forloop.counter}}" class="div-lock hide">
                <form method="POST" action="{% url "keycards-add-multiple-step3" %}" id="form-card-{{forloop.counter}}">
                    {%csrf_token%}
                    <input type="hidden" id="project" name="project" value="{{project.uuid}}" />
                    <input type="hidden" id="locks" name="locks" value="{{locks}}" />
                    <input type="hidden" id="ini_date" name="ini_date" value="{{ini_date}}" />
                    <input type="hidden" id="end_date" name="end_date" value="{{end_date}}" />
                    <input type="hidden" id="current" name="current" value="{{forloop.counter}}" />
                    <input type="hidden" id="total" name="total" value="{{number}}" />
                    <div class="text-success text-center mb-4">
                        <strong>{% trans "Tarjeta" %} {{forloop.counter}} / {{number}}</strong></div>

                    <div class="text-center mb-2"> {% trans "Nombre" %}: </div>
                    <input type="text" class="form-control" id="name" name="name" value="" />

                    <br/> <br/>
                    <div class="text-center mb-2"> {% trans "Escanear tarjera" %}: </div>
                    <input type="text" class="form-control" id="card" name="card" value="" />

                    <br/> <br/>
                    <div class="text-center mb-2"> 
                        <button class="btn btn-info saveform" data-form="form-card-{{forloop.counter}}" data-target="div-progress" 
                            data-id="{{forloop.counter}}"> {% trans "Continuar" %}</button>
                    </div>
                </form>
            </div>
        {% endfor %}
        <div id="div-progress">{% include "web/keycards/keycards-add-multiple-progress.html" with percent=1 %}</div>
        </div></div>
    </div>
</div>
<script>
    $("#div-lock-1").show();
    $("#name").focus();
    $(".saveform").click(function(e){ var id = parseInt($(this).data("id")); console.log(id); $("#div-lock-"+id).hide(); $("#div-lock-"+(id+1)).show(); });
</script>
