{% load i18n %}


<div class="div-keycards-content">
    <div class="locks-group d-flex flex-wrap p-2">
        {#{% for keycard in item_list %} {% include "web/keycards/keycard-card.html" with item=keycard %} {% endfor %}#}
        <table class="table table-striped table-hover mt-3" id="main-table">
            <thead>
                <tr class="small small">
                    {# <th><input type="checkbox" name="ch_0" id="check-all"/></th>#}
                    <th> {% trans 'Card ID' %} <i class="fas fa-sort"></i> </th>
                    <th> {% trans 'Lock Alias' %} <i class="fas fa-sort"></i> </th>
                    <th> {% trans 'Code' %} <i class="fas fa-sort"></i> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in item_list %}
                    <tr>
                        <td>{{ item.card_id|default:"---" }}</td>
                        <td>{{ item.lock.alias }}</td>
                        <td>{{ item.code }}</td>
                        <td>
                            <a class="btn btn-sm ark" title="{%trans "Remove card"%}"  data-url="{% url "keycard-remove" %}" 
                                data-target="keycard-list" data-obj_id="{{item.id}}" data-project="{{project.uuid}}"
                                data-confirm="{%trans "Are you sure to remove this element?"%}"> <i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%comment%}
{% for project in project_list %}
    <div class="d-flex menu-actions-blue">
        <div class="flex-grow-1 p-2">
            <span class="bg-ico-bar"><i class="fas fa-credit-card hotel"></i></span>&nbsp; Key Cards in {{project.name}} ({{items|length}})</div>
        <div class="action p-2">
            <a class="btn btn-xs ark" data-url="{% url "keycard-form" %}" data-project="{{project.uuid}}" data-target-modal="common-modal" 
               title="{% trans 'Add keycard' %}"><i class="fas fa-bed"></i> {% trans 'Add keycard' %}</a>  
        </div>
    </div>

    <div class="div-keycards-content">
        <div class="locks-group d-flex flex-wrap p-2">
            {% for keycard in project.get_keycards %}
                {% include "web/keycards/keycard-card.html" with item=keycard %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
{%endcomment%}
