{% load i18n padword_tags %}


<div class="toolbar-search pt-2">
    <div class="row m-0 p-0">
        <div class="col-1 menu-log-tab rounded-top px-0">
            <a class="nav-link" href="{% url "logs" %}"><i class="fas fa-clock"></i> {% trans "Logs" %} </a>
        </div>
        <div class="col-2 menu-log-tab rounded-top px-0">
            <a class="nav-link" href="{% url "cron-log" %}"><i class="fas fa-clock"></i> {% trans "Schedule Logs" %} </a>
        </div>
        <div class="col-2 menu-log-tab rounded-top px-0">
            <a class="nav-link" href="{% url "avantio-log" %}"><i class="fas fa-clock"></i> {% trans "Avantio Logs" %} </a>
        </div>
        <div class="col-2 menu-log-tab rounded-top px-0">
            <a class="nav-link" href="{% url "avaibook-log" %}"><i class="fas fa-clock"></i> {% trans "Avaibook Logs" %} </a>
        </div>
        <div class="col-2 menu-log-tab rounded-top px-0">
            <a class="nav-link" href="{% url "winhotel-log" %}"><i class="fas fa-clock"></i> {% trans "Winhotel Logs" %} </a>
        </div>
        <div class="col-2 menu-log-tab rounded-top px-0">
            <a class="nav-link" href="{% url "cloudbeds-log" %}"><i class="fas fa-clock"></i> {% trans "Cloudbeds Logs" %} </a>
        </div>
    </div>
</div>

