{% load i18n %}

<div class="card">
    <div class="card-header toggle-main text-center pointer" data-toggle="card-satadmin-group">
        {% trans "Add Group" %}
    </div>
    <div class="card-body hide" id="card-satadmin-group">
        <div class="mb-3">
            <label class="visually-hidden" for="lock_group">{% trans "Select group" %}</label>
            <select class="form-control select-k" id="lock_group" name="lock_group" form="form-lock-actions">
                <option value="">{% trans "Select group" %}</option>
                {% for item in lock_group_list %}
                <option value="{{ item.uuid }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100" form="form-lock-actions">
            <i class="fas fa-plus"></i> {% trans "Save" %}
        </button>
    </div>
</div>
