{% load i18n padword_tags %}

{% if pos %}
    <div class="row p-3 alert alert-primary align-items-center">
        <div class="col-7"> <strong>{% trans "Current point of sale" %}: {{pos.name}}</strong> </div>
        <div class="col-3"> <input type="date" class="form-control" id="date" name="date" value="date"/> </div>
        <div class="col-2 text-right">
            <button class="btn btn-sm pointer add-date ark" id="btn-pos-summary" data-url="{% url "orders-daily-summary" %}"
                data-target="file-list" data-obj_id="{{pos.id}}" data-date="">
                <i class="fas fa-file-csv"></i> {% trans "Generate file" %}</button>
            {%comment%}
            <button class="btn btn-sm pointer add-date ark" id="btn-pos-summary" data-url="{% url "orders-z" %}"
                data-target="file-list" data-obj_id="{{pos.id}}" data-date="">
                <i class="fas fa-file-csv"></i>{% trans "Generate Z" %}</button>
            {%endcomment%}
        </div>
    </div>
    <script> $("#date").change(function(){ $(".add-date").data("date", $(this).val()); }); </script>
{% endif %}

<div class="toolbar-content"> <h2 class="b-right">{% trans 'Orders daily' %} </h2> </div>
<div class="d-flex p-2">
    <table class="table table-striped table-hover m-1">
        <thead>
            <tr class="small small">
                <th> {% trans 'File' %} </th>
                <th> </th>
            </tr>
        </thead>
        <tbody id="table-list-bookings">
            {% for item in file_list %}
                <tr class="small" id="row_{{item.id}}"> 
                    <td><a href="/media/tpv/orders-daily/{{item}}" target="_blank">{{item}}</a></td>
                    <td class="text-right">
                        <a class="btn btn-sm ark" data-url="{% url "orders-daily-remove" %}" data-target="file-list" data-name="{{item}}" 
                            data-obj_id="{{pos.id}}" title="{%trans "Remove"%}" data-confirm="{% trans "Are you sure to remove this element?" %}"> 
                            <i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

