{% load i18n padword_tags %}

<table class="table table-striped table-hover">
    <thead>
        <tr class="small small">
            <th class="row">
                <div class="col-6 col-md-4"> {% trans 'Name' %} </div>
                <div class="col-6 col-md-4"> {% trans 'Email' %} </div>
                <div class="col-md-4 d-flex d-none d-md-block"> {% trans 'Project' %} </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="small" id="row_{{item.id}}">
            <td class="row m-2">
                <div class="col-md-4 col-6">{{ item.name }}</div>
                <div class="col-md-4 col-6">{{ item.email}}</div>
                <div class="col-md-3 d-flex d-none d-md-block justify-content-center">{{item.project.name}}</div>
                <div class="col-md-1 pt-md-0 pt-3 col-12 d-flex justify-content-md-end justify-content-center">
                    <a class="btn" href="#" onclick='alert("{{item.uuid}}"); return False' title="UUID"><i class="fas fa-fingerprint"></i></a>
                    <a class="btn" href="#" onclick='alert("{{item.api_token}}"); return False' title="Token"><i class="fas fa-fingerprint"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>$('#items-counter').html('{{items|length}}');</script>

