{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %} {% endblock second_menu %}

{% block central_content %}
    <div class="toolbar-search">
        <input type="hidden" name="company_id" id="company_id" value="{{company.id}}" />
        <input type="text" class="autosearch form-control form-control-dark w-100" name="s-name" id="s-name" 
            placeholder="{% trans 'Name or company' %}" data-url="{% url "user-search" %}" 
            data-target="user-list" data-related="s-name,s-comp" />
    </div>
    <div class="content mt-4">
        <div class="toolbar-content">
			<h2 class="pathway b-right">
                {% trans 'Users' %} <span id="items-counter" class="badge badge-secondary">{{items|length}}</span></h2>
            {% include "common-modal.html" %}
        </div>
        <div id="user-list">{% include "user_remote/users/user-row.html" %}</div>
    </div>
{% endblock central_content %}
