{% load i18n padword_tags tz %}
 
<div class="table-header"> {% trans "CONSUMOS" %} </div>
<div class="transactions-table">
    <div class="table-head">
        <div> {% trans 'Date' %} </div>
        <div> {% trans 'Description' %} </div>
        <div class="text-end"> {% trans 'Amount' %} </div>
        <div></div>
    </div>
    <div class="content-items">
        <!-- ITEM -->
        {% for balance in band.balances.all %}
            <div class="small guest-row transaction-item" id="row_{{item.id}}">
                <div class="date">
                    <span>{{ balance.date|timezone:band.guest.project.time_zone_name|date:'d/m/Y' }} </span>
                    <small>{{ balance.date|timezone:band.guest.project.time_zone_name|date:'H:i:s' }} </small>
                </div>
                <div class="description">
                    <button class="details-btn ark" data-url="{% url "totem-view-ticket" %}" data-target-modal="common-modal" 
                        data-obj_id="{{balance.id}}" title="Ver detalle"><i class="fas fa-receipt"></i></button> 
                    <div class="title"> {{ balance.desc|striptags }} </div>
                </div>
                <div class="amount negative"> {{ balance.amount|floatformat:2 }} </div>
            </div>
        {% endfor %}
    </div>
    <div class="scroll-indicator">
        <span>{% trans "Más consumos" %}</span>
        <span class="arrow">↓</span>
    </div>
</div>

