{% load i18n %}

{% if form.errors %} <p>{% trans "Your username and password didn't match. Please try again." %}</p> {% endif %}


<div class="row m-0">
	<div class="col-8 offset-2 justify-content-center mt-4">
		<div class="screen_">

			<h1 class="title">Acerque su pulsera al lector</h1>
			<p class="subtitle">Escanee su acceso para continuar</p>

			<div class="scan-container">
				<div class="scan-line"></div>
					<input type="text" id="div-scan" class="form-control scan-input ark_change" name="bans-scan"
					data-url="{% url "totem-check-band" %}" data-target="div-main" data-project="{{project_uuid}}"
					placeholder="Escaneando..." autofocus />
			</div>

			<div class="helper">
				<div class="dot"></div>
				Sistema listo para lectura
			</div>

		</div>
	</div>
</div>


<!--
<div class="row login" style="border:1px solid red">
	<div class="col-8 offset-2 login-box justify-content-center mt-4">
		<div class="panel-login">
			<div class="toolbar-heading mt-4">{% trans "Acerque su pulsera al lector" %} </div>
            <div class="panel-body">
                <div class="d-none d-lg-block" id="block-scan">
                    <input type="text" id="div-scan" class="form-control ark_change" name="bans-scan"
                        data-url="{% url "totem-check-band" %}" data-target="div-main" data-project="{{project_uuid}}"
                        placeholder="Scan band..."/>
                </div>
		    </div>
		</div>
	</div>
</div>
-->

<script> $('#sidebar').removeClass('expanded'); $("#div-scan").focus();</script>
{% include "autocomplete_off.html" %}
