{% load i18n %}

{% if err and err != "" %}

    <div class="div-error">
        <div class="error-container">
            <div class="error-icon"><i class="fa fa-times"></i></div>
                <h1 class="error-title">{{band_err}}</h1>
                <p class="error-message">{{err}}</p>
                <div class="actions">
                    {%comment%}
                    <a class="btn btn btn-back py-3 mx-4 ark" data-url="{% url "totem-start" %}" data-target="div-main" 
                        data-project_uuid="{{project.uuid}}">{% trans "Volver" %}</a>
                    {%endcomment%}
                    <a class="btn btn btn-cancel py-3" href="{% url "totem-access" project.uuid %}">{% trans "Cancelar" %}</a>
            </div>
        </div>
    </div>

{% else %}

    <div class="div-success">
        <div class="success-container">
            <div class="success-icon"><i class="fa fa-check"></i></div>
            <h1 class="success-title">{{band_err}}</h1>
            <p class="success-message">{% trans "Su pago se ha procesado correctamente!" %}</p>

            <div class="actions">
                {%comment%}
                <a class="btn btn-back ark w-100" data-url="{% url "totem-start" %}" data-target="div-main" 
                    data-project_uuid="{{project.uuid}}">{% trans "Volver" %}</a>
                {%endcomment%}
                <a class="btn btn-print ark w-100" data-url="{%url "totem-print-pay"%}" data-target="div-main"
                    data-project_uuid="{{project.uuid}}" data-band="{{band}}" data-total="{{total}}"> {%trans "Imprimir"%}</a>
                <a class="btn finish-btn w-100" href="{% url "totem-access" project.uuid %}">{% trans "Finalizar" %}</a>
             </div>

        </div>
    </div> 

{% endif %}

