{% load i18n bookings_tag common_tag padword_tags static tz %}

    <div class="header"> 
            <button class="close" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
	    	<div class="summary">
		        <div class="summary-item">
                    <div class="label">{% trans "Punto de venta" %}</div>
		            <div class="value">{% padword_translate fi.form.get_category.name %}</div>
    		    </div>
	    	    <div class="summary-item">
                    <div class="label">{% trans "Subtotal" %}</div>
                    <div class="value"> {{fi.get_total|stringformat:".2f"}} {{fi.currency}}</div>
    		    </div>
	    	    <div class="summary-item">
                    <div class="label">{% trans "Descuento" %}</div>
		            <div class="value">{{fi.discount|stringformat:".2f"}} %</div>
    		    </div>
	    	    <div class="summary-item">
                    <div class="label">{% trans "Total" %}</div>
		            <div class="value total">{{fi.get_total_total|stringformat:".2f"}} {{fi.currency}}</div>
    		    </div>
	    	</div>
    </div>
    <div class="ticket-info">
        <div><i class="far fa-address-card"></i> {{fi.details.client}} </div>
        <div><i class="fas fa-clock"></i> {{ fi.date|timezone:fi.project.time_zone_name|date:'d/m/Y H:i:s' }}</div>
		<div><i class="fas fa-phone-square"></i><a href="tel:{{fi.details.client_mobile}}">{{fi.details.client_mobile}}</a></div>
		<div><i class="fas fa-bed"></i> {{fi.details.client_room}}</div>
    </div>

    <div id="main" class="products">
        {% for item in items %}
            <div class="product">
                <div class="product-image">
                        <img src="{%if item.item.image%}{{item.item.image.url}} {%else%} {%static 'img/none.png'%}{%endif%}" alt="{% padword_translate item.item.name %}"> 
                </div>
                <div>
                    <div class="product-name">{% padword_translate item.item.name %}</div>
                    <div class="product-comment">
                        <i class="far fa-comment-alt"></i>&nbsp; {{item.comments}}
                    </div>
                </div>
                <div class="metric">
                    <div class="metric-label">{%trans "Precio"%}</div>
                    <div class="metric-value">{{item.price}} €</div>
                </div>
                <div class="metric">
                    <div class="metric-label">{%trans "Descuento"%}</div>
                    <div class="metric-value">{{item.discount2}} %</div>
                </div>
                <div class="metric">
                    <div class="metric-label">{%trans "Total"%}</div>
                    <div class="metric-value total-price">{{item.total_price}} €</div>
                </div>
            </div>
        {% endfor %}
    </div>


