{% load i18n %}

{% if band_err != "" %} <div class="alert alert-danger">{{band_err}}</div>
{% else %}
<div class="screen">
    <div class="hero">
        <div class="logo">
            {%if form.logo%}<img src="{{form.logo.url}}" class="Logo Caldea"/>{%endif%} <span>SPA EXPERIENCE</span>
        </div>
    </div>

    <div class="content">
        <!-- SIDEBAR -->
        <aside class="sidebar">
            <h2 class="sidebar-title">{{band.name}}</h2>
            <div class="info-group">
                <div class="label">Band Code</div>
                <div class="value">{{band.code}}</div>
            </div>

            <div class="info-group">
                <div class="label">Tipo</div>
                <div class="value dark">{{band.type.name}}</div>
            </div>
        </aside>

        <!-- MAIN -->
        <main class="main">
            <section class="table-card"> {% include "bookings/totem/balance.html" %} </section>
            <!-- BOTTOM -->
            <section class="bottom">
                <div class="balance-card"> <h2>BALANCE: {{band.balance}} {{project.currency}}</h2> </div>
                <button class="pay-btn"> Pagar </button>
            </section>
        </main>
    </div>
</div>
{% endif %}
            {%comment%}
            <section class="table-card">
                <div class="table-header"> CONSUMOS </div>
                <div class="table-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th>Importe</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>04/03/2026 16:18:12</td>
                                <td>Ticket from Pool Bar: 20260001</td>
                                <td class="amount">-2,25€</td>
                                <td> <div class="eye">👁</div> </td>
                            </tr>
                            <tr>
                                <td>04/03/2026 16:18:44</td>
                                <td>Ticket from Pool Bar: 20260002</td>
                                <td class="amount">-1,80€</td>
                                <td> <div class="eye">👁</div> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            {%endcomment%}


