{% load i18n %}


{% if msg and msg != "" %} <div class="alert alert-danger">{{msg}}</div> {% endif %}

<div class="d-flex menu-actions-blue">
    <div class="flex-grow-1 p-2"><span class="bg-ico-bar"><i class="fas fa-lock"></i></span>&nbsp; {% trans "TTLock Groups" %}</div>
    <div class="action p-2"> </div>
</div>

<table class="table table-striped table-hover">
    <thead> <tr class="small small"> <th> {% trans 'Name' %} </th> <th></th> </tr> </thead>
    <tbody>
        {% for item in group_items %}
            <tr class="small">
                <td>{{ item.groupName }}</td>
                <td class="d-flex justify-content-end">
                    <a class="btn btn-sm ark" data-url="{% url "lock-group-remove-by-id" %}" data-group_id="{{item.groupId}}" 
                        data-confirm="{%trans "Are you sure to remove this element?"%}" data-target="lock-group-list"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex menu-actions-blue">
    <div class="flex-grow-1 p-2"><span class="bg-ico-bar"><i class="fas fa-lock"></i></span>&nbsp; Vista general</div>
    <div class="action p-2">
        <a class="ark" data-url="{% url "lock-group-form" %}" data-target-modal="common-modal" data-obj_id="" data-project_uuid="{{project.uuid}}">
            <i class="fas fa-plus"></i> {% trans "Add Group" %}</a>  
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr class="small small">
            <th> {% trans 'UUID' %} </th>
            <th> {% trans 'Name' %} </th>
            <th> {% trans 'TTLock Name' %} </th>
            <th> {% trans 'TTLock Id' %} </th>
            <th> {% trans 'Project' %} </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="small" id="row_{{item.id}}">
            <td>{{ item.uuid }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.remote_name }}</td>
            <td>{{ item.remote_id }}</td>
            <td>{{ item.project.name }}</td>
            <td class="d-flex justify-content-end">
                <a class="me-1 btn btn-xs ark" data-url="{% url "lock-group-remove" %}" data-target="lock-group-list" 
                    data-obj_id="{{item.id}}"><i class="fas fa-trash"></i></a>  
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

