{% load i18n %}
<div class="content">
    {% for group_name, rooms in item_list.items %}
        <div class="div-rooms-content">
            <div class="locks-head">{{ group_name }} ({{ rooms.1 }} {% trans 'hab' %})</div>
            <div class="locks-group rooms2-admin-cards">
                {% for item in rooms.0 %}
                    <span id="card-{{ item.id }}" class="rooms2-admin-card-slot"></span>
                    <script>ajaxGet("{% url 'rooms2-admin-get-card' project.uuid %}", {"obj_id": "{{ item.id }}"}, "card-{{ item.id }}", "");</script>
                {% endfor %}
                <span id="total-cards-{{ forloop.counter }}" class="rooms2-admin-card-slot"></span>
                {% if rooms.1 > 6 %}
                    <div class="rooms2-admin-more">
                        <button class="btn btn-primary ark" data-url="{% url 'rooms2-admin-get-all-cards' project.uuid %}"
                            data-target="total-cards-{{ forloop.counter }}" data-group="{{ group_name }}" data-offset="6"
                            onclick="$(this).hide();"><i class="fas fa-chevron-down"></i> {% trans 'Ver mas' %}</button>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
