{% extends 'base.html' %}
{% load i18n %}

{% block central_content %}

    <div class="content">
        <div id="item-list">
            <div class="d-flex menu-actions-blue">
                <div class="flex-grow-1 p-2"><span class="bg-ico-bar"><i class="fas fa-lock"></i></span>&nbsp; {% trans "Avantio bookings " %}</div>
                <div class="action p-2"> </div>
            </div>

            {% for item in booking_list %} 
                <div class="row">
                    <div class="col-2">{% trans 'Start date' %}</div>
                    <div class="col-4">{{item.start_date}}</div>
                    <div class="col-2">{% trans 'Name' %}</div>
                    <div class="col-4">{{item.client.name}}</div>

                    <div class="col-2">{% trans 'End date' %}</div>
                    <div class="col-4">{{item.end_date}}</div>
                    <div class="col-2">{% trans 'Surname' %}</div>
                    <div class="col-4">{{item.client.surname}}</div>

                    <div class="col-2">{% trans 'Booking date' %}</div>
                    <div class="col-4">{{item.booking_date}}</div>
                    <div class="col-2">{% trans 'DNI' %}</div>
                    <div class="col-4">{{item.client.dni}}</div>

                    <div class="col-2">{% trans 'Booking code' %}</div>
                    <div class="col-4">{{item.booking_code}}</div>
                    <div class="col-2">{% trans 'Address' %}</div>
                    <div class="col-4">{{item.client.address}}</div>

                    <div class="col-2">{% trans 'Localizator' %}</div>
                    <div class="col-4">{{item.localizator}}</div>
                    <div class="col-2">{% trans 'Locality' %}</div>
                    <div class="col-4">{{item.client.locality}}</div>

                    <div class="col-2">{% trans 'Accommodation code' %}</div>
                    <div class="col-4">{{item.accommodation_code}}</div>
                    <div class="col-2">{% trans 'Post code' %}</div>
                    <div class="col-4">{{item.client.postcode}}</div>

                    <div class="col-2">{% trans 'User code' %}</div>
                    <div class="col-4">{{item.user_code}}</div>
                    <div class="col-2">{% trans 'City' %}</div>
                    <div class="col-4">{{item.client.city}}</div>

                    <div class="col-2">{% trans '' %}</div>
                    <div class="col-4"></div>
                    <div class="col-2">{% trans 'Country' %}</div>
                    <div class="col-4">{{item.client.country}}</div>

                    <div class="col-2">{% trans '' %}</div>
                    <div class="col-4"></div>
                    <div class="col-2">{% trans 'ISO Country code' %}</div>
                    <div class="col-4">{{item.client.country_code}}</div>

                    <div class="col-2">{% trans '' %}</div>
                    <div class="col-4"></div>
                    <div class="col-2">{% trans 'Phone' %}</div>
                    <div class="col-4">{{item.client.phone}}</div>

                    <div class="col-2">{% trans '' %}</div>
                    <div class="col-4"></div>
                    <div class="col-2">{% trans 'Phone 2' %}</div>
                    <div class="col-4">{{item.client.phone2}}</div>

                    <div class="col-2">{% trans '' %}</div>
                    <div class="col-4"></div>
                    <div class="col-2">{% trans 'Email' %}</div>
                    <div class="col-4">{{item.client.email}}</div>
                </div>
                <hr/>
            {% endfor %}
        </div>
    </div>

{% endblock central_content %}
