{% load i18n %}
---- {%if item.created%}[----]{%endif%} {%trans "Name"%} {%trans "Surname"%} - {%trans "DNI"%} - {%trans "Booking Code"%} - {%trans "Booking Date"%} - {%trans "Start Date"%} / {%trans "End Date"%} - {%trans "Room Code"%}
{% for item in booking_list %} 
---- {%if item.created%}[CREATED]{%endif%} {{item.client.name}} {{item.client.surname}} - {{item.client.dni}} - {{item.booking_code}} - {{item.booking_date}} - {{item.start_date}} / {{item.end_date}} - {{item.accommodation_code}} {% endfor %}
{% if error and error != "" %} {{error|safe}} {% endif %}
