{% load i18n %}
<div class="row friendly-msg m-3">
    <div class="col-lg-5 col-12 p-3"><img src="/static/img/img-error.png" width="" height=""></div>
    <div class="col-lg-7 text-center p-3 mb-3">
        <h1>{% trans "¡Parece que se resiste!" %}</h1>
        <div class="text">
            {% trans "¡No te preocupes, tenemos la clave para solucionarlo!" %}<br/>
            {% trans "Vuelve a intentarlo en unos minutos." %}
        </div>
        <div class="p-3 pb-3"><a class="btn btn-see-you" onclick="window.open('/bookings/close/','_self');" >{% trans 'Cierro pero vuelvo en breve' %}</a></div>
        <br>
    </div>
</div>
