<div class="error-page">
	<div class="error-box">
		<h1 class="d-flex justify-content-center">UPPSSSSS....</h1>
		<hr>
		<h2 class="d-flex justify-content-center">Lo sentimos, ha habido un error. Ya estamos trabajando en la soluci&oacute;n.</h2>
		<h3 class="d-flex justify-content-center"> Vuelve a intentarlo en unos minutos.</h3>
		<hr>
		<h2 class="d-flex justify-content-center">Sorry, we have a problem. We are working on it.</h2>
		<h3 class="d-flex justify-content-center">Please, try in a few minutes.</h3>
	</div>
</div>
