{% load i18n padword_tags %}

{% if user.is_authenticated %}
    <ul class="left-menu">
    {% if menu == "admins" %}
        <li class="nav-item"><a class="nav-link {%if active == "projects"%}active{%endif%}" href="{% url "projects" %}">
            <i class="far fa-folder-open"></i> {% trans "Projects" %} </a> </li>
        <hr/>
        <li class="nav-item"><a class="nav-link {%if active == "companies"%}active{%endif%}" href="{% url "companies" %}">
            <i class="fas fa-home"></i> {% trans "Companies" %} </a> </li>
        <hr/>
        <li class="nav-item"><a class="nav-link {%if active == "guests"%}active{%endif%}" href="{% url "guests" %}">
            <i class="fas fa-users"></i> {% trans "Guests" %} </a> </li>
        <hr/>
        <li class="nav-item"><a class="nav-link {%if active == "rooms"%}active{%endif%}" href="{% url "rooms" %}">
            <i class="fas fa-bed"></i> {% trans "Rooms" %} </a> </li>
        <hr/>
        <li class="nav-item"><a class="nav-link {%if active == "devices"%}active{%endif%}" href="{% url "devices" %}">
            <i class="fas fa-tablet-alt"></i> {% trans "Tablets" %} </a> </li>
        <hr/>
        <li class="nav-item"><a class="nav-link {%if active == "orders"%}active{%endif%}" href="{% url "bookings" %}">
            <i class="fas fa-book"></i>  {% trans "Orders" %}</a> </li>
        <hr/>
        <li class="nav-item"><a class="nav-link {%if active == "notifications"%}active{%endif%}" href="{%url "guest-notifications"%}">
            <i class="fas fa-envelope"></i> {%trans "Notifications"%}</a></li>
        <hr/>
        <li class="nav-item"><a class="nav-link {%if active == "keycard"%}active{%endif%}" href="{%url "keycards"%}">
            <i class="fas fa-credit-card"></i> {%trans "Key Cards"%}</a></li>
        <hr/>
	    <li class="nav-item"><a class="nav-link {%if active == "searchkeycard"%}active{%endif%}" href="{%url "keycard-number"%}">
            <i class="fas fa-address-card"></i> {%trans "Search Key Cards"%} <span class="new">NEW</span></a> </a></li>
        <hr/>
        <li class="nav-item"><a class="nav-link " href="{% url "projects" %}"><i class="fas fa-dice-d6"></i> 
	        {% trans "Safe Deposit Box" %} <span class="new">NEW</span></a> </li>
        <hr/>
        <li class="nav-item"><a class="nav-link" href="{% url "logs" %}"><i class="fas fa-clock"></i> {% trans "Logs" %} </a></li>
        <hr/>
        {%comment%}
        <li class="nav-item"><a class="nav-link" href="{% url "cron-log" %}"><i class="fas fa-clock"></i> {% trans "Schedule Logs" %} </a></li>
        <hr/>
        <li class="nav-item"><a class="nav-link" href="{% url "avantio-log" %}"><i class="fas fa-clock"></i> {% trans "Avantio Logs" %} </a></li>
        <hr/>
        {%endcomment%}
    {% elif menu == "projects" %}
        {% with user_project=user.username|addstr:"|"|addstr:project.uuid %}
            {% if user_project|have_menu:"guests" %}
                <li class="nav-item"><a class="nav-link {%if active == "guests"%}active{%endif%}" href="{% url 'guests-by-project' %}">
                    <i class="fas fa-users"></i>  {% trans "Guests" %}</a> </li>
            {% elif user_project|have_menu_promo:"guests" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="guests"><i class="fas fa-users"></i> {%trans "Guests"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"orders_live" %}
                <li class="nav-item"><a class="nav-link {%if active == "orders_live"%}active{%endif%}" href="{% url 'bookings-live-by-project' %}">
                    <i class="fas fa-bookmark"></i>  {% trans "Orders Live" %}</a> </li>
            {% elif user_project|have_menu_promo:"orders_live" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="orders_live"><i class="fas fa-bookmark"></i> {%trans "Orders Live"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"orders" %}
                <li class="nav-item"><a class="nav-link {%if active == "orders"%}active{%endif%}" href="{% url 'bookings-by-project' %}">
                    <i class="fas fa-book"></i>  {% trans "Orders" %}</a> </li>
            {% elif user_project|have_menu_promo:"orders" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="orders"><i class="fas fa-book"></i> {%trans "Orders"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"notifications" %}
                <li class="nav-item"><a class="nav-link {%if active == "notifications"%}active{%endif%}" href="{% url 'guest-notifications' %}">
                    <i class="fas fa-envelope"></i> {%trans "Notifications"%}</a></li>
            {% elif user_project|have_menu_promo:"notifications" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="notifications"><i class="fas fa-envelope"></i> {%trans "Notifications"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"rooms" %}
                <li class="nav-item"><a class="nav-link {%if active == "rooms"%}active{%endif%}" href="{% url 'rooms-by-project' %}">
                    <i class="fas fa-bed"></i>  {% trans "Rooms" %}</a> </li>
            {% elif user_project|have_menu_promo:"rooms" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="rooms"><i class="fas fa-bed"></i> {%trans "Rooms"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"locks" %}
                <li class="nav-item"><a class="nav-link {%if active == "locks"%}active{%endif%}" href="{% url 'locks-by-project2' %}">
                    <i class="fas fa-key"></i>  {% trans "Locks" %}</a> </li>
            {% elif user_project|have_menu_promo:"locks" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="locks"><i class="fas fa-key"></i> {%trans "Locks"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"gateways" %}
                <li class="nav-item"><a class="nav-link {%if active == "gateways"%}active{%endif%}" href="{% url 'gateways-by-project2' %}">
                    <i class="fas fa-signal"></i>  {% trans "Gateways" %}</a> </li>
            {% elif user_project|have_menu_promo:"gateways" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="gateways"><i class="fas fa-signal"></i> {%trans "Gateways"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"sensibo" %}
                <li class="nav-item"><a class="nav-link {%if active == "sensibo"%}active{%endif%}" href="{% url 'sensibo-device-by-project2' %}">
                    <i class="fas fa-wind"></i>  {% trans "Air conditioner" %}</a> </li>
            {% elif user_project|have_menu_promo:"sensibo" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="sensibo"><i class="fas fa-wind"></i> {%trans "Air conditioner"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"keycard" %}
                <li class="nav-item"><a class="nav-link {%if active == "keycard"%}active{%endif%}" href="{% url "keycard-number-by-project" %}">
                    <i class="fas fa-address-card"></i> {%trans "Search Key Cards"%}</a></li>
            {% elif user_project|have_menu_promo:"keycard" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="keycard"><i class="fas fa-address-card"></i> {%trans "Search Key Cards"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"searchkeycard" %}
	            <li class="nav-item"><a class="nav-link {%if active == "searchkeycard"%}active{%endif%}" href="{%url "keycard-number"%}">
                    <i class="fas fa-address-card"></i> {%trans "Search Key Cards"%} </a></li>
            {% elif user_project|have_menu_promo:"searchkeycard" %}
	            <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal"
                    data-code="searchkeycard"><i class="fas fa-address-card"></i> {%trans "Search Key Cards"%} <span class="new">NEW</span> </a></li>
            {% endif %}

            {% if user_project|have_menu:"box" %}
                <li class="nav-item"><a class="nav-link {%if active == "box"%}active{%endif%}" href="{% url "projects" %}">
                    <i class="fas fa-dice-d6"></i> {% trans "Safe Deposit Box" %} </a> </li>
            {% elif user_project|have_menu_promo:"box" %}
                <li class="nav-item"><a class="nav-link pointer ark" data-url="{%url "show-module"%}" data-target-modal="common-modal" 
                    data-code="box"> <i class="fas fa-dice-d6"></i> {% trans "Safe Deposit Box" %} <span class="new">NEW</span></a> </li>
            {% endif %}
        {% endwith %}
    {% elif menu == "clients" %}
    {% elif menu == "categories" %}
        {% if view_cat %}
            <li class="nav-item"><a class="nav-link " href="{%url 'categories-by-categories'%}">
                <i class="fas fa-tablet-alt"></i> {%trans "Categories"%}</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link " href="{% url 'bookings-by-category' %}"><i class="fas fa-book"></i> {% trans "Orders" %}</a></li>
    {% endif %}
    </ul>
{% else %}
{% endif %}

