{% load i18n %}
<li class="nav-item"> <a class="nav-link active" aria-current="page" href="{% url 'projects' %}"> {% trans 'Admin' %} </a> </li>
<li class="nav-item"> <a class="nav-link" href="#"> {% trans 'Proyecto' %} </a> </li>
<li class="nav-item"> <a class="nav-link" href="#"> {% trans 'Config UI' %} </a> </li>
<li class="nav-item"> <a class="nav-link" href="#"> {% trans 'Mensajes' %} </a> </li>
<li class="nav-item"> <a class="nav-link" href="#"> {% trans 'Peticiones' %} </a> </li>
<li class="nav-item"> <a class="nav-link" href="#"> {% trans 'Lugares y Eventos' %} </a> </li>
