{% load i18n padword_tags static %}

<div class="row">
    <div class="col-lg-8 col-8 btn-dark pt-2">
        <h5 class="card-title text-left">{% padword_translate item.name %}</h5>
    </div>
    <div class="col-lg-4 col-4 btn-dark price pt-1" id="div-total-shopping-cart">{{item.price}} {%if item.price != ""%}&euro;{%endif%}  </div>
</div>
<div class="row">
    {% if item.image %}
        <div class="col-lg-4 col-12 p-3 imagen-item">
            <div class="image" id="cover"> <img src="{{item.image.url}}" class="object-fit_cover" alt="{% padword_translate item.name %}"> </div>
        </div>
        <div class="col-lg-8 col-12 description-item p-3"> <p class="card-text text-secondary">{% padword_translate item.description %} </p> </div>
    {% else %}
        <div class="col-12 description-item p-3"> <p class="card-text text-secondary">{% padword_translate item.description %} </p> </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-12 description-item p-3">
        {% for ia in item.allergen_list.all %}
            <img src="{{ia.allergen.icon.url}}" alt="{{ia.allergen.name}}" title="{{ia.allergen.name}}" style="width:1.8em"/>
        {% endfor %}
    </div>
</div>
<div class="row mt-2">
    <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-marine w-100 ark" data-bs-dismiss="modal">{% trans "Ir a las promociones" %}</button>
   </div>
    <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-marine w-100 ark" data-bs-dismiss="modal">{% trans "Cerrar" %}</button>
   </div>
</div>


