{% load i18n bookings_tag common_tag padword_tags %}

{% if category.parent and back == "True" %}{%include "bookings/back-btn.html" with uuid=category.parent.uuid %}{% endif %}
{%if category.images.count > 0%}{% include "bookings/show-category-gallery.html" %}{%endif%}

{%if form.show_desc%}<div class="card info-panel p-4 col-{{form.desc_width}}">{% padword_translate form.desc %}</div>{%endif%}

{% for b in form.get_public_blocks %}<div id="div-block">{%include "bookings/general/block_form.html"%}</div>{% endfor %}

<div id="item-selected" style="display:none"> <i class="far fa-check-circle"></i> {% trans "You have selected:" %} <span> 
    <span id="item-selected-text">{% padword_translate selected_item.name %} - {{selected_item.price}} &euro; </span> </span> </div>

<div id="obligatory-warning" class="col-12 alert alert-danger" style="display:none">{%trans "You must fill in all the required fields"%} (*)</div>
<div class="col-12 end-page" id="end-page">
    <div class="row mt-4 mb-4 d-flex justify-content-center">
        <div class="col-5 actions text-center mb-3">
            <button id="btn-send" class="btn btn-marine w-100 ark" data-url="{% url "booking-send" %}" 
                data-target="main" data-obj_id="{{fi.id}}" style="display:none"></button>
            <button id="btn-send-order" class="btn btn-marine w-100"> {% trans "Send Order" %}</button>
        </div>
        <div class="col-5 actions text-center mb-2">
            <button class="btn btn-marine w-100 ark" data-url="{% url "booking-remove" %}"
                data-target="main" data-obj_id="{{fi.id}}"> {% trans "Cancel Order" %}</button>
        </div>
    </div>
</div>
<script>
    $("#btn-send-order").click(function(){
        var send = true;
        $(".obligatory").each(function(){ if ($(this).val() == "") { send = false; /*$(this).css("border", "1px solid #842029");*/ } });
        if (send)
            $("#btn-send").click();
        else
            $("#obligatory-warning").show();
    });
</script>


