{% load i18n bookings_tag common_tag %}

<tr id="tr-{{q.id}}-{{index}}">
    {% for f in q.field_set.all %}
        <td class="td_{{q.id}}_{{index}}"> 
            {% if not ro %}{% field_form fi q f index request.user %} {%else%} {% field_value fi q f index %} {%endif%}
        </td>
        {% if forloop.last and q.max_answers > 1 and not ro %} 
            <td class="" width="2%"> <a class="btn btn-dark-pad remove_row" data-url="{% url "remove-row" %}" data-target="tr-{{q.id}}-{{index}}" 
                data-obj_id="{{q.id}}" data-fi_id="{{fi.id}}" data-index="{{index}}" 
                data-confirm="{% trans "Are you sure you want to delete this row?" %}"> <i class="fas fa-trash"></i></a></td>
        {% endif %}
    {% endfor %}
</tr>

