{% load i18n bookings_tag common_tag %}

<div class="col-10 card info-panel p-4 mb-2" tyle="border:1px solid blue !important">
{% for q in item_list %}
    <div class="panel panel-info mb-2" style="width:99% !important; margin:auto !important;">
        <div class="panel-heading mt-4" style="color:white;display:none;"> {{q.text}} <span id="autosave-alert-{{q.id}}"></span></div> 
        
        <div class="panel-body sh-panel-body collapse show" id="question_{{q.id}}">
            {# Preguntas generales #}
            {% if q.question_type.code == "general" %}
                {% include "bookings/general/questions_form_general.html" %}
            {# Preguntas con formato de tabla #}
            {% elif q.question_type.code == "table" %}
                {% include "bookings/general/questions_form_table.html" %}
            {% endif %}
        
            {% if q.childs.all|length > 0 %}
                <div id="div-childs">{%include "bookings/general/questions_form.html" with item_list=q.childs.all%}</div>
            {% endif %}
        </div>
    </div>
{% endfor %}

    </div>
