{% load i18n padword_tags %}

<div class="row"><div class="col-12 text-right">
    <a class="ark" data-url="{% url 'form-new-email' %}" data-target="div-emails-{{obj.id}}" data-obj_id="{{obj.id}}"> {% trans "Add email" %}</a>
</div></div>

<div class="row">
    {% for item in obj.emails.all %}
        <div class="col-10">
            <input type="text" class="form-control autosave b-bottom mb-4" id="email" name="email" data-model-name="bookings.formemail" 
                value="{{item.email}}" data-obj-id="{{item.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
                <span id="email__msg"></span>
        </div>
        <div class="col-2">
            <a class="ark" data-url="{%url 'form-remove-email'%}" data-target="div-emails-{{obj.id}}" data-obj_id="{{item.id}}">
                {%trans "Remove"%}</a>
        </div>
    {% endfor %}

    <div class="col-12">{% trans "Email from" %}</div>
    <div class="col-12">
        <input type="text" class="form-control autosave b-bottom mb-4" id="email_from" name="email_from" data-model-name="bookings.formemailtext" 
            value="{% padword_translate email_texts.email_from %}" data-obj-id="{{email_texts.id}}" data-url="{%url "autosave_field"%}" 
            data-target="div-notification"/> <span id="email_from__msg"></span>
    </div>

    <div class="col-12">{% trans "SUBJECT for New order" %}</div>
    <div class="col-12">
        <input type="text" class="form-control autosave b-bottom mb-4" id="subject_new" name="subject_new" data-model-name="bookings.formemailtext" 
            value="{% padword_translate email_texts.subject_new %}" data-obj-id="{{email_texts.id}}" data-url="{%url "autosave_field"%}" 
            data-target="div-notification"/> <span id="subject_new__msg"></span>
    </div>

    <div class="col-12">{% trans "BODY for New order" %}</div>
    <div class="col-12">
        <textarea class="form-control autosave b-bottom mb-4" id="body_new" name="body_new" data-model-name="bookings.formemailtext" 
            data-obj-id="{{email_texts.id}}" data-url="{% url "autosave_field" %}" style="display:none" data-target="div-notification"></textarea> 
        <span id="subject_new__msg"></span>
        <div id="body-new-editor" style="height:200px; overflow:scroll;">{% padword_translate email_texts.body_new %}</div>
    </div>

    <div class="col-12"><br/>{% trans "SUBJECT for Change order status" %}</div>
    <div class="col-12">
        <input type="text" class="form-control autosave b-bottom mb-4" id="subject_change" name="subject_change" 
            data-model-name="bookings.formemailtext" value="{% padword_translate email_texts.subject_change %}" 
            data-obj-id="{{email_texts.id}}" data-url="{% url "autosave_field" %}" data-target="div-notification"/> 
            <span id="subject_new__msg"></span>
    </div>

    <div class="col-12">{% trans "BODY for Change order status" %}</div>
    <div class="col-12">
        <textarea class="form-control autosave b-bottom mb-4" id="body_change" name="body_chage" data-model-name="bookings.formemailtext" 
            data-obj-id="{{email_texts.id}}" data-url="{% url "autosave_field" %}" style="display:none"
            data-target="div-notification"></textarea> <span id="subject_new__msg"></span>
{% padword_translate email_texts.body_change %}
            <div id="body-change-editor" style="height:200px; overflow:scroll;">{% padword_translate email_texts.body_change %}</div>
    </div>
</div>

<script> 
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [ 'link', 'image', 'video', 'formula' ],          // add's image support
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];



    var quill_new = new Quill('#body-new-editor', { modules: { toolbar: toolbarOptions }, theme: 'snow' });
    quill_new.on('text-change', function(delta, oldDelta, source) {
        $("#body_new").html(quill_new.root.innerHTML);
        $("#body_new").change();
    });

    var quill_change = new Quill('#body-change-editor', { modules: { toolbar: toolbarOptions }, theme: 'snow' });
    quill_change.on('text-change', function(delta, oldDelta, source) {
        $("#body_change").html(quill_change.root.innerHTML);
        $("#body_change").change();
    });
</script>

