{% load i18n %}

<table class="table table-striped table-hover">
    <thead>
        <tr class="small small">
            <th> {% trans 'Name' %} </th>
            <th> {% trans 'Channel' %} </th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td colspan="2">
            <div class="row small p-2">
                <div class="col-2">{{item.name}}</div>
                <div class="col-8">{{item.channel}}</div>
                <div class="col-2 d-flex justify-content-end">
                    <a class="btn" href="#" onclick='alert("{{item.uuid}}"); return False'><i class="fas fa-fingerprint"></i></a>
                    <a class="me-1 btn btn-xs" title="{% trans 'See bookings' %}" href="{% url "bookings-by-form" item.id %}">
                        <i class="far fa-eye"></i></a>  
                    <a class="me-1 btn btn-xs" title="{% trans 'New booking' %}" href="{% url "booking-new" item.uuid %}" target="_blank">
                        <i class="far fa-calendar-check"></i></a>  
                    <a class="me-1 btn btn-xs" title="{% trans 'Edit' %}" href="{% url "form-form" item.id %}"><i class="fas fa-edit"></i></a>  
                    <a class="btn btn-sm autoremove" title="{% trans 'Remove' %}" data-model-name="bookings.form" data-obj-id="{{item.id}}" 
                        data-url="{% url "autoremove_obj" %}" data-target="row_{{item.id}}" 
                        data-confirm="{% trans "Are you sure to remove this element?" %}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

