{% load i18n padword_tags %}

<table class="table table-striped table-hover">
    <thead>
        <tr class="small small">
            <th >
                <div class="row">
                    <div class="col-3">{% trans 'Name' %}</div>
                    <div class="col-4">{% trans 'Project' %}</div>
                    <div class="col-5">{% trans 'Channel' %}</div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr id="row-{{item.id}}">
            {% include "forms/form-row.html" with item=item %}
        </tr>
        {% endfor %}
    </tbody>
</table>

