{% load i18n padword_tags bookings_tag common_tag %}
    
{% if obj.project != None%}
    <div class="col d-flex justify-content-end">
        {% for lang in obj.project.get_languages %}
            <a class="btn btn-{% is_current_lang lang 'primary' 'secondary'%} ark ms-2 me-2" data-url="{% url "form-form" %}" 
                data-target="div-contents" data-lang="{{lang}}" data-obj_id="{{obj.id}}" href="#" title="{% trans 'Change lang' %}">{{lang}}</a>
        {%endfor%}
    </div>
{% endif %}

{#<br/> {% include "forms/form-form.html" %}#}
{% if request.user|can_remove_cat %} {% include "forms/form-general.html" %} {% endif %}
<br/>

<div class="card">
    <div class="card-header bg-secondary text-white">{% trans 'Images' %} <span id="div-notification" style="margin-left:20px"></span> </div>
    <div class="card-body"> <div id="div-gallery">{% include "contents/category-gallery.html" with obj=obj.get_category%}</div> </div>
</div>
<br/>

{% include "forms/form-description.html" %}
<br/>

{% include "forms/form-qr-block.html" %}
<br/> 

<div class="row"><div class="col-12 text-end">
    <a class="btn btn-primary btn-sm ark" data-url="{% url "block-add" %}" data-target="div-blocks" data-obj_id="{{obj.id}}" 
        title="{% trans "Add item"%}"><i class="fas fa-plus"></i></a>  
</div></div>
<br/> <div id="div-blocks"> {% include "forms/block-form.html" %} </div>

<script> 
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [ 'link', 'image', 'video', 'formula' ],          // add's image support
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#desc-editor', {
        modules: { toolbar: toolbarOptions },
        theme: 'snow'
    });

    //var quill = new Quill('#desc-editor', { theme: 'snow' }); 
    quill.on('text-change', function(delta, oldDelta, source) {
        $("#desc").html(quill.root.innerHTML);
        $("#desc").change();
    });
</script>

