{% load i18n common_tag %}

{% if not obj.logo %}
    <label for="id_logo_{{obj.id}}" class="btn btn-primary file-field-btn text-white">
        <i class="fas fa-upload"></i> <span class="text">{% trans "Upload File" %}</span> </label>
    <input type="file" class="upload d-none custom-file-upload" name="logo" id="id_logo_{{obj.id}}" 
        data-url="{% url 'form-add-logo' %}" data-target="div-logo" data-obj-id="{{obj.id}}" 
        data-field="logo" data-csrf-token="{{csrf_token}}" multiple style="display:none;"/><br /><br />
{% else %}
    <div class="col-12 text-center"><img src="{{obj.logo.url}}" alt="logo" class="auto"/></div>
    <div class="col-12 actions file-remove text-center">
        <button type="button" class="btn btn-danger ark pointer" id="btn-logo-{{obj.pk}}" title="Borrar fichero" 
            data-confirm="{% trans "Are you sure to remove this file?" %}" data-url="{% url "form-remove-logo" %}" data-target="div-logo" data-obj_id="{{obj.id}}" 
            data-field="logo"> <i class="fas fa-trash"></i></button>
    </div>
{% endif %}

