{% load i18n padword_tags bookings_tag common_tag %}


<div class="row m-0">
    <div class="col-6 text-center">
        <div class="card"> 
            <div class="card-header bg-secondary text-white"> {% trans "Logo" %}</div>
            <div class="card-body"><div id="div-logo">{% include "forms/form-logo.html" %}</div></div>
        </div>
    </div>
    <div class="col-6 text-center">
        <div class="card"> 
            <div class="card-header bg-secondary text-white"> {% trans "QR" %}</div>
            <div class="card-body"><div id="div-qr">{% include "forms/form-qr.html" %}</div></div>
        </div>
    </div>
</div>

