{% load i18n padword_tags %}

<div class="toolbar-search">
	<div class="row w-100">
		<div class="col-md-4 col-xs-12">
			<input type="text" class="autosearch form-control form-control-dark w-30" name="s-project" id="s-project" 
	        	placeholder="{% trans "Project name" %}" value="{{project_name}}" data-url="{% url "form-search" %}" 
	    	    data-target="form-list" data-related="s-project,s-channel,s-name" 
    	    	{%if request.project_id %}disabled{%endif%}/>
		</div>

		<div class="col-md-4 col-xs-12">
		    <input type="text" class="autosearch form-control form-control-dark w-30" name="s-channel" id="s-channel" 
    		    placeholder="{% trans "Channel name" %}" value="{{channel_name}}" data-url="{% url "form-search" %}" 
        		data-target="form-list" data-related="s-project,s-channel,s-name" />
		</div>

		<div class="col-md-4 col-xs-12">
			<input type="text" class="autosearch form-control form-control-dark w-30" name="s-name" id="s-name" 
	        	placeholder={% trans 'Name' %} data-url="{% url "form-search" %}" data-target="form-list" data-related="s-project,s-channel,s-name"/>
		</div>
	</div>
</div>
 
