{% extends 'base.html' %}
{% load i18n %}
{% block second_menu %}{% include 'web/second_menu.html' %} {% endblock second_menu %}
{% block central_content %}
<h2>{% trans 'Compañías' %} (<span id="items-counter">{{items|length}}</span>)</h2>
    <input type="text" class="autosearch form-control form-control-dark w-100" name="s-name" id="s-name" placeholder="Nombre" data-url="{% url "company-search" %}" data-target="company-list" data-related="s-name"/>
    <div id="company-list">{% include "web/company-list.html" %}</div>
{% endblock central_content %}
