{% extends 'base.html' %}
{% load i18n %}

{% block second_menu %}{% include 'web/second_menu.html' %} {% endblock second_menu %}
{% block central_content %}
	<h2>{% trans 'Projects' %}</h2>
	<input type="text" class="autosearch form-control form-control-dark w-100" name="s-name" id="s-name" placeholder="Nombre" 
		data-url="{% url "project-search" %}" data-target="project-list" data-related="s-name"/>
	<div id="project-list">{% include "web/project-list.html" %}</div>
{% endblock central_content %}
