{% load i18n padword_tags %}
<li class="nav-item "> <a class="nav-link {% current 'projects' %}" href="{% url 'projects' %}"> {% trans 'Proyectos' %} </a> </li>
<li class="nav-item "> <a class="nav-link {% current 'channels' %}" href="{% url 'channels' %}"> {% trans 'Canales' %} </a> </li>
<li class="nav-item "> <a class="nav-link {% current 'devices' %}" href="{% url 'devices' %}"> {% trans 'Dispositivos' %} </a> </li>
<li class="nav-item "> <a class="nav-link {% current 'companies' %}" href="{% url 'companies' %}"> {% trans 'Compañías' %} </a> </li>
