{% load i18n padword_tags %}
<div id="side_menu">
	<div class="drawerHeader">Admin</div>
		<ul class="nav flex-column mb-2 second-menu">
            {% if menu == "admins" %}
                <li class="nav-item"><a class="nav-link {% current 'companies' %}" href="{% url 'companies' %}"> {% trans 'Companies' %} </a> </li>
                <li class="nav-item"><a class="nav-link {% current 'projects' %}" href="{% url 'projects' %}"> {% trans 'Projects' %} </a> </li>
                <li class="nav-item"><a class="nav-link {% current 'channels' %}" href="{% url 'channels' %}"> {% trans 'Channels' %} </a> </li>
                <li class="nav-item"><a class="nav-link {% current 'devices' %}" href="{% url 'devices' %}"> {% trans 'Devices' %} </a> </li>
                <li class="nav-item"><a class="nav-link {% current 'forms' %}" href="{% url 'forms' %}"> {% trans 'Forms' %} </a> </li>
                <li class="nav-item"><a class="nav-link {% current 'bookings' %}" href="{% url 'bookings' %}"> {% trans 'Bookings' %} </a> </li>
            {% elif menu == "projects" %}
                <li class="nav-item"><a class="nav-link {% current 'channels-by-project' %}" href="{%url 'channels-by-project' project.id %}"> 
                    {% trans 'Channels' %}</a></li>
                <li class="nav-item"><a class="nav-link {% current 'devices-by-project' %}" href="{% url 'devices-by-project' project.id %}"> 
                    {% trans 'Devices' %} </a> </li>
                <li class="nav-item"><a class="nav-link {% current 'forms-by-project' %}" href="{% url 'forms-by-project' project.id %}"> 
                    {% trans 'Forms' %} </a> </li>
                <li class="nav-item"><a class="nav-link {% current 'bookings-by-project' %}" href="{% url 'bookings-by-project' project.id %}"> 
                    {% trans 'Bookings' %} </a> </li>
            {% elif menu == "clients" %}
            {% endif %}
		</ul>
	</div>
</div>
