{% extends 'base.html' %}
{% load i18n padword_tags static %}


{% block central_content %}
<div class="utils-div">
    <div class="utils-div-inner">
        <div class="row mb-5 pt-5 pb-3 m-0">
            <div class="col-2 offset-2 text-right">
                {%comment%}
                <a class="btn border-secondary utils href="{% url "keycards-add-multiple-by-project" %}" 
                    data-title="Texto para explicar el funcionamiento de las Tarjetas múltiples">
                {%endcomment%}
                <a class="btn border-secondary utils" href="{% url "keycards-add-multiple-by-project" %}">
                    <img src="{% static "img/logo-padword.png" %}" alt="logo"/><br/>
                    <div class="mt-2">{% trans "Crear Múltiples Tarjetas" %}</div></a>
            </div>
            <div class="col-2 offset-1 text-center">
                <a class="btn border-secondary utils" href="{% url "keycards-add-multiple-by-project" "1" %}">
                    <img src="{% static "img/logo-padword.png" %}" alt="logo"/><br/>
                    <div class="mt-2">{% trans "Crear Tarjetas para un Grupo" %}</div></a>
            </div>
            <div class="col-2 offset-1 text-left">
                <a class="btn border-secondary utils" href="{% url "keycards-add-multiple-by-project" "2" %}">
                    <img src="{% static "img/logo-padword.png" %}" alt="logo"/><br/>
                    <div class="mt-2">{% trans "Crear Tarjetas Maestras" %}</div></a>
            </div>

        </div>
        <div class="row my-5 m-0">
            <div class="col-2 offset-2 text-right" >
                <a class="btn border-secondary utils" href="{% url "keycode-add-multiple-by-project" %}">
                    <img src="{% static "img/logo-padword.png" %}" alt="logo"/><br/>
                    <div class="mt-2">{% trans "Crear Múltiples Códigos" %}</div></a>
            </div>
            <div class="col-2 offset-1 text-center">
                <a class="btn border-secondary utils" href="{% url "keycode-add-multiple-by-project" "1" %}">
                    <img src="{% static "img/logo-padword.png" %}" alt="logo"/><br/>
                    <div class="mt-2">{% trans "Crear Códigos para un Grupo" %}</div></a>
            </div>
            <div class="col-2 offset-1 text-left">
                <a class="btn border-secondary utils" href="{% url "keycode-add-multiple-by-project" "2" %}">
                    <img src="{% static "img/logo-padword.png" %}" alt="logo"/><br/>
                    <div class="mt-2">{% trans "Crear Códigos Maestros" %}</div></a>
            </div>

        </div>
        <div class="row my-5 py-3 m-0">
            <div class="col-2 offset-5 text-center">
                <a class="btn border-secondary utils" href="{% url "locks-tasks-by-project" %}">
                    <img src="{% static "img/logo-padword.png" %}" alt="logo"/><br/>
                    <div class="mt-2">{% trans "Programar tareas" %}</div></a>
            </div>
        </div>
    </div>
</div>
{% endblock central_content %}
