{# ESTA Plantilla es para javascript no para django #}
<div class="message_container darker vertical-item" id="msg__container__${pk}" data-message-id="${pk}" >
  <div class="message_img_container">
	<img src="https://api.adorable.io/avatars/100/${user}.png" alt="Avatar" class="right">
  </div>
  <div class="message_content_container">
	  <div>
		  <span class="signature"><i class="fas fa-hashtag"></i> 
		   Yo - <span class="text-muted signature-time">${date} --<small> posted in #(${room})</small>  
	 </div>
	 <div class="response-to">${response_to_template}</div>
	  <div class="message-content">${content}</div>
  </div>
</div>
