{% load i18n %}

<div class="row w-100 common-modal-head m-0 p-0">
    <div class="col-11"><h2>{% trans 'Mews booking list' %}</h2></div>
    <div class="col-1">
        <button type="button" class="btn btn-sm ark" data-bs-dismiss="modal" data-url="{% url "guest-search-by-project" %}" 
        data-target="guest-list"><i class="fas fa-times"></i></button> </div>
</div>

{% if error and error != "" %} <div class="alert alert-danger">{{error|safe}}</div> {% endif %}

<div class="row m-0">
    <div class="content">
        <div id="item-list">
            {% for item in booking_list %} 
                <div class="row">
                    <div class="col-1">{% trans 'Id' %}</div>
                    <div class="col-5">{{item.id}}</div>
                    <div class="col-1">{% trans 'Service' %}</div>
                    <div class="col-5">{{item.service_id}}</div>
                </div>
                <div class="row">
                    <div class="col-1">{% trans 'Account' %}</div>
                    <div class="col-5">{{item.account_id}}</div>
                    <div class="col-1">{% trans 'Booker' %}</div>
                    <div class="col-5">{{item.booker_id}}</div>
                </div>
                <div class="row">
                    <div class="col-2">{% trans 'Start' %}</div>
                    <div class="col-4">{{item.start}}</div>
                    <div class="col-2">{% trans 'End' %}</div>
                    <div class="col-4">{{item.end}}</div>
                </div>
                 <div class="row">
                    <div class="col-2">{% trans 'Created' %}</div>
                    <div class="col-4">{{item.created}}</div>
                    <div class="col-2">{% trans 'Updated' %}</div>
                    <div class="col-4">{{item.updated}}</div>
                </div>
                <div class="row">
                    <div class="col-2">{% trans 'Number' %}</div>
                    <div class="col-4">{{item.number}}</div>
                    <div class="col-2">{% trans 'State' %}</div>
                    <div class="col-4">{{item.state}}</div>
                </div>
 
        
                {%comment%}
                <div class="row">
                    <div class="col-2">{% trans 'Id' %}</div>
                    <div class="col-4">{{item.id}}</div>
                    <div class="col-2">{% trans 'Status' %}</div>
                    <div class="col-4">{{item.status}}</div>

                    <div class="col-2">{% trans 'Accommodation ID' %}</div>
                    <div class="col-4">{{item.accommodation_id}}</div>
                    <div class="col-2">{% trans 'Unit ID' %}</div>
                    <div class="col-4">{{item.unit_id}}</div>

                    <div class="col-2">{% trans 'Check in date' %}</div>
                    <div class="col-4">{{item.check_in_date}}</div>
                    <div class="col-2">{% trans 'Check out date' %}</div>
                    <div class="col-4">{{item.check_out_date}}</div>

                    <div class="col-2">{% trans 'Check in time' %}</div>
                    <div class="col-4">{{item.check_in_time}}</div>
                    <div class="col-2">{% trans 'Check out time' %}</div>
                    <div class="col-4">{{item.check_out_time}}</div>

                    <div class="col-2">{% trans 'Night of stay' %}</div>
                    <div class="col-4">{{item.night_of_stay}}</div>
                    <div class="col-2">{% trans 'Created at' %}</div>
                    <div class="col-4">{{item.created_at}}</div>

                    <div class="col-2">{% trans 'Price' %}</div>
                    <div class="col-4">{{item.price}}</div>
                    <div class="col-2">{% trans 'Number of guests' %}</div>
                    <div class="col-4">{{item.number_of_guests}}</div>

                    <div class="col-2">{% trans 'Default invite email' %}</div>
                    <div class="col-4">{{item.default_invite_email}}</div>
                    <div class="col-2">{% trans 'Default leader full name' %}</div>
                    <div class="col-4">{{item.default_leader_full_name}}</div>

                    <div class="col-2">{% trans 'Default leader phone' %}</div>
                    <div class="col-4">{{item.default_leader_phone}}</div>
                    <div class="col-2">{% trans 'Source' %}</div>
                    <div class="col-4">{{item.source}}</div>

                    <div class="col-2">{% trans 'Partner name' %}</div>
                    <div class="col-4">{{item.partner_name}}</div>
                    <div class="col-2"></div>
                    <div class="col-4"></div>
                </div>
                {%endcomment%}
                <hr/>
            {% endfor %}
        </div>
    </div>
</div>

