{% load i18n padword_tags lock_tags %}

<div class="inner card ark b-none" data-url="{% url "box-form-by-project" %}" data-target-modal="common-modal" data-obj_id="{{item.id}}" 
    data-project="{{item.project_uuid}}">
    <div class="row safe-deposit-box zoom m-0">
        {% comment %}
        <div class="col-12 alias text-center pt-1 pb-1">{% trans "Room" %}<br/ ><span>{% padword_translate item.room_obj.alias %}</span> 
            ({{item.room}})</div>
        {% endcomment %}
        <div class="col-12 alias text-center"><span>{% padword_translate item.alias %}</span></div>
        <div class="col-12 p-0 mt-1">

        {% comment %}
            <div class="icons- d-flex justify-content-end pt-1" style="border:1px solid red">
        {% endcomment %}
           
            <div class="row m-0">
                {#<div class="w-25 text-center"><i class="fas fa-{{item.state|default:'lock'}}"></i></div>#}
                {#<div class="w-50 text-center">Status</div>#}
		<div class="col-8 text-center">{% get_gateway_icon item.gateway_cache True %} </div>
                <div class="col-4 text-center"><i class="fa {{item.css_charge}} fa-rotate-270 text-center"></i>
                    <span class="bat-percentage">{{item.charge_cache}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>
