{% load i18n padword_tags rooms_tags %}


<h2 class="common-modal-head">
    <div class="row">
        <div class="col-11">{% trans 'Deposit box info' %}</div>
	    <div class="col-1"><button type="button" class="btn" data-bs-dismiss="modal"><i class="fas fa-times"></i></button></div>
    </div>
</h2>

<span id="div-notification"></span>

<div class="row m-0 mt-2">
    <div class="col-6 p-0">
        <div class="info-box m-1 p-2">
            <span class="title">{% trans "Room" %}</span><br />
            <span class="text-right"><strong>{%padword_translate obj.room_obj.alias%}</strong></span>
            <span class="icon"><i class="fas fa-bed"></i></span>
        </div>
    </div>
    <div class="col-3 p-0">
        <div class="info-box m-1 p-2">
            <span class="title">{% trans "Room number" %}</span><br />
            <span class="text-right"><strong>{{obj.room}}</strong></span>
            <span class="icon"><i class="fas fa-bed"></i></span>
        </div>
    </div>
    <div class="col-3 p-0">
        <div class="info-box m-1 p-2">
            <span class="title">{% trans "Lock" %}</span><br />
            <span class="text-right"><strong>{%padword_translate obj.alias%}</strong></span>
            <span class="icon"><i class="fas fa-key"></i></span>
        </div>
    </div>
</div>

<div class="row m-0 mb-3 mt-3">
    <div class="col-10 offset-1 card">
        <div class="card-body " id="card-add-code">
            <div id="div-form" class="special-form">
                <form method="POST" action="{% url "box-add-code" %}" id="form-code" />
                    {%csrf_token%}
                    <input type="hidden" name="lock_id" value="{{obj.id}}"/>

                    <div class="row">
                        <div class="col-12 mt-1 text-center"><span>{%trans "Fill in the information below and press the save button"%}:</span></div>
                        <div class="col-4 mt-3 pt-1 small"> 
                            <input type="radio" class="set-hidden" name="radio_code" value="1" data-id="action" checked/> {% trans "Code" %} 
                        </div>
                        <div class="col-4 mt-3 pt-1 small"> 
                            <input type="radio" class="set-hidden" name="radio_code" value="2" data-id="action"/> {% trans "Random Code" %} 
                        </div>
                        <div class="col-4 mt-3 pt-1 small"> 
                            <input type="radio" class="set-hidden" name="radio_code" value="3" data-id="action"/> {% trans "Card" %} 
                        </div>
                        <div class="col-12 mt-3">
                            <input type="text" class="form-control input-k set-hidden" id="code" name="code"
                                placeholder="{%trans "Click and write"%} {%trans "Code or Card number"%}"/> 
                        </div>
                        <div class="col-12 mt-3">
                            <input type="text" class="form-control input-k set-hidden" id="name" name="name"
                                placeholder="{%trans "Click and write"%} {%trans "Name"%}"/> 
                        </div>
                        <div class="col-4 mt-3"><span class="xx-small">Fecha y hora de inicio</span>
                            <input type="date" class="form-control check_per input-k set-hidden" id="ini_date" name="ini_date"
                                value="{{ini_date|date:"Y-m-d"}}"/> 
                        </div>
                        <div class="col-2 mt-3"> 
                            <input type="time" class="form-control input-k date_field mt-3" id="ini_time" name="ini_time" 
                                value="{{ini_date|date:"H:M"}}" title="Este campo es obligatorio" required="">
                        </div>
                        <div class="col-4 mt-3"><span class="xx-small">Fecha y hora de finalización </span>
                            <input type="date" class="form-control check_per input-k set-hidden" id="end_date" name="end_date"
                                value="{{end_date|date:"Y-m-d"}}"/>
                        </div>
                        <div class="col-2 mt-3"> 
                            <input type="time" class="form-control input-k date_field mt-3" id="end_time" name="end_time" 
                                value="{{end_date|date:"H:M"}}" title="Este campo es obligatorio" required="">
                        </div>
                        <div class="col-12 mt-4 text-center">
                            <button class="btn btn-primary mt-2 saveform w-100" data-form="form-code" data-target="div-form">
                                <i class="fas fa-plus"></i> {% trans "Save" %}</button> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



