{% load i18n padword_tags lock_tags %}


{% if msg and msg != "" %} <div class="alert alert-danger">{{msg}}</div> {% endif %}

<div class="row">
    {% for item in items %} 
        <div id="card_{{item.id}}" class="col-3 load-card" data-obj_id="{{item.id}}"><i class="fas fa-spinner fa-spin"></i> loading...</div>
    {% endfor %}
</div>

<script>
    $('#items-counter').html('{{items|length}}');
    $(".load-card").each(function(){
        var id = $(this).data("obj_id");
        ajaxGet("{% url "box-card-by-project" %}", {"obj_id": id}, "card_"+id, "");
    });
</script>

