{% load i18n padword_tags %}

<div class="d-flex">
    <div class="row">
        {% for ap in obj.access_points %}
            <div class="col-6">
                <button type="button" class="btn btn-info ark" id="ap-{{ap.id}}" data-url="" data-target="" 
                    data-obj_id="" data-guest="" data-band="">
                    {{ ap.name }} {% if ap.in_point %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</button> 
            </div>
        {% endfor %}
    </div>
</div>

