{% load i18n guest_tags %}

{%if err and err != ""%}
    <div id="div-notification" class="alert-danger">
        {% trans "There are another user with this band:" %} <strong>{{band.guest.name}} {{band.guest.surname}} - {{band.guest.room}}</strong>
        <button class="btn btn-sm ark" id="btn-band-remove" data-url="{% url "guest-band-remove2" %}" data-target="div-band-form" 
            data-obj_id="{{band.id}}" data-band_lock="true" data-guest="{{obj.id}}"><i class="fas fa-trash"></i></button>
    </div>
{%endif%}

<div class="row m-0 p-0 w-100">
    <div class="col-3">
        <div class="step p-1"><span class="step-circle">1</span>&nbsp;<strong>{% trans "Scan band" %}</strong><br /><br />
            <input type="text" class="form-control ark_change highly step-code" id="code" name="code" data-url="{%url "guest-band-save"%}" 
                data-target="div-band-form" data-obj_id="{{obj.id}}" value="{{band.code}}" placeholder="{%trans "Acercar la tarjeta al lector"%}"
                {%if step > 0%} disabled {%endif%}/>
        </div>
    </div>

    <div class="col-3 {%if step < 1%}hide{%endif%}">
        <div class="step p-1"><span class="step-circle">2</span>&nbsp;<strong>{% trans "Name" %}</strong><br /><br />
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control ark_change highly step-code" id="name" name="name" data-url="{%url "guest-band-name"%}" 
                        data-target="div-band-form" data-obj_id="{{obj.id}}" data-band_id="{{band.id}}" value="{{band.name}}" 
                        placeholder="{%trans "Nombre de la tarjeta"%}" {%if step > 1%} disabled {%endif%}/>
                </div>
                <div class="col-2"> <button class="btn btn-sm"><i class="fas fa-plus"></i></button> </div>
            </div>
        </div>
    </div>

    <div class="col-2 {%if step < 2%}hide{%endif%}">
        <div class="step p-1"><span class="step-circle">2</span>&nbsp;<strong>{% trans "Add band to locks?" %}</strong><br /><br />
            {%comment%}
            <button class="btn btn-default ark" data-url="{%url "guest-band-locks"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
                data-locks="true" {%if step > 2%} disabled {%endif%}> {%trans "Yes"%}</button>
            <button class="btn btn-default ark" data-url="{%url "guest-band-locks"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
                data-locks="false" {%if step > 2%} disabled {%endif%}> {%trans "No"%}</button>
            {%endcomment%}
            {% if step > 2 %}
                {%if band.locks%}{% trans "Yes" %}{%else%}{% trans "No" %}{%endif%}
            {% else %}
                <button class="btn btn-default ark" data-url="{%url "guest-band-locks"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
                    data-locks="true"> {%trans "Yes"%}</button>
                <button class="btn btn-default ark" data-url="{%url "guest-band-locks"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
                    data-locks="false"> {%trans "No"%}</button>
            {% endif %}
        </div>
    </div>

    <div class="col-2 {%if step < 3%}hide{%endif%}">
        <div class="step p-1"><span class="step-circle">3</span>&nbsp;<strong>{% trans "This band is for kid?" %}</strong><br /><br />
            {%comment%}
            <button class="btn btn-default ark" data-url="{%url "guest-band-kid"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
                data-kid="true" {%if step > 3%} disabled {%endif%}> {%trans "Yes"%}</button>
            <button class="btn btn-default ark" data-url="{%url "guest-band-kid"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
                data-kid="false" {%if step > 3%} disabled {%endif%}> {%trans "No"%}</button>
            {%endcomment%}
            {% if step > 3 %}
                {%if band.locks%}{% trans "Yes" %}{%else%}{% trans "No" %}{%endif%}
            {% else %}
                <button class="btn btn-default ark" data-url="{%url "guest-band-kid"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
                    data-kid="true"> {%trans "Yes"%}</button>
                <button class="btn btn-default ark" data-url="{%url "guest-band-kid"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
                    data-kid="false"> {%trans "No"%}</button>
            {% endif %}
        </div>
    </div>

    <div class="col-2 {%if step < 4%}hide{%endif%}">
        <div class="step p-1"><span class="step-circle">4</span>&nbsp;<strong>{% trans "Add balance" %}</strong><br /><br />
        <div class="row"> 
            <div class="col-5" style="display:flex; align-items: center;"> 
                <input type="text" class="form-control highly border-0 text-right step-balance" id="ini-amount" name="ini_amount" value="0" 
                    onchange="$('#btn-balance-add').data('balance', $(this).val())" />&nbsp; <span>&euro;</span>
            </div>
            <div class="col-4"> 
                <button class="btn btn-default ark" id="btn-balance-add" data-url="{%url "guest-band-balance-add"%}" data-target="guest-tabs" 
                    data-obj_id="{{band.id}}" data-balance="" data-hide="div-band-form">{%trans "Add"%}</button>
            </div>
            <div class="col-3"> 
                <button class="btn btn-default ark" data-url="{%url "guest-band-balance-add"%}" data-target="guest-tabs" data-obj_id="{{band.id}}" 
                    data-balance="" data-hide="div-band-form"> {%trans "No"%}</button>
            </div>
        </div>
    </div>
</div>
<script>$("#code").focus()</script>

{% comment %}

<div class="row m-2 p-2 w-100" style="border:1px solid red">
    <div class="col-4 step"><span class="step-circle">1</span>&nbsp;<strong>{% trans "Scan band" %}</strong></div>
    <div class="col-8">
        <input type="text" class="form-control ark_change highly" id="code" name="code" data-url="{%url "guest-band-save"%}" 
            data-target="div-band-form" data-obj_id="{{obj.id}}" value="{{band.code}}" placeholder="{%trans "Band code"%}"
            {%if step > 0%} disabled {%endif%}/>
    </div>
</div>

<div class="row m-2 p-2 w-100  {%if step < 1%}hide{%endif%}" style="border:1px solid red">
    <div class="col-4 step"><span class="step-circle">2</span>&nbsp;<strong>{% trans "Add band to locks?" %}</strong></div>
    <div class="col-8">
        <button class="btn btn-info ark" data-url="{%url "guest-band-locks"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
            data-locks="true" {%if step > 1%} disabled {%endif%}> {%trans "Yes"%}</button>
        <button class="btn btn-info ark" data-url="{%url "guest-band-locks"%}" data-target="div-band-form" data-obj_id="{{band.id}}" 
            data-locks="false" {%if step > 1%} disabled {%endif%}> {%trans "No"%}</button>
    </div>
</div>

<div class="row m-2 p-2 w-100  {%if step < 2%}hide{%endif%}" style="border:1px solid red">
    <div class="col-4 step"><span class="step-circle">3</span>&nbsp;<strong>{% trans "This band is for kid?" %}</strong></div>
    <div class="col-8">
        <button class="btn btn-info ark" data-url="{%url "guest-band-kid"%}" data-target="div-band-form" data-obj_id="{{band.id}}" data-kid="true"
            {%if step > 2%} disabled {%endif%}> {%trans "Yes"%}</button>
        <button class="btn btn-info ark" data-url="{%url "guest-band-kid"%}" data-target="div-band-form" data-obj_id="{{band.id}}" data-kid="false"
            {%if step > 2%} disabled {%endif%}> {%trans "No"%}</button>
    </div>
</div>

<div class="row m-2 p-2 w-100 {%if step < 3%}hide{%endif%}" style="border:1px solid red">
    <div class="col-4 step"><span class="step-circle">4</span>&nbsp;<strong>{% trans "Add balance" %}</strong></div>
    <div class="col-6"> 
        <input type="text" class="form-control highly" id="ini-amount" name="ini_amount" value="0" 
            onchange="$('#btn-balance-add').data('balance', $(this).val())" /> 
    </div>
    <div class="col-2"> 
        <button class="btn btn-info ark" id="btn-balance-add" data-url="{%url "guest-band-balance-add"%}" data-target="div-band-list" 
            data-obj_id="{{band.id}}" data-balance="" data-hide="div-band-form">{%trans "Add"%}</button>
        <button class="btn btn-info ark" data-url="{%url "guest-band-balance-add"%}" data-target="div-band-list" data-obj_id="{{band.id}}" 
            data-balance="" data-hide="div-band-form"> {%trans "No"%}</button>
    </div>
</div>

{% endcomment %}
