{% load i18n guest_tags %}

<div class="card">
    <div class="card-header"> {% trans "Wristbands assigned" %} </div>
    <div class="card-body p-0">
        <div id="div-notification"></div>
        <div class="text-end">
            <button class="btn btn-sm ark" data-url="{% url "guest-band-add" %}" data-target="div-bands" data-obj_id="{{obj.id}}">
                <i class="fas fa-plus"></i>{% trans "Add" %}</button>
        </div>
        {% for item in obj.bands.all %} 
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control ark_change" id="code" name="code" data-url="{%url "guest-band-save"%}" 
                        data-target="div-bands" data-obj_id="{{item.id}}" value="{{item.code}}" placeholder="{%trans "Band code"%}"/>
                </div>
                <div class="col-2 text-end">
                    <button class="btn btn-sm ark" data-url="{% url "guest-band-remove" %}" data-target="div-bands" data-obj_id="{{item.id}}">
                        <i class="fas fa-trash"></i></button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


