{% load i18n static padword_tags bookings_tag common_tag %}

<div class="row">
{% for item in item_list %}
    {% if item.is_active %}
    <div class="col-lg-4 col-md-6 col-xs-12 mb-1 d-flex justify-content-center">
        <div class="card w-100">
            <div class="image" id="cover">
                {%comment%}
                <img src="{% if item.image %}{{item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" class="object-fit_cover" 
                    alt="{% padword_translate item.name %}" width="100%">
                {%endcomment%}
                {% if item.image %}
                    <img src="{{item.image.url}}" class="object-fit_cover" alt="{% padword_translate item.name %}" width="100%">
                {% endif %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9"> <h5 class="card-title text-dark">{% padword_translate item.name %}</h5> </div>
                    <div class="col-3"> <h4 class="card-title text-dark text-right">{{ item.price}} &euro; </h4> </div>
                    <div class="col-12"> <h5 class="card-title text-dark"><small>{% padword_translate_short item.description 100 %}</small></h5> </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                    {% if item.uuid != value %}
                        <a class="btn btn-unselect-pad w-100 ark" data-url="{% url "select-item" %}" data-target="div-items-shop-{{answer_name}}" 
                            data-fi="{{fi_id}}" data-question="{{q_id}}" data-field="{{f.id}}" data-index="{{index}}" data-value="{{item.uuid}}"
                            onclick=""> 
                            {% trans "Select" %}</a>
                    {% else %}
                        <a class="btn btn-select-pad w-100 ark" data-url="{% url "select-item" %}" data-target="div-items-shop-{{answer_name}}" 
                            data-fi="{{fi_id}}" data-question="{{q_id}}" data-field="{{f.id}}" data-index="{{index}}" data-value=""> 
                            {% trans "Unselect" %}</a>
                    {% endif %}
                    </div>
                    <div class="col-6 text-right"> {% include "bookings/show-item-btn.html" %} </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
<br/>
{% if selected_item and selected_item != None %}
    <div id="item-selected" style="border:1px solid red"> <i class="far fa-check-circle"></i> {% trans "You are selected:" %} <span> 
        {% padword_translate selected_item.name %} - {{selected_item.price}} &euro; </span> </div>
    <script> var element = document.getElementById("item-selected"); element.scrollIntoView(); </script>
{% endif %}


