{% load i18n bookings_tag common_tag padword_tags static %}

<div class="row">
    <div class="col-lg-8 col-8 btn-dark p-2">
        <h5 class="card-title text-left">
            {% padword_translate fi.form.get_category.parent.name %} <i class="fas fa-angle-double-right"></i>
            {% padword_translate fi.form.get_category.name %}&nbsp;({{items|length}} {% trans 'art.' %})
        </h5>
    </div>
    <div class="col-lg-4 col-4 btn-dark price p-2" id="div-total-shopping-cart"> {% trans 'Total price' %}: {{total|floatformat:2}} &euro;</div>
</div>
<div class="row justify-content-center"> <p class="small alert text-center"><strong>*</strong> 
    {% trans 'You can add comments to the article with click on comment buttons' %} <i class="fas fa-comments"></i></p> </div>

<div class="row justify-content-center">
    {% for item in items %}
        {% if item.item.image %}
            <div class="col-12 col-lg-4 justify-content-center mt-2">
                <div class="col-xs-12 card b-grey">
                    <div class="image mobile" id="cover">
                        {%comment%}
                        <img src="{% if item.item.image %}{{item.item.image.url}} {%else%} {% static 'img/none.png' %}{%endif%}" class="card-img-top" 
                            alt="{% padword_translate item.item.name %}" style="width:50%">
                        {%endcomment%}
                        <img src="{{item.item.image.url}}" class="card-img-top" style="height: 150px !important; width: 100%; object-fit: cover;" alt="{% padword_translate item.item.name %}">
                    </div>
                    <div class="card-body">
                        <h5 class="big card-title text-dark text-center">{% padword_translate item.item.name %}</h5>
                        <div class="small card-title text-center"><small>{{ item.comments }}&nbsp;</small></div>
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-2">
                                <a class="btn btn-primary btn-sm ark" title="{% trans 'Add comment at this article' %}" 
                                    data-url="{% url "item-shopping-cart-comment" %}" data-item_id="{{item.pk}}" data-form_id="{{fi.pk}}" 
                                    data-target-modal="common-modal"><i class="fas fa-comments"></i></a></div>
                            <div class="col-2">
                                <a class="btn btn-danger btn-sm ark" title="{%trans 'Remove article from shopping-cart' %}" 
                                    data-url="{% url "remove-item-shopping-cart" %}" data-item_id="{{item.pk}}" 
                                    data-target-modal="common-modal"><i class="fas fa-trash"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 col-lg-4 justify-content-center mt-2">
                <div class="col-xs-12 card b-grey">
                    <div class="row card-body">
                        <div class="col-8">{% padword_translate item.item.name %}</div>
                        <div class="col-2">
                            <a class="btn btn-primary btn-sm ark" title="{% trans 'Add comment at this article' %}" 
                                data-url="{% url "item-shopping-cart-comment" %}" data-item_id="{{item.pk}}" data-form_id="{{fi.pk}}" 
                                data-target-modal="common-modal"><i class="fas fa-comments"></i></a>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-danger btn-sm ark" title="{%trans 'Remove article from shopping-cart' %}" 
                                data-url="{% url "remove-item-shopping-cart" %}" data-item_id="{{item.pk}}" data-target-modal="common-modal">
                                <i class="fas fa-trash"></i></a>
                        </div>

                        {% comment %}
                        <h5 class="big card-title text-dark text-center">{% padword_translate item.item.name %}</h5>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-danger ark" title="{%trans 'Remove article from shopping-cart' %}" 
                                data-url="{% url "remove-item-shopping-cart" %}" data-item_id="{{item.pk}}" data-target-modal="common-modal">
                                <i class="fas fa-trash"></i></a>
                            <a class="btn btn-primary ark" title="{% trans 'Add comment at this article' %}" 
                                data-url="{% url "item-shopping-cart-comment" %}" data-item_id="{{item.pk}}" data-form_id="{{fi.pk}}" 
                                data-target-modal="common-modal"><i class="fas fa-comments"></i></a>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="row mt-3 justify-content-center">
    <div class="col-lg-5 offset-lg-1 col-md-6 col-xs-5 text-center mb-3">
        {% if fi.form.get_category.payment_types.all|length > 0 %}
            <button id="btn-payment-type-{{fi.id}}" class="btn btn-marine-blue w-100 ark" data-url="{% url "booking-payment-type" %}" 
                data-target-modal="common-modal" data-obj_id="{{fi.id}}"> {% trans "Finalize order" %} <i class="fas fa-credit-card"></i></button>
        {% else %}
            <button id="btn-send-order-{{fi.id}}" class="btn btn-marine-blue w-100 ark" data-bs-dismiss="modal" data-url="{% url "booking-send" %}" 
                data-target="main" data-obj_id="{{fi.id}}"> {% trans "Finalize order" %} <i class="fas fa-credit-card"></i></button>
        {% endif %}
    </div>
</div>

{%comment%}
<script>
    //$('#info-shopping').html($('#div-total-shopping-cart').html());
    //$("#btn-send-order-{{fi.id}}").click(function(){$("#shopping-cart-btn").data("form_id", "");});
</script>
{%endcomment%}

{% if item_refresh %}
    <script id="realtime-script">
        //$('#counter-item-{{item_refresh.pk}}').val('{{total_items}}');
        //$('#counter-item-mob-{{item_refresh.pk}}').val('{{total_items}}');
        //$('#span-total-items').html('{{total_items}}');
        $('#span-total-price').html('{{fi.get_total|floatformat:2}}');
        $('#span-total-items').html('{% get_total_items request.user.username fi.form.project.uuid %}'); // Badget de la cabecera
        $('#realtime-script').remove();
        if (parseInt($("#span-total-items").html()) > 0)
            $("#count-badge").show();
        else
            $("#count-badge").hide();
    </script>
{%endif%}

