{% extends 'base.html' %}
{% load i18n padword_tags guest_tags %}

{% block second_menu %}{% get_second_menu request.user %}{% endblock second_menu %}

{% block central_content %}
    <span id="div-notification"></span><br/>

    <div class="card pb-3">
        <div class="card-header"><h2>{% trans "Main" %}</h2></div>
        <div class="card-body"> 
            {% include "guest/guest-form-main.html" %} 
            <div id="guest-tabs"> {% include "guest/guest-details-tabs.html" with show_admin="false" %} </div>
        </div>
    </div>

    <div class="d-flex justify-content-end p-2">

        <button type="button" class="btn btn-primary m-2 ark" title="{%trans "Share code"%}" data-url="{%url "lock-share-code-guest"%}"
            data-obj_id="{{obj.id}}" data-target-modal="share-modal">{% trans "Share" %} </button>

        <a type="button" id="btn-save" class="btn btn-primary m-2" href="{% url "guests-by-project" %}"> {%trans "Save"%}</a>

        {% if obj.bands.all|length > 0 and current_tab == "bands" and access_zones|length > 0 %}
            <button type="button" class="btn btn-primary m-2 ark" id="send-zone-{{zone.id}}" data-url="{% url "zkteco-add-persons" %}" 
                data-target-modal="common-modal" data-obj_id="{{obj.id}}" data-redirect="{% url "guests" %}" style="width:150px"> 
                {% trans "Sync & Save" %} </button>
        {% endif %}

        {% if not obj|have_open_band %}
            <a type="button" id="btn-remove" class="btn btn-primary m-2" href="{% url "guest-soft-remove-by-project" obj.id %}" 
                onclick="return confirm('{% trans "Are you sure to remove this element?" %}')"> {%trans "Remove"%}</a>
        {% endif %}
    </div>

    {% include "common-modal.html" %}
    {% include "web/locks/share-modal.html" %}

    <script>
        $("#btn-save").click(function(){
            if ($("#s-room").hasClass("text-danger"))
            {
                alert("{% trans "You must choose a valid room number or empty" %}");
                return false;
            }
            return true;
        });
    </script>
{% endblock central_content %}

