{% load i18n padword_tags %}

{% if msg %} <div class="alert alert-info"><small>{{msg|safe}}</div><small> {% endif %}

<div class="d-flex p-2">
    <table class="table table-striped table-hover m-1" id="main-table">
        <thead>
            <tr class="small">
                <th> {% trans 'Room' %} <i class="fas fa-sort"></i> </th>
                <th> Check in <i class="fas fa-sort"></i> </th>
                <th> Check out <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Name' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'External ID' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Language' %} </th>
                <th> {% trans 'T. Pensión' %} </th>
                <th class="text-end"> {% trans 'Options' %} </th>
            </tr>
        </thead>
        <tbody id="table-list-guests"> 
            {#{% include "guest-by-project/guest-page.html" %}#}
            {% for item in items %} 
                <tr class="small" id="row_{{item.id}}"> {% include "guest-by-project/guest-row.html" %} </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "foot_paginator.html" with items=items page_url=page_url columns=12 %}
{% include "common-modal.html" %}
<script> 
    $("#main-table").tablesorter();
    $('#total-items').html('{{total_items}}'); 
</script>
