{% load i18n padword_tags %}

{% if msg %} <div class="alert alert-info"><small>{{msg|safe}}</div><small> {% endif %}

{% csrf_token %}
<div class="d-flex p-2">
    <table class="table table-striped table-hover m-1" id="main-table">
        <thead>
            <tr class="small">
                <th> {% trans 'Room' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Check in' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Check out' %} <i class="fas fa-sort"></i> </th>
                <th> {% trans 'Name' %} <i class="fas fa-sort"></i> </th>
                <th class="text-end"> {% trans 'Language' %} &amp; {% trans 'Options' %} </th>
            </tr>
        </thead>
        <tbody id="table-list-guests"> {% include "guest-by-project/guest-page.html" %} </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div id="div-see-more">
                        <a class="small d-flex justify-content-center btn ark-append-page" id="btn-see-more" 
                            data-url="{% url "guest-page-by-project" %}" data-target="table-list-guests" data-page="0">
                            <small>{% trans "See more" %}</small></a> 
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
{% include "common-modal.html" %}
<script> 
    $("#main-table").tablesorter();
    $('#total-items').html('{{total_items}}'); 
</script>
