{% extends 'base.html' %}
{% load i18n padword_tags %}

{% block second_menu %}{% get_second_menu request.user %}{% endblock second_menu %}

{% block central_content %}
    {%comment%}
    <div class="toolbar-search guests p-2">
        <div class="text-center"><i class="fas fa-search"></i></div>
        <div>
        <input type="text" class="autosearch form-control form-control-dark w-100" name="guest_search_name" id="guest_search_name" 
            placeholder="{% trans 'Name, Surname, Email, Phone or Room' %}" data-url="{% url "guest-search-by-project" %}" data-target="guest-list" 
            data-related="guest_search_name" value="{{request.session.guest_search_name}}"/>
        </div>
    </div>
    {%endcomment%}
    {% include "guest-by-project/guests-search.html" %}

    <div class="content mt-4">
        <div class="row m-0 p-2">
            {#<a class="btn btn-primary ark" data-url="{%url "guest-form-by-project"%}" data-target-modal="common-modal">{%trans "New guest"%}</a>  #}
            <div class="col-10"><h2 class="pt-2">{% trans 'Guests' %} (<span id="total-items">{{total_items}}</span>)</h2></div>
            <div class="col-2 text-right"><a class="btn btn-primary" href="{% url "guest-details-by-project" %}"> {%trans "New guest"%}</a></div>  
        </div>

        <div class="row bg-guest-opt p-2"> 
            <div class="col-4">
                {% if project.guest_delete < 9999 %}
                    <a class="btn btn-primary ark" data-url="{% url "guest-soft-remove-all-by-project" %}" data-target="guest-list">
                        {%trans "Remove clients with checkout previous to" %} {{limit}}</a>
                {% endif %}
            </div>
            <div class="col-2">
                {% if project.winhotel_user != None and project.winhotel_user.source_code != "" %}
                    <a class="btn btn-primary ark" data-url="{% url "winhotel-get-booking-list" project.uuid %}" data-target-modal="common-modal"> 
                        {%trans "Import winhotel bookings"%}</a>  
                {% endif %}
            </div>
            <div class="col-2">
                {% if project.avaibook_user != None and project.avaibook_user.uuid != "" %}
                    <a class="btn btn-primary ark" data-url="{% url "avaibook-get-booking-list" project.uuid %}" data-target-modal="common-modal"> 
                        {%trans "Import avaibook bookings"%}</a>  
            </div>
            <div class="col-2">
                <a class="btn btn-primary ark" data-url="{% url "avaibook-get-accommodation-list" project.uuid %}" data-target-modal="common-modal"> 
                        {%trans "Import avaibook accommodation"%}</a>  
                {% endif %}
            </div>
            <div class="col-2">
                {% if project.avantio_user != None and project.avantio_user.username != "" %}
                    <a class="btn btn-primary ark" data-url="{% url "avantio-get-booking-list" project.uuid %}" data-target-modal="common-modal"> 
                        {%trans "Import avantio bookings"%}</a>  
                    <a class="btn btn-primary ark" data-url="{% url "avantio-get-booking-notif" project.uuid %}" data-target-modal="common-modal"> 
                        {%trans "Avantio notifications"%}</a>  
                {% endif %}
            </div>
        </div>
        <div id="guest-list"> {% include "guest-by-project/guest-list.html" %} </div>
    </div>

    <div id="div-chat">{#{% include "guest/chat.html" with guest_msg="False" %}#}</div>
    {% include "web/locks/share-modal.html" %}
{% endblock central_content %}
