{% load i18n padword_tags %}


<div class="row w-100 common-modal-head m-0 p-0">
    <div class="col-11"><h2>{% trans 'New guest' %}</h2></div>
    <div class="col-1"><button type="button" class="btn btn-sm" data-bs-dismiss="modal"><i class="fas fa-times"></i></button> </div>
</div>

<span id="div-notification"></span><br/>

<div class="card pb-3">
    <div class="card-header"><strong>{% trans "Main" %}</strong></div>
    <div class="card-body"> {% include "guest/guest-form-main.html" %} </div>

    <div class="row m-0">
        <div class="col-12">
            <div class="card">
                <div class="card-header toggle-btn" data-target="body-extra" data-id-change="icon-extra" 
                        data-text='<i class="fas fa-plus"></i>' data-text-alt='<i class="fas fa-minus"></i>'>
                    <div class="row w-100">
                        <div class="col-6 text-right" id="icon-extra"><i class="fas fa-plus"></i></div>
                        <div class="col-6 text-left"><strong>{% trans "Extra" %}</strong></div>
                    </div>
                </div>
                <div class="card-body hide" id="body-extra"> {% include "guest/guest-form-extra.html" %} </div>
            </div>
        </div>

        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-header toggle-btn" data-target="body-locks" data-id-change="icon-locks" 
                        data-text='<i class="fas fa-plus"></i>' data-text-alt='<i class="fas fa-minus"></i>'>
                    <div class="row w-100">
                        <div class="col-6 text-right" id="icon-locks"> <i class="fas fa-plus"></i> </div>
                        <div class="col-6 text-left"><strong>{% trans "Locks" %}</strong></div>
                    </div>
                </div>
                <div class="card-body" id="body-locks"> <div id="div-locks">{% include "guest/keys/guest-keys.html" %}</div> </div> 
            </div>
        </div>

        {% if obj.project.sensibo_api_key != "" %}
            <div class="col-12 mt-2">
                <div class="card">
                    <div class="card-header toggle-btn" data-target="body-sensibo" data-id-change="icon-sensibo" 
                            data-text='<i class="fas fa-plus"></i>' data-text-alt='<i class="fas fa-minus"></i>'>
                        <div class="row w-100">
                            <div class="col-6 text-right" id="icon-sensibo"> <i class="fas fa-plus"></i> </div>
                            <div class="col-6 text-left"><strong>{% trans "Air aconditioner" %}</strong></div>
                        </div>
                    </div>
                    <div class="card-body hide" id="body-sensibo"> <div id="div-sensibo">{% include "guest/sensibo/guest-sensibo-devices.html" %}</div> </div> 
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="d-flex justify-content-end p-2">

    <button type="button" class="btn btn-success m-2 ark" title="{%trans "Share code"%}" data-url="{% url "lock-share-code-guest" %}" 
        data-obj_id="{{obj.id}}" data-target-modal="share-modal">{% trans "Share" %}</button>

	<button type="button" id="btn-save" class="btn btn-primary ark-validate m-2 hide" data-url="{%url "guest-search-by-project"%}" 
        data-validate="input" data-check_in="true" data-target="guest-list" data-guest_search_name="{{request.session.guest_search_name}}"> 
        {%trans "Save"%}</button>
	<button type="button" id="btn-check-save" class="btn btn-primary m-2">{%trans "Save"%}</button>

	<button type="button" class="btn btn-danger ark m-2" data-bs-dismiss="modal" data-url="{% url "guest-soft-remove-by-project" %}" 
        data-target="guest-list" data-obj_id="{{obj.id}}" data-confirm="{% trans "Are you sure to remove this element?" %}">
        {% trans "Remove" %}</button>
</div>
<script>
    $("#btn-check-save").click(function(){
        if ($("#s-room").hasClass("text-danger"))
            alert("{% trans "You must choose a valid room number or empty" %}");
        else
            $("#btn-save").click();
    });
</script>

