{% load i18n padword_tags guest_tags %}

<td> {{ item.room|default_if_none:'000' }} ({{item.room_obj.alias}})</td>
<td> <span class="badge rounded-pill bg-success"> {{ item.check_in|date:'Y-m-d H:i'}}</td>
<td> <span class="badge rounded-pill bg-danger">{{ item.check_out|date:'Y-m-d H:i'}}</span></td>
<td> {{item.name}} 
    {{item.surname}} {%if request.user|in_group:'admins' or request.user.is_staff%}<br><small>{{item.project.name}}</small>{%endif%}</td>
<td> {{ item.ext_id }}</td>
<td> {{ item.language }}</td>
<td> {{ item.regime.name|default:"" }}</td>
<td class="text-end">
    {%comment%}
    <a class="btn ark" href="#" data-url="{% url "show-chat" %}" data-target="div-chat" data-guest="{{item.id}}" data-guest_msg="False"
        title="{% trans "Chat" %}"> <i class="fas fa-comments"></i></a>

    <a class="btn" href="#" onclick='alert("{{item.uuid}}"); return False'><i class="fas fa-fingerprint"></i></a>
    {%endcomment%}


    {% if item.get_locks|length > 0 %}
        <a id="btn-code" class="btn" data-title="Code: {{item.keycodes.first.code}}"><i class="fas fa-eye"></i></a>

        <a class="btn btn-sm ark" title="{%trans "Add Card"%}" data-url="{% url "guest-key-card-all" %}" data-obj_id="{{item.id}}" 
            data-target-modal="common-modal"><i class="fas fa-credit-card"></i></a>
    {% endif %}

    <a class="btn btn-sm" href="{% url "guest-details-by-project" item.id %}" title="{% trans "Details" %}"> 
        <i class="fas fa-user"></i></a>  

    {% if not item|have_open_band %}
        <a class="btn btn-sm" href="{% url "guest-soft-remove-by-project" item.id %}" title="{% trans "Remove" %}"
            onclick="return confirm('{% trans "Are you sure to remove this element?" %}')"> <i class="fas fa-trash"></i></a>  
    {% endif %}

    <a class="btn btn-sm ark" title="{%trans "Share code"%}" data-url="{% url "lock-share-code-guest" %}" data-obj_id="{{item.id}}" 
        data-target-modal="share-modal"><i class="fas fa-share-alt"></i></a>
</td>

